<mat-dialog-content>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5  class="modal-title  " id="exampleModalLabel"> رفع وصل العملية البنكية لبدل البطاقة الجامعية  </h5>
            
        </div>
        <div class="modal-body">
          <P class="text-center">  </P>
         
          <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" class="mt-20">
              <div class="main-content" style="padding-top:0;">
              <section  class="ser-state">
                  <div class="container">
                       <div class="row ser-block">
                          <div class="col-md-12 col-sm-12">
                                <div class="state">
                                   <h6>وصل العملية البنكية </h6>
                                   <div class="custom-file">
                                      <input name="receipt"  type="file" accept="*/*" (change)="handleInputChange($event)" class="custom-file-input" />
                                       <label  for="customFileLang"  class="custom-file-label ">
                                       </label>
                                        <input type="text" name="request_number"  #request_number="ngModel" [(ngModel)]="missingCard.request_number"  hidden />
                                    </div>                                </div>
                                  <div class="progress progress-sm">
                                      <div class="progress-bar bg-info" style="width: 15%;"></div>
                                  </div>
                           </div>
                           
                         
                    </div>
                  </div>
               </section>
               <div style="margin-top: 10px;">
                  <div class="btn-group" style="direction: ltr" role="group" aria-label="Basic example">
                    <button type="button" (click)="closeDiag()"  class="btn btn-outline-dark ml-1" ><i class="fa fa-close"></i> الغاء</button>
                   <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> حفظ</button>
                  </div>
             </div>
              </div>
  
         
        </form>
  
      
  
  
        </div>
    </div>
        
     </div>
  </mat-dialog-content>
  