<p style="text-align: center;direction: rtl">

<b>  {{certificateDetails.labels.date}} </b>  {{certificateDetails.values.date}}
<b>  {{certificateDetails.labels.ssn}} </b>  {{certificateDetails.values.ssn}}
<br>
 {{certificateDetails.labels.txt1}}   {{certificateDetails.values.std_name}}
 {{certificateDetails.labels.txt2}}   {{certificateDetails.values.std_id}}

 {{certificateDetails.labels.txt3}}   {{certificateDetails.values.coll}}

 {{certificateDetails.labels.txt4}}   {{certificateDetails.values.major}}
 <br/>


 {{certificateDetails.labels.txt5}}   {{certificateDetails.values.term}}

 {{certificateDetails.labels.txt6}}  

 {{certificateDetails.labels.txt7}}  
 <br/>
 <br/>

 <ng-template [ngIf]="lectures ==null" [ngIfElse]="NoLec">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{certificateDetails.labels.crn}}</th>
          <th scope="col">{{certificateDetails.labels.course}}</th>
          <th scope="col">{{certificateDetails.labels.day_and_date}}</th>
          <th scope="col">{{certificateDetails.labels.time}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lectures">
          <td >{{item.CRN}}</td>
          <td>{{item.CRSE_TITLE}}</td>
          <td>{{item.CRSE_DAY}}</td>
          <td>{{item.CRSE_TIME}}</td>
        </tr>
       
      </tbody>
    </table>  </div>
    <br/>
    

</ng-template>

<ng-template #NoLec>
  <div>
 <b>{{certificateDetails.labels.txt8}}  </b>
  </div>
</ng-template>
<br/><br/>
{{certificateDetails.labels.txt9}}  <br/>
{{certificateDetails.labels.txt10}}  
<br/><br/>
<b>
{{certificateDetails.labels.txt11}}  
</b>
{{certificateDetails.labels.txt12}}  
<br/>
<br/>
{{certificateDetails.labels.txt13}}  




<br/><br/>


</p>

<div  class="btn-group btn-group-justified col-md-12 ">
  <div class="col-md-4"></div>
  <a class="btn btn-primary" href="{{arabicPrint}}"><span class="glyphicon glyphicon-print"></span>
    طباعة</a>
  <a class="btn btn-primary" href="{{EngPrint}}"><span class="glyphicon glyphicon-print"></span>
    Print</a>
  <div class="col-md-4"></div>

  </div>
