<ActionBar>
  <!-- 
        <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

  Use the NavigationButton as a side-drawer button in Android
  because ActionItems are shown on the right side of the ActionBar
  -->
  <!-- 
  Use the ActionItem for IOS with position set to left. Using the
  NavigationButton as a side-drawer button in iOS is not possible,
  because its function is to always navigate back in the application.
  -->
  <ActionItem icon="res://menu" (tap)="onDrawerButtonTap()"
      ios.position="left">
  </ActionItem>
  <Label text="شهادة تعريف"></Label>
</ActionBar>

<ScrollView>
<GridLayout rows="auto,auto,*,auto,auto" *ngIf="!isLoading">

  <FlexboxLayout row="0" flexDirection="row-reverse" justifyContent="space-around" class="firstBox">

    <FlexboxLayout flexDirection="column" *ngIf="!isLoading">
      <Label [text]="certificateDetails.labels.date" class="header"></Label>
      <Label [text]="certificateDetails.values.date" class="content"></Label>
    </FlexboxLayout>

    <FlexboxLayout flexDirection="column" *ngIf="!isLoading">
      <Label [text]="certificateDetails.labels.ssn" class="header"></Label>
      <Label [text]="certificateDetails.values.ssn" class="content"></Label>
    </FlexboxLayout>

  </FlexboxLayout>

  <FlexboxLayout row="1" flexDirection="row-reverse" class="firstParagraph" flexWrap="wrap" *ngIf="!isLoading">
    <label  [text]="certificateDetails.labels.txt1"></label>
    <label  [text]="certificateDetails.values.std_name"></label>
    <label  [text]="certificateDetails.labels.txt2"></label>
    <label  [text]="certificateDetails.values.std_id"></label>
    <label  [text]="certificateDetails.labels.txt3"></label>
    <label  [text]="certificateDetails.values.coll"></label>
    <label  [text]="certificateDetails.labels.txt4"></label>
    <label  [text]="certificateDetails.values.major"></label>
    <label  [text]="certificateDetails.labels.txt5"></label>
    <label  [text]="certificateDetails.values.term"></label>
    <label  [text]="certificateDetails.labels.txt6"></label>
    <label  [text]="certificateDetails.labels.txt7"></label>
  </FlexboxLayout>

  <ng-template [ngIf]="lectures !=null" [ngIfElse]="NoLec">
    <FlexboxLayout row="2" justifyContent="space-between" flexDirection="column">
    <FlexboxLayout class="tableHeading" justifyContent="space-between" flexWrap="nowrap" flexDirection="row-reverse">
      <FlexboxLayout >
        <Label [text]="certificateDetails.labels.crn"></Label>
        <Label text="/"></Label>
        <Label [text]="certificateDetails.labels.course_title"></Label>
      </FlexboxLayout>
      <Label [text]="certificateDetails.labels.day_and_date"></Label>
      <Label [text]="certificateDetails.labels.time"></Label>
    </FlexboxLayout>

   
    <FlexboxLayout justifyContent="space-between" flexWrap="nowrap" *ngFor="let item of lectures" flexDirection="row-reverse" class="dataLabel">
      <FlexboxLayout flexDirection="column" alignItems="center" class="wideColumn" style="margin-left: 15;">
        <Label [text]="item.CRSE_TITLE"></Label>
        <Label [text]="item.CRN"></Label>
      </FlexboxLayout>
      <Label [text]="item.CRSE_DAY" class="narrowColumn"></Label>
      <Label [text]="toHTML(item.CRSE_TIME)" class="wideColumn"></Label>
    </FlexboxLayout>
  </FlexboxLayout>
</ng-template>

<ng-template #NoLec>  
  <FlexboxLayout row="2" flexDirection="row-reverse" flexWrap="wrap" class="closingParagraph" *ngIf="!isLoading">
      <label  [text]="certificateDetails.labels.txt8"></label>
  </FlexboxLayout>
</ng-template>

  <FlexboxLayout row="3" flexDirection="row-reverse" flexWrap="wrap" class="closingParagraph" *ngIf="!isLoading">
    <label  [text]="certificateDetails.labels.txt9" textWrap="true"></label>
    <label  [text]="certificateDetails.labels.txt10"></label>
    <label  [text]="certificateDetails.labels.txt11"></label>
    <label  [text]="certificateDetails.labels.txt12"></label>
    <label  [text]="certificateDetails.labels.txt13"></label>
  </FlexboxLayout>

  <FlexboxLayout row="4" flexDirection="row-reverse" justifyContent="center" class="buttonsLayout" *ngIf="!isLoading">
    <Button text="عربى" class="my-button"  (tap)="onArabicPrint()" ></Button>
    <Button text="English" class="my-button"  (tap)="onEnglishPrint()"></Button>
  </FlexboxLayout>
</GridLayout>
<FlexboxLayout row="3" justifyContent="center">
  <StackLayout  margin="10" >
    <Image class="nt-drawer__header-image fas t-36" src="font://&#xf19d;"></Image>
</StackLayout>
  <ActivityIndicator [busy]="isLoading" color="navy"></ActivityIndicator>
</FlexboxLayout>
</ScrollView>
