<!-- <div class="jumbotron jumbtron-fluid">
    <h3 class="display-5 text-center">  شهادة تعريف</h3>
<p style="text-align: center;direction: rtl">

<b>  {{certificateDetails.labels.date}} </b>  {{certificateDetails.values.date}}
<b>  {{certificateDetails.labels.ssn}} </b>  {{certificateDetails.values.ssn}}
<br>
 {{certificateDetails.labelngs.txt1}}   {{certificateDetails.values.std_name}}
 {{certificateDetails.labels.txt2}}   {{certificateDetails.values.std_id}}

 {{certificateDetails.labels.txt3}}   {{certificateDetails.values.coll}}

 {{certificateDetails.labels.txt4}}   {{certificateDetails.values.major}}
 <br/>


 {{certificateDetails.labels.txt5}}   {{certificateDetails.values.term}}

 {{certificateDetails.labels.txt6}}

 {{certificateDetails.labels.txt7}}
 <br/>
 <br/>

 <ng-template [ngIf]="lectures ==null" [ngIfElse]="NoLec">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{certificateDetails.labels.crn}}</th>
          <th scope="col">{{certificateDetails.labels.course}}</th>
          <th scope="col">{{certificateDetails.labels.day_and_date}}</th>
          <th scope="col">{{certificateDetails.labels.time}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lectures">
          <td >{{item.CRN}}</td>
          <td>{{item.CRSE_TITLE}}</td>
          <td>{{item.CRSE_DAY}}</td>
          <td>{{item.CRSE_TIME}}</td>
        </tr>

      </tbody>
    </table>  </div>
    <br/>


</ng-template>

<ng-template #NoLec>
  <div>
 <b>{{certificateDetails.labels.txt8}}  </b>
  </div>
</ng-template>
<br/><br/>
{{certificateDetails.labels.txt9}}  <br/>
{{certificateDetails.labels.txt10}}
<br/><br/>
<b>
{{certificateDetails.labels.txt11}}
</b>
{{certificateDetails.labels.txt12}}
<br/>
<br/>
{{certificateDetails.labels.txt13}}




<br/><br/>


</p>

<div  class="btn-group btn-group-justified col-md-12 ">
  <div class="col-md-4"></div>
  <a class="btn btn-primary" href="{{arabicPrint}}"><span class="glyphicon glyphicon-print"></span>
    طباعة</a>
  <a class="btn btn-primary" href="{{EngPrint}}"><span class="glyphicon glyphicon-print"></span>
    Print</a>
  <div class="col-md-4"></div>

  </div>
</div>
 -->
<div  class="main-content">

  <section class="service-single">
      <div class="container">
              <h3>شهادة تعريف</h3>
           <div class="row">
              <div class=" col-md-5">
                <p> شهادة تعريف </p>
               </div>
              <!-- <div class=" col-md-6 descr">
                <span>مدة الإنجاز : <span class="badge">3 يوم</span> </span>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <a href="#"><i class="ik ik-download"></i> </a>
                  <a href="#"><i class="ik ik-film"></i></a>
              </div> -->
          </div>
          </div>
       </section>
   <div *ngIf="isLoading" class=" loading-indicator ">
        <div class="state">


<mat-spinner  *ngIf="isLoading" style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;"></mat-spinner>

        </div> </div>
  <section  class="ser-state" *ngIf="!isLoading">
      <div class="container">
           <div class="row ser-block">
              <div class=" col-md-6 col-sm-12">
                    <div class="state">
                       <h6> {{certificateDetails.labels.date}}  </h6>
                       <h5> {{certificateDetails.values.date}}</h5>
                    </div>
                      <div class="progress progress-sm">
                          <div class="progress-bar bg-info"></div>
                      </div>
              </div>
               <div class=" col-md-6 col-sm-12">
                    <div class="state">
                       <h6>{{certificateDetails.labels.ssn}} </h6>
                       <h5>{{certificateDetails.values.ssn}}</h5>
                    </div>
                      <div class="progress progress-sm">
                          <div class="progress-bar bg-info"></div>
                      </div>
              </div>

          </div>
       </div>
   </section>
   <section  class="ser-state" *ngIf="!isLoading">
      <!-- <div class="container"> -->
           <div class="widget">
              <div style="padding:10px;">
                 <p>
                {{certificateDetails.labels.txt1}}   {{certificateDetails.values.std_name}}
                {{certificateDetails.labels.txt2}}   {{certificateDetails.values.std_id}}

                {{certificateDetails.labels.txt3}}   {{certificateDetails.values.coll}}

                {{certificateDetails.labels.txt4}}   {{certificateDetails.values.major}}
                <br/>


                {{certificateDetails.labels.txt5}}   {{certificateDetails.values.term}}

                {{certificateDetails.labels.txt6}}

                {{certificateDetails.labels.txt7}}

                   </p>
              </div>
            </div>
   <ng-template [ngIf]="lectures !=null" [ngIfElse]="NoLec">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                          <th scope="col">{{certificateDetails.labels.crn}}</th>
                          <th scope="col">{{certificateDetails.labels.course_title}}</th>
                          <th scope="col">{{certificateDetails.labels.day_and_date}}</th>
                          <th scope="col">{{certificateDetails.labels.time}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of lectures">
                          <td >{{item.CRN}}</td>
                          <td>{{item.CRSE_TITLE}}</td>
                          <td>{{item.CRSE_DAY}}</td>
                          <td style="direction: ltr">({{toHTML(item.CRSE_TIME)}})</td>

                        </tr>

                      </tbody>
                    </table>  </div>
                </ng-template>
                <div class="jumbotron jumbtron-fluid"  *ngIf="!isLoading" >

                    <div class="row">

                       <p style="direction: rtl;float: right;text-align: right;padding-right: 50px">
                        <ng-template #NoLec>
                            <div>
                           <b>{{certificateDetails.labels.txt8}}  </b>
                            </div>
                          </ng-template>
                          {{certificateDetails.labels.txt9}}  <br/>
                          {{certificateDetails.labels.txt10}}
                          <br/>
                          <br/>
                          <b>
                          {{certificateDetails.labels.txt11}}
                          </b>
                          {{certificateDetails.labels.txt12}}
                           <br/>
                         <!-- <br/> -->
                          {{certificateDetails.labels.txt13}}


                      </p>
                      </div>
            </div>


       <!-- </div> -->
   </section>
    <div style="text-align: center" class="prin" *ngIf="!isLoading">
      <a class="btn" href="{{arabicPrint}}">عربي <i class="ik ik-save"></i> </a>
      <a class="btn" href="{{EngPrint}}"> <i class="ik ik-save"></i> English </a>
     </div>
</div>
