<seu-loader [isLoading]="isLoading"></seu-loader>
<mat-dialog-content>
  <div class="modal-dialog" role="document" style="direction: rtl;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="text-align: center" class="modal-title " id="exampleModalLabel">
          {{"std_courses.add-excuse"|translate}}
        </h5>
      </div>
      <div class="modal-body" style=" direction: rtl;">
        <form role="form" [formGroup]="addExcuseFile">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="EXCUSE_REASON">{{"std_courses.excuse_reason"|translate}}</label>
                <input type="text" class="form-control" id="EXCUSE_REASON" formControlName="EXCUSE_REASON">
              </div>
            </div>
          </div>
          <div style="margin-top: 20px" class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input id="file" type="file" accept="*/*" (change)="handleInputChange($event)"
                  formControlName="EXCUSE_FILE" class="form-control" />
                <button id="fake-file" class="btn btn-primary">{{"std_courses.excuse_file"|translate}}</button>
              </div>
            </div>
            <div *ngIf="fileName" class="col-md-6">
              <span class="file-tag">{{fileName}}</span>
            </div>
          </div>
          <div class="row" style="margin-top: 30px; text-align: center;">
            <div class="col-md-12">
              <button style="width: 20%;" [disabled]="submitted || addExcuseFile.invalid" (click)="onSubmit()"
                type="submit" class="btn btn-primary">{{ "general.save" | translate}} <i
                  class="fa fa-save"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</mat-dialog-content>