<seu-loader [isLoading]="isLoading"></seu-loader>
<section class="dashboard-wrap ug-content" style="margin-top: 30px; padding: 0 30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" style="font-size: 0.9em;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{"course_files.title" | translate}}</th>
                            <th scope="col">{{"course_files.type" | translate}}</th>
                            <th scope="col">{{"course_files.dowbload" | translate}}</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let file of files; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{file.TITLE}}</td>
                            <td>
                              <span *ngIf="file.TYPE == 'file'">{{"course_files.typeFile" | translate}}</span>
                              <span *ngIf="file.TYPE == 'url'">{{"course_files.typeUrl" | translate}}</span>
                            </td>
                            <td>
                              <a *ngIf="file.TYPE == 'file'" target="_blanck" [href]="file.downloadURL" style="margin-right: 5px;" class="btn btn-danger">{{"course_files.download_btn" | translate}} <i class="fa fa-download"></i></a>
                              <a *ngIf="file.TYPE == 'url'" target="_blanck" [href]="file.URL" style="margin-right: 5px;" class="btn btn-danger">{{"course_files.download_btn" | translate}} <i class="fa fa-download"></i></a>
                            </td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>