<ActionBar style="background:#001628; ">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar

-->

<NavigationButton ios:visibility="collapsed" icon="font://&#xf0f3;"  class="far" style="font-size:10; color: #fff;" ></NavigationButton>

<!--<ActionItem icon="font://&#xf0f3;"  class="far" style="font-size:10; color: #fff;" ios.position="right" (tap)="openSettings()"></ActionItem>
-->
<StackLayout margin-top="0">
  
    <Image src="~/images/logo_3d.png" style="width:80%"></Image>

  </StackLayout>

    <ActionItem icon="font://&#xf0c9;"  class="fas" style="font-size:10; color: #fff;"  (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>

</ActionBar>

<ScrollView>
    <ActivityIndicator [busy]="isLoading" color="#6189f4" verticalAlignment="center" horizontalAlignment="center"></ActivityIndicator>


    <FlexboxLayout flexDirection="column" class="wrap" *ngIf="!isLoading">

        <GridLayout  columns="auto, *" class="serv-title">
            <Label col="1"  text="&#xf0d9;" class="fas serv-ico-r"></Label>
            <Label col="1" text='{{"services.academic_status.title" | translate}}' class="serv-name" ></Label>
            <Label col="1"  text="&#xf0da;" class="fas serv-ico "></Label>
        </GridLayout>

        <StackLayout *ngIf="!isLoading">
            <GridLayout class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150">
                <Label row="0" colSpan="2" class="ysHBox" text="{{'general.student_data'|translate}}"></Label>
                <Label row="1" column="1" class="ysPBox" style="font-weight: 800;"
                    text="{{'general.female_or_male_name'|translate}} :"></Label>
                <Label row="1" column="0" class="ysPBox2" text="{{student.name}}"></Label>
                <Label row="2" column="1" class="ysPBox" style="font-weight: 800;" text="{{'general.student_id'|translate}} :"></Label>
                <Label row="2" column="0" class="ysPBox2" text="{{student.std_id}}" style="text-align: right;"></Label>

                <Label row="3" column="1" class="ysPBox" style="font-weight: 800;"
                    text="{{'general.faculty'|translate}} :"></Label>
                <Label row="3" column="0" class="ysPBox2" text="{{student.colledge}}"></Label>
              

                <Label row="4" column="1" class="ysPBox" style="font-weight: 800;"
                text="{{'general.major'|translate}} :"></Label>
                <Label row="4" column="0" class="ysPBox2" text="{{student.major}}"></Label>

                <Label row="5" column="1" class="ysPBox" style="font-weight: 800;"
                text="{{'general.branch'|translate}} :"></Label>
                <Label row="5" column="0" class="ysPBox2" text="{{student.branch}}"></Label>

                <Label row="6" column="1" class="ysPBox" style="font-weight: 800;"
                    text='{{"services.academic_status.title" | translate}} :'></Label>
                <Label row="6" column="0" class="ysPBox2" text="{{student.academic_status}}" style="text-align: right;"></Label>

               
            </GridLayout>
        </StackLayout>










    </FlexboxLayout>
</ScrollView>
