<app-service-header title="{{'skills' | translate}}" subtitle="{{'users.users-home' | translate}}"></app-service-header>
<seu-loader [isLoading]="isLoading"></seu-loader>
<section class="dashboard-wrap" style="margin-top: 30px; padding: 0 30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info text-center">
                <b>الصفحة تحت التصميم <i style="position: relative; top: 1px;" class="ik ik-monitor"></i></b>
            </div>
        </div>
    </div>
</section>