<!-- Modal -->
<mat-dialog-content dir="rtl">
  <div class="modal-content">
    <div class="modal-header">
      <h5 *ngIf="classLevel == 'GY'" style="text-align: center" class="modal-title " id="exampleModalLabel">
        {{"menu.masterequalize_gy"|translate}}
      </h5>
      <h5 *ngIf="classLevel == 'GM'" style="text-align: center" class="modal-title " id="exampleModalLabel">
        {{"menu.masterequalize_gm"|translate}}
      </h5>
    </div>
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
      <div class="modal-body">
        <P class="text-center">
          <!-- <span style="font-weight: bold; font-size: 15px;color: red;">
            {{"general.request.alert"|translate}}
          </span> -->
          
          <span style="font-weight: bold; font-size: 15px;color: red;" *ngIf="classLevel == 'GM'">{{"general.request.note_text1"|translate}}</span> <br *ngIf="classLevel == 'GM'"/>
          <span *ngIf="classLevel == 'GM'">{{"general.request.note_text2"|translate}}</span> <br *ngIf="classLevel == 'GM'" />
          <span *ngIf="classLevel == 'GM'">{{"general.request.note_text3"|translate}}</span> <br *ngIf="classLevel == 'GM'" />
          <span *ngIf="classLevel == 'GM'">{{"general.request.note_text4"|translate}}</span> <br *ngIf="classLevel == 'GM'" />
          <span *ngIf="classLevel == 'GM'">{{"general.request.note_text5"|translate}}</span> <br *ngIf="classLevel == 'GM'" />
          <span *ngIf="classLevel == 'GM'">{{"general.request.note_text6"|translate}}</span> <br *ngIf="classLevel == 'GM'" />
          <span *ngIf="classLevel == 'GM'">{{"general.request.note_text7"|translate}}</span> <br *ngIf="classLevel == 'GM'" />
          <span *ngIf="classLevel == 'GM'">{{"general.request.note_text8"|translate}}</span>

          <span style="font-weight: bold; font-size: 15px;color: red;" *ngIf="classLevel == 'GY'">{{"general.request.note_text1_gy"|translate}}</span> <br *ngIf="classLevel == 'GY'" />
          <span *ngIf="classLevel == 'GY'">{{"general.request.note_text2_gy"|translate}}</span> <br *ngIf="classLevel == 'GY'" />
          <span *ngIf="classLevel == 'GY'">{{"general.request.note_text3_gy"|translate}}</span> <br *ngIf="classLevel == 'GY'" />
          <span *ngIf="classLevel == 'GY'">{{"general.request.note_text4_gy"|translate}}</span> <br *ngIf="classLevel == 'GY'" />
          <span *ngIf="classLevel == 'GY'">{{"general.request.note_text5_gy"|translate}}</span> <br *ngIf="classLevel == 'GY'" />
          <span *ngIf="classLevel == 'GY'">{{"general.request.note_text6_gy"|translate}}</span> <br *ngIf="classLevel == 'GY'" />
          <span *ngIf="classLevel == 'GY'">{{"general.request.note_text7_gy"|translate}}</span> <br *ngIf="classLevel == 'GY'" />
          <span *ngIf="classLevel == 'GY'">{{"general.request.note_text8_gy"|translate}}</span> <br *ngIf="classLevel == 'GY'" />
          <span *ngIf="classLevel == 'GY'">{{"general.request.note_text9_gy"|translate}}</span> <br *ngIf="classLevel == 'GY'" />
          <span *ngIf="classLevel == 'GY'">{{"general.request.note_text10_gy"|translate}}</span> <br *ngIf="classLevel == 'GY'" />
          
        </P>
        <section class="ser-state">
          <div class="container">
            <div class="row ser-block">
              <div class="col-md-12 col-sm-12">
                <!-- <div class="state">
                  <h6> {{"services.course-equalize.choose_college"|translate}}</h6>
                  <div class="form-group">
                    <select required name="university" #university="ngModel" [(ngModel)]="curseEqual.university"
                      class="form-control" [class.is-invalid]=" curseEqual.university==''">
                      <option value="0">{{"general.college"|translate}} </option>
                      <option *ngFor="let item of reqData.universities" value="{{item.UN_ID}}">{{item.UN_NAME}}
                      </option>
                    </select>
                    <br />
                  </div>
                </div> -->
                <div class="state">
                  <div class="row">
                    <div class=" col-md-12 col-sm-12">
                      <h6>{{"services.course-equalize.choose_college"|translate}} </h6>
                      <select required class="form-control" #university="ngModel" [(ngModel)]="curseEqual.university"
                        name="university" [class.is-invalid]="curseEqual.university == ''">
                        <option *ngFor="let un of reqData.universities" [value]="un.UN_ID">{{un.UN_NAME}}</option>
                      </select>
                    </div>
                    <div class=" col-md-6 col-sm-12"
                      *ngIf="curseEqual.university == '39' || curseEqual.university == '37'">
                      <h6>{{"services.course-equalize.univ_name"|translate}} </h6>
                      <input type="text" required class="form-control" #custom_university_name="ngModel"
                        [(ngModel)]="curseEqual.custom_university_name" name="custom_university_name"
                        [class.is-invalid]="curseEqual.custom_university_name == ''">
                    </div>
                  </div>
                </div>

                <div class="progress progress-sm">
                  <div class="progress-bar bg-info"></div>
                </div>
              </div>
              <div *ngIf="classLevel == 'GM'" class="col-md-12 col-sm-12">
                <div class="state">
                  <h6> {{"general.request.Years"|translate}}</h6>
                  <div class="form-group">
                    <select required class="form-control" #year="ngModel" [(ngModel)]="curseEqual.year" name="year"
                      [class.is-invalid]="curseEqual.year == ''">
                      <option *ngFor="let year of reqData.yearsList" [value]="year">{{year}}</option>
                    </select>
                    <!-- <input required name="year" #year="ngModel" [(ngModel)]="curseEqual.year"
                      [class.is-invalid]="curseEqual.year==''" class="form-control"> -->
                  </div>
                </div>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-info"></div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <div class="state">
                  <h6>{{"services.course-equalize.choose_course_lang_hours_grade"|translate}}</h6>
                  <table style="text-align: center" class="table">
                    <thead>
                      <tr>
                        <th scope="col">{{"general.course_code"|translate}}</th>
                        <th scope="col">{{"general.course_name"|translate}}</th>
                        <th scope="col">{{"general.course_hours"|translate}}</th>
                        <th scope="col">{{"general.grade"|translate}}</th>
                        <th *ngIf="classLevel == 'GM'" scope="col">{{"general.language"|translate}} </th>
                        <th *ngIf="classLevel == 'GY'" scope="col">{{"general.request.Years_gy"|translate}} </th>
                        <th scope="col"> </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let it of coursesList;let i=index;">
                        <td>{{it.id}}</td>
                        <td>{{it.value}}</td>
                        <td>
                          <select class="custom-select  col-md-12" #TRNS_HRS="ngModel" name="TRNS_HRS"
                            [(ngModel)]="it.TRNS_HRS">
                            <option *ngFor="let g of reqData.hourse_list" [value]="g.value">{{g.value}}</option>
                          </select>
                        </td>
                        <td>
                          <select class="custom-select  col-md-12" #TRNS_GRADE="ngModel" name="TRNS_GRADE"
                            [(ngModel)]="it.TRNS_GRADE">
                            <option *ngFor="let g of reqData.grade_list" [value]="g.value">{{g.value}}</option>
                          </select>
                        </td>
                        <td *ngIf="classLevel == 'GM'">
                          <select class="custom-select  col-md-12" #TRNS_LANG="ngModel" name="TRNS_LANG"
                            [(ngModel)]="it.TRNS_LANG">
                            <option selected value="1">{{"general.ar_language"|translate}}</option>
                            <option value="2">{{"general.en_language"|translate}}</option>
                          </select>
                        </td>
                        <td *ngIf="classLevel == 'GY'">
                          <select class="custom-select  col-md-12" #year="ngModel" name="year"
                            [(ngModel)]="it.TRNS_YEAR">
                            <option *ngFor="let year of reqData.yearsList" [value]="year">{{year}}</option>
                          </select>
                        </td>
                        <td>
                          <input type="checkbox" name="chkCourse" [(ngModel)]="it.checked" #chkCourse>
                          <!-- class='test'(change)="changeStatus(it,$event)" -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-info"></div>
                </div>
              </div>

              <!-- <div class="col-md-12 col-sm-12">
                <div class="state">
                  <h6> {{"general.course_code_name"|translate}}</h6>
                  <div class="form-group">
                    <ng-select required multiple="multiple" [class.is-invalid]="curseEqual.courses.length==0"
                      [items]="reqData.courses" bindLabel="value" bindValue="id" name="courses" #courses="ngModel"
                      [(ngModel)]="curseEqual.courses">
                    </ng-select>
                  </div>
                </div>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-info"></div>
                </div>
              </div> -->

              <div class="col-md-12 col-sm-12">
                <div class="state">
                  <h6>{{"services.course-equalize.course_desc"|translate}} (PDF file less than 5MB)</h6>
                  <div class="custom-file">
                    <input name="attachment" [class.is-invalid]="curseEqual.attachment ==''" type="file"
                      (change)="handleInputChange($event)" id="attachment " class="custom-file-input" required />
                    <label for="attachment " class="custom-file-label ">
                    </label>
                  </div>
                </div>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-info"></div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="state">
                  <h6>{{"services.course-equalize.record_image"|translate}} (PDF file less than 5MB)</h6>
                  <div class="custom-file">
                    <input name="attachment2" [class.is-invalid]="curseEqual.attachment2 ==''" type="file"
                      (change)="handleInputChange2($event)" id="attachment2" class="custom-file-input" required />
                    <label for="attachment2 " class="custom-file-label ">
                    </label>
                  </div>
                </div>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-info"></div>
                </div>
              </div>

              <div *ngIf="classLevel == 'GY'" class="col-md-12 col-sm-12">
                <div class="state">
                  <h6>{{"services.course-equalize.english"|translate}} (PDF file less than 5MB)</h6>
                  <div class="custom-file">
                    <input name="attachment3" [class.is-invalid]="curseEqual.attachment3 ==''" type="file"
                      (change)="handleInputChange3($event)" id="attachment3" class="custom-file-input" required />
                    <label for="attachment3 " class="custom-file-label ">
                    </label>
                  </div>
                </div>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-info"></div>
                </div>
              </div>

            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="closeDiag()" class="btn btn-outline"><i class="ik ik-x"></i>
          {{"general.cancel"|translate}}</button>
        <button type="submit" class="btn btn-dark"
          [disabled]="form.invalid || curseEqual.attachment == '' ||curseEqual.attachment2 == '' || requesting"><i
            class="fa fa-database"></i>{{"general.save"|translate}}</button>
      </div>
    </form>


  </div>

</mat-dialog-content>