<div class="row">
 
</div>

<div class="row">
  <div class="col-md-6">
      <form #f="ngForm" novalidate (ngSubmit)="login(f)">
          
          <div class="form-group">
            <label for="email">اسم المستخدم</label>
            <input id="email" type="text" required name="email" class="form-control" placeholder="Email" [ngModel]="credentials.email" #email="ngModel" tmFocus validateEmail>
            <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
          </div>
          <div class="form-group">
            <label for="password">كلمة المرور</label>
            <input type="password" class="form-control" id="password" required name="password" placeholder="Password" ngModel>
          </div>          

          <div class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">دخول</button>
          </div>

          <div *ngIf="errors" class="alert alert-danger" role="alert">
              <strong>Oops!</strong> {{errors}}
            </div> 
          
        </form>
   </div>
</div>


