<div class="main-content"  >
    <section class="service-single">
        <div class="container">
                <h3> تغير الفرع</h3>
             <div class="row">
                <div class=" col-md-5">
                  <p>     تغير فرع الجامعه  </p>
                 </div>
                <div class=" col-md-6 descr">
                  <span>مدة الإنجاز : <span class="badge">3 يوم</span> </span>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    
                </div>
            </div>
            </div>
         </section>
                
<div class="content">
  <div class="widget">
 
<div style="text-align: right" *ngFor="let msg of msgs" class="alert alert-info" role="alert">
  {{msg.body}}!
</div>

<div style="direction: ltr;text-align: center">
  
  <button *ngIf="reqData.can_add_new_request" type="button" class="btn btn-primary"  (click)="openDialoge()">
  اضافة طلب
</button>
<br/>
<br/>

</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead style="background: #ebecf0">
  
    <tr>
      <th scope="col">#</th>
      <th scope="col">الفرع المطلوب</th>

      <th scope="col">تاريخ انشاء الطلب</th>

      <th scope="col">تاريخ الرد</th>
      <th scope="col">حالة الطلب</th>
      <th scope="col">الاجراء</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let it of reqData.reqs;let i=index;">
      <td>{{i+1}}</td>
      <td>{{it.CAMP_TITLE}}</td>
      <td>{{it.insert_date}}</td>


      <td>{{it.APPROVAL_DATE}} </td>
      <td>{{it.status}}</td>
      

      <td><button [disabled]='!it.deletable'  class="btn btn-sm btn-danger" style="color: white"  (click)="delete(it.request_number,i)"><i  class="fa fa-trash"></i> </button></td>

    </tr>
    
  </tbody>
</table>
</div>
</div>
</div>
</div>