<div class="main-content" >
    <seu-loader [isLoading]="isLoading"></seu-loader>
    <section class="service-single">
      <div class="container">
        <h3>{{ "teaching_load.all_load_title" | translate}}</h3>
        <h6>{{ "teaching_load.hr_load_desc" | translate}}</h6>
      </div>
    </section>
    <div class="row" style="margin-top: 2px;">
      <div class="col-md-10">
        <input class="form-control" [(ngModel)]="filter_text" type="text" placeholder="{{'teaching_load.filter' | translate}}">
      </div>
      <div class="col-md-2">
        <button style="width: 100%;" (click)="excel()" class="btn btn-success">{{"teaching_load.export_as_excel" | translate}}</button>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        <div class="table-responsive" *ngIf="!isLoading">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">{{"teaching_load.instructor_name_ar" | translate}}</th>
                <th scope="col">{{"teaching_load.instructor_working_load" | translate}}</th>
                <th scope="col">{{"teaching_load.instructor_min_working_load" | translate}}</th>
                <th scope="col">{{"teaching_load.instructor_deserve" | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr [ngClass]="{'table-danger': load.WORKLOAD_FULFILMENT == 'N', 'table-success' : load.WORKLOAD_FULFILMENT == 'Y' }" *ngFor="let load of loads | filter : filter_text; let i = index;">
                <td>{{i+1}}</td>
                <td>{{load.NAME_AR}}</td>
                <td>{{load.WORKLOAD}}</td>
                <td>{{load.MIN_WORKLOAD}}</td>
                <td>
                    <strong *ngIf="load.WORKLOAD_FULFILMENT == 'N'">{{"teaching_load.no" | translate}}</strong>
                    <strong *ngIf="load.WORKLOAD_FULFILMENT == 'Y'">{{"teaching_load.yes" | translate}}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    