<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text='{{"services.re-enrollment.title"|translate}}'></Label>
</ActionBar>

<ScrollView>
<FlexboxLayout flexDirection="column">

    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>

    <FlexboxLayout flexDirection="row-reverse" *ngIf="!isLoading && msgs.length>0">
        <ListView [items]="msgs">
            <ng-template let-item="item">
                <Label verticalAlignment="center" [text]="item.body" class="ysMsg"></Label>
            </ng-template>
        </ListView>
    </FlexboxLayout>

    <FlexboxLayout flexDirection="row-reverse" alignItems="center" *ngIf="!isLoading" justifyContent="space-between" style="margin-right:20;">
        <Label text='{{"general.request.pre_requests"|translate}}' style="color:#6189f4;"></Label>
        <Button text='{{"general.request.add_request"|translate}}' *ngIf="reqData.can_add_new_request" (tap)="onTap()" class="-primary -rounded-sm"></Button>
    </FlexboxLayout>
    
        <FlexboxLayout flexDirection="column" *ngIf="!isLoading" class="ysBox">
            <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="throw"
            [ngClass]="{'throw_no_border':reqData.requests.length === 0}"
            > 
                <label text='{{"general.request.req_no"|translate}}'></label>
                <label text='{{"general.request.date_and_status"|translate}}'></label>
                <label text='{{"general.request.req_delete"|translate}}'></label>
            </FlexboxLayout>

            <FlexboxLayout alignItems="center" justifyContent="space-between" flexWrap="nowrap" *ngFor="let item of reqData.requests;let i=index;" flexDirection="row-reverse" class="trow" [ngStyle]="{'border-bottom-width':i === reqData.requests.length-1 ? '0' : '1' }">
                <Label [text]="item.request_number"></Label>
                <FlexboxLayout alignItems="center" flexDirection="column">
                    <Label [text]="item.insert_date"  ></Label>
                    <Label [text]="item.status" ></Label>
                </FlexboxLayout>
                <Button *ngIf='item.deletable' [disabled]='deleting' text="&#xf1f8;" (tap)="delete(item.request_number,i)" class="-rounded-sm fas blue-button"></Button>
                <Label *ngIf='!item.deletable' text='{{"general.request.non_cancelable_request"|translate}}'></Label>
            </FlexboxLayout>
        </FlexboxLayout>

</FlexboxLayout>
</ScrollView>