<div class="main-content">
  <seu-loader [isLoading]="isLoading"></seu-loader>
  <section class="service-single">
    <div class="container">
      <h3>{{ "leadership.ads_title" | translate}}</h3>
      <div class="row">
        <div class="col-md-5">
          <!-- <p>{{ "leadership.title" | translate}}</p> -->
        </div>
      </div>
    </div>
  </section>
  <div class="widget">
    <div class="widget-header">
      <h3 class="widget-title">&nbsp;
        {{currentJobAds ? currentJobAds['JOB_TITLE'] : ""}}
        <button (click)="showAddForm({})" class="btn btn-primary"><i class="fa fa-plus"></i>
          {{ "leadership.ad.add_ads" | translate}}</button>
      </h3>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{"leadership.job.title" | translate}}</th>
            <th scope="col">{{"leadership.ad.start_date" | translate}}</th>
            <th scope="col">{{"leadership.ad.end_date" | translate}}</th>
            <th scope="col">{{"leadership.ad.is_active" | translate}}</th>
            <th scope="col">{{"leadership.actions" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ad of ads; let i = index;">
            <td>{{i+1}}</td>
            <td>{{ad.JOB_TITLE}}</td>
            <td>{{ad.ADS_START_DATE | date :'dd/MM/yyyy'}}</td>
            <td>{{ad.ADS_END_DATE | date :'dd/MM/yyyy'}}</td>
            <td>{{(ad.ADS_IS_ACTIVE ? 'leadership.ad.active_1' : 'leadership.ad.active_0')  |translate}}</td>
            <td>
              <button (click)="showAddForm(ad)" class="btn btn-primary">{{"leadership.update" | translate}}</button>
              &nbsp;
              <button style="margin-right: 5px;" (click)="delete(ad.ADS_PK)" class="btn btn-danger">{{"leadership.delete" | translate}} <i class="fa fa-trash"></i></button>
              &nbsp;
              <button (click)="applications(ad)" class="btn btn-primary">{{"leadership.ad.apps" | translate}}</button>
              &nbsp;
              <button (click)="recommendations(ad)" class="btn btn-primary">{{"leadership.recomendations" | translate}}</button>

              <button (click)="interviewers(ad)" class="btn btn-primary">{{"leadership.interviewers_committee" | translate}}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
