/* .dashboard-wrap {
    margin-top: 10px;
    padding: 0 30px;
}
h3 {
    border-bottom: 1px solid;
    padding-bottom: 9px;
    color: #0f1152;
}
h5 {
    color: #001d6c;
    font-size: 15px; 
    margin: 0px;
}
p {
    color: #1c2172;
} */
.contact-page-inner{
    margin-right: 5.1%;
}
.contact-page-inner  .btn-survey:focus{
    border: 0;
  outline: 0;
}
.contact-page-inner  .btn-survey i{
    color: #001d6c;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
   
}
.contact-page-inner .nav-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.contact-page-inner .nav-tabs>li {
      text-align: center;
    width: 100%;
    border-top: 1px solid #1c2172;
}
.contact-page-inner .nav-tabs>li>a{
    margin: 0;
    border-radius: 0;
    padding: 15px 0 ;
    font-size: 16px;
    border-left: 1px solid rgb(197, 197, 197);
}
.contact-page-inner .nav-tabs>li>a i{
  color: #001d6c;
  font-size: 20px;
  margin-left: 5px;
}
.contact-page-inner .tab-content{
    box-shadow: 0 0 8px #d8d8d8;
    border-radius: 0 0 10px 10px;
}

.contact-page-inner .tab-content .btn-survey{
    font-size: 13px;
    margin: 6px 0 10px 10px;
    width: 90px;
    height: 90px;
    white-space: normal;
}

.contact-page-inner .tab-content .btn-survey.active{
  border: 2px solid #001d6c;
}

.contact-page-inner .tab-content .btn-survey i{
    font-size: 18px;
}

.contact-page-inner  a.btn-suggest.sug{
    background: #1e2170;
    color: #fff;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 6px;
    display: inline-block;
}

.contact-page-inner a.js-scroll{
    position: inherit;
    transform: none;
}
.contact-page-inner  .btn-suggest.sug:hover{
   background-color: #001d6c;
   transition: .5s;
  }
.contact-page-inner .btn-suggest.sug:focus{
  border: 0;
  outline: 0;
}

.contact-page-inner{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.07);
    padding: 40px 40px; 
    margin-bottom: 50px;
}
.contact-page-inner .section-header h2 {
    font-size: 22px;
    margin-bottom: 2px;
    text-align: right;
}
.contact-page-inner .section-header::before {
    right: calc(0%);
}
.contact-page-inner .address-data p{
    font-size: 15px;
    color: #001d6c;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}
.contact-page-inner .address-data h4{
    font-size: 16px;
    color: #1c2172;
    letter-spacing: 0;
    font-weight: 600;
    margin: 0;
}
.contact-page-inner .address-data a{
    font-size: 16px;
    color: #1c2172;
    letter-spacing: 0;
    font-weight: 600;
    margin: 0;
    display: block;
    margin-bottom: 4px;
}
.contact-page-inner .btn.btn-suggest.sug {
    display: inline-block;
    display: inline-block;
    color: #fff;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 14px;
    border: none;
    line-height: 0.3;
}

.section-header {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
    color: #1c2172
}


.about-col .section-header::before,
.arabic .section-header::before,
.blog .section-header::before,
.media .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 5px;
    background: #001d6c;
    bottom: 0;
    right: 0
}

.section-header h2 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0
}

.section-header h2 span {
    font-size: 22px;
    font-weight: 500;
    color: #001d6c
}

.thim-social-share {
    position: relative;
    margin: 0;
    display: inline-block;
    padding: 0;
    margin-top: 35px;
}
.thim-social-share li {
    margin-left: 8px;
    display: inline-block;
}
.thim-social-share li i {
    color: #fff;
}
.thim-social-share li a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.thim-social-share li .facebook-social a {
    border-color: #3b5998;
    background-color: #3b5998;
}
.thim-social-share li .youtube-social a {
    border-color: #dd4b39;
    background-color: #dd4b39;
}
.thim-social-share li .twitter-social a {
    border-color: #00aced;
    background-color: #00aced;
}



.contact-page-inner  .btn-suggest.sug:hover{
   background-color: #001d6c;
   transition: .5s;
  }
.contact-page-inner .btn-suggest.sug:focus{
  border: 0;
  outline: 0;
}
.contact-page-inner label {
    color: #001d6c;
    font-size: 14px;
}
.contact-page-inner .form-control {
    height: 45px;
    border-radius: 2px;
    margin-bottom: 20px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .12);
    padding: 0 10px;
    border-bottom: 1px solid #001d6c;
}
.branch-data span {
    color: #1c2172;
}
p.title {
    color:  #001d6c;
    margin: 20px 0;
}
p.title span {
    color: #1c2172;
}
.content-english  .contact-page-inner .section-header h2 {
    text-align: left ;
    text-transform: capitalize;
} 
.content-english .contact-page-inner .section-header::before {
    left: calc(0%);
}
.content-arabic  .contact-page-inner .section-header h2 {
    text-align: right ;
    text-transform: capitalize;
} 

