/* .contact-page-inner .nav-tabs > li {
    text-align: center;
    width: 100%;
    border-top: 1px solid #1c2172;
    background-color: #1c2172;
}
.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #1c2172;
    border-color: #f28d1e #f28d1e #f28d1e;
}
.contact-page-inner .nav-tabs > li :hover{
    border-top: 1px solid #1c2172;
    background-color: #eee;
}
.contact-page-inner .nav-tabs li a {
    font-weight: normal;
    border-bottom: 5px solid #1c2172;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee; 
} */
