<section *ngIf="!isLoading" class="dashboard-wrap" style="margin-top: 10px; padding: 0 30px;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " (click)="toggle('form','help')" [class.active]="current=='help'" href="#">{{"general.help" | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " (click)="toggle('form','suggestions')" [class.active]="current=='suggestions'" href="#">{{"general.suggestions" | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " (click)="toggle('enquiry','enquiry')" [class.active]="current=='enquiry'" href="#">{{"general.enquiry" | translate}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <ng-container *ngIf="show == 'form'">
            <app-contact-form></app-contact-form>
        </ng-container>
        <ng-container *ngIf="show == 'enquiry'">
            <app-contact-enquire></app-contact-enquire>
        </ng-container>
    </div>
</section>