<div *ngIf="ticket_id">
  <div class="ser-state">
    <div style="text-align: center" class="alert  alert-success" role="alert">
      <h3>{{"form.success_req_no" | translate }} #{{ticket_id}} </h3>
      <h6>{{"form.success" | translate }}</h6>
    </div>
  </div>
</div>
<form [formGroup]="form" (submit)="onSubmit()" id="contactForm">
  <div class="row">
    <div class="col-md-6">
      <label>{{'form.name' | translate}}<span class="reqstart">*</span></label>
      <input class="form-control" type="text" formControlName="name">
      <control-validations-errors [control]="form.controls.name"></control-validations-errors>
    </div>
    <div class="col-md-6">
      <label>{{'form.ssn' | translate}}<span class="reqstart">*</span></label>
      <input class="form-control" type="number" formControlName="ssn">
      <control-validations-errors [control]="form.controls.ssn"></control-validations-errors>
    </div>

    <div class="col-md-6">
      <label>{{'form.email' | translate}}<span class="reqstart">*</span></label>
      <input class="form-control" type="text" formControlName="email">
      <control-validations-errors [control]="form.controls.email"></control-validations-errors>
    </div>

    <div class="col-md-6">
      <label>{{'form.phone' | translate}}<span class="reqstart">*</span></label>
      <input class="form-control" type="number" formControlName="phone">
      <control-validations-errors [control]="form.controls.phone"></control-validations-errors>
    </div>

    <div class="col-md-6">
      <label>{{'form.group' | translate}}<span class="reqstart">*</span></label>
      <ng-select [items]="groups" bindLabel="NAME_AR" bindValue="ID" formControlName="group">
      </ng-select>

      <control-validations-errors [control]="form.controls.group"></control-validations-errors>
    </div>
    <div class="col-md-6">
      <label>{{'form.subject' | translate}}<span class="reqstart">*</span></label>
      <input class="form-control" type="text" formControlName="title">
      <control-validations-errors [control]="form.controls.title"></control-validations-errors>
    </div>
    <div class="col-md-12">
      <label>{{'form.description' | translate}}<span class="reqstart">*</span></label>
      <textarea class="form-control" style="height: auto;" formControlName="description" rows="5"></textarea>
      <control-validations-errors [control]="form.controls.description"></control-validations-errors>
    </div>
    <div class="col-md-12">
      <div class="state">
        <h6>{{"form.attachment"|translate}}</h6>
        <div class="custom-file">
          <input name="imageUrl2" type="file" accept="*/*" (change)="onFileSelect($event)" id="customFileLang"
            class="custom-file-input" />
          <label for="customFileLang" id="customFileLangLabel" class="custom-file-label"></label>
        </div>
        <control-validations-errors [control]="form.controls.file"></control-validations-errors>
      </div>
    </div>
    <div class="col-md-12">
      <div class="state">
        <h6>{{"form.captcha"|translate}} <span class="reqstart">*</span></h6>
        <re-captcha #recaptchaRef (resolved)="resolved($event)" [siteKey]="environment.captchaSiteKey"></re-captcha>
      </div>
    </div>
    <div class="col-md-12" style="text-align: center;">
      <button class="btn btn-suggest" type="submit" [disabled]="submitting || form.invalid"> {{"form.send"|translate}}</button>
    </div>
  </div>
</form>