.row{
    padding: 2px;
}
.dears{
    color: #1c2172;
}
.notes{
    font-size: 1.3em;
    line-height: 32px;
}
.form-check{
    display: flex;
}
.form-check label{
    margin-right: 16px;
    position: relative;
    top: 3px;
}