<mat-dialog-content dir="{{translate.currentLang == 'ar' ? 'rtl':'ltr'}}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 style="width:100%;text-align: center" class="modal-title " id="exampleModalLabel">
                {{ "sso_otp.title"|translate }}
            </h5>
        </div>
        <div class="modal-body text-center" style="width: 100%;" (scroll)="onScroll($event)">
            <p class="text-center">{{ "sso_otp.desc"|translate }}</p>
            <button style="width: 30%;" class="btn btn-primary" (click)="do_logic()">{{ "sso_otp.click_here"|translate }}</button>
            <p style="margin-top: 30px;">{{ "sso_otp.note"|translate }} <a href="https://api.seu.edu.sa/newservices/api/docs/otp/SEU_OTP_Activation.pdf" target="_blank">{{ "sso_otp.click_here"|translate }}</a></p>
        </div>
    </div>
</mat-dialog-content>