<mat-dialog-content dir="{{translate.currentLang == 'ar' ? 'rtl':'ltr'}}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 style="width:100%;text-align: center" class="modal-title " id="exampleModalLabel">{{"upload_photo.title"|translate}}</h5>
        </div>
        <div class="modal-body" (scroll)="onScroll($event)">
            <div>
                <p>{{"upload_photo.desc" | translate}}</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <td>{{"upload_photo.photo" | translate}}</td>
                                <td>
                                    <input type="file" accept="*/*" (change)="handlePhotoChange($event)" id="photo" class="form-control-file form-control">
                                </td>
                                <td>
                                    <p *ngIf="showPhotoName" class="photo-name alert-success">{{ photoName }}</p>
                                    <p *ngIf="!showPhotoName" class="photo-name alert-danger">{{"upload_photo.photo_not_uploaded" | translate}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>{{"upload_photo.ssn" | translate}}</td>
                                <td>
                                    <input type="file" accept="*/*" (change)="handleSsnChange($event)" id="ssn" class="form-control-file form-control">
                                </td>
                                <td>
                                    <p *ngIf="showSsnName" class="photo-name alert-success">{{ ssnName }}</p>
                                    <p *ngIf="!showSsnName" class="photo-name alert-danger">{{"upload_photo.ssn_not_uploaded" | translate}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="border-top: 2px solid #f28d1d;">
            <button [disabled]="!showPhotoName || !showSsnName" style="width: 100%;" type="submit" (click)="save()" class="btn sub">{{ "upload_photo.save" | translate}}  <i class="fa fa-save"></i></button>
        </div>
    </div>
</mat-dialog-content>