<section id="footer">

  <div class="subscription-section" style="text-align: center">

  </div>
  <!-- footer section -->
  <div class="footer-section">
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-6 col-12">
          <h3>Important Links</h3>

          <ul class="footer-links">
            <li>
              <a href="/en/about/"> <i class="far fa-dot-circle"></i>History and Timeline</a>
            </li>
            <li>
              <a href="/en/vision/"> <i class="far fa-dot-circle"></i>Vision, Mission and Goals</a>
            </li>
            <li>
              <a href="/en/blending-learn/"> <i class="far fa-dot-circle"></i>About Blended Learning</a>
            </li>
            <li>
              <a href="/en/opendata/"> <i class="far fa-dot-circle"></i>Open Data</a>
            </li>
            <li>
              <a href="/en/blackboard-system/"> <i class="far fa-dot-circle"></i>Blackboard System</a>
            </li>
          </ul>

        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <h3>Colleges</h3>

          <ul class="footer-links">
            <li>
              <a href="/afsc/en/home/"> <i class="far fa-dot-circle"></i> Administrative and Financial Science College
              </a>
            </li>
            <li>
              <a href="/caic/en/home/"> <i class="far fa-dot-circle"></i> Computing and Information College </a>
            </li>
            <li>
              <a href="/hsc/en/home/"> <i class="far fa-dot-circle"></i> Health Science College </a>
            </li>
            <li>
              <a href="/satsc/en/home/"> <i class="far fa-dot-circle"></i> Science and Theoretical Studies College </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <h3>Contact Us</h3>

          <ul class="footer-links loc">
            <li>
              <p>
                <i class="fas fa-map-marker-alt"></i> <span class="address"> <a href="/en/location/"> Visit
                    SEU/Location</a></span>
              </p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone"></i> &nbsp; <span class="phone"> 00966112613500</span>
              </p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone"></i> <span class="address"> <a href="http://outlet.199099.gov.sa/ar/"
                    target="_blank"> 199099</a></span>
              </p>
            </li>
            <li>
              <p>
                <i class="far fa-envelope"></i> &nbsp; <a href="mailto:contact@seu.edu.sa" class="mail">
                  contact@seu.edu.sa</a>
              </p>
            </li>
          </ul>
        </div>
        <div class="col-ld-3 col-md-3 col-sm-6 col-12">
          <h3>Mobile application for electronic services</h3>

          <ul class="footer-links">
            <li>
              <a href="#" target="_blank" disabled=""> <img src="/images/app.png" alt="" width="130px">
                <!--    <a data-toggle="tooltip"   title="في انتظار التطبيق على Apple Store"> <img src="~/images/app.png" width="130px">-->
              </a>
            </li><a href="#" target="_blank" disabled="">
            </a>
            <li><a href="#" target="_blank" disabled="">
              </a><a href="https://play.google.com/store/apps/details?id=net.ysolution.seu" target="_blank"> <img
                  src="/images/android.png" alt="" width="130px"></a>
            </li>

          </ul>
        </div>
      </div>
      <div class="row sub-footer">
        <div class="col-ld-6 col-md-6 col-sm-6 col-12">
          <div class="col-ld-4 col-md-4 col-sm-4 col-12">


          </div>
          <div class="social-links float-right">

            <a href="https://twitter.com/Saudi_EUni" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/SaudiElectronicUniversity" class="facebook"><i
                class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/seu_group/" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="http://" class="snapchat"><i class="fab fa-snapchat"></i></a>
            <a href="https://www.youtube.com/user/SaudiEUniversity" class="youtube"><i class="fab fa-youtube"></i></a>
            <a href="https://seu.edu.sa/ar/jisr-news-list/" target="_blank">

              <i>
                <img src="/media/1513/icon-gsr-foot.png" alt="" style="width: 20px;height: 14px">
              </i>

            </a>
            <!--
                          <div class="fb-like" data-href="https://www.facebook.com/SaudiElectronicUniversity" data-width="200px" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                          <a href="https://twitter.com/intent/tweet?screen_name=Saudi_EUni&ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Tweet to</a> -->
          </div>
        </div>
        <div class="col-ld-6 col-md-6 col-sm-6 col-12">
          <span class="copyright float-left">Copyright 2020, All Rights Reserved for Saudi Electronic University.</span>
        </div>
      </div>
    </div>
  </div>
</section>