

<ActionBar style="background:#001628; ">
  <!-- 
  Use the NavigationButton as a side-drawer button in Android
  because ActionItems are shown on the right side of the ActionBar

-->

<NavigationButton ios:visibility="collapsed" icon="font://&#xf0f3;"  class="far" style="font-size:10; color: #fff;" ></NavigationButton>

<!--<ActionItem icon="font://&#xf0f3;"  class="far" style="font-size:10; color: #fff;" ios.position="right" (tap)="openSettings()"></ActionItem>
-->
<StackLayout margin-top="0">

  <Image src="~/images/logo_3d.png" style="width:80%"></Image>

</StackLayout>

  <ActionItem icon="font://&#xf0c9;"  class="fas" style="font-size:10; color: #fff;"  (tap)="onDrawerButtonTap()" ios.position="left">
  </ActionItem>

</ActionBar>

<ScrollView>

  <ActivityIndicator [busy]="isLoading" color="#6189f4" verticalAlignment="center" horizontalAlignment="center"></ActivityIndicator>

  <FlexboxLayout flexDirection="column" *ngIf="!isLoading">

  
      <GridLayout  columns="auto, *" class="serv-title">
        <Label col="1"  text="&#xf0d9;" class="fas serv-ico-r"></Label>
        <Label col="1"    text=" {{'menu.registerwishesnew' |translate}}" class="serv-name" ></Label>
        <Label col="1"  text="&#xf0da;" class="fas serv-ico "></Label>
    
    </GridLayout>
    <StackLayout class="ysMsg" *ngFor="let msg of msgs">
      <label text="{{msg.body}} !" class="alert alert-info"> </label>
    </StackLayout>

    <StackLayout>
      <GridLayout class="ysBox" rows="auto,auto,auto,auto" columns="*,150">

        <Label row="0" colSpan="2" class="ysHBox" text="{{'menu.userData'|translate}}"></Label>

        <Label row="1" class="ysPBox" column="1" style="font-weight: 800;"
          text="{{'general.female_or_male_name'|translate}} :"></Label>
        <Label row="1" column="0 " class="ysPBox2" text="{{reqData.student_name}}"></Label>

        <Label row="2" column="1" class="ysPBox" style="font-weight: 800;" text="{{'general.faculty'|translate}} :"></Label>
        <Label row="2" column="0" class="ysPBox2" text="{{reqData.colledge}}"></Label>

        <Label row="3" column="1" class="ysPBox" style="font-weight: 800;" text="{{'general.major'|translate}} :"></Label>
        <Label row="3" column="0" class="ysPBox2" text="{{reqData.major}}"></Label>
      </GridLayout>
    </StackLayout>

    <StackLayout>
      <GridLayout class="ysBox" rows="auto,auto,auto,auto" columns="*,180">
        <Label row="0" colSpan="2" class="ysHBox" text="{{'services.reg.choosewishe'|translate}}"></Label>
        <Label row="1" column="1" style="font-weight: 800;" text="{{'services.reg.doyou25'|translate}} :"></Label>
        <Switch #sw style="margin:0px;padding: 0px;" (checkedChange)="onChange(sw.checked)" row="1" column="0"></Switch>
        <Label row="2" column="1" style="font-weight: 800;" text="{{'services.reg.perioddays'|translate}} :"></Label>
        <DropDown [isEnabled]="registerWishes.tow_days==0" row="2" style="font-weight: 700;" [items]="itemSource"
          hint="{{'services.reg.choosewishe'|translate}}  " itemsTextAlignment="center"
          (selectedIndexChanged)="selItem($event)"></DropDown>
        <Button [isEnabled]="!isLoading" row="3" text="{{'general.request.add_request' | translate}}"
          (tap)="addRequest(registerWishes);" class="-primary -rounded-sm"></Button>
      </GridLayout>
    </StackLayout>




    <StackLayout class="ysBox" *ngIf="reqData.requests && reqData.requests.length>0">
      <Label colSpan="2" class="ysHBox" text="{{'general.request.pre_requesr'|translate}}"></Label>
      <ScrollView orientation="horizontal">
        <StackLayout>
          <StackLayout>
            <GridLayout columns="50, 130, 80, 50" class="throw" [ngClass]="{'throw_no_border':reqData.requests.length === 0}">
              <Label textAlignment="center" col="3" text="{{'services.reg.orderwishes' | translate}}"></Label>
              <Label textAlignment="center" col="2" text="{{'services.reg.dayperiod' | translate}}"></Label>
              <Label textAlignment="center" col="1" text="{{'services.reg.orderdate' | translate}}"></Label>
              <Label textAlignment="center" col="0" text="-"></Label>
            </GridLayout>

          </StackLayout>
          <StackLayout>
            <GridLayout *ngFor="let item of reqData.requests" columns="50, 130, 80, 50" class="trow">
              <Label textAlignment="center" col="3" [text]="item.sort"></Label>
              <Label textAlignment="center" col="2" [text]="item.duration"></Label>
              <Label textAlignment="center" col="1" [text]="item.insert_date"></Label>
              <Label textAlignment="center" col="0" *ngIf='!item.deletable' [disabled]='deleting' text="&#xf1f8;"
                (tap)="delete(item.request_number,i)" class="fas"></Label>
              <Label textAlignment="center" col="0" *ngIf='item.deletable'
                text="{{'services.reg.cantcancel' | translate}}"></Label>
            </GridLayout>
          </StackLayout>
        </StackLayout>
      </ScrollView>
    </StackLayout>
  </FlexboxLayout>
</ScrollView>