<section id="footer">

        <div class="subscription-section" style="text-align: center">

        </div>
        <!-- footer section -->
        <div class="footer-section">
                <div class="container">
                        <div class="row">

                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <h3>الروابط الرئيسية</h3>

                                        <ul class="footer-links">
                                                <li>
                                                        <a href="https://seu.edu.sa/ar/about/"> <i class="far fa-dot-circle"></i>تعريف
                                                                بالجامعة و تأسيسها</a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/ar/vision/"> <i class="far fa-dot-circle"></i>الرؤية و
                                                                الرسالة و الأهداف</a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/ar/blending-learn/"> <i
                                                                        class="far fa-dot-circle"></i>عن التعليم
                                                                المدمج</a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/ar/opendata/"> <i
                                                                        class="far fa-dot-circle"></i>البيانات
                                                                المفتوحة</a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/ar/blackboard-system/"> <i
                                                                        class="far fa-dot-circle"></i>المنصة التعليمية
                                                                Blackboard</a>
                                                </li>
                                        </ul>

                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <h3>الكليات</h3>

                                        <ul class="footer-links">
                                                <li>
                                                        <a href="https://seu.edu.sa/afsc/"> <i class="far fa-dot-circle"></i> كلية العلوم
                                                                الإدارية والمالية </a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/caic/"> <i class="far fa-dot-circle"></i> كلية الحوسبة
                                                                و المعلوماتية </a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/hsc/"> <i class="far fa-dot-circle"></i> كلية العلوم
                                                                الصحية </a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/satsc/"> <i class="far fa-dot-circle"></i> كلية العلوم
                                                                و الدراسات النظرية </a>
                                                </li>
                                        </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <h3>اتصل بنا</h3>

                                        <ul class="footer-links loc">
                                                <li>
                                                        <p>
                                                                <i class="fas fa-map-marker-alt"></i> <span
                                                                        class="address"> <a href="https://seu.edu.sa/ar/location/"> مقرات
                                                                                الجامعة</a></span>
                                                        </p>
                                                </li>
                                                <li>
                                                        <p>
                                                                <i class="fas fa-phone"></i> &nbsp; <span class="phone">
                                                                        00966112613500</span>
                                                        </p>
                                                </li>
                                                <li>
                                                        <p>
                                                                <i class="fas fa-phone"></i> <span class="address"> <a
                                                                                href="http://outlet.199099.gov.sa/ar/"
                                                                                target="_blank"> 199099</a></span>
                                                        </p>
                                                </li>
                                                <li>
                                                        <p>
                                                                <i class="far fa-envelope"></i> &nbsp; <a
                                                                        href="mailto:contact@seu.edu.sa" class="mail">
                                                                        contact@seu.edu.sa</a>
                                                        </p>
                                                </li>
                                        </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <h3>تطبيق الجوال للخدمات الإلكترونية </h3>

                                        <ul class="footer-links">
                                                <li>
                                                        <a href="https://apps.apple.com/us/app/saudi-electronic-university/id1508914339?ls=1"
                                                                target="_blank" disabled=""> <img
                                                                        src="/assets/images/app.png" alt=""
                                                                        width="130px">
                                                                <!--    <a data-toggle="tooltip"   title="في انتظار التطبيق على Apple Store"> <img src="~/images/app.png" width="130px">-->
                                                        </a>
                                                </li><a href="https://apps.apple.com/us/app/saudi-electronic-university/id1508914339?ls=1"
                                                        target="_blank" disabled="">
                                                </a>
                                                <li><a href="https://apps.apple.com/us/app/saudi-electronic-university/id1508914339?ls=1"
                                                                target="_blank" disabled="">
                                                        </a><a href="#" target="_blank"> <img
                                                                        src="/assets/images/android.png" alt=""
                                                                        width="130px"></a>
                                                </li>

                                        </ul>
                                </div>
                        </div>
                        <div class="row sub-footer">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-ld-4 col-md-4 col-sm-4 col-md-12">


                                        </div>
                                        <div class="social-links">

                                                <a href="https://twitter.com/Saudi_EUni" class="twitter"  target=" _blank"><i class="fab fa-twitter"></i></a>
                                                &nbsp;<a href="https://www.facebook.com/SaudiElectronicUniversity"  class="facebook" target=" _blank"><i class="fab fa-facebook"></i></a>
                                                &nbsp;<a href="https://www.youtube.com/user/SaudiEUniversity" class="youtube" target=" _blank"><i class="fab fa-youtube"></i></a>
                                                &nbsp;<a href="https://seu.edu.sa/ar/jisr/" target="_blank"><i><img src="/assets/images/icon-gsr-foot.png" alt=""style="width: 14px;height: 14px"></i></a>
                                                <!--
                                <div class="fb-like" data-href="https://www.facebook.com/SaudiElectronicUniversity" data-width="200px" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                                <a href="https://twitter.com/intent/tweet?screen_name=Saudi_EUni&ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Tweet to</a> -->
                                        </div>
                                </div>
                                <div class="col-lg-6 col-md-12   col-sm-12 col-xs-12">
                                        <span class="copyright ">حقوق النشر 2020 ،جميع الحقوق محفوظة للجامعة
                                                السعودية الالكترونية.</span>
                                </div>
                        </div>
                </div>
        </div>
</section>