<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text='{{"services.master_cancel_course.title"|translate}}'></Label>
</ActionBar>
<ScrollView>
<FlexboxLayout flexDirection="column">

    <ActivityIndicator [busy]="isLoading" color="#6189f4"></ActivityIndicator>

    <FlexboxLayout flexDirection="row-reverse" *ngIf="!isLoading && msgs.length>0">
        <ListView [items]="msgs">
            <ng-template let-item="item">
                <Label verticalAlignment="center" [text]="item.body" class="ysMsg"></Label>
            </ng-template>
        </ListView>
    </FlexboxLayout>

    <FlexboxLayout flexDirection="row-reverse" alignItems="center" *ngIf="!isLoading" justifyContent="space-between" style="margin-right:20;">
        <Label text='{{"general.request.pre_requests"|translate}}' style="color:#6189f4;"></Label>
        <Button text='{{"general.request.add_request"|translate}}' *ngIf="reqData.can_add_new_request" (tap)="onTap()" class="-primary -rounded-sm"></Button>
    </FlexboxLayout>

    <RadListView *ngIf="!isLoading &&reqData.reqs.length>0" [items]="reqData.reqs" [itemTemplateSelector]="templateSelector" (itemTap)="onItemTap($event)" class="ysBox">
        <ng-template let-item="item">
            <FlexboxLayout flexDirection="row" justifyContent="space-between" class="throw" 
            [ngStyle]="{'border-bottom-width':item ===reqData.reqs[reqData.reqs.length-1] ? '0' : '1' }">
                <Label  text="&#xf0dd;"  class="fas"></Label>
                <FlexboxLayout flexDirection="row-reverse">
                    <Label text='{{item.request_number}}'></Label>
                    <Label text="{{item.status}}"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </ng-template>

        <ng-template tkTemplateKey="expanded" let-item="item">
            <FlexboxLayout flexDirection="column">
                <FlexboxLayout flexDirection="row" justifyContent="space-between" class="ysHBox">
                    <Label  text="&#xf0de;"  class="fas"></Label>
                    <FlexboxLayout flexDirection="row-reverse">
                        <Label [text]='item.request_number'></Label>
                        <Label [text]="item.status"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>

                <GridLayout rows="auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150">
                          
                    <Label row="0" column="1" style="font-weight: 800;" text='{{"general.request.req_no"|translate}} :'></Label>
                    <Label row="0"  column="0" text="{{item.request_number}}" style="text-align: right;"></Label>
                
                    <Label row="1" column="1" style="font-weight: 800;" text='{{"general.course_code"|translate}} :'></Label>
                    <Label row="1"  column="0" text="{{item.course_id}}" style="text-align: right;"></Label>
                
                    <Label row="2" column="1" style="font-weight: 800;" text='{{"general.course_name"|translate}} :'></Label>
                    <Label row="2"  column="0" text="{{item.course_title}}" style="text-align: right;"></Label>
      
                    <Label row="3" column="1" style="font-weight: 800;" text='{{"general.request.req_status"|translate}} :'></Label>
                    <Label row="3"  column="0" text="{{item.status}}"></Label>
      
                    <Label row="4" column="1" style="font-weight: 800;" text='{{"general.request.req_date"|translate}} :'></Label>
                    <Label row="4"  column="0" text="{{item.insert_date}}"  style="text-align: right;"></Label>
                    
                    <Label row="5" column="1" style="font-weight: 800;" text='{{"services.master_cancel_course.acceptance_date"|translate}} :'></Label>
                    <Label row="5"  column="0" text="{{item.approval_date}}"  style="text-align: right;"></Label>

                    <Label row="6" column="1" style="font-weight: 800;" text='{{"general.request.req_delete"|translate}} :'></Label>
                    <Button row="6" column="0" *ngIf='item.deletable' [disabled]='deleting' text="&#xf1f8;" (tap)="delete(item.request_number,i)" class="blue-button fas  -rounded-sm" style="width: 15%;margin-left: 150;"></Button>
                    <Label row="6" column="0" *ngIf='!item.deletable' text='{{"general.request.non_cancelable_request"|translate}}' textWrap="true"></Label>
                  </GridLayout>

            </FlexboxLayout>
        </ng-template>
    </RadListView>
</FlexboxLayout>
</ScrollView>