<div class="main-content" >


<div class="widget"><div class="widget-header"><h3 class="widget-title"> {{graduateData.labels.title}}</h3> </div>
<br>

<h6 class="display-6 text-center">
    {{graduateData.labels.date}}:{{graduateData.values.date}}</h6>



    <section  class="ser-state">
        <div class="container">
             <div class="row ser-block">
                <div class=" col-md-4 col-sm-12">
                      <div class="state">
                         <h6>{{graduateData.labels.student_name}} </h6>
                         <h5>{{graduateData.values.student_name}} </h5>
                      </div>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-info" style="width: 100%;"></div>
                        </div>
                </div>
                <div class=" col-md-4 col-sm-12">
                    <div class="state">
                       <h6>{{graduateData.labels.college}} </h6>
                       <h5>{{graduateData.values.coll}} </h5>
                    </div>
                      <div class="progress progress-sm">
                          <div class="progress-bar bg-info" style="width: 100%;"></div>
                      </div>
              </div>
              <div class=" col-md-4 col-sm-12">
                  <div class="state">
                     <h6> رقم الطالب او الطالبة </h6>
                     <h5>{{graduateData.values.std_id}}</h5>
                  </div>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-info" style="width: 100%;"></div>
                    </div>
               </div>
              
              </div>
            
            
            <div class="row ser-block">
                <div class=" col-md-4 col-sm-12">
                      <div class="state">
                         <h6>{{graduateData.labels.ssn}} </h6>
                         <h5>{{graduateData.values.ssn}} </h5>
                      </div>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-info" style="width: 100%;"></div>
                        </div>
                </div>
                <div class=" col-md-4 col-sm-12">
                    <div class="state">
                       <h6>{{graduateData.labels.major}} </h6>
                       <h5>{{graduateData.values.major}} </h5>
                    </div>
                      <div class="progress progress-sm">
                          <div class="progress-bar bg-info" style="width: 100%;"></div>
                      </div>
              </div>
              <div class=" col-md-4 col-sm-12">
                  <div class="state">
                     <h6>   {{graduateData.labels.branch}}  </h6>
                     <h5>{{graduateData.values.branch}}</h5>
                  </div>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-info" style="width: 100%;"></div>
                    </div>
               </div>
              
              </div>


                   <div class="row ser-block">
                <div class=" col-md-4 col-sm-12">
                      <div class="state">
                         <h6>{{graduateData.labels.GPA}} </h6>
                         <h5>{{graduateData.values.final_graduation_GPA}} </h5>
                      </div>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-info" style="width: 100%;"></div>
                        </div>
                </div>
                <div class=" col-md-4 col-sm-12">
                    <div class="state">
                       <h6> المرحله </h6>
                       <h5>{{graduateData.values.level}} </h5>
                    </div>
                      <div class="progress progress-sm">
                          <div class="progress-bar bg-info" style="width: 100%;"></div>
                      </div>
              </div>
              <div class=" col-md-4 col-sm-12">
                  <div class="state">
                     <h6>   المدينة </h6>
                     <h5>{{graduateData.values.city}}</h5>
                  </div>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-info" style="width: 100%;"></div>
                    </div>
               </div>
              
              </div>
            
        </div>
          </section></div>

        <div class="jumbotron jumbtron-fluid">

   <div class="row">

      <p style="direction: rtl;float: right;text-align: right;padding-right: 50px">
          {{graduateData.labels.txt1}}   {{graduateData.values.term}}
          {{graduateData.labels.txt2}} {{graduateData.values.final_graduation_GPA}} {{graduateData.labels.txt7}}
         <br/>
          {{graduateData.labels.txt3}}
          <br/>
          {{graduateData.labels.txt4}}
          <br/>
          <b>ملحوظة</b>  {{graduateData.labels.txt5}}
          <br/>
          <b> {{graduateData.labels.txt6}}</b>
        </p>
      </div> </div>
        <div  class="btn-group btn-group-justified col-md-12 ">
            <div class="col-md-4"></div>
            <a class="btn btn-primary" href="{{arabicPrint}}"><span class="glyphicon glyphicon-print"></span>
              طباعة</a>
            <a class="btn btn-primary" href="{{EngPrint}}"><span class="glyphicon glyphicon-print"></span>
              Print</a>
            <div class="col-md-4"></div>
          
            </div>
          </div>