<app-service-header title="{{'translation' | translate}}" subtitle="{{'menu.my_requests' | translate}}">
</app-service-header>
<seu-loader [isLoading]="isLoading"></seu-loader>
<section class="dashboard-wrap" style="margin-top: 30px; padding: 0 30px;">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">

        <div class="widget-header">
          <h3 class="widget-title">
            {{"menu.new_requests" | translate}}
          </h3>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered" style="font-size: 0.9em;">
            <thead>
              <tr>
                <th scope="col">{{"my_requests_page.req_num" | translate}}</th>
                <th scope="col">{{"my_requests_page.client" | translate}}</th>
                <th scope="col">{{"my_requests_page.translate_form" | translate}}</th>
                <th scope="col">{{"my_requests_page.translate_to" | translate}}</th>
                <th scope="col">{{"my_requests_page.file_secret" | translate}}</th>
                <th scope="col">{{"my_requests_page.file_type" | translate}}</th>
                <th scope="col">{{"my_requests_page.words_count" | translate}}</th>
                <th scope="col">{{"my_requests_page.req_date" | translate}}</th>
                <th scopr="col">{{"my_requests_page.status" | translate}}</th>
                <th scopr="col">{{"my_requests_page.add_comment" | translate}}</th>
              </tr>
            </thead>
            <tbody style="font-size: 1.3em;">
              <tr *ngFor="let req of requestsList; let i = index">
                <td>{{ req.REQ_ID }}</td>
                <td>{{ req.USERNAME }}</td>
                <td>
                  <span *ngIf="req.TRANSLATE_FROM == 'en'">{{"new_request_page.en_lang" | translate}}</span>
                  <span *ngIf="req.TRANSLATE_FROM == 'ar'">{{"new_request_page.ar_lang" | translate}}</span>
                </td>
                <td>
                  <span *ngIf="req.TRANSLATE_TO == 'en'">{{"new_request_page.en_lang" | translate}}</span>
                  <span *ngIf="req.TRANSLATE_TO == 'ar'">{{"new_request_page.ar_lang" | translate}}</span>
                </td>
                <td>
                  <span class="text-success"><i *ngIf="req.FILE_SECRET == 1" class="fa fa-check-circle"></i></span>
                  <span class="text-danger"><i *ngIf="req.FILE_SECRET == 0" class="fa fa-times-circle"></i></span>
                </td>
                <td>
                  <span *ngIf="req.FILE_TYPE == 'other'">{{"new_request_page.other" | translate}}</span>
                  <span *ngIf="req.FILE_TYPE == 'content'">{{"new_request_page.content" | translate}}</span>
                  <span *ngIf="req.FILE_TYPE == 'new'">{{"new_request_page.new" | translate}}</span>
                  <span *ngIf="req.FILE_TYPE == 'invite'">{{"new_request_page.invite" | translate}}</span>
                  <span *ngIf="req.FILE_TYPE == 'letter'">{{"new_request_page.letter" | translate}}</span>
                </td>
                <td>{{ req.FILE_WORDS_COUNT }}</td>
                <td>{{ req.INSERTED_DATE | date : 'yyyy-MM-dd'}}</td>
                <td>
                  <button class="btn btn-primary">{{"my_requests_page.update" | translate}} <i class="fa fa-edit"></i></button>
                </td>
                <td>
                  <button class="btn btn-primary">{{"my_requests_page.add_comment" | translate}}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>