<mat-dialog-content>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLabel">{{"services.graduate.graduatedata"|translate}}
        </h5>
      </div>

      <form #form="ngForm" autocomplete="off">
        <div class="modal-body">
          <section class="ser-state">
            <div class="container">

              <div class="row ser-block">



                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6> {{"services.graduate.fullname"|translate}} </h6>
                    <h5>{{stdinfo.STD_NAME_AR}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6> {{"services.graduate.fullnameeng"|translate}} </h6>
                    <h5>{{stdinfo.STD_NAME_EN}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6>{{"services.graduate.gender"|translate}} </h6>
                    <h5>{{stdinfo.STD_GENDER}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>



              </div>


              <div class="row ser-block">

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6>{{"services.graduate.nationality"|translate}} </h6>
                    <h5>{{stdinfo.STD_NATIONALITY}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6>{{"services.graduate.scdegree"|translate}} </h6>
                    <h5>{{stdinfo.PROGRAM_TYPE}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6>{{"services.graduate.major"|translate}} </h6>
                    <h5>{{stdinfo.STD_MAJOR_DESC}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
              </div>


              <div class="row ser-block">

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6>{{"services.graduate.branch"|translate}} </h6>
                    <h5>{{stdinfo.STD_CAMP}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6> {{"services.graduate.rate"|translate}} </h6>
                    <h5>{{stdinfo.STD_GPA}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6>{{"services.graduate.mobileno"|translate}} </h6>
                    <h5>{{stdinfo.MOBILE_NUM}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>


              </div>


              <div class="row ser-block">

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6> {{"services.graduate.email"|translate}} </h6>
                    <h5>{{stdinfo.PERSONAL_EMAIL}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6> {{"services.graduate.uemail"|translate}} </h6>
                    <h5>{{stdinfo.STD_EMAIL}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6> {{"services.graduate.stdpic"|translate}} </h6>
                    <h5>{{stdinfo.STD_PIC}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>


              </div>


              <div class="row ser-block">

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6> {{"services.graduate.CV"|translate}} </h6>
                    <h5>{{stdinfo.STD_RESUME}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>

                <div class=" col-md-4 col-sm-12">
                  <div class="state">
                    <h6> {{"services.graduate.cjob"|translate}} </h6>
                    <h5>{{stdinfo.JOB_STATUS}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>




              </div>
              <div class="widget">
                <div class="widget-header">
                  <h3 class="widget-title"> {{"services.graduate.jondes"|translate}} </h3>
                </div>
                <div class="row ser-block">

                  <div class=" col-md-4 col-sm-12">
                    <div class="state">
                      <h6> {{"services.graduate.empsector"|translate}} </h6>
                      <h5>{{stdinfo.JOB_SECTOR}} </h5>
                    </div>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div>

                  <div class=" col-md-4 col-sm-12">
                    <div class="state">
                      <h6> {{"services.graduate.jobyear"|translate}} </h6>
                      <h5>{{stdinfo.YEAR_JOB}} </h5>
                    </div>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div>

                  <div class=" col-md-4 col-sm-12">
                    <div class="state">
                      <h6> {{"services.graduate.jobcom"|translate}} </h6>
                      <h5>{{stdinfo.JOB_COM}} </h5>
                    </div>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div>


                </div>

                <div class="row ser-block">

                  <div class=" col-md-4 col-sm-12">
                    <div class="state">
                      <h6> {{"services.graduate.upgrade"|translate}} </h6>
                      <h5>{{stdinfo.JOB_PROMO}} </h5>
                    </div>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div>

                  <div class=" col-md-4 col-sm-12">
                    <div class="state">
                      <h6> {{"services.graduate.upgradeyr"|translate}} </h6>
                      <h5>{{stdinfo.JOB_PROMO_YEAR}} </h5>
                    </div>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div>

                  <div class=" col-md-4 col-sm-12">
                    <div class="state">
                      <h6> {{"services.graduate.jobplace"|translate}} </h6>
                      <h5>{{stdinfo.JOB_LOC}} </h5>
                    </div>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="widget">
                <div class="widget-header">
                  <h3 class="widget-title"> {{"services.graduate.jobownerdata"|translate}} </h3>
                </div>
                <div class="row ser-block">

                  <div class=" col-md-3 col-sm-12">
                    <div class="state">
                      <h6> {{"services.graduate.oname"|translate}} </h6>
                      <h5>{{stdinfo.EMPLOYER_NAME}} </h5>
                    </div>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div>

                  <div class=" col-md-3 col-sm-12">
                    <div class="state">
                      <h6> {{"services.graduate.ojob"|translate}} </h6>
                      <h5>{{stdinfo.EMPLOYER_JOB_TITLE}} </h5>
                    </div>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div>

                  <div class=" col-md-3 col-sm-12">
                    <div class="state">
                      <h6> {{"services.graduate.mobileno"|translate}} </h6>
                      <h5>{{stdinfo.EMPLOYER_PHONE}} </h5>
                    </div>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div>

                  <div class=" col-md-3 col-sm-12">
                    <div class="state">
                      <h6> {{"services.graduate.email"|translate}} </h6>
                      <h5>{{stdinfo.EMPLOYER_EMAIL}} </h5>
                    </div>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div>


                </div>
              </div>


            </div>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="closeDiag()" class="btn btn-outline"><i class="ik ik-x"></i>
            {{"services.cancel"|translate}}</button>

          <!-- <button [disabled]="(form.invalid || !approves.approve)" type="submit" class="btn btn-dark"><i
            class="fa fa-database"></i>
          حفظ</button>-->
        </div>
      </form>
    </div>
  </div>

</mat-dialog-content>