
<ScrollView>
    <FlexboxLayout flexDirection="column">

        <GridLayout  class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,
            auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150" *ngIf="!isLoading">
          
              <Label row="0" colSpan="2"  class="ysHBox"  text='{{"services.graduate.graduatedata"|translate}}'></Label>
          
              <Label row="1" column="1" style="font-weight: 800;" text='{{"services.graduate.fullname"|translate}} :'></Label>
              <Label row="1"  column="0" text="{{stdinfo.STD_NAME_AR}}"></Label>
          
              <Label row="2" column="1" style="font-weight: 800;" text='{{"services.graduate.fullnameeng"|translate}} :'></Label>
              <Label row="2"  column="0" text="{{stdinfo.STD_NAME_EN}}"></Label>
          
              <Label row="3" column="1" style="font-weight: 800;" text='{{"services.graduate.gender"|translate}} :'></Label>
              <Label row="3"  column="0" text="{{stdinfo.STD_GENDER}}"></Label>

              <Label row="4" column="1" style="font-weight: 800;" text='{{"services.graduate.nationality"|translate}} :'></Label>
              <Label row="4"  column="0" text="{{stdinfo.STD_NATIONALITY}}"></Label>

              <Label row="5" column="1" style="font-weight: 800;" text='{{"services.graduate.scdegree"|translate}} :'></Label>
              <Label row="5"  column="0" text="{{stdinfo.PROGRAM_TYPE}}"></Label>

              <Label row="6" column="1" style="font-weight: 800;" text='{{"services.graduate.major"|translate}} :'></Label>
              <Label row="6"  column="0" text="{{stdinfo.STD_MAJOR_DESC}}"></Label>

              <Label row="7" column="1" style="font-weight: 800;" text='{{"services.graduate.branch"|translate}} :'></Label>
              <Label row="7"  column="0" text="{{stdinfo.STD_CAMP}}"  style="text-align: right;"></Label>

              <Label row="8" column="1" style="font-weight: 800;" text='{{"services.graduate.rate"|translate}} :'></Label>
              <Label row="8"  column="0" text="{{stdinfo.STD_GPA}}"  style="text-align: right;"></Label>
            
              <Label row="10" column="1" style="font-weight: 800;" text="{{'services.graduate.mobileno'|translate}} :"></Label>
              <Label row="10"  column="0" text="{{stdinfo.MOBILE_NUM}}"  style="text-align: right;"></Label>

              <Label row="11" column="1" style="font-weight: 800;" text="{{'services.graduate.email'|translate}} :"></Label>
              <Label row="11"  column="0" text="{{stdinfo.PERSONAL_EMAIL}}"  style="text-align: right;"></Label>

              <Label row="12" column="1" style="font-weight: 800;" text="{{'services.graduate.uemail'|translate}} :"></Label>
              <Label row="12"  column="0" text="{{stdinfo.STD_EMAIL}}"  style="text-align: right;"></Label>

             <Label row="13" column="1" style="font-weight: 800;" text="{{'services.graduate.stdpic'|translate}} :"></Label>
             <Label row="13"  column="0" text="{{stdinfo.STD_PIC}}"  style="text-align: right;"></Label>
     
             <Label row="14" column="1" style="font-weight: 800;" text="{{'services.graduate.CV'|translate}}  :"></Label>
             <Label row="14"  column="0" text="{{stdinfo.STD_RESUME}}"  style="text-align: right;"></Label>

             <Label row="15" column="1" style="font-weight: 800;" text='{{"services.graduate.cjob"|translate}}'></Label>
             <Label row="15"  column="0" text="{{stdinfo.JOB_STATUS}}"  style="text-align: right;"></Label>
        </GridLayout>

        <GridLayout  class="ysBox" rows="auto,auto,auto,auto,auto,auto" columns="*,150" *ngIf="!isLoading">

            <Label row="0" colSpan="2"  class="ysHBox"  text='{{"services.graduate.jondes"|translate}}'></Label>

             <Label row="1" column="1" style="font-weight: 800;" text="{{'services.graduate.empsector'|translate}} :"></Label>
             <Label row="1"  column="0" text="{{stdinfo.JOB_SECTOR}}"  style="text-align: right;"></Label>
  
             <Label row="2" column="1" style="font-weight: 800;" text="{{'services.graduate.jobyear'|translate}} :"></Label>
             <Label row="2"  column="0" text="{{stdinfo.YEAR_JOB}}"  style="text-align: right;"></Label>

             <Label row="3" column="1" style="font-weight: 800;" text="{{'services.graduate.jobcom'|translate}} :"></Label>
             <Label row="3"  column="0" text="{{stdinfo.JOB_COM}}"  style="text-align: right;"></Label>

             <Label row="3" column="1" style="font-weight: 800;" text="{{'services.graduate.upgrade'|translate}} :"></Label>
             <Label row="3"  column="0" text="{{stdinfo.JOB_PROMO}}"  style="text-align: right;"></Label>

             <Label row="4" column="1" style="font-weight: 800;" text="{{'services.graduate.upgradeyr'|translate}} :"></Label>
             <Label row="4"  column="0" text="{{stdinfo.JOB_PROMO_YEAR}}"  style="text-align: right;"></Label>

             <Label row="5" column="1" style="font-weight: 800;" text="{{'services.graduate.jobplace'|translate}} :"></Label>
             <Label row="5"  column="0" text="{{stdinfo.JOB_LOC}}"  style="text-align: right;"></Label>
        </GridLayout>

        <GridLayout class="ysBox" rows="auto,auto,auto,auto,auto" columns="*,150" *ngIf="!isLoading">

            <Label row="0" colSpan="2"  class="ysHBox"  text='{{"services.graduate.jobownerdata"|translate}}'></Label>

             <Label row="1" column="1" style="font-weight: 800;" text="{{'services.graduate.oname'|translate}} :"></Label>
             <Label row="1"  column="0" text="{{stdinfo.EMPLOYER_NAME}}"  style="text-align: right;"></Label>
            
             <Label row="2" column="1" style="font-weight: 800;" text="{{'services.graduate.ojob'|translate}} :" textWrap="true"></Label>
             <Label row="2"  column="0" text="{{stdinfo.EMPLOYER_JOB_TITLE}}"  style="text-align: right;"></Label>
            
             <Label row="3" column="1" style="font-weight: 800;" text="{{'services.graduate.mobileno'|translate}} :" textWrap="true"></Label>
             <Label row="3"  column="0" text="{{stdinfo.EMPLOYER_PHONE}}"  style="text-align: right;"></Label>

             <Label row="4" column="1" style="font-weight: 800;" text="{{'services.graduate.email'|translate}} :" textWrap="true"></Label>
             <Label row="4"  column="0" text="{{stdinfo.EMPLOYER_EMAIL}}"  style="text-align: right;"></Label>
            
        </GridLayout>

        <Button *ngIf="!isLoading" text='{{"general.cancel"|translate}}' (tap)="closeDiag()" class="-primary"></Button>

    </FlexboxLayout>

    </ScrollView>