<app-header></app-header>


<ScrollView>
    <ActivityIndicator [busy]="isLoading" color="#6189f4" verticalAlignment="center" horizontalAlignment="center"></ActivityIndicator>

    <StackLayout *ngIf="!isLoading">

      <GridLayout  columns="auto, *" class="serv-title">
        <Label col="1"  text="&#xf0d9;" class="fas serv-ico-r"></Label>
        <Label col="1" text='{{"wafi.penaltydiscount" | translate}}' class="serv-name" ></Label>
        <Label col="1"  text="&#xf0da;" class="fas serv-ico "></Label>
      </GridLayout>

      <Label text='{{"tasks.searchdata"|translate}}' style="font-weight: 800;margin-right:20; color: #f08b1c"></Label>
      <TextField [(ngModel)]="filter" #search="ngModel" required hint="" style="margin-right:20 ;"></TextField>

      <GridLayout class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150" *ngFor="let item of getepanaltydata  |filter:filter">
                      
                      
        <Label row="1"  column="1" class="ysPBox" textWrap="true" style="font-weight:800;" text='{{"wafi.serviceSeq" | translate}}'></Label>
        <Label row="1"  column="0" class="ysPBox2" textWrap="true" [text]="item.serviceSeq"></Label>
    
        <Label row="2"  column="1"  class="ysPBox" textWrap="true" style="font-weight:800;" text='{{"wafi.absenceDateH" | translate}}'></Label>
        <Label row="2"  column="0" class="ysPBox2" textWrap="true" [text]="item.absenceDateH"></Label>

        <Label row="3"  column="1"  class="ysPBox" textWrap="true" style="font-weight:800;" text='{{"wafi.absentTypeDesc" | translate}}'></Label>
        <Label row="3"  column="0" class="ysPBox2" textWrap="true" [text]="item.absentTypeDesc"></Label>
       
        <Label row="4"  column="1"  class="ysPBox" textWrap="true" style="font-weight:800;" text='{{"wafi.absentDay" | translate}}'></Label>
        <Label row="4"  column="0" class="ysPBox2" textWrap="true" [text]="item.absentDay" ></Label>

        <Label row="5"  column="1"  class="ysPBox" textWrap="true" style="font-weight: 800;"    text='{{"wafi.absentHour" | translate}}'></Label>
        <Label row="5"  column="0" class="ysPBox2" textWrap="true" [text]="item.absentHour" ></Label>

        <Label row="6"  column="1"  class="ysPBox" textWrap="true" style="font-weight: 800;"    text='{{"wafi.decisionNo" | translate}}'></Label>
        <Label row="6"  column="0" class="ysPBox2" textWrap="true" [text]="item.decisionNo" ></Label>

        <Label row="7"  column="1"  class="ysPBox" textWrap="true" style="font-weight: 800;"    text='{{"wafi.decisionDateH" | translate}}'></Label>
        <Label row="7"  column="0" class="ysPBox2" textWrap="true" [text]="item.decisionDateH" ></Label>

        <Label row="8"  column="1"  class="ysPBox" textWrap="true" style="font-weight: 800;"    text='{{"wafi.inService" | translate}}'></Label>
        <Label row="8"  column="0" *ngIf="item.inService" class="ysPBox2" textWrap="true" text="YES" ></Label>
        <Label row="8"  column="0" *ngIf="!item.inService" class="ysPBox2" textWrap="true" text="NO" ></Label>

        <Label row="9"  column="1" *ngIf="item.deductionType=='2'" class="ysPBox" textWrap="true" text='{{"wafi.print" | translate}}' ></Label>
        <Button row="9" column="0" *ngIf="item.deductionType=='2'" class="blue-button fas" textWrap="true" 
        (tap)="printreport(item.decisionNo,item.decisionDate,item.absenceDate)"
        text='{{"wafi.print" | translate}}' ></Button>

         
      </GridLayout>
    </StackLayout>
</ScrollView>