<div class="main-content" >
    <seu-loader [isLoading]="isLoading"></seu-loader>
    <div class="widget">
      <div class="widget-header">
        <h3 class="widget-title text-center"> {{"committe.title"|translate}}</h3>
      </div>
      <div class="widget-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">{{"committe.report_date" | translate}}</th>
                    <td>{{date | date: 'dd-MM-yyyy'}}</td>
                  </tr>
                  <tr>
                    <th scope="col">{{"committe.punishment" | translate}}</th>
                    <td>التعهد مع الإنذار الخطي من الطالب المخالف</td>
                  </tr>
                  <!-- <tr>
                    <th scope="col">{{"committe.system_document" | translate}}</th>
                    <td>المادة الثامنة من لائحة الطلاب   (<a target="_blank" href="https://seu.edu.sa">للإطلاع</a>)</td>
                  </tr> -->
                  <tr>
                    <th scope="col">{{"committe.violation" | translate}}</th>
                    <td>(<a target="_blank" href="https://seu.edu.sa">للإطلاع من هنا</a>)</td>
                  </tr>
                  <!-- <tr>
                    <th style="vertical-align: middle;" scope="col">{{"committe.violation_type" | translate}}</th>
                    <td>(<a target="_blank" href="https://seu.edu.sa">للإطلاع من هنا</a>)</td>
                  </tr> -->
                  <tr>
                    <th scope="col">{{"committe.acknowledgment" | translate}}</th>
                    <td>
                      <input style="cursor: pointer;" class="form-check-input" (change)="acknowledgmentChange($event)" type="checkbox" value="1">
                      <span style="margin-right: 3px; position: relative; top: 5px" class="form-check-label">{{"committe.acknowledgment_text"|translate}}</span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="col">{{"committe.objection" | translate}}</th>
                    <td><strong>ملاحظة: </strong> في حال الإعتراض على صحة المخالفة و العقوبة يرجى تقديم تذكرة من خلال خدمة المساعد الأكاديمي  <a style="text-decoration: underline; color: #5a3484; cursor: pointer;" (click)="navigateToSd()">(من هنا)</a></td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="save_button">
          <div class="col-md-12 text-center">
            <button [disabled]="submitted" (click)="save()" style="width: 20%;" class="btn btn-primary">{{"committe.save" | translate}}</button>
          </div>
        </div>
      </div>
      <div class="widget-footer">
      </div>
    </div>
  </div>
    