<app-service-header title="{{'translation' | translate}}" subtitle="{{'menu.my_requests' | translate}}">
</app-service-header>
<seu-loader [isLoading]="isLoading"></seu-loader>
<section class="dashboard-wrap" style="margin-top: 30px; padding: 0 30px;">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">

        <div class="widget-header">
          <h3 class="widget-title">
            {{"menu.my_requests" | translate}}
          </h3>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered" style="font-size: 0.9em;">
            <thead>
              <tr>
                <th scope="col">{{"my_requests_page.req_num" | translate}}</th>
                <!-- <th scope="col">{{"my_requests_page.translate_form" | translate}}</th>
                <th scope="col">{{"my_requests_page.translate_to" | translate}}</th> -->
                <!-- <th scope="col">{{"my_requests_page.file_type" | translate}}</th> -->
                <th scope="col">{{"my_requests_page.req_date" | translate}}</th>
                <th scope="col">{{"my_requests_page.req_file" | translate}}</th>
                <th scopr="col">{{"my_requests_page.status" | translate}}</th>
                <th scope="col">{{"my_requests_page.estimate_date" | translate}}</th>
                <th scope="col">{{"my_requests_page.trans_date" | translate}}</th>
                <th scope="col">{{"my_requests_page.trans_file" | translate}}</th>
                <th scopr="col">
                  <!-- {{"general.details" | translate}} -->
                </th>
              </tr>
            </thead>
            <tbody style="font-size: 1.3em;">
              <tr *ngFor="let req of requestsList; let i = index">
                <td>{{ req.REQ_ID }}</td>
                <!-- <td>
                  <span *ngIf="req.TRANSLATE_FROM == 'en'">{{"new_request_page.en_lang" | translate}}</span>
                  <span *ngIf="req.TRANSLATE_FROM == 'ar'">{{"new_request_page.ar_lang" | translate}}</span>
                </td>
                <td>
                  <span *ngIf="req.TRANSLATE_TO == 'en'">{{"new_request_page.en_lang" | translate}}</span>
                  <span *ngIf="req.TRANSLATE_TO == 'ar'">{{"new_request_page.ar_lang" | translate}}</span>
                </td> -->
                <!-- <td>
                  <span *ngIf="req.FILE_TYPE == 'other'">{{"new_request_page.other" | translate}}</span>
                  <span *ngIf="req.FILE_TYPE == 'content'">{{"new_request_page.content" | translate}}</span>
                  <span *ngIf="req.FILE_TYPE == 'new'">{{"new_request_page.new" | translate}}</span>
                  <span *ngIf="req.FILE_TYPE == 'invite'">{{"new_request_page.invite" | translate}}</span>
                  <span *ngIf="req.FILE_TYPE == 'letter'">{{"new_request_page.letter" | translate}}</span>
                </td> -->
                <td>{{ req.INSERTED_DATE | date : 'yyyy-MM-dd'}}</td>
                <td>
                  <a target="_blanck" [href]="req.downloadURL" style="margin-right: 5px;"
                    class="btn btn-danger">{{"general.download" | translate}} <i class="fa fa-download"></i></a>
                </td>
                <td>
                  <span class="{{req.STATUS}}">{{"statuses."+req.STATUS | translate}}</span>
                </td>
                <td>
                  <span *ngIf="req.ESTIMATED_DATE && req.STATUS != 'pendding'">
                    {{ req.ESTIMATED_DATE | date : 'yyyy-MM-dd'}}
                  </span>
                </td>
                <td>
                  <span *ngIf="req.TRANSLATION_DATE && req.STATUS == 'completed'">
                    {{ req.TRANSLATION_DATE | date : 'yyyy-MM-dd'}}
                  </span>
                </td>
                <td>
                  <ng-container *ngIf="req.TRANSLATION_DATE && req.STATUS == 'completed'">
                    <a target="_blanck" [href]="req.downloadTransURL" style="margin-right: 5px;"
                      class="btn btn-danger">{{"general.download" | translate}} <i class="fa fa-download"></i></a>
                  </ng-container>
                </td>
                <td>
                  <button *ngIf="req.STATUS == 'pendding' || req.STATUS == 'payment'" (click)="cancel(req.REQ_ID)"
                    class="btn btn-primary">{{"general.cancel" | translate}}</button>
                  &nbsp;
                  <button *ngIf="req.STATUS == 'payment'" (click)="openAddPayment(req)"
                    class="btn btn-primary">{{"general.pay" |
                    translate}}</button>
                  &nbsp;

                  <button (click)="openAddCommentDialog(req.REQ_ID)" class="btn btn-primary">{{"general.comments" |
                    translate}}</button>
                  &nbsp;
                  <button class="btn btn-primary" (click)="openDetailsDialog(req)">{{"general.details" |
                    translate}}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>