<form>
  <div class="row">
 <div class="col-md-6">
  <label>الاسم</label>
  <input id="name" required="" name="text" class="form-control" type="text" placeholder="اسم المستخدم">
</div>  
 
<div class="col-md-6">
  <label>البريد الإلكتروني</label>
  <input id="email" required="" name="email" class="form-control" type="text" placeholder="البريد الإلكتروني ">
</div> 
<div class="col-md-6">
  <label> تاريخ الميلاد</label>
  <input id="idenity" required="" name="text" class="form-control" type="date" placeholder="تاريخ الميلاد  ">
</div> 
<div class="col-md-6">
  <label>رقم الهوية</label>
  <input id="idenity" required="" name="text" class="form-control" type="text" placeholder="رقم الهوية ">
</div> 
<div class="col-md-12" style="text-align: center;">
  <button class="btn btn-suggest" type="submit"> إرسال</button>
</div>
</div>
</form>