<div class="main-content">

  <service-header title='{{"wafi.Salaries" | translate}}'></service-header>

  <seu-loader [isLoading]="isLoading"></seu-loader>

  <div class="form-group">
   
    {{"wafi.selectyear" | translate}} :  
    <div  >
    <select  class="select"  (change)="getempsalaryyearwise($event.target.value)" >  
      <option *ngFor="let year of salaryyears">{{year}} </option>  
</select>  
</div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>

      <tr>

        <th scope="col">{{"wafi.monthYear" | translate}}</th>
        <!-- <th scope="col">{{"wafi.branch" | translate}}</th> -->
        <th scope="col">{{"wafi.bank" | translate}}</th>
        <th scope="col">{{"wafi.acnountno" | translate}}</th>
        <th scope="col">{{"wafi.basicsalary" | translate}}</th>
        <th scope="col">{{"wafi.balance" | translate}}</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let salry of Empsalary;let i=index;">
        
        <td>
          <a  (click)="getsalarydetail(i,salry.month,salry.year)" style="text-decoration:none;cursor: pointer;font-size:14px;color:#0000FF;">{{salry.monthYear}}</a>
         
        <!-- <td>{{salry.branch}}</td> -->
        <td>{{salry.bank}}</td>
        <td>{{salry.accountNo}}</td>
        <td>{{salry.basicSalary}}</td>
        <td>{{salry.balance}}</td>        

      </tr>

    </tbody>
  </table>
</div>

  
  </div>
