<div class="main-content">
    <app-service-header title="{{'univ' | translate}}" subtitle="{{'projects.service' | translate}}"></app-service-header>
    <section class="ug-content">
        <div class="container">
            <seu-loader [isLoading]="isLoading"></seu-loader>
            <div *ngIf="app_pk">
                <div class="ser-state">
                    <div style="text-align: right" class="alert  alert-success" role="alert">
                        <h1>{{"projects.success_req_no" | translate }} #{{app_pk}} </h1>
                        <h5>{{"projects.success" | translate }}</h5>
                    </div>
                </div>
            </div>
            <form *ngIf="!app_pk" role="form" [formGroup]="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"projects.name"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="name" class="form-control" />
                        </div>
                        <control-validations-errors [control]="form.controls.name"></control-validations-errors>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"projects.ssn"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="ssn" class="form-control" size="10" maxlength="10" pattern="[0-9]{10}" />
                            <control-validations-errors [control]="form.controls.ssn"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"projects.email"|translate}} <span class="reqstart">*</span></h6>
                            <input type="email" formControlName="email" class="form-control" />
                            <control-validations-errors [control]="form.controls.email"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"projects.phone"|translate}} <span class="reqstart">*</span></h6>
                            <input type="phone" formControlName="phone" class="form-control" size="10" maxlength="10" pattern="[0-9]{10}" />
                            <control-validations-errors [control]="form.controls.phone"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"projects.gender"|translate}} <span class="reqstart">*</span></h6>
                            <select class="form-control" formControlName="gender">
                              <option value="M">{{"lookups.male"|translate}}</option>
                              <option value="F">{{"lookups.female"|translate}}</option>
                            </select>
                            <control-validations-errors [control]="form.controls.phone"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"projects.college"|translate}} <span class="reqstart">*</span></h6>
                            <ng-select [items]="colleges" bindLabel="NAME" bindValue="ID" formControlName="college">
                            </ng-select>
                            <control-validations-errors [control]="form.controls.college"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.title"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="title" class="form-control" />
                            <control-validations-errors [control]="form.controls.title"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.details"|translate}} <span class="reqstart">*</span></h6>
                            <textarea formControlName="details" class="form-control"></textarea>
                            <control-validations-errors [control]="form.controls.title"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.target"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="target" class="form-control" />
                            <control-validations-errors [control]="form.controls.target"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.cost"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="cost" class="form-control" />
                            <control-validations-errors [control]="form.controls.cost"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.duration"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="duration" class="form-control" />
                            <control-validations-errors [control]="form.controls.duration"></control-validations-errors>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.reason"|translate}} <span class="reqstart">*</span></h6>
                            <textarea formControlName="reason" class="form-control"></textarea>
                            <control-validations-errors [control]="form.controls.reason"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.strength"|translate}} <span class="reqstart">*</span></h6>
                            <textarea formControlName="strength" class="form-control"></textarea>
                            <control-validations-errors [control]="form.controls.strength"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.weaknesses"|translate}} <span class="reqstart">*</span></h6>
                            <textarea formControlName="weaknesses" class="form-control"></textarea>
                            <control-validations-errors [control]="form.controls.weaknesses"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.opportunities"|translate}} <span class="reqstart">*</span></h6>
                            <textarea formControlName="opportunities" class="form-control"></textarea>
                            <control-validations-errors [control]="form.controls.opportunities"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.risks"|translate}} <span class="reqstart">*</span></h6>
                            <textarea formControlName="risks" class="form-control"></textarea>
                            <control-validations-errors [control]="form.controls.risks"></control-validations-errors>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.file"|translate}}</h6>
                            <div class="custom-file">
                                <input name="imageUrl2" type="file" accept="*/*" (change)="handleInputChange($event)" id="customFileLang" class="custom-file-input" />
                                <label for="customFileLang" class="custom-file-label"></label>
                            </div>
                            <control-validations-errors [control]="form.controls.file"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.captcha"|translate}} <span class="reqstart">*</span></h6>
                            <re-captcha #recaptchaRef (resolved)="resolved($event)" [siteKey]="environment.captchaSiteKey"></re-captcha>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 100px; text-align: center;">
                    <div class="col-md-12">
                        <button style="width: 20%; min-width: 200px;" [disabled]="form.invalid" (click)="onSubmit()" type="submit" class="btn btn-primary">{{ "save" | translate}}  <i class="fa fa-save"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>