<div *ngIf="ticket_id">
  <div class="ser-state">
    <div style="text-align: center" class="alert  alert-success" role="alert">
      <h3>{{"form.success_req_no" | translate }} #{{ticket_id}} </h3>
      <h6>{{"form.success" | translate }}</h6>
      <h6>{{"form.success_note" | translate }}</h6>
    </div>
  </div>
</div>
<form [formGroup]="form" (submit)="onSubmit()" id="contactForm">
  <div *ngIf="!ticket_id" class="row">
    <div class="col-md-12 alert alert-info text-center">
      <strong>{{'form.note3' | translate}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>{{'form.name' | translate}}<span class="reqstart">*</span></label>
      <input class="form-control" type="text" formControlName="name">
      <control-validations-errors *ngIf="submit" [control]="form.controls.name"></control-validations-errors>
    </div>
    <div class="col-md-6">
      <label>{{'form.ssn' | translate}}<span class="reqstart">*</span></label>
      <input class="form-control" type="text" formControlName="ssn" (keypress)="keyPress($event)" maxlength="10">
      <control-validations-errors *ngIf="submit" [control]="form.controls.ssn"></control-validations-errors>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>{{'form.email' | translate}}<span class="reqstart">*</span></label>
      <input class="form-control" type="text" formControlName="email">
      <control-validations-errors *ngIf="submit" [control]="form.controls.email"></control-validations-errors>
    </div>

    <div class="col-md-6">
      <label>{{'form.phone' | translate}}<span class="reqstart">*</span></label>
      <input class="form-control" type="text" formControlName="phone" (keypress)="keyPress($event)" maxlength="12">
      <control-validations-errors *ngIf="submit" [control]="form.controls.phone"></control-validations-errors>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>{{'form.category' | translate}}<span class="reqstart">*</span></label>
      <select class="form-control" formControlName="category">
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
      <control-validations-errors *ngIf="submit" [control]="form.controls.category"></control-validations-errors>
    </div>
    <div class="col-md-6">
      <label>{{'form.item' | translate}}<span class="reqstart">*</span></label>
      <select class="form-control" formControlName="item">
        <option *ngFor="let item of items" [value]="item.value">{{item.text}}</option>
      </select>
      <control-validations-errors *ngIf="submit" [control]="form.controls.item"></control-validations-errors>
    </div>
  </div>
  <div class="row" *ngIf="std_invalid">
    <div class="col-md-12 alert alert-danger text-center">
      <strong>{{'form.std_invalid_msg' | translate}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>{{'form.subject' | translate}}<span class="reqstart">*</span></label>
      <input class="form-control" type="text" formControlName="subject">
      <control-validations-errors *ngIf="submit" [control]="form.controls.subject"></control-validations-errors>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>{{'form.description' | translate}}<span class="reqstart">*</span></label>
      <textarea class="form-control" style="height: auto;" formControlName="description" rows="5"></textarea>
      <control-validations-errors *ngIf="submit" [control]="form.controls.description"></control-validations-errors>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="state">
        <h6>{{"form.attachment"|translate}}</h6>
        <div class="custom-file">
          <input name="imageUrl2" type="file" accept="*/*" (change)="onFileSelect($event)" id="customFileLangsss"
            class="custom-file-inputsss" />
          <label for="customFileLangsss" id="customFileLangLabel" class="custom-file-labelsss"></label>
        </div>
        <control-validations-errors *ngIf="submit" [control]="form.controls.file"></control-validations-errors>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="state">
        <h6>{{"form.captcha"|translate}} <span class="reqstart">*</span></h6>
        <re-captcha #recaptchaRef (resolved)="resolved($event)" [siteKey]="environment.captchaSiteKey"></re-captcha>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
      <h6 class="text-danger">{{'form.note1' | translate}}</h6>
      <h6 class="text-danger">{{'form.note2' | translate}}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <button class="btn btn-suggest" type="submit">
        {{"form.send"|translate}}</button>
    </div>
  </div>
</form>