<ActionBar style="background:#001628; ">
    <!-- 
      Use the NavigationButton as a side-drawer button in Android
      because ActionItems are shown on the right side of the ActionBar
      -->
    <!-- 
      Use the ActionItem for IOS with position set to left. Using the
      NavigationButton as a side-drawer button in iOS is not possible,
      because its function is to always navigate back in the application.
      -->
      <Label text="{{'wafi.AddNewRequest'|translate}}" class="label-action"></Label>

      <!--<Image style="width: 100%;" [nsRouterLink]="['/land']" src="~/images/logo_3d.png"></Image>-->
    <NavigationButton icon="font://&#xf104;" style="font-size: 25px;" class="fas icon-action" (tap)="goBack()"
      ios.position="left"></NavigationButton>
  
  </ActionBar>
  <ScrollView>
    <ActivityIndicator [busy]="isLoading" color="#6189f4" horizontalAlignment="center"></ActivityIndicator>
  
    <FlexboxLayout flexDirection="column" *ngIf="!isLoading">

      <StackLayout height="100%" *ngIf="!isLoading">
        <StackLayout>
  
          <FlexboxLayout flexDirection="column">
            <FlexboxLayout flexDirection="column">
  
              <StackLayout class="ysBox">
                <GridLayout *ngIf="msg"  rows="auto" columns="*,150">
                  <Label row="0"  colspan="2" class="ysPBox" textWrap="true" style="font-weight: 800;"
                  text='{{msg}}'></Label>
                   
                  </GridLayout>
                <GridLayout *ngIf="ddltruefalse==true"  rows="auto" columns="*,150">
                  <Label row="0"  colspan="2" class="ysPBox" textWrap="true" style="font-weight: 800;"
                  text='{{"wafi.vacationtype" | translate}} :'></Label>
                   
                  </GridLayout>
                  <GridLayout *ngIf="ddltruefalse==true"  rows="auto" columns="*,150">
                    
                      <DropDown horizontalAlignment="center" colspan="2"  row="1"  class="dro"
                    [items]="vacsDropDown"
                    (selectedIndexChanged)="changeVac($event)"
                    hint='{{"wafi.vacationtype" | translate}}'
                    itemsTextAlignment="center" style="text-align: center;width: 100%;" >
                  
                  </DropDown>
                    </GridLayout>

                    <GridLayout *ngIf="ddltruefalse==false"  rows="auto" columns="*,150">
                      <Label row="0"  colspan="2"   class="ysPBox2" textWrap="true" text='{{"wafi.normal" | translate}}'></Label>                                   

                      
                    </GridLayout>
               
                  <GridLayout  rows="auto"  columns="*,150">
                                  
                    <Label row="0"  column="1" class="ysPBox" textWrap="true"  style="font-weight: 800;" text='الرصيد :'></Label>
                    <Label row="0"  column="0" class="ysPBox2" textWrap="true" text="{{ vacationsbal}} يوم"></Label>                                   
                  </GridLayout>
                  <GridLayout  rows="auto"  columns="*">
                                  
                    <Label row="0"  colSpam="2" class="ysPBox" textWrap="true"  style="font-weight: 800;" text='{{"wafi.date"|translate}}'></Label>
                       
                          </GridLayout>
                          <GridLayout  rows="auto"  columns="*,150">
                            <label class="ysPBox"  row="0" col="1" text="اختر السنه"></label>
                            <DropDown horizontalAlignment="center" col="0" row="0"  class="dro"
                            [items]="yearsDropDown"
                            (selectedIndexChanged)="changeYear($event)"
                            hint="{{'wafi.year'|translate}}"
                            itemsTextAlignment="center" style="text-align: center ;width: 100%;" >
                          
                          </DropDown>
                          </GridLayout>
                          <GridLayout   rows="auto"  columns="*,150">
                            <label class="ysPBox"  row="0" col="1" text="{{'wafi.day'|translate}}"></label>
                            <DropDown horizontalAlignment="center" col="0" row="0"  class="dro"
                            [items]="daysDropDown"
                            (selectedIndexChanged)="changeDay($event)"
                            hint="{{'wafi.day'|translate}}"
                            itemsTextAlignment="center" style="text-align: center ;width: 100%;" >
                          
                          </DropDown>
                          </GridLayout>
                          <GridLayout  rows="auto"  columns="*,150">
                            <label class="ysPBox" row="0" col="1" text='{{"wafi.month"|translate}}'></label>
                            <DropDown horizontalAlignment="center" col="0" row="0"  class="dro"
                            [items]="monthesDropDown"
                            (selectedIndexChanged)="changeMonth($event)"
                            hint=' {{"wafi.month"|translate}}'
                            itemsTextAlignment="center" style="text-align: center ;width: 100%;" >
                          
                          </DropDown>                          </GridLayout>

                          <GridLayout  rows="auto"  columns="*,150">
                            <label class="ysPBox" row="0" col="1" text="{{'wafi.timePeriod'|translate}}"></label>
                            <TextField class="ysPBox2" keyboardType="number" col="0" row="0" hint="{{'wafi.timePeriod'|translate}}"  [(ngModel)]='dataObject.timePeriod' ></TextField>
                          </GridLayout>

                          <GridLayout  rows="auto"  columns="*,150">
                            <label class="ysPBox"  row="0" col="1" text="{{'wafi.compensation'|translate}}"></label>
                            <DropDown horizontalAlignment="center" col="0" row="0"  class="dro"
                            [items]="compErkabItemsDropDown"
                            (selectedIndexChanged)="changecomp($event)"
                            hint=' {{"wafi.compensation"|translate}}'
                            itemsTextAlignment="center" style="text-align: center ;width: 100%;" >
                          
                          </DropDown>
                          </GridLayout>



                          <GridLayout  rows="auto"  columns="*,150">
                            <label class="ysPBox"  row="0" col="1" text="{{'wafi.altEemployee'|translate}}"></label>
                            <DropDown horizontalAlignment="center" col="0" row="0"  class="dro"
                            [items]="altempDropDown"
                            (selectedIndexChanged)="changealtemp($event)"
                            hint=' {{"wafi.altEemployee"|translate}}'
                            itemsTextAlignment="center" style="text-align: center ;width: 100%;" >
                          
                          </DropDown>
                          </GridLayout>

                          <GridLayout  rows="auto"  columns="*,150">
                            <label class="ysPBox"  row="0" col="1" text="{{'wafi.tocountry'|translate}}"></label>
                            <DropDown horizontalAlignment="center" col="0" row="0"  class="dro"
                            [items]="countryDropDown"
                            (selectedIndexChanged)="changecountry($event)"
                            hint=' {{"wafi.tocountry"|translate}}'
                            itemsTextAlignment="center" style="text-align: center ;width: 100%;" >
                          
                          </DropDown>
                          </GridLayout>


                          <GridLayout  rows="auto"  columns="*,150">
                            <label class="ysPBox"  row="0" col="1" text="{{'wafi.citycountry'|translate}}"></label>
                            <DropDown horizontalAlignment="center" col="0" row="0"  class="dro"
                            [items]="cityDropDown"
                            (selectedIndexChanged)="changecity($event)"
                            hint=' {{"wafi.citycountry"|translate}}'
                            itemsTextAlignment="center" style="text-align: center ;width: 100%;" >
                          
                          </DropDown>
                          </GridLayout>


                          <GridLayout   rows="auto"  columns="*,150">
                            <label class="ysPBox"  row="0" col="1" text="{{'wafi.vacationLoc'|translate}}"></label>
                            <TextField class="ysPBox2"  col="0" row="0"  hint=" {{'wafi.vacationLoc'|translate}}" [(ngModel)]='dataObject.vacationLoc' ></TextField>

                          </GridLayout>

                          <GridLayout   rows="auto"  columns="*,150">
                            <label class="ysPBox"  row="0" col="1" text="{{'wafi.phone'|translate}}"></label>
                            <TextField class="ysPBox2" keyboardType="number" col="0" row="0"  hint=" {{'wafi.phone'|translate}}" [(ngModel)]='dataObject.phone' ></TextField>

                          </GridLayout>

                          <GridLayout   rows="auto"  columns="*,150">
                            <label class="ysPBox"  row="0" col="1" text="{{'wafi.notes'|translate}}"></label>
                            <TextField class="ysPBox2"  col="0" row="0"  hint=" {{'wafi.notes'|translate}}" [(ngModel)]='dataObject.notes' ></TextField>

                          </GridLayout>

                          <GridLayout rows="*,*" columns="*,*">

                            <Button row="1" col="1" text='{{"wafi.Submit" | translate}}'   class=" print-btn " (tap)="onFormSubmit(dataObject)" ></Button>
                            <Button row="1" col="0" text='{{"wafi.back" | translate}}'    [disabled]="submitted" class=" print-btn "  (tap)="back()"></Button>
                          </GridLayout>
                     

              </StackLayout>
            </FlexboxLayout>
          </FlexboxLayout>
        </StackLayout>
      </StackLayout>
    </FlexboxLayout>
  </ScrollView>