.attend{
    background-color: #128a00;
    padding: 2px 10px;
    border-radius: 3px;
    color: #FFF;
}
.not-attend{
    background-color: #eb525d;
    padding: 10px;
    border-radius: 3px;
    color: #FFF;
}
.not-attend-yet{
    background-color: #999;
    padding: 10px;
    border-radius: 3px;
    color: #FFF;
}