<seu-loader [isLoading]="loading"></seu-loader>
<mat-dialog-content>

  <div class="modal-dialog" role="document" style="direction: rtl;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="text-align: center" class="modal-title " id="exampleModalLabel">
          {{"services.master_refund.title"|translate}}
        </h5>

      </div>
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="modal-body">
          <div class="state">
            <h6>{{"services.master_refund.refund_type"|translate}}</h6>
            
            <select name="refund_type" #refund_type="ngModel" [(ngModel)]="payrefund.refund_type" class="form-control"
            [class.is-invalid]="payrefund.refund_type==''">
            <option value="">{{"services.master_refund.refund_type"|translate}}</option>
            <option *ngFor="let item of reftype" value="{{item.id}}">{{item.value}}</option>
          </select>
          </div>

          <div class="state">
            <h6>{{"services.master_refund.name"|translate}}</h6>
            <input name="name" #name="ngModel" [(ngModel)]="payrefund.name" class="form-control">
          </div>
          <div class="state">
            <h6>{{"services.master_refund.bank_name"|translate}}</h6>
            <input name="bank_name" #name="ngModel" [(ngModel)]="payrefund.bank_name" class="form-control">
          </div>

          <div class="state">
            <h6>{{"services.master_refund.iban"|translate}}</h6>
            <input name="iban" #name="ngModel" [(ngModel)]="payrefund.iban" (keypress)="keyPress($event)" maxlength="22" class="form-control">
          </div>
          <div class="state">
            <h6>{{"services.master_refund.last_four_id"|translate}}</h6>
            <input name="last_four_id" #name="ngModel" [(ngModel)]="payrefund.last_four_id" (keypress)="keyPress($event)" maxlength="4" class="form-control">
          </div>

          <div class="state">
            <h6>{{"services.master_refund.refund_reason"|translate}}</h6>
            <input name="refund_reason" #name="ngModel" [(ngModel)]="payrefund.refund_reason" class="form-control">
          </div>
         
          <div class="state">
            <h6>{{"services.master_refund.national_id"|translate}}</h6>
            <div class="custom-file">
              <input class="custom-file-input" name="national_id" id="file" type="file" accept="*/*"
              (change)="handleInputChange($event)" />
              <label for="file" class="custom-file-label ">
              </label>
            </div>
              </div>
              <div class="state">
                <h6>{{"services.master_refund.payment_reciept_copy"|translate}}</h6>
                <div class="custom-file">
                  <input class="custom-file-input" name="payment_reciept_copy" id="file" type="file" accept="*/*"
                  (change)="handleInputChangeFile($event)" />
                  <label for="file" class="custom-file-label ">
                  </label>
                </div>
                  </div>

         

         

         
         

        </div>

        <div class="modal-footer">
          <button type="button" (click)="closeDiag()" class="btn btn-outline"><i class="ik ik-x"></i>
            {{"services.master_refund.cancel"|translate}}</button>

          <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i>
            {{"services.master_refund.save"|translate}}</button>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
