<mat-dialog-content dir="rtl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="text-align: center" class="modal-title " id="exampleModalLabel">
          {{"services.change_schedule.title"|translate}}</h5>
      </div>
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 alert alert-info">
              <ol>
                <li *ngFor="let cond of conditions">{{ cond }}</li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="padding: 20px;">
              <div class="form-check">
                <input style="cursor: pointer;" class="form-check-input" (change)="acceptChange($event)" type="checkbox" value="1">
                <label style="margin-right: 3px;" class="form-check-label">{{"services.change_schedule.accept"|translate}}</label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="accept" style="padding: 10px;">
            <div class="col-md-6">
              <div class="form-group">
                <h6>{{"services.change_schedule.days"|translate}}</h6>
                <select (change)="dayChange($event.target.value)" [(ngModel)]="day" name="day" class="form-control">
                  <option value="1">{{"services.change_schedule.sunday"|translate}}</option>
                  <option value="2">{{"services.change_schedule.monday"|translate}}</option>
                  <option value="3">{{"services.change_schedule.tuesday"|translate}}</option>
                  <option value="4">{{"services.change_schedule.wednesday"|translate}}</option>
                  <option value="5">{{"services.change_schedule.thursday"|translate}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <h6>{{"services.change_schedule.durations"|translate}}</h6>
                <select [(ngModel)]="dur" name="dur" class="form-control">
                  <option *ngIf="duration && duration.DURATION_AM == 1" value="am">{{"services.change_schedule.am"|translate}}</option>
                  <option *ngIf="duration && duration.DURATION_PM == 1" value="pm">{{"services.change_schedule.pm"|translate}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="closeDiag()" class="btn btn-outline"><i
              class="ik ik-x"></i>{{"general.cancel"|translate}}</button>
          <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i>
            {{"general.save"|translate}}</button>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
