<app-header></app-header>

<ScrollView>
<FlexboxLayout flexDirection="column">

    <FlexboxLayout flexDirection="row-reverse" *ngIf="!isLoading && msgs.length>0">
        <ListView [items]="msgs">
            <ng-template let-item="item">
                <Label verticalAlignment="center" [text]="item.body" class="ysMsg"></Label>
            </ng-template>
        </ListView>
    </FlexboxLayout>

    <GridLayout  columns="auto, *" class="serv-title">
        <Label col="1"  text="&#xf0d9;" class="fas serv-ico-r"></Label>
        <Label col="1"  text='{{"menu.graduateprofile"|translate}}' class="serv-name" ></Label>
        <Label col="1"  text="&#xf0da;" class="fas serv-ico "></Label>
    
    </GridLayout>

    <ActivityIndicator [busy]="isLoading" color="#6189f4"></ActivityIndicator>

    <FlexboxLayout flexDirection="row-reverse" alignItems="center" *ngIf="!isLoading" justifyContent="center">
        <Button text='{{"general.request.add_request"|translate}}' *ngIf="reqData.can_add_new_request" (tap)="onTap()" class="print-btn"></Button>
    </FlexboxLayout>

    <GridLayout rows="auto,auto,auto,auto,auto,auto,auto" columns="*,150" class="ysBox" *ngFor="let item of reqData.reqs;let i=index;">
                              
        <Label row="0" column="1" class="ysPBox" style="font-weight: 800;" text='{{"general.request.req_no"|translate}} :'></Label>
        <Label row="0"  column="0" class="ysPBox2" text="{{item.request_number}}"></Label>
    
        <Label row="1" column="1" class="ysPBox" style="font-weight: 800;" text='{{"general.request.req_date"|translate}} :'></Label>
        <Label row="1"  column="0" class="ysPBox2" text="{{item.INSRT_DATE}}" style="text-align: right;"></Label>

        <Label row="2" column="1" class="ysPBox fas -rounded-sm" style="font-weight: 800;" text='&#xf06e;'></Label>
        <Button row="2"  column="0" (tap)="openDialoge()" class="ysPBox2 fas -rounded-sm" text='&#xf06e;'></Button>

        <Label row="3" column="1" class="ysPBox" style="font-weight: 800;" text='{{"general.request.req_date"|translate}} :'></Label>
        <Label row="3"  column="0" class="ysPBox2" text="{{item.insert_date}}" style="text-align: right;"></Label>

        <Label row="4" column="1" class="ysPBox" style="font-weight: 800;" text='{{"general.request.req_delete"|translate}} :'></Label>
          
        <Button row="4"  column="0" class="ysPBox2" *ngIf='item.deletable' [disabled]='deleting' text="&#xf1f8;" (tap)="delete(item.request_number,i)" class="blue-button fas  -rounded-sm" style="width:15%;margin-left: 150;"></Button>
        <Label row="4"  column="0" class="ysPBox2" *ngIf='!item.deletable' text='{{"general.request.non_cancelable_request"|translate}}' textWrap="true"></Label>
      </GridLayout>

</FlexboxLayout>
</ScrollView>