<mat-dialog-content dir="rtl" style="max-height: 85vh;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- if -->
            <div *ngIf="!conditions" class="modal-header">
                <h5 class="modal-title">{{"refund.conditions"|translate}}</h5>
            </div>
            <div *ngIf="!conditions" class="modal-body">
                <section class="ser-state">
                    <div class="container">
                        <div class="row ser-block">
                            <div class="col-md-12">
                                <ul class="list-group list-unstyled">
                                    <li class="li-list">{{"refund.condition_1"|translate}}</li>
                                    <li class="li-list">{{"refund.condition_2"|translate}}</li>
                                    <li class="li-list">{{"refund.condition_3"|translate}}</li>
                                    <li class="li-list">{{"refund.condition_4"|translate}}</li>
                                    <li class="li-list">{{"refund.condition_5"|translate}}</li>
                                    <li class="li-list">{{"refund.condition_6"|translate}}</li>
                                    <li class="li-list">{{"refund.condition_7"|translate}}</li>
                                    <li class="li-list">{{"refund.condition_8"|translate}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div *ngIf="!conditions" class="modal-footer">
                <button (click)="agree_conditions()" type="button" class="btn btn-dark"><i class="fas fa-check-circle"></i>
                    {{"refund.agree"|translate}}</button> 
            </div>
            <!-- else -->
            <form *ngIf="conditions" role="form" [formGroup]="add_request_form" autocomplete="off" (submit)="onSubmit(form)">
                <div class="modal-header">
                    <h5 class="modal-title">{{"refund.add_refund_request"|translate}}</h5>
                </div>
                <div class="modal-body" style=" min-height: 30vh;">
                    <section class="ser-state">
                        <div class="container">
                            <div class="row ser-block">
                                <div class="col-md-12 col-sm-12">
                                    <div class="state">
                                        <h6>{{"refund.case"|translate}}<span class="reqstart">*</span></h6>
                                        <ng-select (change)="change_cases($event)" [items]="cases" bindLabel="TITLE_AR" bindValue="CODE" formControlName="CASE">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="message == 'exam_obj_reqs'" class="row ser-block">
                                <div class="col-md-12 col-sm-12">
                                    <div class="state">
                                        <h6>{{"refund.exam_obj_reqs"|translate}}<span class="reqstart">*</span></h6>
                                        <ng-select [items]="exam_obj_reqs" bindLabel="CRSE_TITLE" bindValue="ID" formControlName="EXAM_OBJ_REQ_ID">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="message == 'service_finish_message'" class="row ser-block">
                                <div class="col-md-12 col-sm-12 alert alert-danger text-center">
                                    <strong>{{"refund.service_finish_message"|translate}}</strong>
                                </div>
                            </div>
                            <div *ngIf="message == 'std_not_pay_message'" class="row ser-block">
                                <div class="col-md-12 col-sm-12 alert alert-danger text-center">
                                    <strong>{{"refund.std_not_pay_message"|translate}}</strong>
                                </div>
                            </div>
                            <div *ngIf="message == 'std_have_no_balance_message'" class="row ser-block">
                                <div class="col-md-12 col-sm-12 alert alert-danger text-center">
                                    <strong>{{"refund.std_have_no_balance_message"|translate}}</strong>
                                </div>
                            </div>
                            <div *ngIf="message == 'std_have_balance'" class="row ser-block">
                                <div class="col-md-12 col-sm-12">
                                    <div class="state">
                                        <h6>{{"refund.balance"|translate}}</h6>
                                        <div style="background-color:#5b3283; padding: 10px; border-radius: 3px; color: #FFF; text-align: center;">
                                           <strong>{{balance}} {{"refund.SAR"|translate}}</strong> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="message == 'service_pay_message'" class="row ser-block">
                                <div class="col-md-12 col-sm-12">
                                    <div class="state">
                                        <h6>{{"refund.proof_file"|translate}}</h6>
                                        <input type="file" accept="*/*" (change)="handleInputChange($event)" id="file" class="form-control-file form-control">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="filename_handle" class="row ser-block">
                                <div class="col-md-12 col-sm-12">
                                    <div class="state">
                                        <div style="background-color:#5b3283; padding: 10px; border-radius: 3px; color: #FFF; text-align: center;">
                                            <strong>{{filename}}</strong> 
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div *ngIf="valid" class="modal-footer">
                    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i>
                        {{"refund.send"|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>