<mat-dialog-content dir="rtl">
  <div class="modal-content">
    <div class="modal-header">

      <h5 style="text-align: center" class="modal-title " id="exampleModalLabel">{{"services.term_execuse_master.title"}}
      </h5>

    </div>
    <div class="modal-body">
      <P class="text-center">
        <span style="color: red;">تنبيه:</span> {{"services.term_execuse_master.alert"}}
        {{"services.term_execuse_master.desire"}}      </P>

      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="main-content">
          <section class="ser-state">
            <div class="container">
              <div class="row ser-block">
                <div class="col-md-12 col-sm-12">
                  <div class="state">
                    <h6> {{"services.term_execuse_master.count"}} </h6>

                    <select name="num_terms" #num_terms="ngModel" [(ngModel)]="termExecuse.num_terms"
                      class="form-control">
                      <option value="">{{"services.term_execuse_master.choose_count"}}</option>
                      <option *ngFor="let item of reqData.terms" value="{{item.id}}">{{item.value}}</option>
                    </select>

                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="state">
                    <h6>{{"services.term_execuse_master.mobile"}}</h6>

                    <input name="mobile" type="text" #mobile="ngModel" [(ngModel)]="termExecuse.mobile"
                      class="form-control" />

                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="state">
                    <h6>{{"services.term_execuse_master.reason"}}</h6>

                    <textarea name="reason" type="text" #reason="ngModel" [(ngModel)]="termExecuse.reason"
                      class="form-control">
                                    </textarea>


                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>

              </div>
            </div>
          </section>




          <div style="margin-top: 10px;">
            <div class="btn-group" style="direction: ltr" role="group" aria-label="Basic example">
              <button type="button" (click)="closeDiag()" class="btn btn-outline"><i class="ik ik-x"></i>{{"general.cancel"|translate}}</button>

              <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> {{"general.save"|translate}}</button>
            </div>
          </div>

        </div>
      </form>
    </div>

  </div>

</mat-dialog-content>
