<div class="main-content">

  <section _ngcontent-fpr-c11="" class="service-single ">
    <div _ngcontent-fpr-c11="" class="container">
      <h3 _ngcontent-fpr-c11=""> {{"services.training_request.title"|translate}} </h3>
      <div _ngcontent-fpr-c11="" class="row">
        <div _ngcontent-fpr-c11="" class=" col-md-5">
          <p _ngcontent-fpr-c11=""> {{"services.training_request.desc"|translate}} </p>
        </div>
      </div>
    </div>
  </section>
  <div *ngIf="isLoading" class=" loading-indicator  ">
    <div class="state">


      <mat-spinner *ngIf="isLoading"
        style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;">
      </mat-spinner>

    </div>
  </div>
  <div class="ser-state" *ngIf="!isLoading">
    <div *ngFor="let msg of msgs"
      [ngClass]="msg.type == 'info' ? 'alert alert-info' : (msg.type == 'error' ? 'alert alert-danger' : (msg.type == 'success' ? 'alert alert-success' : 'alert alert-warning'))"
      role="alert">
      {{msg.body}}
    </div>
  </div>
  <br />
  <!-- <div style="direction: ltr;text-align: center">

        <button *ngIf="reqData.can_add_new_request" type="button" class="btn btn-primary"  (click)="openDialoge()">
        اضافة طلب <i class="ik ik-plus"></i>
      </button>
      <br/>
      <br/>

      </div> -->
  <div class="widget" *ngIf="!isLoading">
    <div class="widget-header">
      <h3 class="widget-title"> {{"general.request.pre_requests"|translate}}
        <button *ngIf="reqData.can_add_new_request" type="button" class="btn btn-primary" (click)="openDialoge()">
          {{"general.request.add_request"|translate}} <i class="ik ik-plus"></i>
        </button>
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">{{"services.training_request.destination"|translate}}</th>
            <th scope="col">{{"general.request.req_date"|translate}}</th>
            <th scope="col">{{"general.request.req_print"|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let it of reqData.reqs;let i=index;">
            <td>{{it.organization_name}}</td>
            <td>{{it.insert_date}}</td>

            <td><a class="btn btn-primary" seu-auto-print [href]="print(it.request_number)"><span class="ik ik-printer"></span>
                {{"general.print" | translate}} </a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="jumbotron jumbtron-fluid" *ngIf="!isLoading">
      <div class="row mb-10">
        <div style="margin-top: 15px;">
          <h3 style="direction: rtl;float: right;text-align: right;padding-right: 50px">
            {{"services.training_request.instructions"|translate}} </h3>
        </div>
      </div>
      <div class="row">
        <ul>
          <li>{{instructions['txt1']}}</li>
          <li>{{instructions['txt2']}}
            <ng-container *ngIf="instructions['formAr']">
              <a [href]="instructions['formAr']">{{"services.training_request.form_ar"|translate}}</a>
            </ng-container>
            <ng-container *ngIf="instructions['formEn']">
              <a [href]="instructions['formEn']">{{"services.training_request.form_en"|translate}}</a>

            </ng-container>
            <ng-container *ngIf="instructions['StudentLink']">
              <a [href]="instructions['StudentLink']">{{"services.training_request.student_form"|translate}}</a>
            </ng-container>
          </li>
          <li *ngIf="instructions['txt3']">{{instructions['txt3']}}</li>
          <li *ngIf="instructions['txt4']">{{instructions['txt4']}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>