<ActionBar >
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

-->
    

   
<ActionItem icon="res://menu"  (tap)="onDrawerButtonTap()"
        ios.position="left" >
    </ActionItem>    
    <Label text='{{"services.absence_quyery.title" |translate}}'></Label>
</ActionBar>

<StackLayout>
    <ActivityIndicator [busy]="isLoading" color="#6189f4"></ActivityIndicator>
</StackLayout>

	<StackLayout>
        <FlexboxLayout flexDirection="column" justifyContent="flex-start"  *ngIf="reqData &&reqData.length>0;else array1">
            <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="throw"> 

                <label text='{{"general.course_name" | translate}}/{{"general.crn" | translate}}'></label>
                <label text='{{"general.course_code" | translate}}'></label>
                <label text='{{"general.vitrual" |translate}}'></label>
                <label text='{{"general.class" |translate}}'></label>
                <label text='{{"general.total" |translate}}'></label>
            </FlexboxLayout>

            <FlexboxLayout alignItems="center" justifyContent="space-between" flexWrap="nowrap" *ngFor="let item of reqData" flexDirection="row-reverse" 
              class="trow">

              <FlexboxLayout alignItems="center" flexWrap="nowrap" flexDirection="column">
                <Label [text]="item.CRS_TITLE" ></Label>
                <Label [text]="item.CRN"></Label>
            </FlexboxLayout>
                <Label [text]="item.CRES_CODE"  ></Label>
                <Label [text]="item.VCOUNT" ></Label>
                <Label [text]="item.FCOUNT" ></Label>
                <Label [text]="item.TOTAL" ></Label>

            </FlexboxLayout>
        </FlexboxLayout>
        <ng-template #array1>
            <Label text='{{"general.no_absence_registered" |translate}}' class="trow"></Label>
        </ng-template>

	</StackLayout>
	
