<div id="side-menu" class="app-sidebar colored">
  <div class="sidebar-header d-none">
    <a id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></a>
    <a class="header-brand" href="#">
      <div class="logo-img">
        <img src="assets/images/logo-ar.png" class="header-brand-img" alt="lavalite">
      </div>
    </a>
  </div>
  <div class="sidebar-content">
   
    <div class="nav-container">
      <nav id="main-menu-navigation" class="navigation-main">
        <div class="nav-item has-sub ">
          <a href="#" class="menu-item homelink" routerLink="/apps">
            <span>{{"home" | translate}}</span>
            <i class="ik ik-home"></i>
          </a>
        </div>
    <div class="nav-item has-sub">         
       
          <a href="#" class="menu-item" routerLink="/apps/admission-ug/admission-result">              
            <span> {{'Adminssion Result' | translate}} </span>
            <i class="ik ik-user-check"></i>
          </a>  
          <a *ngIf="admissionugService.isLoggedIn==false" href="#" class="menu-item" routerLink="/apps/admission-ug/ug-login">              
            <span> {{'Log In' | translate}} </span>
            <i class="ik ik-user-check"></i>
          </a>  
          <a *ngIf="admissionugService.isLoggedIn==true" href="#" class="menu-item" (click)="logout()">              
            <span> {{'Log Out' | translate}} </span>
            <i class="ik ik-user-check"></i>
          </a>  

          <a *ngIf="admissionugService.isLoggedIn==true"  href="#" class="menu-item" routerLinkActive="active"  routerLink="/apps/admission-ug/pay-fee">              
            <span> {{'Pay the Fee' | translate}} </span>
            <i class="ik ik-user-check"></i>
          </a>  
          <a href="#" *ngIf="admissionugService.isLoggedIn==true" class="menu-item" routerLink="/apps/admission-ug/upload-documents">              
            <span> {{'Upload Document' | translate}} </span>
            <i class="ik ik-user-check"></i>
          </a>  
           
     </div>


          
   
      </nav>
    </div>
  </div>
</div>