<div class="main-content">
  <!-- <mat-spinner  *ngIf="isLoading" style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;"></mat-spinner> -->
  <section class="service-single ">
    <div class="container">
      <h3> الحالة الأكاديمية </h3>
      <div class="row">
        <div class=" col-md-5">
          <p> الحالة الأكاديمية</p>
        </div>
        <!-- <div class=" col-md-6 descr">
                      <span>مدة الإنجاز : <span class="badge">3 يوم</span> </span>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <a href="{{arabicPrint}}"><i class="ik ik-download"></i> </a>
                        <a href="#"><i class="ik ik-film"></i></a>
                    </div> -->
      </div>
    </div>
  </section>
  <div *ngIf="isLoading" class=" loading-indicator ">
    <div class="state">


      <mat-spinner *ngIf="isLoading"
        style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;">
      </mat-spinner>

    </div>
  </div>
  <div class="ser-state" *ngIf="!isLoading">
  </div>
  <div class="widget" *ngIf="!isLoading">
    <div class="widget-header">
      <h3 class="widget-title">بيانات الطالب / الطالبة</h3>
    </div>
    <section class="ser-state">
      <div class="container">

        <div class="row ser-block">
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>اسم الطالب / الطالبة </h6>
              <h5>{{student.name}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info"></div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>الرقم الجامعي </h6>
              <h5>{{student.std_id}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info"></div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>رقم الهوية </h6>
              <h5>{{student.ssn}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info"></div>
            </div>
          </div>
        </div>

        <div class="row ser-block">
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>فصل القبول </h6>
              <h5>{{student.std_adm_term_label}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info"></div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>الحالة الأكاديمية الحالية </h6>
              <h5>{{student.current_acadimic_status_label}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info"></div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>المعدل التراكمي النهائي </h6>
              <h5>{{student.final_graduation_GPA}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info"></div>
            </div>
          </div>
        </div>

        <div class="row  ser-block">
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>الوضع الأكاديمي</h6>
              <h5> {{student.acadimic_position_label}}</h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info"></div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>الرسوم الدراسية </h6>
              <h5>{{student.std_fees}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <section class="ser-state" *ngIf="!isLoading">

    <div class="container">
      <div class="widget">
        <div class="widget-header">
          <div class="row">
            <div class="col-md-6">
              <h3 class="widget-title" style="font-size:12px;text-align: right">الحالة الأكاديمية للطالب خلال الفصول
                الدراسية </h3>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">الفصل الدراسي </label>
                <div class="col-sm-9">

                  <select name="trems" [(ngModel)]="selectedSems" #t (change)="getTrmsDetails(t.value)"
                    class="form-control">
                    <option *ngFor="let item of studentTerms" value="{{item.TERM_CODE}}">{{item.TERM_DESC}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isLoadingTerm" class=" loading-indicator ">
          <div class="state">

            <h5> جاري تحميل البيانات .....................</h5>

            <mat-spinner *ngIf="isLoadingTerm"
              style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;">
            </mat-spinner>

          </div>
        </div>
        <div class="row ser-block" *ngIf="!isLoadingTerm">
          <div class="col-md-4 col-sm-12 ">
            <div class="state">
              <h6>الكلية</h6>
              <h5> {{studentTermDetails.COLL_CODE}} </h5>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info"></div>
              </div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12 ">
            <div class="state">
              <h6>التخصص</h6>
              <h5> {{studentTermDetails.MAJR_code}}</h5>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info"></div>
              </div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12 ">
            <div class="state">
              <h6>الفرع</h6>
              <h5> {{studentTermDetails.CAMP_code}}</h5>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row ser-block" *ngIf="!isLoadingTerm">
          <div class="col-md-4 col-sm-12 ">
            <div class="state">
              <h6>المعدل التراكمي </h6>
              <h5>{{studentTermDetails.gba}}</h5>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info"></div>
              </div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12 ">
            <div class="state">
              <h6>حالة التسجيل </h6>
              <h5> {{studentTermDetails.RegisterationStatus}}</h5>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info"></div>
              </div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12 ">
            <div class="state">
              <h6>المستوي الدراسي</h6>
              <h5>{{studentTermDetails.study_level}} </h5>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info"></div>
              </div>
            </div>
          </div>
        </div>


        <div class="row ser-block" *ngIf="!isLoadingTerm">
          <div class="col-md-4 col-sm-12 ">
            <div class="state">
              <h6>الحالة الأكاديمية</h6>
              <h5>{{studentTermDetails.acadimic_status}} </h5>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info"></div>
              </div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12 ">
            <div class="state">
              <h6>الوضع الأكاديمي </h6>
              <h5>{{studentTermDetails.ACADIMICPOSITION}}</h5>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info"></div>
              </div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12 ">
            <div class="state">
              <h6>المرحلة الدراسية</h6>
              <h5> {{studentTermDetails.STD_UGGR}}</h5>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info"></div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
  <div style="text-align: center" class="prin" *ngIf="!isLoading">
    <a class="btn" href="{{arabicPrint}}">عربي <i class="ik ik-save"></i> </a>
    <a class="btn" href="{{EngPrint}}"> <i class="ik ik-save"></i> English </a>
  </div>

</div>
