.h1{
    font-size: 16;
    color: navy;
    font-weight: bold;
    margin-left: 25;
}

.h2{
    font-size: 14;
    font-weight: bold;
    margin-left: 25;
}

.table-row{
    padding: 10;
    border-width: 1;
    border-color: gray;
    border-radius: 8;
}

.table-row-dark{
    background-color: lightgray;
    padding: 10;
    padding: 10;
    border-width: 1;
    border-color: gray;
    border-radius: 8;

}
DropDown{
    width: 50%;
    color: chocolate;
    margin-top: 10;
    font-size: 14;
    font-weight: bold;
    padding: 10;
}
.buttonsLayout{
    margin-top: 10;
}
.my-button {
    background-color: navy;
    border-color: navy;
    border-radius: 10;
    border-width: 1;
    color: whitesmoke;
    font-size: 14;
    font-weight: bold;
}
.my-button:active {
    background-color: whitesmoke;
    border-color: navy;
    border-radius: 10;
    border-width: 1;
    color: navy;
    font-size: 14;
    font-weight: bold;
}
