<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="الحالة الاكاديمية"></Label>
</ActionBar>

<ScrollView>
    <FlexboxLayout  flexDirection="column" style="padding: 20;">

        <ActivityIndicator [busy]="isLoading" color="navy" verticalAlignment="center" horizontalAlignment="center"></ActivityIndicator>

        <FlexboxLayout justifyContent="center" *ngIf="!isLoading" class="h1">
            <label text="بيانات الطالب/الطالبة"></label>
        </FlexboxLayout>

        <FlexboxLayout  *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="اسم الطالب / الطالبة" class="h1"></label>
            <label text="الرقم الجامعي" class="h1"></label>
            <label text="رقم الهوية" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row">
            <label [text]="student.name" class="h2"></label>
            <label [text]="student.std_id" class="h2"></label>
            <label [text]="student.ssn" class="h2"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="فصل القبول" class="h1"></label>
            <label text="الحالة الأكاديمية الحالية" class="h1"></label>
            <label text="المعدل التراكمي النهائي" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout  *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row">
            <label [text]="student.std_adm_term_label" class="h2"></label>
            <label [text]="student.current_acadimic_status_label" class="h2"></label>
            <label [text]="student.final_graduation_GPA" class="h2"></label>
        </FlexboxLayout>


        <FlexboxLayout *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="الوضع الأكاديمي" class="h1"></label>
            <label text="الرسوم الدراسية" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row">
            <label [text]="student.acadimic_position_label" class="h2"></label>
            <label [text]="student.std_fees" class="h2"></label>
        </FlexboxLayout>
    
        <FlexboxLayout *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between">
            <label text="الحالة الأكاديمية للطالب خلال الفصول الدراسية" class="h2" style="margin-top: 15;"></label>
            <DropDown
                  [items]="studentTermsDropDown"
                  (selectedIndexChanged)="getTrmsDetails($event)"
                  [(ngModel)]="selectedIndex"
                  hint="اختر الفصل الدراسى "
                  itemsTextAlignment="right"
            >
            </DropDown>
        </FlexboxLayout>

        <ActivityIndicator [busy]="isLoadingTerm && !isLoading" color="navy" verticalAlignment="center" horizontalAlignment="center"></ActivityIndicator>
        
        <FlexboxLayout *ngIf="!isLoadingTerm" flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="الكلية" class="h1"></label>
            <label text="التخصص" class="h1"></label>
            <label text="الفرع" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoadingTerm" flexDirection="row-reverse" justifyContent="space-between" class="table-row">
            <label [text]="studentTermDetails.COLL_CODE" class="h2"></label>
            <label [text]="studentTermDetails.MAJR_code" class="h2"></label>
            <label [text]="studentTermDetails.CAMP_code" class="h2"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoadingTerm" flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="المعدل التراكمي" class="h1"></label>
            <label text="حالة التسجيل" class="h1"></label>
            <label text="المستوي الدراسي" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoadingTerm" flexDirection="row-reverse" justifyContent="space-between" class="table-row">
            <label [text]="studentTermDetails.gba" class="h2"></label>
            <label [text]="studentTermDetails.RegisterationStatus" class="h2"></label>
            <label [text]="studentTermDetails.study_level" class="h2"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoadingTerm" flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="الحالة الأكاديمية" class="h1"></label>
            <label text="الوضع الأكاديمي" class="h1"></label>
            <label text="المرحلة الدراسية" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoadingTerm" flexDirection="row-reverse" justifyContent="space-between" class="table-row">
            <label [text]="studentTermDetails.acadimic_status" class="h2"></label>
            <label [text]="studentTermDetails.ACADIMICPOSITION" class="h2"></label>
            <label [text]="studentTermDetails.STD_UGGR" class="h2"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="center" class="buttonsLayout">
            <Button text="عربى" class="my-button"  (tap)="onArabicPrint()" ></Button>
            <Button text="English" class="my-button"  (tap)="onEnglishPrint()"></Button>
        </FlexboxLayout>   

    </FlexboxLayout>
</ScrollView>

 <!--
<ScrollView>
    <FlexboxLayout  flexDirection="column" style="padding: 20;">   
           <ActivityIndicator [busy]="isLoading" color="navy" verticalAlignment="center" horizontalAlignment="center"></ActivityIndicator>

            <FlexboxLayout justifyContent="center" class="h1">
                <label text="بيانات الطالب/الطالبة"></label>
            </FlexboxLayout>

            <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
                <label text="اسم الطالب / الطالبة" class="h1"></label>
                <label text="الرقم الجامعي" class="h1"></label>
                <label text="رقم الهوية" class="h1"></label>
            </FlexboxLayout>

            <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row">
                <label text="فاطمة على ال فردان" class="h2"></label>
                <label text="190017700" class="h2"></label>
                <label text="1062958200" class="h2"></label>
            </FlexboxLayout>

            <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
                <label text="فصل القبول" class="h1"></label>
                <label text="الحالة الأكاديمية الحالية" class="h1"></label>
                <label text="المعدل التراكمي النهائي" class="h1"></label>
            </FlexboxLayout>

            <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row" >
                <label text="الاول" class="h2"></label>
                <label text="منتظم" class="h2"></label>
                <label text="3.75" class="h2"></label>
            </FlexboxLayout>

            <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
                <label text="الوضع الأكاديمي" class="h1"></label>
                <label text="الرسوم الدراسية" class="h1"></label>
            </FlexboxLayout>

            <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row" >
                <label text="منتظم" class="h2"></label>
                <label text="555452" class="h2"></label>
            </FlexboxLayout>

            
        <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between">
            <label text="الحالة الأكاديمية للطالب خلال الفصول الدراسية" class="h2" style="margin-top: 15;"></label>
            <DropDown
                  [items]="studentTermsDropDownStatic"
                  (selectedIndexChanged)="getTrmsDetails($event)"
                  [(ngModel)]="selectedIndex"
                  hint="اختر الفصل الدراسى "
                  itemsTextAlignment="right"
            >
            </DropDown>
        </FlexboxLayout>
        <ActivityIndicator [busy]="isLoadingTerm" color="navy" verticalAlignment="center" horizontalAlignment="center"></ActivityIndicator>
        
        <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="الكلية" class="h1"></label>
            <label text="التخصص" class="h1"></label>
            <label text="الفرع" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row">
            <label text="الحوسبة والمعلوماتية" class="h2"></label>
            <label text="تقنية المعلومات" class="h2"></label>
            <label text="الرياض طلاب" class="h2"></label>
        </FlexboxLayout>

        <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="المعدل التراكمي" class="h1"></label>
            <label text="حالة التسجيل" class="h1"></label>
            <label text="المستوي الدراسي" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row" >
            <label text="3.75" class="h2"></label>
            <label text="منتظم" class="h2"></label>
            <label text="الاول" class="h2"></label>
        </FlexboxLayout>

        <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="الحالة الأكاديمية" class="h1"></label>
            <label text="الوضع الأكاديمي" class="h1"></label>
            <label text="المرحلة الدراسية" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row" >
            <label text="منتظم" class="h2"></label>
            <label text="منتظم" class="h2"></label>
            <label text="الاول" class="h2"></label>
        </FlexboxLayout>
        
        <FlexboxLayout flexDirection="row-reverse" justifyContent="center" class="buttonsLayout">
            <Button text="عربى" class="my-button"  (tap)="onArabicPrint()" ></Button>
            <Button text="English" class="my-button"  (tap)="onEnglishPrint()"></Button>
        </FlexboxLayout>            
    </FlexboxLayout>
</ScrollView>-->
