<ActionBar>
    <!-- 
            <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu"  (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="{{'services.academic_record.title' | L}}"></Label>
</ActionBar>

<ScrollView>
    <FlexboxLayout  flexDirection="column" style="padding: 20;">

        <ActivityIndicator [busy]="isLoading" color="navy" verticalAlignment="center" horizontalAlignment="center"></ActivityIndicator>

        <FlexboxLayout justifyContent="center" *ngIf="!isLoading" class="h1">
            <label [text]="recoredData.student_name"></label>
            <label text="اسم الطالب : "></label>
        </FlexboxLayout>


        <FlexboxLayout  *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="الكلية" class="h1"></label>
            <label text="التخصص" class="h1"></label>
            <label text="الرقم الجامعي" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row">
            <label [text]="recoredData.coll" class="h2"></label>
            <label [text]="recoredData.major" class="h2"></label>
            <label [text]="recoredData.std_id" class="h2"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="رقم الهوية" class="h1"></label>
            <label text="الدرجة" class="h1"></label>
            <label text="حالة الطالب" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout  *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row separator">
            <label [text]="recoredData.ssn" class="h2"></label>
            <label [text]="recoredData.grade" class="h2"></label>
            <label [text]="recoredData.status" class="h2"></label>
        </FlexboxLayout>

        <RadListView *ngIf="!isLoading" [items]="recoredData.terms" [itemTemplateSelector]="templateSelector" (itemTap)="onItemTap($event)">
            <ng-template let-item="item">
                <FlexboxLayout flexDirection="row" justifyContent="space-between" class="list-group">
                    <Label  text="&#xf0dd;"  class="fas"></Label>
                    <FlexboxLayout flexDirection="row-reverse">
                        <Label text="الفصل"></Label>
                        <Label [text]="item.Term"></Label>
                        <Label text="لسنة"></Label>
                        <Label [text]="item.Year"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
            </ng-template>

            <ng-template tkTemplateKey="expanded" let-item="item">
                <FlexboxLayout flexDirection="column" >
                    <FlexboxLayout flexDirection="row" justifyContent="space-between" class="list-group">
                        <Label  text="&#xf0de;"  class="fas"></Label>

                        <FlexboxLayout flexDirection="row-reverse">
                            <Label text="الفصل"></Label>
                            <Label [text]="item.Term"></Label>
                            <Label text="لسنة"></Label>
                            <Label [text]="item.Year"></Label>
                        </FlexboxLayout>
                    </FlexboxLayout>
                    <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between"  class="list-group-item table-header"> 
                        <label text="الفصل" class="h1"></label>
                        <label text="العام" class="h1"></label>
                        <label text="التخصص" class="h1"></label>
                        <label text="الحالة" class="h1"></label>
                    </FlexboxLayout>
            
                    <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="list-group-item">
                        <label [text]="item.Term" class="h2"></label>
                        <label [text]="item.Year" class="h2"></label>
                        <label [text]="item.Major" class="h2"></label>
                        <label [text]="item.Status" class="h2"></label>
                    </FlexboxLayout>

                    <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between"  class="list-group-item table-header"> 
                      <!--  <label text="رمز المقرر" class="h1 narrowColumn"></label>
                        <label text="اسم المقرر" class="h1 wideColumn"></label>-->
                        <label text="اسم المقرر/الرمز" class="h1 wideColumn"></label>
                        <label text="التقدير" class="h1 narrowColumn"></label>
                        <label text="الساعات" class="h1 narrowColumn"></label>
                        <label text="النقاط" class="h1 narrowColumn"></label>
                    </FlexboxLayout>

                    <FlexboxLayout justifyContent="space-between" alignItems="center" flexWrap="nowrap" *ngFor="let item of item.courses"  flexDirection="row-reverse" class="dataLabel list-group-item h2">
                        <FlexboxLayout  flexDirection="column">
                            <Label [text]="item.CRSE_TITLE" class="h2 wideColumn"></Label>
                            <Label [text]="item.ID" class="h2 narrowColumn"></Label>
                        </FlexboxLayout>
                        <Label [text]="item.GRADE_TITLE" class="h2 narrowColumn"></Label>
                        <Label [text]="item.HRS" class="h2 narrowColumn"></Label>
                        <Label [text]="item.Points" class="h2 narrowColumn"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between"  class="list-group-item table-header"> 
                        <label text="ساعات" class="h1"></label>
                        <label text="مسجلة" class="h1"></label>
                        <label text="نجاح" class="h1"></label>
                        <label text="مكتسبة" class="h1"></label>
                        <label text="النقاط" class="h1"></label>
                        <label text="المعدل" class="h1"></label>
                    </FlexboxLayout>

                    <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="list-group-item">
                        <label text="فصلى" class="h2"></label>
                        <label [text]="item.registredHours" class="h2"></label>
                        <label [text]="item.gpa_hours" class="h2"></label>
                        <label [text]="item.earned_hours" class="h2"></label>
                        <label [text]="item.quality_points" class="h2"></label>
                        <label [text]="item.gpa" class="h2"></label>
                    </FlexboxLayout>

                    <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="list-group-item">
                        <label text="تراكمي" class="h2"></label>
                        <label [text]="item.TotalregistredHours" class="h2"></label>
                        <label [text]="item.total_gpa_hours" class="h2"></label>
                        <label [text]="item.total_earned_hours" class="h2"></label>
                        <label [text]="item.total_quality_points" class="h2"></label>
                        <label [text]="item.total_gpa" class="h2"></label>
                    </FlexboxLayout>  
                </FlexboxLayout> 
            </ng-template>
        </RadListView>

        <FlexboxLayout  *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="center" class="buttonsLayout">
            <Button text="عربى" class="my-button"  (tap)="onArabicPrint()" ></Button>
            <Button text="English" class="my-button"  (tap)="onEnglishPrint()"></Button>
        </FlexboxLayout>
            
    </FlexboxLayout>
</ScrollView>