<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="السجل الأكاديمى"></Label>
</ActionBar>

<ScrollView>
    <FlexboxLayout  flexDirection="column" style="padding: 20;">

        <ActivityIndicator [busy]="isLoading" color="navy" verticalAlignment="center" horizontalAlignment="center"></ActivityIndicator>

        <FlexboxLayout justifyContent="center" *ngIf="!isLoading" class="h2">
            <label [text]="recoredData.student_name"></label>
            <label text="اسم الطالب : "></label>
        </FlexboxLayout>


        <FlexboxLayout  *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="الكلية" class="h1"></label>
            <label text="التخصص" class="h1"></label>
            <label text="الرقم الجامعي" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row">
            <label [text]="recoredData.coll" class="h2"></label>
            <label [text]="recoredData.major" class="h2"></label>
            <label [text]="recoredData.std_id" class="h2"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label text="رقم الهوية" class="h1"></label>
            <label text="الدرجة" class="h1"></label>
            <label text="حالة الطالب" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout  *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="space-between" class="table-row separator">
            <label [text]="recoredData.ssn" class="h2"></label>
            <label [text]="recoredData.grade" class="h2"></label>
            <label [text]="recoredData.status" class="h2"></label>
        </FlexboxLayout>

        <RadListView *ngIf="!isLoading" [items]="termsStatic" [itemTemplateSelector]="templateSelector" (itemTap)="onItemTap($event)">
            <ng-template let-item="item">
                <FlexboxLayout flexDirection="row" justifyContent="space-between" class="list-group">
                    <Label  text="&#xf0dd;"  class="fas"></Label>
                    <FlexboxLayout flexDirection="row-reverse">
                        <Label text="الفصل"></Label>
                        <Label [text]="item.Term"></Label>
                        <Label text="لسنة"></Label>
                        <Label [text]="item.Year"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
            </ng-template>

            <ng-template tkTemplateKey="expanded" let-item="item">
                <FlexboxLayout flexDirection="column" >
                    <FlexboxLayout flexDirection="row" justifyContent="space-between" class="list-group">
                        <Label  text="&#xf0de;"  class="fas"></Label>

                        <FlexboxLayout flexDirection="row-reverse">
                            <Label text="الفصل"></Label>
                            <Label [text]="item.Term"></Label>
                            <Label text="لسنة"></Label>
                            <Label [text]="item.Year"></Label>
                        </FlexboxLayout>
                    </FlexboxLayout>
                    <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between"  class="list-group-item"> 
                        <label text="الفصل" class="h1"></label>
                        <label text="العام" class="h1"></label>
                        <label text="التخصص" class="h1"></label>
                        <label text="الحالة" class="h1"></label>
                    </FlexboxLayout>
            
                    <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="list-group-item">
                        <label [text]="item.Term" class="h2"></label>
                        <label [text]="item.Year" class="h2"></label>
                        <label [text]="item.Major" class="h2"></label>
                        <label [text]="item.Status" class="h2"></label>
                    </FlexboxLayout>

                    <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between"  class="list-group-item"> 
                        <label text="رمز المقرر" class="h1"></label>
                        <label text="اسم المقرر" class="h1"></label>
                        <label text="التقدير" class="h1"></label>
                        <label text="الساعات" class="h1"></label>
                        <label text="النقاط" class="h1"></label>
                    </FlexboxLayout>

                    <FlexboxLayout justifyContent="space-between" flexWrap="nowrap" *ngFor="let item of termsStatic.courses" flexDirection="row-reverse" class="dataLabel">
                        <Label [text]="item.ID" class="narrowColumn"></Label>
                        <Label [text]="item.CRSE_TITLE" class="wideColumn"></Label>
                        <Label [text]="item.GRADE_TITLE" class="narrowColumn"></Label>
                        <Label [text]="item.HRS" class="wideColumn"></Label>
                        <Label [text]="item.Points" class="wideColumn"></Label>
                      </FlexboxLayout>
                </FlexboxLayout> 
            </ng-template>

        </RadListView>

        <!--<FlexboxLayout *ngIf="!isLoading && graduateData.labels" flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
            <label [text]="graduateData.labels.GPA" class="h1"></label>
            <label text="المرحله" class="h1"></label>
            <label text="المدينة" class="h1"></label>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!isLoading && graduateData.values" flexDirection="row-reverse" justifyContent="space-between" class="table-row">
            <label [text]="graduateData.values.final_graduation_GPA" class="h2"></label>
            <label [text]="graduateData.values.level" class="h2"></label>
            <label [text]="graduateData.values.city" class="h2"></label>
        </FlexboxLayout>

        <FlexboxLayout flexDirection="row-reverse" flexWrap="wrap" *ngIf="!isLoading && graduateData.values && graduateData.labels" class="pargraph h2">
            <Label [text]="graduateData.labels.txt1"></Label>
            <Label [text]="graduateData.values.term"></Label>
            <Label [text]="graduateData.labels.txt2"></Label>
            <Label [text]="graduateData.values.final_graduation_GPA"></Label>
            <Label [text]="graduateData.labels.txt3"></Label>
            <Label [text]="graduateData.labels.txt4"></Label>
        </FlexboxLayout>

        <FlexboxLayout flexDirection="column" *ngIf="!isLoading && graduateData.labels">
            <Label text="ملحوظة" class="note"></Label>
            <Label [text]="graduateData.labels.txt5" class="h2"></Label>
            <Label [text]="graduateData.labels.txt6" class="h2"></Label>
        </FlexboxLayout>         -->

            <!--

            <FlexboxLayout flexDirection="row-reverse" *ngIf="!isLoading &&msgs.length>0">
                <ListView [items]="msgs">
                    <ng-template let-item="item">
                        <Label verticalAlignment="center" [text]="item.body" [ngClass]="item.type == 'info' ? 'alert alert-info' : (item.type == 'error' ? 'alert alert-danger' : (item.type == 'success' ? 'alert alert-success' : 'alert alert-warning'))"></Label>
                    </ng-template>
                </ListView>
            </FlexboxLayout>
            
            <FlexboxLayout flexDirection="row-reverse" justifyContent="center" flexWrap="wrap" class="h1">
                <label text="تاريخ اصدار الافادة:"></label>
                <label text="12/08/2005"></label>
            </FlexboxLayout>

            <FlexboxLayout justifyContent="center" class="h2">
                <label text="بيانات الطالب/الطالبة" class="h2"></label>
            </FlexboxLayout>

                <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark"> 
                    <label text="اسم الطالب/الطالبة" class="h1"></label>
                    <label text="الكلية" class="h1"></label>
                    <label text="رقم الطالب/الطالبة" class="h1"></label>
                </FlexboxLayout>

                <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row">
                    <label text="فاطمة على ال فردان" class="h2"></label>
                    <label text="الحوسبة والمعلوماتية" class="h2"></label>
                    <label text="120000101" class="h2"></label>
                </FlexboxLayout>

                <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark" >
                    <label text="السجل المدنى"  class="h1"></label>
                    <label text="التخصص" class="h1"></label>
                    <label text="الفرع" class="h1"></label>
                </FlexboxLayout>

                <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row" >
                    <label text="1059357408" class="h2"></label>
                    <label text="تقنية المعلومات" class="h2"></label>
                    <label text="الرياض طلاب" class="h2"></label>
                </FlexboxLayout>

                <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row-dark">
                    <label text="المعدل التراكمى" class="h1"></label>
                    <label text="المرحله" class="h1"></label>
                    <label text="المدينة" class="h1"></label>
                </FlexboxLayout>

                <FlexboxLayout  flexDirection="row-reverse" justifyContent="space-between" class="table-row" >
                    <label text="م3.25من4" class="h2"></label>
                    <label text="البكالوريوس" class="h2"></label>
                    <label text="الرياض" class="h2"></label>
                </FlexboxLayout>

                <FlexboxLayout flexDirection="row-reverse" flexWrap="wrap" class="pargraph h2">
                    <Label text="تفيد عمادة القبول وشؤون الطلاب"></Label>
                    <Label text="أن الطالب اعلاه تخرج من الجامعة"></Label>
                    <Label text="خلال الفصل الدراسى الاول1437/1438ه"></Label>
                    <Label text="ومعدله التراكمى3.25من4"></Label>
                    <Label text="وقد منح هذه الافادة بناء على طلبه دون أدنى مسئولية"></Label>
                    <Label text="على الجامعه والله الموفق "></Label>
                </FlexboxLayout>
                    <Label text="ملحوظة" class="note"></Label>
                    <Label text="صالحة لمدة شهر من تاريخ اصدار هذه الافادة" class="h2"></Label>
                    <Label text="يفضل طباعة الافادة من طابعه ملونة" class="h2"></Label>-->
        <FlexboxLayout  *ngIf="!isLoading" flexDirection="row-reverse" justifyContent="center" class="buttonsLayout">
            <Button text="عربى" class="my-button"  (tap)="onArabicPrint()" ></Button>
            <Button text="English" class="my-button"  (tap)="onEnglishPrint()"></Button>
        </FlexboxLayout>
            
    </FlexboxLayout>
</ScrollView>