       
                
        <div class="main-content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                   <div class="widget">
                       <div class="card latest-update-card">
                        <div class="widget-header">
                       <h3 class="widget-title"> <i class="ik ik-calendar"></i>  الاخبار </h3>
                       </div>
                       <div class="card-block">
                           <div class="latest-update-box">
                              
                               <div class="row pb-30">
                                   <div  class="col-auto update-meta pr-0">
                                    <img class="rounded-circle" width="80" height="80" src="assets/images/gallery/1.jpg" alt="" class="img-thumbnail">

                                   </div>
                                   <div class="col">
                                       <a href="#"><h6>الجامعة الإلكترونية تنظم حفل المعايدة السنوي بمناسبة عيد الفطر لمنسوبيها </h6></a>
                                       <p class=" mb-0"><i class="fa fa-calendar" style="color: #1c2172"></i> 22 محرم </p>
                                   </div>
                               </div>
                               <div class="row pb-30">
                                   <div class="col-auto update-meta pr-0">
                                    <img class="rounded-circle" width="80" height="80" src="assets/images/gallery/1.jpg" alt="" class="img-thumbnail">
                                   </div>
                                   <div class="col">
                                       <a href="#"><h6>الجامعة الإلكترونية تنظم حفل المعايدة السنوي بمناسبة عيد الفطر لمنسوبيها </h6></a>
                                       <p class=" mb-0"><i class="fa fa-calendar" style="color: #1c2172"></i> 28 محرم </p>
                                   </div>
                               </div>
                               <div class="row pb-30">
                                   <div class="col-auto update-meta pr-0">
                                    <img class="rounded-circle" width="80" height="80" src="assets/images/gallery/1.jpg" alt="" class="img-thumbnail">
                                   </div>
                                   <div class="col">
                                       <a href="#"><h6>الجامعة الإلكترونية تنظم حفل المعايدة السنوي بمناسبة عيد الفطر لمنسوبيها </h6></a>
                                       <p class=" mb-0"><i class="fa fa-calendar" style="color: #1c2172"></i> 30 محرم </p>
                                   </div>
                               </div>
                           </div>
                               </div>
                       </div>
                   </div>
                          </div>
             
                        
              </div>
          </div>