<app-header></app-header>


<ScrollView>
    <ActivityIndicator [busy]="isLoading" color="#6189f4" verticalAlignment="center" horizontalAlignment="center"></ActivityIndicator>

    <StackLayout *ngIf="!isLoading">

      <GridLayout  columns="auto, *" class="serv-title">
        <Label col="1"  text="&#xf0d9;" class="fas serv-ico-r"></Label>
        <Label col="1" text='{{"wafi.EmployeeTraining" | translate}}' class="serv-name" ></Label>
        <Label col="1"  text="&#xf0da;" class="fas serv-ico "></Label>
      </GridLayout>


      <GridLayout class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150" *ngFor="let item of emplisttraining">
                      
                      
        <Label row="1"  column="1" class="ysPBox" textWrap="true" style="font-weight:800;" text='{{"wafi.EMP_TRN_CONTENT_VALUE" | translate}}'></Label>
        <Label row="1"  column="0" class="ysPBox2" textWrap="true" [text]="item.sideDesc"></Label>
    
        <Label row="2"  column="1"  class="ysPBox" textWrap="true" style="font-weight:800;" text='{{"wafi.EMP_TRN_CONTENT_DESC" | translate}}'></Label>
        <Label row="2"  column="0" class="ysPBox2" textWrap="true" [text]="item.content"></Label>

        <Label row="3"  column="1"  class="ysPBox" textWrap="true" style="font-weight:800;" text='{{"wafi.EMP_TRN_CRS_DURATION" | translate}}'></Label>
        <Label row="3"  column="0" class="ysPBox2" textWrap="true" [text]="item.courseDuration"></Label>
       
        <Label row="4"  column="1"  class="ysPBox" textWrap="true" style="font-weight:800;" text='{{"wafi.EMP_TRN_CONTECT_DATE" | translate}}'></Label>
        <Label row="4"  column="0" class="ysPBox2" textWrap="true" [text]="item.contentHDate" ></Label>

        <Label row="5"  column="1"  class="ysPBox" textWrap="true" style="font-weight: 800;"    text='{{"wafi.EMP_TRN_CRS_DURATION_TYPE" | translate}}'></Label>
        <Label row="5"  column="0" class="ysPBox2" textWrap="true" [text]="item.durationDesc" ></Label>

        <Label row="6"  column="1"  class="ysPBox" textWrap="true" style="font-weight: 800;"    text='{{"wafi.EMP_TRN_CONTENT_TRAING_DESC" | translate}}'></Label>
        <Label row="6"  column="0" class="ysPBox2" textWrap="true" [text]="item.contentDesc" ></Label>

        <Label row="7"  column="1"  class="ysPBox" textWrap="true" style="font-weight: 800;"    text='{{"wafi.EMP_TRN_CONTENT_TRAING_TYPE" | translate}}'></Label>
        <Label row="7"  column="0" class="ysPBox2" textWrap="true" [text]="item.trainingTypeDesc" ></Label>
         
      </GridLayout>
    </StackLayout>
</ScrollView>