<mat-dialog-content style="height: 2500px">

  <mat-spinner *ngIf="isLoading"
    style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;">
  </mat-spinner>

  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <div class="widget">
      <div class="widget-header">
        <h3 class="widget-title">إضافة طلب</h3>
      </div>
    </div>


    <section class="ser-state">
      <div class="container">

        <div class="row ser-block">
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>هل ترغب ب </h6>
              <select required class="form-control" #exceptionType="ngModel" [(ngModel)]="feesException.exception_type"
                name="exceptionType" [class.is-invalid]="feesException.exception_type == ''" #t
                (change)="exceptionTypeChange(t.value)">
                <option value=''>اختر </option>
                <option *ngFor="let e of exceptionTypeList" [value]="e.id">{{e.value}}</option>
              </select>
            </div>
          </div>

          <div class="col-md-8 col-sm-12">
            <div class="state">
              <h6> الفئة التي تنتمي إليها من أجل الحصول على إعفاء</h6>
              <select required class="form-control" #association="ngModel" [(ngModel)]="feesException.association"
                name="association" [class.is-invalid]="feesException.association == ''" #t
                (change)="associationChange(t.value)">
                <option value=''>اختر </option>
                <option *ngFor="let e of associationsList" [value]="e.id">{{e.value}}</option>
              </select>
            </div>
          </div>

        </div>



        <div class="row ser-block">
          <div *ngIf="feesException.association=='0'" class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>مشهد إثبات الحالة </h6>
              <input required class="form-control" name="proofStatusAtt" id="proofStatusAtt" type="file" accept="*/*"
                (change)="handleInputChange($event,'proof_status')"
                [class.is-invalid]="feesException.proof_status == ''" />
            </div>
          </div>

          <div *ngIf="feesException.association=='0'" class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>بطاقة الضمان </h6>
              <input required class="form-control" name="insuranceAtt" id="insuranceAtt" type="file" accept="*/*"
                (change)="handleInputChange($event,'insurance_card')"
                [class.is-invalid]="feesException.insurance_card == ''" />
            </div>
          </div>

          <div *ngIf="feesException.association=='0'" class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>الهوية أو البطاقة العائلية </h6>
              <input required class="form-control" name="idCardAtt" id="idCardAtt" type="file" accept="*/*"
                (change)="handleInputChange($event,'id_card')" [class.is-invalid]="feesException.id_card == ''" />
            </div>
          </div>


          <div *ngIf="feesException.association=='1'" class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>خطاب من جهة العمل </h6>
              <input required class="form-control" name="workStatusAtt" id="workStatusAtt" type="file" accept="*/*"
                (change)="handleInputChange($event,'work_status')"
                [class.is-invalid]="feesException.work_status == ''" />
            </div>
          </div>

          <div *ngIf="feesException.association=='2'" class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>خطاب من الجمعية </h6>
              <input required class="form-control" name="letterAtt" id="letterAtt" type="file" accept="*/*"
                (change)="handleInputChange($event,'letter')" [class.is-invalid]="feesException.letter == ''" />
            </div>
          </div>

          <div *ngIf="feesException.association=='2'" class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>الهوية أو البطاقة العائلية </h6>
              <input required class="form-control" name="mcoIdCardAtt" id="mcoIdCardAtt" type="file" accept="*/*"
                (change)="handleInputChange($event,'mco_id_card')"
                [class.is-invalid]="feesException.mco_id_card == ''" />
            </div>
          </div>



        </div>

        <div *ngIf="feesException.exception_type=='1'" class="row ser-block">
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>إسم البنك</h6>
              <select required class="form-control" #bank="ngModel" [(ngModel)]="feesException.bank" name="bank"
                [class.is-invalid]="feesException.bank == ''">
                <option value=''>اختر </option>
                <option *ngFor="let e of banksList" [value]="e.BANK_PK">{{e.BANK_TITLE}}</option>
              </select>
            </div>
          </div>

          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>رقم الأيبان </h6>
              <input type="text" required class="form-control" #Iban="ngModel" [(ngModel)]="feesException.iban"
                name="Iban" [class.is-invalid]="feesException.iban == ''">
            </div>
          </div>

          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>صورة البطاقة البنكية </h6>
              <input name="bankCardAtt" id="bankCardAtt" type="file" accept="*/*"
                (change)="handleInputChange($event,'bank_card')" />
            </div>
          </div>

        </div>
        <div *ngIf="feesException.exception_type=='1'" class="row ser-block">
          <div *ngIf="feesException.exception_type=='1'" class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>اسم صاحب الحساب رباعي </h6>
              <input type="text" required class="form-control" #AccountName="ngModel"
                [(ngModel)]="feesException.account_name" name="AccountName"
                [class.is-invalid]="feesException.account_name == ''">
            </div>
          </div>

          <div *ngIf="feesException.exception_type=='1'" class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>البريد الإلكتروني </h6>
              <input type="email" required class="form-control" #Email="ngModel" [(ngModel)]="feesException.email"
                name="Email" [class.is-invalid]="feesException.email == ''">
            </div>
          </div>

          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>رقم الحساب </h6>
              <input type="text" required class="form-control" #AccountId="ngModel"
                [(ngModel)]="feesException.account_id" name="AccountId"
                [class.is-invalid]="feesException.account_id == ''">
            </div>
          </div>
        </div>

        <div *ngIf="feesException.exception_type=='1'" class="row ser-block">


          <!--
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>صاحب الحساب </h6>

              <input type="checkbox" class="checkbox" style="height: 20px;width:20px;" #AccountOwner="ngModel"
                [(ngModel)]="accountOwner" name="AccountOwner"  (change)="ownerChange(accountOwner)" >
            </div>
          </div>
-->
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>هل أنت صاحب الحساب البنكي؟</h6>
              <select required class="form-control" #accountOwner1="ngModel" [(ngModel)]="accountOwner"
                name="accountOwner1" [class.is-invalid]="accountOwner == ''" #p (change)="ownerChange(p.value)">
                <option value=''>اختر </option>
                <option *ngFor="let e of haveAccountList" [value]="e.id">{{e.value}}</option>
              </select>
            </div>
          </div>




          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>صلة القرابة</h6>
              <select required class="form-control" #accountRelative="ngModel"
                [(ngModel)]="feesException.account_relative" name="accountRelative"
                [class.is-invalid]="feesException.account_relative == '' && accountOwner=='0'"
                [disabled]="accountOwner=='1' || accountOwner==''">
                <option value=''>اختر </option>
                <option *ngFor="let e of accountRelativeList" [value]="e.id">{{e.value}}</option>
              </select>
            </div>
          </div>



        </div>


        <div class="row  ser-block">
          <div class=" col-md-12 col-sm-12">
            <div class="state">
              <h6>أقر بأن كافة البيانات المدخلة في النموذج صحيحة و دقيقة أن الخطأ فيها سببا في تأخير إعادة الرسوم
                الدراسية</h6>
              <input type="checkbox" class="checkbox" style="height: 20px;width:20px;" #ApproveCheck="ngModel"
                [(ngModel)]="approve" name="ApproveCheck">
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="modal-body">
      <div class="btn-group" style="direction: ltr" role="group" aria-label="Basic example">
        <button type="button" (click)="closeDiag()" class="btn btn-outline-dark ml-1"><i class="fa fa-close"></i>
          الغاء</button>

        <button [disabled]="(form.invalid || !approve)" type="submit" class="btn btn-dark"><i
            class="fa fa-database"></i>
          حفظ</button>
      </div>
    </div>
  </form>
</mat-dialog-content>