<div class="main-content">
  <service-header [title]="'general.title' |translate" [desc]="'std_assistant.title' |translate"></service-header>
  <seu-loader [isLoading]="isLoading"></seu-loader>
  <div class="widget">

    <div class="widget-header" style="border-radius: 10px;">
      <h3 class="widget-title">{{ 'std_assistant.title_1' |translate }}</h3>
      <p>{{ 'std_assistant.desc_1' |translate }}</p>
    </div>

    <div class="widget-header mt-10" style="border-radius: 10px;">
      <h3 class="widget-title">{{ 'std_assistant.title_2' |translate }}</h3>
      <p>{{ 'std_assistant.desc_2' |translate }}</p>
      <ul>
        <li>{{ 'std_assistant.item2_1' |translate }}</li>
        <li>{{ 'std_assistant.item2_2' |translate }}</li>
        <li>{{ 'std_assistant.item2_3' |translate }}</li>
      </ul>
    </div>

    <div class="widget-header mt-10" style="border-radius: 10px;">
      <h3 class="widget-title">{{ 'std_assistant.title_3' |translate }}</h3>
      <p>{{ 'std_assistant.desc_3' |translate }}</p>
    </div>

    <div class="widget-header mt-10" style="border-radius: 10px;">
      <h3 class="widget-title">{{ 'std_assistant.title_4' |translate }}</h3>
      <p>{{ 'std_assistant.desc_4' |translate }}.</p>
      <p>{{ 'std_assistant.desc_6' |translate }} <a style="color: #26226a;" href="https://outlook.office365.com/owa/calendar/StudentsSupportProgram@seuedu.onmicrosoft.com/bookings/" target="_blank">{{ 'std_assistant.here' |translate }}</a>.</p>
      <p>{{ 'std_assistant.desc_7' |translate }} <a style="color: #26226a;" href="https://api.seu.edu.sa/newservices/api/docs/std_assistant/student_assistant_guide.pdf" target="_blank">{{ 'std_assistant.here' |translate }}</a>.</p>


      
    </div>

    <div class="widget-header mt-10 text-center" style="border-radius: 10px; background: #FFF !important; color: #000">
      <a target="_blank" href="https://forms.office.com/r/tN4t1vzTfp" class="widget-title" style="text-decoration: underline; display: block;">{{ 'std_assistant.title_5' |translate }}</a>
      <img src="/assets/images/std_assistant_qr_code.png" width="200px" alt="std_assistant_qr_code">
    </div>

  </div>
</div>