<div class="main-content">
  <section class="service-single">
    <div class="container">
      <h3> افادة خريج </h3>
      <div class="row">
        <div class=" col-md-5">
          <p> افادة خريج </p>
        </div>
        <!-- <div class=" col-md-6 descr">
                  <span>مدة الإنجاز : <span class="badge">3 يوم</span> </span>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="{{arabicPrint}}"><i class="ik ik-download"></i> </a>
                    <a href="#"><i class="ik ik-film"></i></a>
                </div> -->
      </div>
    </div>
  </section>
  <div *ngIf="isLoading" class=" loading-indicator ">
    <div class="state">


      <mat-spinner *ngIf="isLoading"
        style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;">
      </mat-spinner>

    </div>
  </div>

  <div class="ser-state" *ngIf="!isLoading">
    <div *ngFor="let msg of msgs"
      [ngClass]="msg.type == 'info' ? 'alert alert-info' : (msg.type == 'error' ? 'alert alert-danger' : (msg.type == 'success' ? 'alert alert-success' : 'alert alert-warning'))"
      role="alert">
      {{msg.body}}!
    </div>
  </div>


  <div class="widget" *ngIf="!isLoading && graduateData.length > 0">
 

    <h6 class="display-6 text-center" *ngIf="!isLoading">
      {{graduateData.labels.date}}:{{graduateData.values.date}}</h6>


    <div class="widget-header">
      <h3 class="widget-title">بيانات الطالب / الطالبة</h3>
    </div>
    <section class="ser-state" *ngIf="!isLoading">
      <div class="container">
        <div class="row ser-block">
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>{{graduateData.labels.student_name}} </h6>
              <h5>{{graduateData.values.student_name}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 100%;"></div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>{{graduateData.labels.college}} </h6>
              <h5>{{graduateData.values.coll}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 100%;"></div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6> رقم الطالب او الطالبة </h6>
              <h5>{{graduateData.values.std_id}}</h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 100%;"></div>
            </div>
          </div>

        </div>


        <div class="row ser-block">
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>{{graduateData.labels.ssn}} </h6>
              <h5>{{graduateData.values.ssn}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 100%;"></div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>{{graduateData.labels.major}} </h6>
              <h5>{{graduateData.values.major}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 100%;"></div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6> {{graduateData.labels.branch}} </h6>
              <h5>{{graduateData.values.branch}}</h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 100%;"></div>
            </div>
          </div>

        </div>


        <div class="row ser-block">
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6>{{graduateData.labels.GPA}} </h6>
              <h5>{{graduateData.values.final_graduation_GPA}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 100%;"></div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6> المرحله </h6>
              <h5>{{graduateData.values.level}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 100%;"></div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-12">
            <div class="state">
              <h6> المدينة </h6>
              <h5>{{graduateData.values.city}}</h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 100%;"></div>
            </div>
          </div>

        </div>

      </div>
    </section>
  </div>
  <div class="jumbotron jumbtron-fluid" *ngIf="!isLoading && graduateData.length > 0">

    <div class="row">

      <p style="direction: rtl;float: right;text-align: right;padding-right: 50px">
        {{graduateData.labels.txt1}} {{graduateData.values.term}}
        {{graduateData.labels.txt2}} {{graduateData.values.final_graduation_GPA}} {{graduateData.labels.txt7}}
        <br />
        {{graduateData.labels.txt3}}
        <br />
        {{graduateData.labels.txt4}}
        <br />
        <b>ملحوظة</b> {{graduateData.labels.txt5}}
        <br />
        <b> {{graduateData.labels.txt6}}</b>
      </p>
    </div>
  </div>
  <div class="btn-group btn-group-justified col-md-12 " *ngIf="!isLoading && graduateData.length > 0">
    <div class="col-md-4"></div>
    <a class="btn btn-primary" href="{{arabicPrint}}"><span class="glyphicon glyphicon-print"></span>
      طباعة</a>
    <a class="btn btn-primary" href="{{EngPrint}}"><span class="glyphicon glyphicon-print"></span>
      Print</a>
    <div class="col-md-4"></div>

  </div>
</div>