<header class="header-top" header-theme="">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">

      <div class="top-menu d-flex align-items-center">

        <div class="dropdown align-items-right">
          <a class="dropdown-toggle pub-ser" href="#" id="userDropdown" data-toggle="dropdown">
            <img class="avatar" src="assets/images/avatar.png" alt=""> <span> <bdi>مرحبا :
                <span class="">{{userData.name_ar}}</span> </bdi></span>
            <i class="ik ik-chevron-down"></i>
          </a>

          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <!-- <a class="dropdown-item" href="">الملف الشخصي <i class="ik ik-user dropdown-icon"></i> </a> -->
            <a class="dropdown-item" href="https://sso.seu.edu.sa/oam/server/logout"><i
                class="ik ik-power dropdown-icon"></i> تسجيل خروج</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="notiDropdown" data-toggle="dropdown">
            <i class="ik ik-bell"></i><span class="badge bg-danger">{{notifications.notesList.length}}</span></a>
          <div class="dropdown-menu notification-dropdown">

            <h4 *ngIf="notifications.notesList.length" class="header">الإشعارات</h4>
            <h4 *ngIf="!notifications.notesList.length" class="header">لا يوجد اشعارات</h4>
            <div *ngIf="notifications.notesList.length" class="notifications-wrap">
              <a href="javascript:;" (click)="notifications.redirect(not)" class="media"
                *ngFor="let not of notifications.notesList">
                <!--<span class="d-flex"><i class="ik ik-check"></i> </span>-->
                <span class="media-body">
                  <h6>{{not['TITLE']}}</h6>
                  <span class="heading-font-family media-heading">{{not['MESSAGE']}}</span>
                </span>
              </a>
            </div>
            <!-- <div class="footer"><a href="">كل الإشعارات</a></div>-->
          </div>
        </div>
      </div>
      <div class="top-menu d-flex align-items-center">
        <a type="" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></a>

        <div class="header-search d-none d-sm-block">
          <div class="input-group ">
          </div>
        </div>

        <div class="d-none d-sm-block">
          <a href="javascript:;" *ngIf="currLang == 'ar'" (click)="useLang('en')" class="social"
            style="font-size: 20px; font-weight: 400"> E
          </a>
          <a href="javascript:;" *ngIf="currLang == 'en'" (click)="useLang('ar')" class="social"
            style="font-size: 20px; margin-top: -6px;"> ع</a>
        </div>


      </div>



    </div>
  </div>
</header>
