<!--header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul *ngIf="status" class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" (click)="logout()" href="#">تسجيل خروج</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="dashboard/posts">بيانات</a>
              </li>

          </ul>

          <ul *ngIf="!status" class="nav navbar-nav">

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/academicaff/status">الحالة </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/academicaff/certificate">  تعريف</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/graduates/statement">  خريج </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" routerLink="/academicaff/record"> السجل  </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLinkActive="active" routerLink="/finance/fees"> المصاريف  </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" routerLinkActive="active" routerLink="/lecabsence/medicalreport">  الطبي  </a>
                              </li>

                              <li class="nav-item">
                                  <a class="nav-link" routerLinkActive="active" routerLink="/lecabsence/lectabs">   الغياب  </a>
                                  </li>

                                           <li class="nav-item">
                                                  <a class="nav-link" routerLinkActive="active" routerLink="/exams/attend">  اختبارات   </a>
                                                  </li>
                                                  <li class="nav-item">
                                                      <a class="nav-link" routerLinkActive="active" routerLink="/exams/attendapp"> اثبات ح    </a>
                                                      </li>
                                                      <li class="nav-item">
                                                        <a class="nav-link" routerLinkActive="active" routerLink="/procedures/withdrawuniv"> انسحاب     </a>
                                                        </li>
                                                        <li class="nav-item">
                                                          <a class="nav-link" routerLinkActive="active" routerLink="/procedures/postpone"> تاجيل     </a>
                                                          </li>
                                                          <li class="nav-item">
                                                            <a class="nav-link" routerLinkActive="active" routerLink="/procedures/summer"> الصيفي     </a>
                                                            </li>
                                                            <li class="nav-item">
                                                              <a class="nav-link" routerLinkActive="active" routerLink="/procedures/cancelcourse"> غ مقرر     </a>
                                                              </li>
                                                              <li class="nav-item">
                                                                  <a class="nav-link" routerLinkActive="active" routerLink="/procedures/execuse"> الاعتذار     </a>
                                                                  </li>
                                                                  <li class="nav-item">
                                                                      <a class="nav-link" routerLinkActive="active" routerLink="/procedures/equalize"> معادلة     </a>
                                                                      </li>
                                                                      <li class="nav-item">
                                                                          <a class="nav-link" routerLinkActive="active" routerLink="/procedures/eequalize"> E     </a>
                                                                          </li>
                                                                          <li class="nav-item">
                                                                              <a class="nav-link" routerLinkActive="active" routerLink="/procedures/reenrol"> Eroll    </a>
                                                                              </li>
                                                                              <li class="nav-item">
                                                                                  <a class="nav-link" routerLinkActive="active" routerLink="/procedures/changemajor"> major    </a>
                                                                                  </li>
                                                                                  <li class="nav-item">
                                                                                    <a class="nav-link" routerLinkActive="active" routerLink="/procedures/changerequest"> CR    </a>
                                                                                    </li>
                                                                                    <li class="nav-item">
                                                                                      <a class="nav-link" routerLinkActive="active" routerLink="/procedures/lecexecuse"> LE    </a>
                                                                                      </li>
                                                                                    <li class="nav-item">
                                                                                      <a class="nav-link" routerLinkActive="active" routerLink="/procedures/objectexam"> OE   </a>
                                                                                      </li>

          </ul>


    </div>
  </nav>
</header-->

<header class="header-top" header-theme="">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <div class="top-menu d-flex align-items-center">
        <a type="" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></a>
        <!--  <div class="d-none d-sm-block">
               <a href="#" class="social"><i class="ik ik-facebook"></i></a>
               <a href="#" class="social"><i class="ik ik-youtube"></i></a>
               <a href="#" class="social"><i class="ik ik-twitter"></i></a>
               <a href="#" class="social"><i class="ik ik-instagram"></i></a>
           </div>-->
        <div class="header-search d-none d-sm-block">
          <div class="input-group ">
            <!--<span class="input-group-addon search-close"><i class="ik ik-x"></i></span>
                      <input type="text" class="form-control">
                      <span class="input-group-addon search-btn"><i class="ik ik-search"></i></span>
                      -->
          </div>
        </div>

        <div class="d-none d-sm-block">
          <!--  <a href="#" class="social" style="font-size: 20px; font-weight: 400"> E  </a>
               <a href="#" class="social"  style="font-size: 20px; margin-top: -6px; display: none"> ع</a>
               -->
        </div>


      </div>


      <div class="top-menu d-flex align-items-center">
        <!--   <div class="dropdown">
                  <a class="dropdown-toggle pub-ser" href="#" id="menuDropdown" data-toggle="dropdown">
                    <i class="ik ik-chevron-down"></i>  طلباتي </a>
                  <div class="dropdown-menu dropdown-menu-right menu-grid pub-ser2">
                  <p style="border-radius: 5px 5px 0 0"> <span class="badge bg-danger" style="padding: 3px 6px">  2</span> &nbsp; طلبات قيد التنفيذ </p>
                      <ul class="list-group" >
                        <li class="list-group-item active"> إخلاء طرف<span class="badge bg-danger">ينتهي بعد 1 يوم</span></li>
                        <li class="list-group-item "> خدمة سداد الرسوم الدراسية<span class="badge bg-danger">ينتهي بعد 3 ساعة</span></li>
                      </ul>

                        <p>   <span class="badge bg-danger"style="padding: 3px 6px">  4</span> &nbsp; طلبات منتهية </p>
                      <ul class="list-group" >
                        <li class="list-group-item active">خدمة الإعفاء من الرسوم الدراسية </li>
                        <li class="list-group-item "> خدمة نظام إدارة الهوية </li>
                        <li class="list-group-item active"> شهادة التعريف</li>
                       <li class="list-group-item ">الحالة الأكاديمية</li>
                      </ul>
                  </div>
              </div>
-->
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="notiDropdown" data-toggle="dropdown">
            <i class="ik ik-bell"></i><span class="badge bg-danger">{{notifications.notesList.length}}</span></a>
          <div class="dropdown-menu dropdown-menu-right notification-dropdown">
            <h4 class="header">الإشعارات</h4>
            <div class="notifications-wrap">
              <a href="javascript:;" (click)="notifications.redirect(not)" class="media"
                *ngFor="let not of notifications.notesList">
                <!--<span class="d-flex"><i class="ik ik-check"></i> </span>-->
                <span class="media-body">
                  <h6>{{not['TITLE']}}</h6>
                  <span class="heading-font-family media-heading">{{not['MESSAGE']}}</span>
                </span>
              </a>
            </div>
            <!-- <div class="footer"><a href="">كل الإشعارات</a></div>-->
          </div>
        </div>


        <div class="dropdown align-items-right dir-rtl">
          <a class="dropdown-toggle pub-ser" href="#" id="userDropdown" data-toggle="dropdown">
            <img class="avatar" src="assets/images/avatar.png" alt=""> <span> <bdi>مرحبا :
                <span class="">{{userData.name_ar}}</span> </bdi></span>
            <i class="ik ik-chevron-down"></i>
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <!-- <a class="dropdown-item" href="">الملف الشخصي <i class="ik ik-user dropdown-icon"></i> </a> -->
            <a class="dropdown-item" href="https://sso.seu.edu.sa/oam/server/logout"><i
                class="ik ik-power dropdown-icon"></i> تسجيل خروج</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
