<mat-dialog-content style="height: 2500px">




  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <div class="widget">
      <div class="widget-header">
        <h3 class="widget-title"> تسجيل طلب</h3>
      </div>

      <section class="ser-state">
        <div class="container">
          <div class="row ser-block">
            <div class=" col-md-6 col-sm-12">
              <div class="state">
                <h6>الكلية </h6>
                <select required class="form-control" #CollegeID="ngModel" [(ngModel)]="registerationHelper.colledge"
                  name="College" [class.is-invalid]="registerationHelper.colledge == ''" #t
                  (change)="collegeCourses(t.value)">

                  <option *ngFor="let coll of colleges" [value]="coll.id">{{coll.value}}</option>
                </select>

              </div>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info" style="width: 15%;"></div>
              </div>
            </div>
            <div class=" col-md-6 col-sm-12">
              <div class="state">
                <h6>المقررات </h6>
                <select required class="form-control" #CourseID="ngModel" [(ngModel)]="registerationHelper.course"
                  name="CourseID" [class.is-invalid]="registerationHelper.course == ''" #c
                  (change)="courseDepartments(c.value)">
                  <option value=''>اختر المقرر</option>
                  <option *ngFor="let course of courses" [value]="course.CRS_CODE">{{course.CRSE_TITLE}}</option>
                </select>
              </div>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info" style="width: 15%;"></div>
              </div>
            </div>

          </div>

          <div class="row ser-block">
            <div class=" col-md-6 col-sm-12">
              <div class="state">
                <h6>الشعب </h6>
                <select required class="form-control" #DeptID="ngModel" [(ngModel)]="registerationHelper.department"
                  name="DeptID" [class.is-invalid]="registerationHelper.department == ''">
                  <option value=''>اختر الشعبة</option>
                  <option *ngFor="let dept of departments" [value]="dept.CRN">{{dept.BLDG_DESC}}</option>
                </select>
              </div>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info" style="width: 15%;"></div>
              </div>
            </div>
            <div class=" col-md-6 col-sm-12">
              <div class="state">
                <h6>رسالة الخطأ </h6>
                <select required class="form-control" #ErrorMsgID="ngModel" [(ngModel)]="registerationHelper.message"
                  name="ErrorMsgID" [class.is-invalid]="registerationHelper.message == ''">
                  <option *ngFor="let msg of errorMessages" [value]="msg.id">{{msg.value}}</option>
                </select>
              </div>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info" style="width: 15%;"></div>
              </div>
            </div>

          </div>

          <div class="row  ser-block">
            <div class=" col-md-12 col-sm-12">
              <div class="state">
                <h6>ملاحظات </h6>
                <textarea [class.is-invalid]="form.invalid" type="text" class="form-control"
                  [(ngModel)]="registerationHelper.comment" #NotesID="ngModel" name="NotesID" required></textarea>

              </div>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info" style="width: 15%;"></div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <div class="modal-body">
        <div class="btn-group" style="direction: ltr" role="group" aria-label="Basic example">
          <button type="button" (click)="closeDiag()" class="btn btn-outline-dark ml-1"><i class="fa fa-close"></i>
            الغاء</button>

          <button [disabled]="form.invalid" type="submit" class="btn btn-dark"><i class="fa fa-database"></i>
            حفظ</button>
        </div>
      </div>
    </div>
  </form>


</mat-dialog-content>