<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <NavigationButton ios:visibility="collapsed" text="add" android.systemIcon="ic_menu_add" (tap)="add()">
    </NavigationButton>


    <ActionItem android:visibility="collapsed" ios.systemIcon="4" ios.position="left" (tap)="add()"></ActionItem>

    <Label text='{{"services.change_major.title"|translate}}'></Label>
</ActionBar>
<ScrollView>
<FlexboxLayout flexDirection="column">

    <ActivityIndicator [busy]="isLoading" color="#6189f4"></ActivityIndicator>

    <FlexboxLayout flexDirection="row-reverse" *ngIf="!isLoading && msgs.length>0">
        <ListView [items]="msgs">
            <ng-template let-item="item">
                <Label verticalAlignment="center" [text]="item.body" class="ysMsg"></Label>
            </ng-template>
        </ListView>
    </FlexboxLayout>


      
        <FlexboxLayout width="900" flexDirection="column" justifyContent="flex-start" *ngIf="!isLoading" class="ysBox">
           
            <FlexboxLayout flexWrap="wrap"  flexDirection="row-reverse" justifyContent="space-between" class="throw"> 
                <label  width="150" text='{{"general.request.req_no"| translate}}'></label>
                <label  width="150" text='{{"general.major"| translate}}'></label>
                <label  width="150" text='{{"general.request.req_status"|translate}}'></label>
                <label  width="150" text='{{"general.request.req_date"|translate}}'></label>
                <label  width="150" text='{{"services.change_major.accept_date"| translate}}'></label>
                <label  width="150" text='{{"general.request.req_delete"| translate}}'></label>

            </FlexboxLayout>

            <FlexboxLayout   alignItems="center" justifyContent="space-between" flexWrap="wrap" *ngFor="let item of reqData.reqs;let i=index;" flexDirection="row-reverse"
            class="trow" [ngStyle]="{'border-bottom-width':i === reqData.reqs.length-1 ? '0' : '1' }">
                <Label  width="100" [text]="item.request_number"  textWrap="true"></Label>
                <Label  width="100" [text]="item.MAJOR_TITLE"  textWrap="true" ></Label>
                <Label  width="100" [text]="item.status"  textWrap="true" ></Label>
                <Label  width="200" [text]="item.insert_date" textWrap="true" ></Label>
                <Label  width="100" [text]="item.APPROVAL_DATE" textWrap="true" ></Label>

                <Button  width="100" *ngIf='item.deletable' [disabled]='deleting' text="&#xf1f8;" (tap)="delete(item.request_number,i)" class="fas -rounded-sm blue-button"></Button>
                <Label  width="100" *ngIf='!item.deletable' text='{{"general.request.non_cancelable_request"| translate}}'  textWrap="true"></Label>
            </FlexboxLayout>
        </FlexboxLayout>
</FlexboxLayout>
</ScrollView>