<div class="main-content" >

  <section class="service-single">
    <div class="container">
            <h3>  افادة بالرسوم الدراسية
            </h3>
         <div class="row">
            <div class=" col-md-5">
              <p>         افادة بالرسوم الدراسية
              </p>
             </div>
            <!-- <div class=" col-md-6 descr">
              <span>مدة الإنجاز : <span class="badge">3 يوم</span> </span>
                &nbsp; &nbsp; &nbsp; &nbsp;
                
            </div> -->
        </div>
        </div>
     </section>
   <div *ngIf="isLoading" class=" stu-name col-md-4 col-sm-12  ">
      <div class="state">

          <h5>  جاري تحميل البيانات .....................</h5>

<mat-spinner  *ngIf="isLoading" style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;"></mat-spinner> 

      </div> </div> 
      <div  class="ser-state" *ngIf="!isLoading"></div>
    <div class="widget" *ngIf="!isLoading" >
      <div class="widget-header">
          <h3 class="widget-title">بيانات الطالب / الطالبة</h3>
        </div>
  <section  class="ser-state" *ngIf="!isLoading"> 
            <div class="container">
                 <div class="row ser-block">
                    <div class=" col-md-4 col-sm-12">
                          <div class="state">
                             <h6> اسم الطالب </h6>
                             <h5>{{feesData.values.std_name}}</h5>
                          </div>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-info" style="width: 100%;"></div>
                            </div>
                    </div>
                    <div class=" col-md-4 col-sm-12">
                        <div class="state">
                           <h6>الرقم الجامعي </h6>
                           <h5>{{feesData.values.std_id}} </h5>
                        </div>
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-info" style="width: 100%;"></div>
                          </div>
                  </div>
                  <div class=" col-md-4 col-sm-12">
                      <div class="state">
                         <h6>   السجل المدني  </h6>
                         <h5>{{feesData.values.ssn}}</h5>
                      </div>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-info" style="width: 100%;"></div>
                        </div>
                   </div>
                  
                  </div>
                
                  <div class="row ser-block">
                      <div class=" col-md-4 col-sm-12">
                            <div class="state">
                               <h6> الكلية  </h6>
                               <h5>{{feesData.values.coll}}</h5>
                            </div>
                              <div class="progress progress-sm">
                                  <div class="progress-bar bg-info" style="width: 100%;"></div>
                              </div>
                      </div>
                      <div class=" col-md-4 col-sm-12">
                          <div class="state">
                             <h6>التخصص</h6>
                             <h5>{{feesData.values.major}} </h5>
                          </div>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-info" style="width: 100%;"></div>
                            </div>
                    </div>
                    <div class=" col-md-4 col-sm-12">
                        <div class="state">
                           <h6>المستووى الدراسي
                            </h6>
                           <h5>{{feesData.values.level}} </h5>
                        </div>
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-info" style="width: 100%;"></div>
                          </div>
                  </div>
                  
                    
                    </div>
                    
                
                  <div class="row ser-block">
                      <div class=" col-md-4 col-sm-12">
                            <div class="state">
                               <h6> الكلية  </h6>
                               <h5>{{feesData.values.coll}}</h5>
                            </div>
                              <div class="progress progress-sm">
                                  <div class="progress-bar bg-info" style="width: 100%;"></div>
                              </div>
                      </div>
                      <div class=" col-md-4 col-sm-12">
                          <div class="state">
                             <h6>الحاله</h6>
                             <h5>{{feesData.values.status}} </h5>
                          </div>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-info" style="width: 100%;"></div>
                            </div>
                    </div>
                    <div class=" col-md-4 col-sm-12">
                        <div class="state">
                           <h6> الفرع
                            </h6>
                           <h5>{{feesData.values.branch}} </h5>
                        </div>
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-info" style="width: 100%;"></div>
                          </div>
                  </div>
                    
                    </div>
            </div></section>
          </div>
  <div class="jumbotron jumbtron-fluid" *ngIf="!isLoading">

   <div class="row">

      <p style="direction: rtl;float: right;text-align: right;padding-right: 50px">
          {{feesData.labels.txt1}}   {{feesData.values.term}}
          {{feesData.labels.txt2}} {{feesData.values.final_graduation_GPA}} {{feesData.labels.txt7}}
         <br/>
          {{feesData.labels.txt3}}
          {{feesData.values.total}}

          {{feesData.labels.txt4}}
          <br/>
            {{feesData.labels.txt5}}
          <br/>
          <b> {{feesData.labels.txt6}}</b>
        </p>
      </div> </div>
        <div  class="row prin " *ngIf="!isLoading">
            <div class="col-md-4"></div>
            <a class="btn btn-primary" href="{{arabicPrint}}"><span class="glyphicon glyphicon-print"></span>
              طباعة</a>
            <a class="btn btn-primary" href="{{EngPrint}}"><span class="glyphicon glyphicon-print"></span>
              Print</a>
            <div class="col-md-4"></div>
          
            </div></div>
   