.header{
    margin-bottom: 10;
    color: #6189f4;
    font-size: 14;
    border-bottom-color: #6189f4;
    border-bottom-width: 1;
    padding-bottom: 10;
}

.font{
    margin-right: 20;
    color: #f08b1c;
}