<mat-dialog-content dir="rtl">
    <div class="modal-content">
        <div class="modal-header">
       
          <h5 style="text-align: center" class="modal-title " id="exampleModalLabel">  الانسحاب من الجامعة</h5>
          
        </div>
        <div class="modal-body">
          <!-- <P class="text-center">---  </P> -->
          <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
              <div class="main-content" style="padding-top:0;">
                  <section  class="ser-state">
                      <div class="container">
                           <div class="row ser-block">
                           <div class="col-md-12 col-sm-12">
                              <div class="state">
                                 <h6>البريد الالكنروني </h6>
                                 <div class="custom-file">
                                    <input name="email" type="text"  #email="ngModel" [(ngModel)]="withdrawalReq.email" class="form-control"/>
                                   
                                    </div>
                                  </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-info" style="width: 15%;"></div>
                                </div>
                         </div>
                         <div class="col-md-12 col-sm-12">
                          <div class="state">
                             <h6>رقم الجوال </h6>
                             <div class="custom-file">
                                <input name="mobile" type="text"  #mobile="ngModel" [(ngModel)]="withdrawalReq.mobile" class="form-control"/>
                               
                                </div>
                              </div>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-info" style="width: 15%;"></div>
                            </div>
                     </div>
                        </div>
                      </div>
                </section>
                        
         
          
           
            <div style="margin-top: 10px;">
              <div class="btn-group" style="direction: ltr" role="group" aria-label="Basic example">
                          <button type="button" (click)="closeDiag()"  class="btn btn-outline-dark ml-1" ><i class="fa fa-close"></i> الغاء</button>
      
                <button  type="submit" class="btn btn-dark"><i class="fa fa-database"></i> حفظ</button>
              </div>
          </div>
                           
             </div>
        </form>
     </div>
        
  </div>

  </mat-dialog-content>