<app-header></app-header>
  <ScrollView>
    <ActivityIndicator [busy]="isLoading" color="#6189f4" horizontalAlignment="center"></ActivityIndicator>
  
    <FlexboxLayout flexDirection="column" *ngIf="!isLoading">
    
  
      <StackLayout height="100%" *ngIf="!isLoading">
        <StackLayout>
  
          <FlexboxLayout flexDirection="column">
            <FlexboxLayout flexDirection="column">
  
              <StackLayout class="ysBox">
              
              
                

                 
               
                 
                  <GridLayout  rows="auto"  columns="*">
                                  
                    <Label row="0"  colSpam="2" class="ysPBox" textWrap="true"  style="font-weight: 800;" text='{{"wafi.date"|translate}}'></Label>
                       
                          </GridLayout>
                          <GridLayout  rows="auto"  columns="*,150">
                            <label class="ysPBox"  row="0" col="1" text='{{"wafi.DisclaimerReason"|translate}}*'></label>
                            <Label row="0" col="0" text="&#xf0d7;" style="text-align: right;margin-right: 20;color:orange;" class="fas arr-drop" android:visibility="collapsed"></Label> 

                            <DropDown horizontalAlignment="center" col="0" row="0"  class="dro"
                            [items]="disclaimerReasonItemsDropDown"
                            (selectedIndexChanged)="changedisclaimerReason($event)"
                            hint="{{'wafi.disChoose'|translate}}"
                            itemsTextAlignment="center" style="text-align: center ;width: 100%;" >
                          
                          </DropDown>
                          </GridLayout>
                         
                         
                         


                          <GridLayout   rows="auto"  columns="*,150">
                            <label class="ysPBox"  row="0" col="1" text="{{'wafi.notes'|translate}}"></label>
                            <TextField class="ysPBox2"  col="0" row="0"  hint=" {{'wafi.notes'|translate}}" [(ngModel)]='dataObject.notes' ></TextField>

                          </GridLayout>
                          <GridLayout   rows="auto"  columns="*,150">
                            <label class="ysPBox"  row="0" col="1" text="{{'wafi.attachment'|translate}}"></label>
                            <Button text="اختار ملف" (tap)="openCustomFilesPicker('file')" class="ysPBox print-btn"></Button>

                          </GridLayout>

                          <GridLayout rows="150" columns="*,*">

                            <Button row="1" col="1" isEnabled="{{dataObject.disclaimerReason>0}}" text='{{"wafi.Submit" | translate}}'   class="ysPBox print-btn " (tap)="onFormSubmit(dataObject)" ></Button>
                            <Button row="1" col="0" text='{{"wafi.back" | translate}}'     class="ysPBox print-btn "  (tap)="back()"></Button>
                          </GridLayout>
                     

              </StackLayout>
            </FlexboxLayout>
          </FlexboxLayout>
        </StackLayout>
      </StackLayout>
    </FlexboxLayout>
  </ScrollView>