<div class="main-content">
  <section class="service-single mb-10">
    <div class="container">
      <h3> اعادة القيد </h3>
      <div class="row">
        <div class=" col-md-5">
          <p> اعادة القيد </p>
        </div>
        <!-- <div class=" col-md-6 descr">
                  <span>مدة الإنجاز : <span class="badge">3 يوم</span> </span>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    
                </div> -->
      </div>
    </div>
  </section>
  <div *ngIf="isLoading" class=" stu-name col-md-4 col-sm-12  ">
    <div class="state">

      <h5> جاري تحميل البيانات .....................</h5>

      <mat-spinner *ngIf="isLoading"
        style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;">
      </mat-spinner>

    </div>
  </div>
  <div class="ser-state" *ngIf="!isLoading">
    <div *ngFor="let msg of msgs"
      [ngClass]="msg.type == 'info' ? 'alert alert-info' : (msg.type == 'error' ? 'alert alert-danger' : (msg.type == 'success' ? 'alert alert-success' : 'alert alert-warning'))"
      role="alert">
      {{msg.body}}!
    </div>
  </div>
  <!-- <div style="direction: ltr;text-align: center">
    
    <button  type="button" class="btn btn-primary"  (click)="openDialoge()">
    اضافة طلب
  </button>
  <br/>
  <br/>
  
  </div> -->
  <div class="widget" *ngIf="!isLoading">
    <div class="widget-header">


      <h3 class="widget-title"> الطلبات السابقة
        <button type="button" class="btn btn-primary" (click)="openDialoge()">
          اضافة طلب
        </button>

      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead style="background: #ebecf0">

          <tr>
            <th scope="col">رقم الطلب</th>

            <th scope="col">تاريخ الطلب</th>
            <th scope="col">حالة الطلب</th>
            <th scope="col"> طباعة الطلب</th>
            <th scope="col"> حذف الطلب </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let it of reqData.requests;let i=index;">
            <td>{{it.request_number}}</td>

            <td>{{it.insert_date}}</td>
            <td>{{it.status}}</td>
            <td><a class="btn btn-primary" [href]="print(it.request_number)"><span
                  class="glyphicon glyphicon-print"></span>
                Print</a></td>

            <td><button [disabled]='!it.deletable || it.time_to_delete_per_hour<=0' class="btn btn-sm btn-danger"
                style="color: white" (click)="delete(it.request_number,i)"><i class="fa fa-trash">
                  <app-timer [hr]="it.time_to_delete_per_hour"></app-timer>
                </i> </button></td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>