<div class="main-content">
    <section _ngcontent-fpr-c11="" class="service-single mb-10">
        <div _ngcontent-fpr-c11="" class="container">
        <h3 _ngcontent-fpr-c11="">  معادلة مقررات </h3>
        <div _ngcontent-fpr-c11="" class="row">
          <div _ngcontent-fpr-c11="" class=" col-md-5">
        <p _ngcontent-fpr-c11=""></p>
      </div>
      <div _ngcontent-fpr-c11="" class=" col-md-6 descr">
        <span _ngcontent-fpr-c11="">مدة الإنجاز : <span _ngcontent-fpr-c11="" class="badge">3 يوم</span></span> &nbsp; &nbsp; &nbsp; &nbsp; <a _ngcontent-fpr-c11="" href="https://seuapps.seu.edu.sa/stdservicesapi/academic_status/academic_status_print?TermCode201610"><i _ngcontent-fpr-c11="" class="ik ik-download"></i></a><a _ngcontent-fpr-c11="" href="#"><i _ngcontent-fpr-c11="" class="ik ik-film"></i></a>
      </div>
    </div>
    </div>
    </section>
<div style="text-align: right" *ngFor="let msg of msgs" class="alert alert-info" role="alert">
    {{msg.body}}!
  </div>
  <div *ngIf="msg!=null" style="text-align: right"  class="alert alert-info" role="alert">
      {{msg.body}}!
    </div>
  <div style="direction: ltr;text-align: center">
    
    <button *ngIf="!reqData.can_add_new_request" type="button" class="btn btn-primary"  (click)="openDialoge()">
    اضافة طلب
  </button>
  <br/>
  <br/>
  
  </div>
  <div>
  <table style="text-align: center" class="table">
    <thead>
      <tr>
        <th scope="col">رقم الطلب</th>
  
        <th scope="col">تاريخ الطلب</th>
        <th scope="col">حالة الطلب</th>
        <th scope="col"> الرد </th>
        <th scope="col"> تاريخ الرد </th>

        <th scope="col"> طباعة الطلب</th>
        <th scope="col"> حذف الطلب </th>
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let it of reqData.reqs;let i=index;">
        <td>{{it.request_number}}</td>
       
  
        <td>{{it.insert_date}}</td>
        <td>{{it.status}}</td>
        <td>{{it.rejection_reason}}</td>
        <td>{{it.approval_date}}</td>
        <td><a class="btn btn-primary" [href]="print(it.request_number)" ><span class="glyphicon glyphicon-print"></span>
          Print</a></td>
  
        <td><button [disabled]='!it.deletable'  class="btn btn-sm btn-danger" style="color: white"  (click)="delete(it.request_number,i)"><i  class="fa fa-trash"></i> </button></td>
  
      </tr>
      
    </tbody>
  </table>
  </div>
</div>