<!--

<ActionBar>
   
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
   
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
  
    <ActionItem icon="res://menu" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text='{{"services.course-equalize.title"|translate}}'></Label>
</ActionBar>
-->

<ActionBar style="background:#001628; ">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar

-->

<NavigationButton ios:visibility="collapsed" icon="font://&#xf0f3;"  class="far" style="font-size:10; color: #fff;" ></NavigationButton>

<!--<ActionItem icon="font://&#xf0f3;"  class="far" style="font-size:10; color: #fff;" ios.position="right" (tap)="openSettings()"></ActionItem>
-->
<StackLayout margin-top="0">
  
    <Image src="~/images/logo_3d.png" style="width:80%"></Image>

  </StackLayout>

    <ActionItem icon="font://&#xf0c9;"  class="fas" style="font-size:10; color: #fff;"  (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>

</ActionBar>
<ScrollView>
    <ActivityIndicator [busy]="isLoading" color="#6189f4" horizontalAlignment="center"></ActivityIndicator>

<FlexboxLayout flexDirection="column" *ngIf="!isLoading">

    <GridLayout  columns="auto, *" class="serv-title">
        <Label col="1"  text="&#xf0d9;" class="fas serv-ico-r"></Label>
        <Label col="1"   text='{{"services.course-equalize.title"|translate}}' class="serv-name" ></Label>
        <Label col="1"  text="&#xf0da;" class="fas serv-ico "></Label>
    
    </GridLayout>

    <FlexboxLayout flexDirection="row-reverse" *ngIf="!isLoading && msgs.length>0">
        <ListView [items]="msgs">
            <ng-template let-item="item">
                <Label verticalAlignment="center" [text]="item.body" class="ysMsg"></Label>
            </ng-template>
        </ListView>
    </FlexboxLayout>

    <FlexboxLayout flexDirection="row-reverse" alignItems="center" *ngIf="!isLoading" justifyContent="center">
        <Button text='{{"general.request.add_request"|translate}}' *ngIf="reqData.can_add_new_request" (tap)="onTap()" class="print-btn"></Button>
    </FlexboxLayout>

    <RadListView *ngIf="!isLoading&&reqData.reqs &&reqData.reqs.length>0" [items]="reqData.reqs" [itemTemplateSelector]="templateSelector" (itemTap)="onItemTap($event)">
        <ng-template let-item="item">
            <FlexboxLayout flexDirection="row" justifyContent="space-between" class="ysHdrop2"  
            [ngStyle]="{'border-bottom-width':item ===reqData.reqs[reqData.reqs.length-1] ? '0' : '1' }">
                <Label  text="&#xf107;"  class="fas arr-drop"></Label>
                <FlexboxLayout flexDirection="row-reverse">
                    <Label text='{{item.request_number}}'></Label>
                    <Label text="{{item.status}}"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </ng-template>

        <ng-template tkTemplateKey="expanded" let-item="item">
            <FlexboxLayout flexDirection="column">
                <FlexboxLayout flexDirection="row" justifyContent="space-between" class="ysHdrop">
                    <Label  text="&#xf106;"  class="fas arr-drop"></Label>
                    <FlexboxLayout flexDirection="row-reverse">
                        <Label [text]='item.request_number'></Label>
                        <Label [text]="item.status"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>

                <GridLayout class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto" columns="*,150">
                          
                    <Label row="0" column="1" class="ysPBox" style="font-weight: 800;" text='{{"general.request.req_no"|translate}} :'></Label>
                    <Label row="0"  column="0" class="ysPBox2" text="{{item.request_number}}" style="text-align: right;"></Label>
                
                    <Label row="1" column="1" class="ysPBox" style="font-weight: 800;" text='{{"services.course-equalize.reply"|translate}} :'></Label>
                    <Label row="1"  column="0" class="ysPBox2" text="{{item.rejection_reason}}"></Label>
                
                    <Label row="2" column="1" class="ysPBox" style="font-weight: 800;" text='{{"services.course-equalize.reply_date"|translate}} :'></Label>
                    <Label row="2"  column="0" class="ysPBox2" text="{{item.approval_date}}" style="text-align: right;"></Label>
      
                    <Label row="3" column="1" class="ysPBox" style="font-weight: 800;" text='{{"general.request.req_status"|translate}} :'></Label>
                    <Label row="3"  column="0" class="ysPBox2" text="{{item.status}}"></Label>
      
                    <Label row="4" column="1" class="ysPBox" style="font-weight: 800;" text='{{"general.request.req_date"|translate}} :'></Label>
                    <Label row="4"  column="0" class="ysPBox2" text="{{item.insert_date}}" style="text-align: right;"></Label>
                   
                    <Label row="5" column="1" class="ysPBox" style="font-weight: 800;" text='{{"general.request.req_print"|translate}}'></Label>
                    <Button row="5"  column="0" (tap)="print(item.request_number)" class=" fas blue-button  " text="&#xf02f;"></Button>

                    <Label row="6" column="1" class="ysPBox" style="font-weight: 800;"  text='{{"general.request.req_delete"|translate}}'></Label>
                    <Button row="6"  column="0" *ngIf='item.deletable' [disabled]='deleting' text="&#xf1f8;" (tap)="delete(item.request_number,i)" class="fas blue-button "></Button>
                    <Label row="6"  column="0" class="ysPBox2" *ngIf='!item.deletable' text='{{"general.request.non_cancelable_request"|translate}}' textWrap="true"></Label>
                   
                       <!--
                    <Label row="5" column="1" style="font-weight: 800;" text='{{"general.request.delete_print_req"|translate}} :'></Label>
                    <FlexboxLayout alignItems="center" flexWrap="nowrap" flexDirection="row" row="5"  column="0">
                        <Button (tap)="print(item.request_number)" class="blue-button fas -rounded-sm" text="&#xf02f;">
                        </Button>
                        <label text="|"></label>
                        <Button *ngIf='item.deletable' [disabled]='deleting' text="&#xf1f8;" (tap)="delete(item.request_number,i)" class="blue-button fas  -rounded-sm"></Button>
                        <Label *ngIf='!item.deletable' text='{{"general.request.non_cancelable_request"|translate}}' textWrap="true"></Label>
                    </FlexboxLayout>
                -->
                  </GridLayout>

            </FlexboxLayout>
        </ng-template>
    </RadListView>
</FlexboxLayout>
</ScrollView>