<div style="text-align: right" *ngFor="let msg of msgs" class="alert alert-info" role="alert">
    {{msg.body}}!
  </div>
  <div *ngIf="msg!=null" style="text-align: right"  class="alert alert-info" role="alert">
      {{msg.body}}!
    </div>
  <div style="direction: ltr;text-align: center">
    
    <button *ngIf="!reqData.can_add_new_request" type="button" class="btn btn-primary"  (click)="openDialoge()">
    اضافة طلب
  </button>
  <br/>
  <br/>
  
  </div>
  <div>
  <table style="text-align: center" class="table">
    <thead>
      <tr>
        <th scope="col">رقم الطلب</th>
  
        <th scope="col">تاريخ الطلب</th>
        <th scope="col">حالة الطلب</th>
        <th scope="col"> طباعة الطلب</th>
        <th scope="col"> حذف الطلب </th>
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let it of reqData.reqs;let i=index;">
        <td>{{it.request_number}}</td>
       
  
        <td>{{it.insert_date}}</td>
        <td>{{it.status}}</td>
        <td><a class="btn btn-primary" [href]="print(it.request_number)" ><span class="glyphicon glyphicon-print"></span>
          Print</a></td>
  
        <td><button [disabled]='it.deletable || it.time_to_delete_per_hour<=0'  class="btn btn-sm btn-danger" style="color: white"  (click)="delete(it.request_number,i)"><i  class="fa fa-trash"><app-timer [hr]="it.time_to_delete_per_hour"></app-timer></i> </button></td>
  
      </tr>
      
    </tbody>
  </table>
  </div>
  