DropDown{
    padding: 5;
}
.univ-dropdown{
    border-width: 1;
    //border-color: gray;
    margin-bottom: 10;
    margin-left: 20;
    margin-right: 20;
    color:#f08b1c;
    border-radius: 100px;
}
.hours-dropdown{

    width: 15%;
}
.grade-dropdown{
    
    width: 20%;
    margin-left: 15;

}
.lang-dropdown{
    width: 25%;
}
.title{
    width: 30%;
}

