DropDown{
    padding: 5;
}
.wrap{
    padding: 20;
    color:#6189f4;
}
.univ-dropdown{
    border-width: 1;
    border-color: gray;
    margin-bottom: 10;
    margin-left: 20;
    margin-right: 20;
    color:#6189f4;
}
.hours-dropdown{

    width: 15%;
}
.grade-dropdown{
    
    width: 15%;

}
.lang-dropdown{
    width: 25%;
}
.title{
    width: 35%;
}

