<app-header></app-header>
<StackLayout>
    <StackLayout  horizontalAlignment="right"class="heading " style="padding-right: 10px;width: 90%;">

        <Label horizontalAlignment="right"  class="h3 heading-text "  text="   الإعـــــلانـــات  "></Label>
        <Label   text="&#xf0a1;" class="fas  heading-icon"></Label>

    </StackLayout>
   
    <GridLayout height="150" class="slider">


        <Carousel  selectedPage="{{sindex}}" finite="true" bounce="false" #myCarousel [items]="userService.adsData"
            height="100%" width="100%" color="white" android:indicatorAnimation="slide"
            android:indicatorAnimation="slide" indicatorColorUnselected ="#f08b1c"indicatorColor="#243686" indicatorOffset="0, -15" showIndicator="true" >
            <CarouselItem *ngFor="let item of userService.adsData" [backgroundColor]="item.color"
                verticalAlignment="middle" >
                <GridLayout  >
                    <StackLayout>
                        <!-- <Image class="slid-itme" height="120" stretch="aspectFill" stretch="aspectFill" row="0"
                            src="{{'data:image/jpg;base64,' + item.image}}"></Image> -->


                            <Image class="slid-itme" height="120" stretch="aspectFill" stretch="aspectFill" row="0"
                            src="{{item.image}}"></Image>
                        <Label horizontalAlignment="right" class="label-itme" textWrap="true" row="1"
                            text="{{item.title}}"></Label>
                    </StackLayout>
                </GridLayout>
            </CarouselItem>
        </Carousel>
    </GridLayout>

    <GridLayout col="*" style="direction: rtl;" class="page__content">
        <StackLayout>
            <StackLayout style="width: 90%;" horizontalAlignment="right" class="heading">
                <Label horizontalAlignment="right"  class="h3 Almarai heading-text" text="الأخـــــــبـــــــار"></Label>
                <Label   text="&#xf1ea;" class="fas  heading-icon"></Label>


            </StackLayout>
            <ScrollView height="100%">
 
                <StackLayout>

                    <GridLayout *ngIf="!newsLoaded" >

                        <StackLayout class="form" verticalAlignment="center">
                           
                            <StackLayout>
                                <ActivityIndicator *ngIf="!newsLoaded" 
                                    [busy]="!newsLoaded"></ActivityIndicator>

                            </StackLayout>

                        </StackLayout>

                    </GridLayout>

                    <StackLayout height="160" class="list-group-item news"
                        *ngFor="let news of userService.newsData">

          
                        <Image height="100" stretch="aspectFill" row="0" class="news-item"
                            src="{{decodeURL(news.image)}}"></Image>






                        <GridLayout columns="auto, *" class="label-block">
                            <Label textWrap="true" col="1" row="0"
                                horizontalAlignment="right" text="{{news.date}} " class="label-news"></Label>
                            <Label textWrap="true" col="1" row="2"
                                 text="{{news.title}} " class="label-news-title"></Label>


                        </GridLayout>



                        <StackLayout class="hr"></StackLayout>

                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </StackLayout>


    </GridLayout>
   
</StackLayout>