<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="widget ">
          <div class="widget-header">
            <h3 class="widget-title">

              <i class="ik ik-bar-chart-2"></i> الاخبار <i *ngIf="!newsLoaded" class="fas fa-spinner fa-spin"> </i></h3>
          </div>

          <div class="widget-body">
            <div class="row">
              <div class="col-md-12 ">
                <div class="owl-container">
                  <div class="owl-carousel basic">
                    <div *ngFor="let news of userService.newsData;index as i" class="card">
                      <div class="news">
                        <img src="{{'data:image/jpg;base64,' + news.image}}" alt="" class="img-thumbnail">
                        <div class="details">
                          <h3><a [routerLink]="['/dashboard/newsdetail', i]"> {{news.title}}
                            </a></h3>
                          <div class="social">
                            <p style="text-align: center; margin-top: 10px; color: #fff"> <i class="fa fa-calendar"
                                style="color: #f28d1e"></i>
                              {{news.date}}</p>
                          </div>
                        </div>

                      </div>
                    </div>


                  </div>
                  <div class="slider-nav text-center">
                    <a href="#" class="left-arrow owl-prev">
                      <i class="ik ik-chevron-right"></i>
                    </a>
                    <div class="slider-dot-container"></div>
                    <a href="#" class="right-arrow owl-next">
                      <i class="ik ik-chevron-left"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="widget ">
          <div class="widget-header">


            <h3 class="widget-title"> <i class="ik ik-image"></i> إعلاناتي <i *ngIf="!adsLoaded"
                class="fas fa-spinner fa-spin"> </i></h3>
          </div>
          <div class="widget-body">
            <div class="row">
              <div class="col-md-12 ">
                <div class="owl-container">
                  <div class="owl-carousel advertise">
                    <div *ngFor="let news of userService.adsData" class="card">
                      <div class="news">
                        <img src="{{'data:image/jpg;base64,' + news.image}}" alt="" class="img-thumbnail">

                      </div>
                    </div>




                  </div>
                  <div class="slider-nav text-center">
                    <a href="#" class="left-arrow owl-prev">
                      <i class="ik ik-chevron-right"></i>
                    </a>
                    <div class="slider-dot-container"></div>
                    <a href="#" class="right-arrow owl-next">
                      <i class="ik ik-chevron-left"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="widget">
          <div class="card latest-update-card">
            <div class="widget-header">


              <h3 class="widget-title"> <i class="ik ik-calendar"></i> فعالياتي <i *ngIf="!eventsLoaded"
                  class="fas fa-spinner fa-spin"> </i></h3>
            </div>
            <div class="card-block">
              <div class="latest-update-box">
                <div *ngFor="let news of userService.eventsData" class="row pb-30">
                  <div class="col-auto update-meta pr-0">
                    <i class="ik ik-calendar bg-icon update-icon"></i>
                  </div>
                  <div class="col">
                    <a href="#">
                      <h6 class="news-title">{{news.title}} </h6>
                    </a>
                    <p class=" mb-0"><i class="fa fa-calendar" style="color: #1c2172"></i>
                      {{news.date}} </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="widget">
          <div class="card">
            <div class="widget-header">
              <h3 class="widget-title"> <i class="ik ik-book-open"></i> خدمات عامة </h3>
            </div>
            <div *ngIf="userService.userData.activeRole=='Employee'" class="card-body" style="padding: 0 15px">
              <div class="row">
                <div class="col-md-6 new-ser">
                  <i class="ik ik-bold"></i>
                  <p><a target="_blank" href="https://wafi.seu.edu.sa/seu/casLogin">نظام الوافي </a>
                  </p>
                </div>
                <div class="col-md-6 new-ser">
                  <i class="ik ik-mail"></i>
                  <p><a target="_blank" href="https://outlook.office365.com/owa/seu.edu.sa">البريد
                      الإلكتروني </a></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 new-ser">
                  <i class="ik .ik-watch"></i>
                  <p><a target="_blank" href="http://hadir.seu.edu.sa/">الحضور والانصراف </a></p>
                </div>

                <div class="col-md-6 new-ser">
                  <i class="ik ik-settings"></i>
                  <p><a target="_blank" href="https://sd.seu.edu.sa">نظام دعم </a></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 new-ser">
                  <i class="ik ik-tablet"></i>
                  <p><a target="_blank" href="https://bannadmin.seu.edu.sa/applicationNavigator"> نظام
                      البانر </a></p>
                </div>
              </div>
            </div>

            <div class="card-body" *ngIf="userService.userData.activeRole=='Instructor'" style="padding: 0 15px">
              <div class="row">
                <div class="col-md-6 new-ser">
                  <i class="ik ik-globe"></i>
                  <p><a target="_blank" href="https://wafi.seu.edu.sa/seu/casLogin">نظام الوافي </a></p>
                </div>
                <div class="col-md-6 new-ser">
                  <i class="ik ik-mail"></i>
                  <p><a target="_blank" href="https://outlook.office365.com/owa/seu.edu.sa">البريد
                      الإلكتروني </a></p>
                </div>
              </div>

              <div class="row">


                <div class="col-md-6 new-ser">
                  <i class="ik ik-bold"></i>
                  <p><a target="_blank"
                      href="https://lms.seu.edu.sa/auth-saml/saml/login?apId=_137_1&redirectUrl=https%3A%2F%2Flms.seu.edu.sa%2Fwebapps%2Fportal%2Fexecute%2FdefaultTab">نظام
                      <span class="text-eng">Back Board</span> </a></p>
                </div>
                <div class="col-md-6 new-ser">
                  <i class="ik ik-list"></i>
                  <p><a target="_blank" href="https://saudieu-analytics.blackboard.com/default.aspx">
                      تقارير البلاك بورد </a></p>
                </div>
              </div>




              <div class="row">
                <div class="col-md-6 new-ser">
                  <i class="ik ik-clipboard"></i>
                  <p><a target="_blank" href="https://seu.edu.sa/sites/ar/Services/Pages/instructions-instructors.aspx">
                      تعليمات الأنظمة التعليمية </a></p>
                </div>
                <div class="col-md-6 new-ser">
                  <i class="ik ik-calendar"></i>
                  <p><a target="_blank" href="https://seu.edu.sa/sites/ar/Calendar/Pages/Academic_Calendar.aspx">التقويم
                      الدراسي </a></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 new-ser">
                  <i class="ik ik-watch"></i>
                  <p><a target="_blank" href="http://hadir.seu.edu.sa/"> متابعة حضور وانصراف الطلاب
                    </a></p>
                </div>
                <div class="col-md-6 new-ser">
                  <i class="ik ik-repeat"></i>
                  <p><a target="_blank" href="http://seuapps.seu.edu.sa/teaching-load"> بدل التعليم
                      الجامعي </a></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 new-ser">
                  <i class="ik ik-settings"></i>
                  <p><a target="_blank" href="https://sd.seu.edu.sa">نظام دعم </a></p>
                </div>
                <div class="col-md-6 new-ser">
                  <i class="ik ik-book-open"></i>
                  <p><a target="_blank" href="https://rtms.seu.edu.sa/">بوابة عمادة البحث العلمي
                      الالكترونيه </a></p>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6 new-ser">
                  <i class="ik ik-tablet"></i>
                  <p><a target="_blank" href="https://bannservices.seu.edu.sa/FacultySelfService/"> خدمات نظام البانر
                    </a></p>
                </div>
                <div class="col-md-6 new-ser">
                  <i class="ik ik-tablet"></i>
                  <p><a target="_blank" href="https://bannservices.seu.edu.sa/SelfServiceBannerGeneralEventManagement">
                      إدارة الأحداث والمناسبات</a></p>
                </div>
              </div>

            </div>

            <div class="card-body" *ngIf="userService.userData.activeRole=='Student'" style="padding: 0 15px">
              <div class="row">
                <div class="col-md-6 new-ser">
                  <i class="ik ik-user"></i>
                  <p>
                    <a target="_blank" href="https://bannservices.seu.edu.sa/StudentSelfService"> الخدمات الذاتية
                      للطلبة</a>
                  </p>
                </div>
                <div class="col-md-6 new-ser">
                  <i class="ik ik-book"></i>
                  <p><a target="_blank" href="https://bannservices.seu.edu.sa/StudentRegistrationSsb"> تسجيل المقررات
                    </a></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 new-ser">
                  <i class="ik ik-briefcase"></i>
                  <p>
                    <a target="_blank" href="https://bannservices.seu.edu.sa/SelfServiceBannerGeneralEventManagement">
                      إدارة الأحداث والمناسبات</a>
                  </p>
                </div>
                <div class="col-md-6 new-ser">
                  <i class="ik ik-mail"></i>
                  <p><a target="_blank" href="https://outlook.office365.com/owa/seu.edu.sa">البريد
                      الإلكتروني </a></p>
                </div>
              </div>

              <div class="row">


                <div class="col-md-6 new-ser">
                  <i class="ik ik-bold"></i>
                  <p><a target="_blank"
                      href="https://lms.seu.edu.sa/auth-saml/saml/login?apId=_137_1&redirectUrl=https%3A%2F%2Flms.seu.edu.sa%2Fwebapps%2Fportal%2Fexecute%2FdefaultTab">نظام
                      <span class="text-eng">Back Board</span> </a></p>
                </div>
                <div class="col-md-6 new-ser">
                  <i class="ik ik-user-check"></i>
                  <p><a target="_blank" href="http://seuapps.seu.edu.sa/StudentRightsUnit/Home">الحقوق
                      الطلابية </a></p>
                </div>
              </div>




              <div class="row">
                <div class="col-md-6 new-ser">
                  <i class="ik ik-clipboard"></i>
                  <p><a target="_blank" href="https://seu.edu.sa/sites/ar/Services/Pages/instructions-instructors.aspx">
                      تعليمات الأنظمة التعليمية </a></p>
                </div>
                <div class="col-md-6 new-ser">
                  <i class="ik ik-calendar"></i>
                  <p><a target="_blank" href="https://seu.edu.sa/sites/ar/Calendar/Pages/Academic_Calendar.aspx">التقويم
                      الدراسي </a></p>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>



  </div>


</div>
