
   

       
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                             <div class="widget ">
                    <div class="widget-header">
                        <h3 class="widget-title"> <i class="ik ik-bar-chart-2"></i> أخباري  </h3>
                    </div>
                  
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="owl-container">
                                    <div class="owl-carousel basic">
                                      <div class="card">
                                            <div class="news">
                                              <img src="assets/images/gallery/1.jpg" alt="" class="img-thumbnail">
                                              <div class="details">
                                                <h3><a href="#">الجامعة الإلكترونية تنظم حفل المعايدة السنوي بمناسبة عيد الفطر لمنسوبيها</a></h3>
                                                <div class="social">
                                                   <p style="text-align: center; margin-top: 10px; color: #fff"> <i class="fa fa-calendar" style="color: #f28d1e"></i> 09.10.2019 </p>
                                                </div>
                                              </div>
                                          
                                        </div>
                                        </div>
                                        
                                          <div class="card">
                                            <div class="news">
                                              <img src="assets/images/gallery/1.jpg" alt="" class="img-thumbnail">
                                              <div class="details">
                                                <h3><a href="#">الجامعة الإلكترونية تنظم حفل المعايدة السنوي بمناسبة عيد الفطر لمنسوبيها</a></h3>
                                                <div class="social">
                                                   <p style="text-align: center; margin-top: 10px; color: #fff"> <i class="fa fa-calendar" style="color: #f28d1e"></i> 09.10.2019 </p>
                                                </div>
                                              </div>
                                          
                                        </div>
                                         </div>
                                      <div class="card">
                                             <div class="news">
                                              <img src="assets/images/gallery/1.jpg" alt="" class="img-thumbnail">
                                              <div class="details">
                                                <h3><a href="#">الجامعة الإلكترونية تنظم حفل المعايدة السنوي بمناسبة عيد الفطر لمنسوبيها</a></h3>
                                                <div class="social">
                                                   <p style="text-align: center; margin-top: 10px; color: #fff"> <i class="fa fa-calendar" style="color: #f28d1e"></i> 09.10.2019 </p>
                                                </div>
                                              </div>
                                          
                                        </div>
                                        </div>
                                       <div class="card">
                                             <div class="news">
                                              <img src="assets/images/gallery/1.jpg" alt="" class="img-thumbnail">
                                              <div class="details">
                                                <h3><a href="#">الجامعة الإلكترونية تنظم حفل المعايدة السنوي بمناسبة عيد الفطر لمنسوبيها</a></h3>
                                                <div class="social">
                                                   <p style="text-align: center; margin-top: 10px; color: #fff"> <i class="fa fa-calendar" style="color: #f28d1e"></i> 09.10.2019 </p>
                                                </div>
                                              </div>
                                          
                                        </div>
                                        </div>
                                    </div>
                                    <div class="slider-nav text-center">
                                        <a href="#" class="left-arrow owl-prev">
                                            <i class="ik ik-chevron-right"></i>
                                        </a>
                                        <div class="slider-dot-container"></div>
                                        <a href="#" class="right-arrow owl-next">
                                            <i class="ik ik-chevron-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                 </div>
                           </div>
                       </div>
                               
                     <div class="col-md-6">
                    <div class="widget ">
                    <div class="widget-header">
                        <h3 class="widget-title"> <i class="ik ik-image"></i>  إعلاناتي </h3>
                    </div>
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="owl-container">
                                    <div class="owl-carousel advertise">
                                      <div class="card">
                                      <div class="news">
                                         <img src="assets/images/adv.png" alt="" class="img-thumbnail">
                                        </div>
                                        </div>
                                       <div class="card">
                                          <div class="news">
                                              <img src="assets/images/adv2.png" alt="" class="img-thumbnail">
                                        </div>
                                        </div>
                                         <div class="card">
                                           <div class="news">
                                              <img src="assets/images/adv3.png" alt="" class="img-thumbnail">
                                        </div>
                                        </div>
                                      
                                    </div>
                                    <div class="slider-nav text-center">
                                        <a href="#" class="left-arrow owl-prev">
                                            <i class="ik ik-chevron-right"></i>
                                        </a>
                                        <div class="slider-dot-container"></div>
                                        <a href="#" class="right-arrow owl-next">
                                            <i class="ik ik-chevron-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                 </div>
                           </div>
                       </div>
                               
                     </div>
            
                 
                <div class="row">
                   <div class="col-md-6">
                    <div class="widget">
                        <div class="card latest-update-card">
                         <div class="widget-header">
                        <h3 class="widget-title"> <i class="ik ik-calendar"></i>  فعالياتي </h3>
                        </div>
                        <div class="card-block">
                            <div class="latest-update-box">
                                <div class="row pb-30">
                                    <div class="col-auto update-meta pr-0">
                                        <i class="ik ik-calendar bg-icon update-icon"></i>
                                    </div>
                                    <div class="col">
                                        <a href="#"><h6>الجامعة الإلكترونية تنظم حفل المعايدة السنوي بمناسبة عيد الفطر لمنسوبيها </h6></a>
                                        <p class=" mb-0"><i class="fa fa-calendar" style="color: #1c2172"></i> 12 محرم </p>
                                    </div>
                                </div>
                                <div class="row pb-30">
                                    <div class="col-auto update-meta pr-0">
                                        <i class="ik ik-calendar bg-icon update-icon"> </i>
                                    </div>
                                    <div class="col">
                                        <a href="#"><h6>الجامعة الإلكترونية تنظم حفل المعايدة السنوي بمناسبة عيد الفطر لمنسوبيها </h6></a>
                                        <p class=" mb-0"><i class="fa fa-calendar" style="color: #1c2172"></i> 22 محرم </p>
                                    </div>
                                </div>
                                <div class="row pb-30">
                                    <div class="col-auto update-meta pr-0">
                                        <i class="ik ik-calendar bg-icon update-icon"></i>
                                    </div>
                                    <div class="col">
                                        <a href="#"><h6>الجامعة الإلكترونية تنظم حفل المعايدة السنوي بمناسبة عيد الفطر لمنسوبيها </h6></a>
                                        <p class=" mb-0"><i class="fa fa-calendar" style="color: #1c2172"></i> 28 محرم </p>
                                    </div>
                                </div>
                                <div class="row pb-30">
                                    <div class="col-auto update-meta pr-0">
                                        <i class="ik ik-calendar bg-icon update-icon"></i>
                                    </div>
                                    <div class="col">
                                        <a href="#"><h6>الجامعة الإلكترونية تنظم حفل المعايدة السنوي بمناسبة عيد الفطر لمنسوبيها </h6></a>
                                        <p class=" mb-0"><i class="fa fa-calendar" style="color: #1c2172"></i> 30 محرم </p>
                                    </div>
                                </div>
                            </div>
                                </div>
                        </div>
                    </div>
                           </div>
                       
                   <div class="col-md-6">
                    <div class="widget">
                        <div class="card">
                            <div class="widget-header">
                            <h3 class="widget-title"> <i class="ik ik-info"></i>  خدمات عامة </h3>
                           </div>
                            <div class="card-body" style="padding: 0 15px">
                            <div class="row">
                             <div class="col-md-6 new-ser">
                                <i class="ik ik-bold"></i>
                                 <p><a href="">نظام BlackBoard </a></p>
                             </div>
                                 <div class="col-md-6 new-ser">
                                <i class="ik ik-mail"></i>
                                 <p><a href="">البريد الإلكتروني </a></p>
                             </div>
                            </div>
                                
                            <div class="row">
                                     <div class="col-md-6 new-ser">
                                <i class="ik ik-book-open"></i>
                                 <p><a href="">إدارة المصادر المعرفية </a></p>
                             </div>
                             <div class="col-md-6 new-ser">
                                <i class="ik ik-message-square"></i>
                                 <p><a href="">المنتدي </a></p>
                             </div>
                            </div>
                                
                                <div class="row">
                                 <div class="col-md-6 new-ser">
                                <i class="ik ik-calendar"></i>
                                 <p><a href="">التقويم الدراسي </a></p>
                                </div>
                                 <div class="col-md-6 new-ser">
                                <i class="ik ik-clipboard"></i>
                                 <p><a href="">تعليمات الأنظمة التعليمية </a></p>
                                </div>
                                </div>
                                <div class="row">
                             <div class="col-md-6 new-ser">
                                <i class="ik ik-users"></i>
                                 <p><a href="">دعم الدخول الموحد  </a></p>
                             </div>
                                 <div class="col-md-6 new-ser">
                                <i class="ik ik-settings"></i>
                                 <p><a href="">نظام دعم   </a></p>
                             </div>
                            </div>
                             <div class="row">
                               <div class="col-md-6 new-ser">
                                <i class="ik ik-link"></i>
                                 <p><a href=""> تحديث بيانات </a></p>
                             </div>
                             <div class="col-md-6 new-ser">
                                <i class="ik ik-command"></i>
                                 <p><a href="">الحقوق الطلابية  </a></p>
                             </div>
                                 
                            </div>
                                 <div class="row">
                                    <div class="col-md-12 new-ser">
                                <i class="ik ik-tablet"></i>
                                 <p><a href=""> خدمات نظام معلومات الطلبة  </a></p>
                             </div> 
                                </div>
                            </div>
                       
                        </div>
                    </div>
                 </div>
                         
               </div>
                
               
                
           </div>
                 
                      
    </div>
        
        
       

       
