<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12 ">
            <div class="row ">


                <div class="col-md-7">

                    <div class="widget">
                        <div class="card">
                            <div class="widget-header">

                                <div class="widget-title d-flex justify-content-between">
                                    <h3> {{"menu.PublicServices" | translate}}
                                        <p *ngIf="userService.userData && (userService.userData.activeRole=='Instructor' || userService.userData.activeRole=='Employee')"
                                            id="sysnotes" [innerHtml]='sysNotes'>
                                        </p>

                                    </h3>
                                    <img src="assets/images/sys.png">

                                </div>

                            </div>
                            <div class="card-body"
                                *ngIf="userService.userData && userService.userData.activeRole=='Employee'"
                                style="padding: 0 15px">
                                <div class="row">
                                    <!-- <div class="col-md-4 new-ser">
                    <p><a target="_blank" href="https://wafi.seu.edu.sa/seu/casLogin">
                        <img src="assets/images/wafi.png">
                        {{"menu.ALWAFI" | translate}} </a>
                    </p>
                  </div> -->
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://outlook.office365.com/owa/seu.edu.sa">
                                                <img src="assets/images/mail.png"> {{"menu.email" | translate}} </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="http://hadir.seu.edu.sa/">
                                                <img src="assets/images/smart.png"> {{"menu.Attednace" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://sd.seu.edu.sa">
                                                <img src="assets/images/concept.png"> {{"menu.Support" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://bannadmin.seu.edu.sa/applicationNavigator">
                                                <img src="assets/images/presentation.png"> {{"menu.BANNER" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="https://lms.seu.edu.sa/auth-saml/saml/login?apId=_137_1&redirectUrl=https%3A%2F%2Flms.seu.edu.sa%2Fwebapps%2Fportal%2Fexecute%2FdefaultTab">
                                                <img src="assets/images/blackboard.png"> {{"menu.BLACKBOARD" |
                                                translate}} </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://sso.seu.edu.sa/identity">
                                                <img src="assets/images/mass-media.png"> {{"menu.ssoidentity" |
                                                translate}} </a>
                                        </p>
                                    </div>
                                    <!-- <div class="col-md-4 new-ser">
                    <p><a target="_blank" href="http://forum.seu.edu.sa">
                      <img src="assets/images/forum.png"> 
                      {{"menu.Forum" | translate}} </a></p>
                  </div> -->
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://seu.app.deepknowledge.io/LoginRedirect">
                                                <img src="assets/images/data.png"> {{"menu.knowledgeresources" |
                                                translate}} </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://dms.seu.edu.sa/dms">
                                                <img src="assets/images/laptop.png"> {{"menu.DMS" | translate}} </a>
                                        </p>
                                    </div>
                                    <!-- <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="http://stuapp.seu.edu.sa/ContractorsManagement">
                                                <img src="assets/images/gdpr.png"> {{"menu.FacultyRecruitmentSystem" |
                                                translate}} </a>
                                        </p>
                                    </div> -->

                                    <!-- <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="https://old.seu.edu.sa/sites/ar/Pages/QueryDMSNew.aspx">
                                                <img src="assets/images/contract.png"> {{"menu.QueryDMS" | translate}}
                                            </a>
                                        </p>
                                    </div> -->
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="http://p-az-erp-app01:9001/forms/frmservlet?config=ERP">
                                                <img src="assets/images/debt.png"> {{"menu.ERP" | translate}} </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://ljanpro.seu.edu.sa/">
                                                <img src="assets/images/commite.png"> {{"menu.CouncilsAndCommittees" |
                                                translate}} </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="http://seuapps.seu.edu.sa/teaching-load">
                                                <img src="assets/images/prof.png"> {{"menu.TeachingLoad" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://seuapps.seu.edu.sa/stdsnew/users/index">
                                                <img src="assets/images/elec.png"> {{"menu.NewAdminPage" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="http://seuapps.seu.edu.sa/eservices/taqrir_final/login.php">
                                                <img src="assets/images/manag.png"> {{"menu.AdminPage" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="http://seuapps.seu.edu.sa/StudentRightsUnit/Home">
                                                <img src="assets/images/student.png"> {{"menu.StdLaw" | translate}}

                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a [routerLink]="['/apps/translation/user']">
                                                <img src="assets/images/translate.png"> {{"menu.translation" |
                                                translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="http://umc.seu.edu.sa/auth">
                                                <img src="assets/images/umc.png"> {{"menu.umc" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser" *ngIf="isResumeUser">
                                        <p>
                                            <a [routerLink]="['/apps/resume/user']">
                                                <img src="assets/images/resume.png"> {{"menu.resume" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser" *ngIf="userService.userData['bbreports']">
                                        <p>
                                            <a [routerLink]="['/apps/bbreports']">
                                                <img src="assets/images/black.png"> {{"menu.bb_virtual_reports" |
                                                translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser" *ngIf="userService.userData['dashboard']">
                                        <p>
                                            <a target="_blank" href="https://dashboard.seu.edu.sa/">
                                                <img src="assets/images/dashboard.png"> {{"menu.dashboard" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p><a [routerLink]="['/apps/skills/user']">
                                                <img src="assets/images/skills.png">
                                                {{"menu.skills" | translate}}
                                            </a></p>
                                    </div>
                                </div>




                            </div>

                            <div class="card-body"
                                *ngIf="userService.userData && userService.userData.activeRole=='Instructor'"
                                style="padding: 0 15px">
                                <div class="row">
                                    <!-- <div class="col-md-4 new-ser">
                    <p><a target="_blank" href="https://wafi.seu.edu.sa/seu/casLogin">
                        <img src="assets/images/wafi.png">
                        {{"menu.ALWAFI" | translate}} </a>
                    </p>
                  </div> -->
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://outlook.office365.com/owa/seu.edu.sa">
                                                <img src="assets/images/mail.png"> {{"menu.email" | translate}} </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="https://lms.seu.edu.sa/auth-saml/saml/login?apId=_137_1&redirectUrl=https%3A%2F%2Flms.seu.edu.sa%2Fwebapps%2Fportal%2Fexecute%2FdefaultTab">
                                                <img src="assets/images/blackboard.png">
                                                <span class="text-eng"> {{"menu.BLACKBOARD" | translate}}</span> </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="https://saudieu-analytics.blackboard.com/default.aspx">
                                                <img src="assets/images/black.png"> {{"menu.BBREPORTS" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="http://hadir.seu.edu.sa/">
                                                <img src="assets/images/smart.png"> {{"menu.Attednace" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="http://seuapps.seu.edu.sa/teaching-load">
                                                <img src="assets/images/bdal.png"> {{"menu.BADAL" | translate}} </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://sd.seu.edu.sa">
                                                <img src="assets/images/concept.png"> {{"menu.Support" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://rtms.seu.edu.sa/">
                                                <img src="assets/images/rese.png"> {{"menu.BAWABA" | translate}} </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="https://bannservices.seu.edu.sa/FacultySelfService/">
                                                <img src="assets/images/tech.png"> {{"menu.FacultySelfService" |
                                                translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://bannadmin.seu.edu.sa/applicationNavigator">
                                                <img src="assets/images/presentation.png"> {{"menu.BANNER" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="https://bannservices.seu.edu.sa/SelfServiceBannerGeneralEventManagement">
                                                <img src="assets/images/eve.png"> {{"menu.EVENTSMANAGE" |
                                                translate}}</a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://ljanpro.seu.edu.sa/">
                                                <img src="assets/images/commite.png"> {{"menu.CouncilsAndCommittees" |
                                                translate}} </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://seuapps.seu.edu.sa/stdsnew/users/index">
                                                <img src="assets/images/elec.png"> {{"menu.NewAdminPage" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="http://seuapps.seu.edu.sa/eservices/taqrir_final/login.php">
                                                <img src="assets/images/manag.png"> {{"menu.AdminPage" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://dms.seu.edu.sa/dms">
                                                <img src="assets/images/laptop.png"> {{"menu.DMS" | translate}} </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://sso.seu.edu.sa/identity">
                                                <img src="assets/images/mass-media.png"> {{"menu.ssoidentity" |
                                                translate}} </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://seuapps.seu.edu.sa/attends">
                                                <img src="assets/images/streaming.png"> {{"menu.attends" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="http://seuapps.seu.edu.sa/StudentRightsUnit/Home">
                                                <img src="assets/images/student.png"> {{"menu.StdLaw" | translate}}

                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="http://exam.seu.edu.sa">
                                                <img src="assets/images/exam.png"> {{"menu.exam" | translate}}

                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a [routerLink]="['/apps/translation/user']">
                                                <img src="assets/images/translate.png"> {{"menu.translation" |
                                                translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://tawkeed.seu.edu.sa/">
                                                <img src="assets/images/tawkeed.png"> {{"menu.tawkeed" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="http://umc.seu.edu.sa/auth">
                                                <img src="assets/images/umc.png"> {{"menu.umc" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser" *ngIf="isResumeUser">
                                        <p>
                                            <a [routerLink]="['/apps/resume/user']">
                                                <img src="assets/images/resume.png"> {{"menu.resume" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser" *ngIf="userService.userData['bbreports']">
                                        <p>
                                            <a [routerLink]="['/apps/bbreports']">
                                                <img src="assets/images/black.png"> {{"menu.bb_virtual_reports" |
                                                translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser" *ngIf="userService.userData['dashboard']">
                                        <p>
                                            <a target="_blank" href="https://dashboard.seu.edu.sa/">
                                                <img src="assets/images/dashboard.png"> {{"menu.dashboard" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://seu.app.deepknowledge.io/LoginRedirect">
                                                <img src="assets/images/data.png"> {{"menu.knowledgeresources" |
                                                translate}} </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p><a [routerLink]="['/apps/skills/user']">
                                                <img src="assets/images/skills.png">
                                                {{"menu.skills" | translate}}
                                            </a></p>
                                    </div>

                                    <!-- <div class="col-md-6 new-ser">
                  <i class="ik ik-clipboard"></i>
                  <p><a target="_blank" href="https://seu.edu.sa/sites/ar/Services/Pages/instructions-instructors.aspx">
                    {{"menu.EDUSYSTEMS" | translate}}    </a></p>
                </div> -->

                                </div>
                            </div>

                            <div class="card-body" *ngIf="hasNoRole" style="padding: 0 15px">
                                <div class="row">
                                    <div class="col-md-4 new-ser">
                                        <a target="_blank"
                                            href="https://lms.seu.edu.sa/auth-saml/saml/login?apId=_137_1&redirectUrl=https%3A%2F%2Flms.seu.edu.sa%2Fwebapps%2Fportal%2Fexecute%2FdefaultTab">
                                            <img src="assets/images/blackboard.png">
                                            <span class="text-eng"> {{"menu.BLACKBOARD" | translate}}</span>

                                        </a>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <a target="_blank" href="https://outlook.office365.com/owa/seu.edu.sa">
                                            <img src="assets/images/mail.png"> {{"menu.email" | translate}} </a>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://sd.seu.edu.sa">
                                                <img src="assets/images/concept.png"> {{"menu.Support" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="http://hadir.seu.edu.sa/">
                                                <img src="assets/images/smart.png"> {{"menu.Attednace" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-6 new-ser">
                                        <p><a [routerLink]="['/apps/skills/user']">
                                                <img src="assets/images/skills.png">
                                                {{"menu.skills" | translate}}
                                            </a></p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a [routerLink]="['/apps/translation/user']">
                                                <img src="assets/images/translate.png"> {{"menu.translation" |
                                                translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser" *ngIf="isResumeUser">
                                        <p>
                                            <a [routerLink]="['/apps/resume/user']">
                                                <img src="assets/images/resume.png"> {{"menu.resume" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser" *ngIf="userService.userData['bbreports']">
                                        <p>
                                            <a [routerLink]="['/apps/bbreports']">
                                                <img src="assets/images/black.png"> {{"menu.bb_virtual_reports" |
                                                translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser" *ngIf="userService.userData['dashboard']">
                                        <p>
                                            <a target="_blank" href="https://dashboard.seu.edu.sa/">
                                                <img src="assets/images/dashboard.png"> {{"menu.dashboard" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="card-body"
                                *ngIf="userService.userData && userService.userData.activeRole=='Student'"
                                style="padding: 0 15px">
                                <div class="row">
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="https://bannservices.seu.edu.sa/StudentSelfService">
                                                <img src="assets/images/graduate.png"> {{"menu.StdSRV" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="https://bannservices.seu.edu.sa/StudentRegistrationSsb">
                                                <img src="assets/images/book2.png"> {{"menu.RESGISTERCOURSES" |
                                                translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="https://bannservices.seu.edu.sa/SelfServiceBannerGeneralEventManagement">
                                                <img src="assets/images/eve.png"> {{"menu.EVENTSMANAGE" | translate}}
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://outlook.office365.com/owa/seu.edu.sa">
                                                <img src="assets/images/mail.png"> {{"menu.email" | translate}} </a>
                                        </p>
                                    </div>

                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank"
                                                href="https://lms.seu.edu.sa/auth-saml/saml/login?apId=_137_1&redirectUrl=https%3A%2F%2Flms.seu.edu.sa%2Fwebapps%2Fportal%2Fexecute%2FdefaultTab">
                                                <img src="assets/images/blackboard.png"> {{"menu.BLACKBOARD" |
                                                translate}}</a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="http://seuapps.seu.edu.sa/StudentRightsUnit/Home">
                                                <img src="assets/images/student.png"> {{"menu.StdLaw" | translate}}

                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://sd.seu.edu.sa">
                                                <img src="assets/images/concept.png"> {{"menu.Support" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a [routerLink]="['/instructions/exams']">
                                                <img src="assets/images/exam.png"> {{"menu.INSTRUCTEXAM" | translate}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser">
                                        <p>
                                            <a target="_blank" href="https://seu.app.deepknowledge.io/LoginRedirect">
                                                <img src="assets/images/data.png"> {{"menu.knowledgeresources" |
                                                translate}} </a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 new-ser" *ngIf="studentType == 'UG'">
                                        <p><a [routerLink]="['/apps/skills/std/courses-list']">
                                                <img src="assets/images/book.png">
                                                {{"menu.skills" | translate}}
                                            </a></p>
                                    </div>
                                    <!-- <div class="col-md-6 new-ser">
                  <i class="ik ik-clipboard"></i>
                  <p><a target="_blank" href="https://seu.edu.sa/sites/ar/Services/Pages/instructions-instructors.aspx">
                    {{"menu.EDUSYSTEMS" | translate}}    </a></p>
                </div> -->
                                    <!-- <div class="col-md-6 new-ser">
                  <i class="ik ik-calendar"></i>
                  <p><a target="_blank" href="https://seu.edu.sa/sites/ar/Calendar/Pages/Academic_Calendar.aspx">
                    {{"menu.CAL" | translate}}  </a></p>
                </div> -->
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="widget">
                        <div class="card latest-update-card">
                            <div class="widget-header">

                                <div class="widget-title d-flex justify-content-between">
                                    <h3> {{"menu.Events" | translate}} </h3>
                                    <img src="assets/images/calendar.png">
                                    <i *ngIf="!eventsLoaded" class="fas fa-spinner fa-spin"> </i>
                                </div>

                            </div>
                            <div class="card-block">
                                <div class="latest-update-box">
                                    <div *ngFor="let news of userService.eventsData" class="row pb-30">
                                        <div class="col-auto update-meta pr-0">
                                            <i><img src="assets/images/calendar.png" class="img-eve"> </i>
                                        </div>
                                        <div class="col news1">
                                            <a href="#">
                                                <h6 class="news-title" [innerHtml]="news.title"></h6>
                                            </a>
                                            <p class=" mb-0 date">
                                                <i class="ik ik-calendar"></i> {{news.date}}
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-5 col-sm-6 col-xs-12 ">

                    <div class="widget ">
                        <div class="widget-header">
                            <div class="widget-title d-flex justify-content-between">
                                <h3>{{"menu.News" | translate}} </h3>
                                <img src="assets/images/news.png">
                                <i *ngIf="!newsLoaded" class="fas fa-spinner fa-spin"> </i>
                            </div>
                        </div>

                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="owl-container" *ngIf="newsLoaded">
                                        <owl-carousel [options]="SlideOptions" [items]="userService.newsData"
                                            [carouselClasses]="['owl-theme', 'sliding']">
                                            <div class="item" *ngFor="let news of userService.newsData;index as i">
                                                <div style="align-content: center" class="owl-content">
                                                    <img style="height: 256px;width:100%"
                                                        [src]="news.image.startsWith('http')?news.image:('data:image/jpg;base64,' + news.image)" />
                                                    <p>
                                                        <a class="newslink" [routerLink]="['/dashboard/newsdetail', i]">
                                                            {{news.title}}
                                                            <br>
                                                            <i class="ik ik-calendar"><span
                                                                    class="text-eng">{{news.date}}</span></i>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </owl-carousel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget ">
                        <div class="widget-header">
                            <div class="widget-title d-flex justify-content-between">
                                <h3> {{"menu.ADS" | translate}} </h3>
                                <img src="assets/images/ads.png">
                                <i *ngIf="!adsLoaded" class="fas fa-spinner fa-spin"> </i>
                            </div>

                        </div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12 ">

                                    <div class="owl-container ">

                                        <owl-carousel [options]="SlideOptions" [items]="userService.adsData"
                                            [carouselClasses]="['owl-theme', 'sliding']">
                                            <div class="item" *ngFor="let ads of userService.adsData">
                                                <div style="align-content: center" class="owl-content">
                                                    <img style="height: 260px;width:100%"
                                                        [src]="ads.image.startsWith('http')?ads.image:('data:image/jpg;base64,' + ads.image)" />
                                                    <p>
                                                        <a class="newslink" [href]="ads.url" target="_blank">
                                                            {{ads.title}}
                                                            <br>
                                                            <i class="ik ik-calendar"><span
                                                                    class="text-eng">{{ads.date}}</span></i>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </owl-carousel>

                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <!--  <div class="row ">
       

        <div class="col-md-5 col-sm-6 col-xs-12 ">
          
        </div>

        <div class="col-md-7 col-sm-6 col-xs-12">
         
        </div>

      </div> -->

        </div>

    </div>


</div>