.main-content {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
img {
    width: 100%;
}
.modal-footer {
    display: block;
}
.modal-body {
    max-height: 25vh;
    overflow: scroll;
}