<mat-dialog-content dir="rtl">
    <div class="modal-content">
        <div class="modal-header">

            <h5 style="text-align: center" class="modal-title " id="exampleModalLabel">
                {{"policy.title"|translate}}</h5>

        </div>
        <div class="modal-body" (scroll)="onScroll($event)">
            <div>
                <p>
                    {{"policy.desc" | translate}}
                </p>
                <p>

                    {{"policy.info_details" | translate}}
                    <a href="/assets/files/policy.pdf" target="_blank">{{"policy.click_her" | translate}}</a>
                </p>
                <p>
                    <img src="/assets/files/policy.jpg">
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <label>
                    <input [disabled]="!allowSelection" [(ngModel)]="selection" type="radio" value="1" name="policy" />
                    {{"policy.no_conflict" | translate}}
                </label>
            </div>
            <div>
                <label>
                    <input [disabled]="!allowSelection" [(ngModel)]="selection" type="radio" value="2" name="policy" />
                    {{"policy.has_conflict" | translate}}
                </label>
            </div>
            <div>
                <button type="button" [disabled]="!allowSelection || !selection || requesting" (click)="saveChoose()"
                    class="btn btn-dark"><i class="fa fa-database"></i>{{"policy.send"|translate}}</button>
            </div>
        </div>
    </div>
</mat-dialog-content>