<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="widget ">
                    <div class="widget-header">
                        <h3 class="widget-title">{{"policy.title" | translate}}</h3>
                    </div>
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    {{"policy.desc" | translate}}
                                </p>
                                <p>

                                    {{"policy.info_details" | translate}}
                                    <a href="/assets/files/policy.pdf"
                                        target="_blank">{{"policy.click_her" | translate}}</a>
                                </p>
                                <p>
                                    <img src="/assets/files/policy.jpg">
                                </p>
                                <div>
                                    <label>
                                        <input [(ngModel)]="selection" type="radio" value="1" name="policy" />
                                        {{"policy.no_conflict" | translate}}
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input [(ngModel)]="selection" type="radio" value="2" name="policy" />
                                        {{"policy.has_conflict" | translate}}
                                    </label>
                                </div>
                                <div>
                                    <button type="button" [disabled]="!selection || requesting" (click)="saveChoose()"
                                        class="btn btn-dark"><i
                                            class="fa fa-database"></i>{{"policy.send"|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>