<div class="main-content">
    <section class="service-single ">
      <div class="container">
        <h3> {{"menu.policies" | translate}} </h3>
        <div class="row">
          <div class=" col-md-5">
            <p>{{"menu.security_policies" | translate}}</p>
          </div>
        </div>
      </div>
    </section>
    <div class="widget">
      <div class="widget-header">
        <h3 class="widget-title">
          <!-- {{"written_forms.guide" | translate}} <a target="_blank" style="color: #EDEDED;" href="https://seuapps.seu.edu.sa/newservices/api/docs/written_forms/with/guide.pdf">{{"written_forms.click_here" | translate}}</a>  -->
        </h3>
      </div>
      <section class="ser-state">
        <div class="container">
          <div class="row ser-block">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{"cybersecurity.header_title" | translate}}</th>
                  <th>{{"cybersecurity.download" | translate}}</th>
                </tr>
              </thead>
              <tr>
                <td>1</td>
                <td>
                  {{"cybersecurity.items.file_1.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_1.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  {{"cybersecurity.items.file_2.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_2.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  {{"cybersecurity.items.file_3.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_3.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  {{"cybersecurity.items.file_4.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_4.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  {{"cybersecurity.items.file_5.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_5.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>
                  {{"cybersecurity.items.file_6.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_6.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>7</td>
                <td>
                  {{"cybersecurity.items.file_7.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_7.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>8</td>
                <td>
                  {{"cybersecurity.items.file_8.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_8.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>9</td>
                <td>
                  {{"cybersecurity.items.file_9.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_9.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>10</td>
                <td>
                  {{"cybersecurity.items.file_10.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_10.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>11</td>
                <td>
                  {{"cybersecurity.items.file_11.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_11.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>12</td>
                <td>
                  {{"cybersecurity.items.file_12.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_12.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>13</td>
                <td>
                  {{"cybersecurity.items.file_13.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_13.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>14</td>
                <td>
                  {{"cybersecurity.items.file_14.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_14.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>15</td>
                <td>
                  {{"cybersecurity.items.file_15.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_15.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>16</td>
                <td>
                  {{"cybersecurity.items.file_16.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_16.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>17</td>
                <td>
                  {{"cybersecurity.items.file_17.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_17.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>18</td>
                <td>
                  {{"cybersecurity.items.file_18.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_18.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>19</td>
                <td>
                  {{"cybersecurity.items.file_19.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_19.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>20</td>
                <td>
                  {{"cybersecurity.items.file_20.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_20.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>21</td>
                <td>
                  {{"cybersecurity.items.file_21.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_21.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>22</td>
                <td>
                  {{"cybersecurity.items.file_22.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_22.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>23</td>
                <td>
                  {{"cybersecurity.items.file_23.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_23.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>24</td>
                <td>
                  {{"cybersecurity.items.file_24.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_24.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>25</td>
                <td>
                  {{"cybersecurity.items.file_25.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_25.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
              <tr>
                <td>26</td>
                <td>
                  {{"cybersecurity.items.file_26.text" | translate}}
                </td>
                <td>
                  <a href='{{"cybersecurity.items.file_26.link" | translate}}' target="_blank">{{"cybersecurity.download" | translate}}</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>