<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"> </h1>
      <p>This demo shows  flow using Angular and ASP.NET Core 3.0 WebApi</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/register">تسجيل مستخدم جديد</a> <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/login">تسجيل دخول  </a></p>       
    </div>
  </div>
</main>
