<ActionBar>
    <!-- 
            <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu"  (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text='{{"services.student_info.title"|translate}}'></Label>
</ActionBar>

<ScrollView>
    <FlexboxLayout flexDirection="column">

        <ActivityIndicator [busy]="isLoading" color="#6189f4" verticalAlignment="center" horizontalAlignment="center"></ActivityIndicator>
        
        <FlexboxLayout flexDirection="row-reverse" *ngIf="!isLoading && msgs.length>0">
            <ListView [items]="msgs">
                <ng-template let-item="item">
                    <Label verticalAlignment="center" [text]="item.body" class="ysMsg" textWrap="true"></Label>
                </ng-template>
            </ListView>
        </FlexboxLayout>-->

        <GridLayout  class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,
        auto,auto,auto,auto,auto,auto,auto,auto,auto,
        auto,,auto,auto,auto,auto,auto,auto,auto" columns="*,150" *ngIf="!isLoading">
          
              <Label row="0" colSpan="2"  class="ysHBox"  text='{{"general.student_data"|translate}}'></Label>
          
              <Label row="1" column="1" style="font-weight: 800;" text='{{"services.student_info.sex"|translate}} :'></Label>
              <Label row="1"  column="0" text="{{reqData.gender}}"  style="text-align: right;"></Label>
          
              <Label row="2" column="1" style="font-weight: 800;" text='{{"services.student_info.nationality"|translate}} :'></Label>
              <Label row="2"  column="0" text="{{reqData.citizin}}"></Label>
          
              <Label row="3" column="1" style="font-weight: 800;" text='{{"services.student_info.qualification"|translate}} :'></Label>
              <Label row="3"  column="0" text="{{reqData.degree}}" style="text-align: right;"></Label>

              <Label row="4" column="1" style="font-weight: 800;" text='{{"general.faculty" |translate}} :'></Label>
              <Label row="4"  column="0" text="{{reqData.faculty}}"  style="text-align: right;"></Label>

              <Label row="5" column="1" style="font-weight: 800;" text='{{"general.major" |translate}} :'></Label>
              <Label row="5"  column="0" text="{{reqData.major}}"></Label>

              <Label row="6" column="1" style="font-weight: 800;" text='{{"general.branch" |translate}} :'></Label>
              <Label row="6"  column="0" text="{{reqData.branch}}"></Label>

              <Label row="7" column="1" style="font-weight: 800;" text='{{"general.average"|translate}} :'></Label>
              <Label row="7"  column="0" text="{{reqData.gpa}}"></Label>

              <Label row="8" column="1" style="font-weight: 800;" text='{{"general.student_id"|translate}} :'></Label>
              <Label row="8"  column="0" text="{{reqData.student_id}}"></Label>
            
              <Label row="10" column="1" style="font-weight: 800;" text="{{'services.student_info.ar_name'|translate}} :"></Label>
              <TextField 
              row="10" column="0"
              #name_ar="ngModel" [(ngModel)]="stdData.name_ar"
              style="border-width: 1;"
                ></TextField>
          
              <Label row="11" column="1" style="font-weight: 800;" text="{{'services.student_info.en_name'|translate}} :"></Label>
              <TextField 
               row="11" column="0"
               #name_en="ngModel"
               [(ngModel)]="stdData.name_en"
               style="border-width: 1;"
              ></TextField>
              
              <Label row="12" column="1" style="font-weight: 800;" text="{{'general.email'|translate}} :"></Label>
              <TextField 
              row="12" column="0"
              name="email" #email="ngModel" [(ngModel)]="stdData.email"
              style="border-width: 1;"
             ></TextField>

             <Label row="13" column="1" style="font-weight: 800;" text="{{'services.student_info.phone_no'|translate}} :"></Label>
              <TextField 
              row="13" column="0"
              name="phone" #phone="ngModel" [(ngModel)]="stdData.phone"
              style="border-width: 1;"
             ></TextField>
            
             <Label row="14" column="1" style="font-weight: 800;" text="{{'services.student_info.grad_term'|translate}} :"></Label>
             <DropDown
             row="14" column="0"
             [items]="termsDropDown"
             (selectedIndexChanged)="getTerm($event)"
             hint='{{"services.student_info.choose_grad_term"|translate}}'
             itemsTextAlignment="left"
             itemsPadding="5"
             >
             </DropDown>    

             <Label row="15" column="1" style="font-weight: 800;" text='{{"services.student_info.job_status"|translate}}'></Label>
             <DropDown
             row="15" column="0"
             [items]="statusDropDown"
             (selectedIndexChanged)="getStatus($event)"
             hint='{{"services.student_info.choose_job_status"|translate}}'
             itemsTextAlignment="right"
             itemsPadding="5"
             >
             </DropDown>  

             <Label row="16" column="1" style="font-weight: 800;" text="{{'services.student_info.sector'|translate}} :"></Label>
             <DropDown
             row="16" column="0"
             [items]="sectorsDropDown"
             (selectedIndexChanged)="getSector($event)"
             hint='{{"services.student_info.choose_sector"|translate}}'
             itemsTextAlignment="right"
             itemsPadding="5"
             >
             </DropDown>  

             <Label row="17" column="1" style="font-weight: 800;" text="{{'services.student_info.before_or_after'|translate}} :"></Label>
             <DropDown
             row="17" column="0"
             [items]="periodsDropDown"
             (selectedIndexChanged)="getPeriod($event)"
             hint='{{"services.student_info.before_or_after"|translate}}'
             itemsTextAlignment="right"
             itemsPadding="5"
             >
             </DropDown> 

             <Label row="18" column="1" style="font-weight: 800;" text="{{'services.student_info.work_address'|translate}} :"></Label>
             <DropDown
             row="18" column="0"
             [items]="locationsDropDown"
             (selectedIndexChanged)="getLocation($event)"
             hint='{{"services.student_info.choose_work_address"|translate}}'
             itemsTextAlignment="right"
             itemsPadding="5"
             >
             </DropDown> 

             <Label row="19" column="1" style="font-weight: 800;" text="{{'services.student_info.job_year'|translate}} :"></Label>
              <TextField 
              row="19" column="0"
              #job_year="ngModel" [(ngModel)]="stdData.job_year"
              style="border-width: 1;"
             ></TextField>

             <Label row="20" column="1" style="font-weight: 800;" text="{{'services.student_info.job_side'|translate}} :"></Label>
              <TextField 
              row="20" column="0"
              #job_location="ngModel" [(ngModel)]="stdData.job_location"
              style="border-width: 1;"
             ></TextField>

             <Label row="21" column="1" style="font-weight: 800;" text="{{'services.student_info.job_title'|translate}} :"></Label>
              <TextField 
              row="21" column="0"
              #job_title="ngModel" [(ngModel)]="stdData.job_title"
              style="border-width: 1;"
             ></TextField>

             <Label row="22" column="1" style="font-weight: 800;" text="{{'services.student_info.cv'|translate}} :"></Label>
             <Button row="22" column="0" [text]="fileName" (tap)="openCustomFilesPicker('file')" class="-primary"></Button>
            
             <Label row="23" column="1" style="font-weight: 800;" text="{{'services.student_info.pic'|translate}} :" textWrap="true"></Label>
             <Button row="23" column="0" [text]="imageName" (tap)="openCustomFilesPicker('image')" class="-primary"></Button>
            
            </GridLayout>

            <GridLayout  class="ysBox" rows="auto,auto,auto,auto,auto" columns="*,150" *ngIf="!isLoading">
          
            <Label row="0" colSpan="2"  class="ysHBox"  text='{{"services.student_info.employer"|translate}}'></Label>
                
              <Label row="1" column="1" style="font-weight: 800;" text="{{'services.student_info.name'|translate}} :"></Label>
              <TextField 
              row="1" column="0"
              #job_name="ngModel" [(ngModel)]="stdData.job_name"
              style="border-width: 1;"
             ></TextField>

             <Label row="2" column="1" style="font-weight: 800;" text="{{'services.student_info.job_title'|translate}} :"></Label>
              <TextField 
              row="2" column="0"
              #job_title2="ngModel" [(ngModel)]="stdData.job_title2"
              style="border-width: 1;"
             ></TextField>

             <Label row="3" column="1" style="font-weight: 800;" text="{{'services.student_info.phone_no'|translate}} :"></Label>
              <TextField 
              row="3" column="0"
              #phone2="ngModel" [(ngModel)]="stdData.phone2"
              style="border-width: 1;"
             ></TextField>

             <Label row="4" column="1" style="font-weight: 800;" text="{{'general.email'|translate}} :"></Label>
              <TextField 
              row="4" column="0"
              #email2="ngModel" [(ngModel)]="stdData.email2"
              style="border-width: 1;"
             ></TextField>
            </GridLayout>

            <FlexboxLayout *ngIf="reqData.can_update_data" flexDirection="row-reverse" flexWrap="wrap" alignItems="center" style="color: #6189f4;margin:20 20">
                <CheckBox checked="false"></CheckBox>
                <Label text='{{"services.student_info.obligation"|translate}}' textWrap="true"></Label>
            </FlexboxLayout>
            <Button *ngIf="reqData.can_update_data" text='{{"general.save"|translate}}' (tap)="onSubmit()" class="-primary"></Button>

    </FlexboxLayout>

    </ScrollView>