<app-header></app-header>  
 <!--  <GridLayout  columns="auto, *" class="serv-title" *ngIf="!isLoading">
    <Label col="1"  text="&#xf0d9;" class="fas serv-ico-r"></Label>
    <Label col="1" text='{{"services.exam.certatt" | translate}}' class="serv-name" ></Label>
    <Label col="1"  text="&#xf0da;" class="fas serv-ico "></Label>
  </GridLayout> -->
  <GridLayout>

  <StackLayout>
    <ActivityIndicator [busy]="isLoading" color="#6189f4"></ActivityIndicator>
</StackLayout>

<FlexboxLayout flexDirection="row-reverse" *ngIf="isClosed && messagesList.length>0">
    <ListView [items]="messagesList">
        <ng-template let-item="item">
            <Label verticalAlignment="center" [text]="item.body" class="ysMsg"></Label>
        </ng-template>
    </ListView>
</FlexboxLayout>

    <FlexboxLayout flexDirection="row-reverse" *ngIf="!isLoading && msgs.length>0">
        <ListView [items]="msgs">
            <ng-template let-item="item">
                <Label verticalAlignment="center" [text]="item.body" class="ysMsg" textWrap="true"></Label>
            </ng-template>
        </ListView>
    </FlexboxLayout>

   

<TabView  *ngIf="!isClosed && !isLoading" selectedTabTextColor="#f08b1c" 
tabBackgroundColor="#f1f1f1"
tabTextColor ="#010447"
tabTextFontSize="14px"
androidSelectedTabHighlightColor="#010447">
	<StackLayout *tabItem='{title: firstTabTitle }'>

        <FlexboxLayout flexDirection="row-reverse" *ngIf="reqData.Term_Exam_With_Schedule &&reqData.Term_Exam_With_Schedule.messages.length>0">
            <ListView [items]="reqData.Term_Exam_With_Schedule.messages">
                <ng-template let-item="item">
                    <Label verticalAlignment="center" [text]="item.body" class="ysMsg" textWrap="true"></Label>
                </ng-template>
            </ListView>
        </FlexboxLayout>

        <ScrollView height="100%" *ngIf="reqData.Term_Exam_With_Schedule && reqData.Term_Exam_With_Schedule.labels&&reqData.Term_Exam_With_Schedule.messages.length==0">

            <StackLayout>
                <StackLayout>

        <GridLayout  class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150">
            
            <Label row="0" colSpan="2"  class="ysHBox"  [text]="reqData.Term_Exam_With_Schedule.labels.title"></Label>

             <Label row="1"  column="1" class="ysPBox"  text="{{reqData.Term_Exam_With_Schedule.labels.date}}:" textWrap="true"></Label>
             <Label row="1" column="0" class="ysPBox2" text='{{reqData.Term_Exam_With_Schedule.values.date}}' textWrap="true"></Label>

             <Label row="2" column="1" class="ysPBox"  text=' {{"services.exam.uno" | translate}} :' textWrap="true"></Label>
             <Label row="2" column="0" class="ysPBox2"  text='{{reqData.Term_Exam_With_Schedule.values.std_id}}' textWrap="true"></Label>

        <FlexboxLayout flexDirection="row-reverse" flexWrap="wrap" row="3" colSpan="2" class="paragraph">
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt1}}" textWrap="true"></Label>
            <Label  text="{{reqData.Term_Exam_With_Schedule.values.student_name}}" textWrap="true"></Label>

            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt2}}" textWrap="true"></Label>
            <Label  text="{{reqData.Term_Exam_With_Schedule.values.std_id}}" textWrap="true"></Label>

            <Label  text="{{reqData.Term_Exam_With_Schedule.labels.txt3}}" textWrap="true"></Label>
            <Label  text="{{reqData.Term_Exam_With_Schedule.values.coll}}" textWrap="true"></Label>

            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt4}}" textWrap="true"></Label>
            <Label text="{{reqData.Term_Exam_With_Schedule.values.term}}" textWrap="true"></Label>

            <Label  text=' {{reqData.Term_Exam_With_Schedule.labels.txt5}}:' textWrap="true"></Label>
            <Label  text='{{reqData.Term_Exam_With_Schedule.values.startDay}}' textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label text='{{reqData.Term_Exam_With_Schedule.labels.txt6}}:' textWrap="true"></Label>
            <Label text='{{reqData.Term_Exam_With_Schedule.values.endDay}}' textWrap="true"
            style="text-align: right;"
            ></Label>
            <Label text='{{reqData.Term_Exam_With_Schedule.labels.txt7}}'></Label>
        </FlexboxLayout>

        </GridLayout>
    </StackLayout>

        <FlexboxLayout flexDirection="column" justifyContent="space-between" class="ysBox">
            <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="throw"> 
                <label text='{{"general.crn" | translate}}'></label>
                <label text='{{"general.request.req_cname" | translate}}'></label>
                <label text='{{"general.request.day" | translate}}'></label>
                <label text='{{"general.request.time" | translate}}'></label>
            </FlexboxLayout>

            <FlexboxLayout alignItems="center" justifyContent="space-between" flexWrap="nowrap" *ngFor="let item of reqData.Term_Exam_With_Schedule.Term_Schedule" flexDirection="row-reverse" 
            alignContent="center" class="trow tabl" [ngStyle]="{'border-bottom-width':i === reqData.Term_Exam_With_Schedule.Term_Schedule-1 ? '0' : '1' }">
                <Label [text]="item.CRN" style="width: 20%;text-align: center;" textWrap="true"></Label>
                <Label [text]="item.CRSE_TITLE"  style="width: 25%;text-align: center;" textWrap="true" ></Label>
                <Label [text]="item.CRSE_DAY" style="width: 30%;text-align: center;" textWrap="true" ></Label>
                <Label [text]="item.CRSE_TIME" style="width: 25%;text-align: center;" textWrap="true"></Label>
            </FlexboxLayout>
        </FlexboxLayout>
        

    <StackLayout>
        <FlexboxLayout flexDirection="row-reverse" flexWrap="wrap" *ngIf="!isLoading" class="paragraph">
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt8}}" textWrap="true"></Label>
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt9}}" textWrap="true"></Label>
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt10}}" textWrap="true"></Label>
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt11}}" textWrap="true"></Label>
        </FlexboxLayout>
    </StackLayout>
        <StackLayout style="margin-top: 20;">
        <FlexboxLayout flexDirection="row-reverse" justifyContent="center" *ngIf="reqData.Term_Exam_With_Schedule && reqData.Term_Exam_With_Schedule.messages.length==0">
            <Button text="{{'general.ar_print'|translate}}" class="print-btn"  (tap)="onPrint('termSchedule')" ></Button>
            <Button text="{{'general.en_print'|translate}}" class="print-btn"  (tap)="onPrint('termScheduleEn')"></Button>
        </FlexboxLayout>
    </StackLayout>

    </StackLayout>
    </ScrollView>
    </StackLayout>
    
	<StackLayout *tabItem='{title: secondTabTitle}'>

        <FlexboxLayout flexDirection="row-reverse" *ngIf="reqData.Term_Exam_Without_Schedule &&reqData.Term_Exam_Without_Schedule.messages.length>0">
            <ListView [items]="reqData.Term_Exam_Without_Schedule.messages">
                <ng-template let-item="item">
                    <Label verticalAlignment="center" [text]="item.body" class="ysMsg" textWrap="true"></Label>
                </ng-template>
            </ListView>
        </FlexboxLayout>

        <ScrollView height="100%" *ngIf="reqData.Term_Exam_Without_Schedule &&reqData.Term_Exam_Without_Schedule.labels&&reqData.Term_Exam_Without_Schedule.messages.length==0">
            <StackLayout>
        <GridLayout  class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150">
            
            <Label row="0" colSpan="2"  class="ysHBox"  [text]="reqData.Term_Exam_Without_Schedule.labels.title"></Label>

             <Label row="1" column="1" class="ysPBox" text="{{reqData.Term_Exam_Without_Schedule.labels.date}}:" textWrap="true"></Label>
             <Label row="1" column="0" class="ysPBox2" text='{{reqData.Term_Exam_Without_Schedule.values.date}}' textWrap="true"
             ></Label>
             <Label row="2" column="1" class="ysPBox" text=' {{"services.exam.uno" | translate}} :' textWrap="true"></Label>
             <Label row="2" column="0" class="ysPBox2" text='{{reqData.Term_Exam_Without_Schedule.values.std_id}}' textWrap="true"
             ></Label>

             <FlexboxLayout flexDirection="row-reverse" flexWrap="wrap" row="3" colSpan="2" class="paragraph">

            <Label  text="{{reqData.Term_Exam_Without_Schedule.labels.txt1}}" textWrap="true"></Label>
            <Label  text="{{reqData.Term_Exam_Without_Schedule.values.student_name}}" textWrap="true"></Label>

            <Label  text="{{reqData.Term_Exam_Without_Schedule.labels.txt2}}" textWrap="true"></Label>
            <Label text="{{reqData.Term_Exam_Without_Schedule.values.std_id}}" textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label  text="{{reqData.Term_Exam_Without_Schedule.labels.txt3}}" textWrap="true"></Label>
            <Label  text="{{reqData.Term_Exam_Without_Schedule.values.coll}}" textWrap="true"></Label>

            <Label  text="{{reqData.Term_Exam_Without_Schedule.labels.txt4}}" textWrap="true"></Label>
            <Label  text="{{reqData.Term_Exam_Without_Schedule.values.term}}" textWrap="true"></Label>

            <Label  text=' {{reqData.Term_Exam_Without_Schedule.labels.txt5}}:' textWrap="true"></Label>
            <Label  text='{{reqData.Term_Exam_Without_Schedule.values.startDay}}' textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label  text='{{reqData.Term_Exam_Without_Schedule.labels.txt6}}:' textWrap="true"></Label>
            <Label  text='{{reqData.Term_Exam_Without_Schedule.values.endDay}}' textWrap="true"
            style="text-align: right;"
            ></Label>
                <Label  text='{{reqData.Term_Exam_Without_Schedule.labels.txt7}}'></Label>
                <Label  text='{{reqData.Term_Exam_Without_Schedule.labels.txt8}}'></Label>
                <Label  text='{{reqData.Term_Exam_Without_Schedule.labels.txt9}}'></Label>
                <Label  text='{{reqData.Term_Exam_Without_Schedule.labels.txt10}}'></Label>
                <Label  text='{{reqData.Term_Exam_Without_Schedule.labels.txt11}}'></Label>
        </FlexboxLayout>
        </GridLayout>

        <FlexboxLayout flexDirection="row-reverse" justifyContent="center" style="margin-top: 20;" *ngIf="reqData.Term_Exam_Without_Schedule &&reqData.Term_Exam_Without_Schedule.messages.length==0">
            <Button text="{{'general.ar_print'|translate}}" class="print-btn"  (tap)="onPrint('term')" ></Button>
            <Button text="{{'general.en_print'|translate}}" class="print-btn"  (tap)="onPrint('termEn')"></Button>
        </FlexboxLayout>
</StackLayout>
</ScrollView>
    </StackLayout>
    
	<StackLayout *tabItem='{title: thirdTabTitle}'>

        <FlexboxLayout flexDirection="row-reverse" *ngIf="reqData.Final_Exam_With_Schedule && reqData.Final_Exam_With_Schedule.messages.length>0">
            <ListView [items]="reqData.Final_Exam_Without_Schedule.messages">
                <ng-template let-item="item">
                    <Label verticalAlignment="center" [text]="item.body" class="ysMsg" textWrap="true"></Label>
                </ng-template>
            </ListView>
        </FlexboxLayout>

        <ScrollView height="100%" *ngIf="reqData.Final_Exam_With_Schedule &&reqData.Final_Exam_With_Schedule.labels&& reqData.Final_Exam_With_Schedule.messages.length==0">
            <StackLayout>
                <StackLayout>

        <GridLayout  class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150">
            
            <Label row="0" colSpan="2"  class="ysHBox"  [text]="reqData.Final_Exam_With_Schedule.labels.title"></Label>

             <Label row="1" column="1" class="ysPBox" text="{{reqData.Final_Exam_With_Schedule.labels.date}}:" textWrap="true"></Label>
             <Label row="1" column="0" class="ysPBox2"text='{{reqData.Final_Exam_With_Schedule.values.date}}' textWrap="true"></Label>

             <Label row="2" column="1" class="ysPBox"text="{{reqData.Final_Exam_With_Schedule.labels.txt2}}" textWrap="true"></Label>
             <Label row="2" column="0" class="ysPBox2"text="{{reqData.Final_Exam_With_Schedule.values.std_id}}" textWrap="true"></Label>
             <FlexboxLayout flexDirection="row-reverse" flexWrap="wrap" row="3" colSpan="2" class="paragraph">

            <Label text="{{reqData.Final_Exam_With_Schedule.labels.txt1}}" textWrap="true"></Label>
            <Label text="{{reqData.Final_Exam_With_Schedule.values.student_name}}" textWrap="true"></Label>



            <Label text="{{reqData.Final_Exam_With_Schedule.labels.txt3}}" textWrap="true"></Label>
            <Label text="{{reqData.Final_Exam_With_Schedule.values.coll}}" textWrap="true"></Label>

            <Label text="{{reqData.Final_Exam_With_Schedule.labels.txt4}}" textWrap="true"></Label>
            <Label text="{{reqData.Final_Exam_With_Schedule.values.term}}" textWrap="true"></Label>

            <Label text=' {{"services.exam.uno" | translate}} :' textWrap="true"></Label>
            <Label text='{{reqData.Final_Exam_With_Schedule.values.std_id}}' textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label text=' {{reqData.Final_Exam_With_Schedule.labels.txt5}}:' textWrap="true"></Label>
            <Label text='{{reqData.Final_Exam_With_Schedule.values.startDay}}' textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label text='{{reqData.Final_Exam_With_Schedule.labels.txt6}}:' textWrap="true"></Label>
            <Label text='{{reqData.Final_Exam_With_Schedule.values.endDay}}' textWrap="true"
            style="text-align: right;"
            ></Label>
            <Label text='{{reqData.Final_Exam_With_Schedule.labels.txt7}}'></Label>
        </FlexboxLayout>
        </GridLayout>
    </StackLayout>

    <StackLayout>

        <FlexboxLayout flexDirection="column" justifyContent="space-between" class="ysBox">
            <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="throw"> 
                <label text='{{"general.crn" | translate}}'></label>
                <label text='{{"general.request.req_cname" | translate}}'></label>
                <label text='{{"general.request.day" | translate}}'></label>
                <label text='{{"general.request.time" | translate}}'></label>
            </FlexboxLayout>

            <FlexboxLayout alignItems="center" justifyContent="space-between" flexWrap="nowrap" *ngFor="let item of reqData.Final_Exam_With_Schedule.Final_Schedule" flexDirection="row-reverse" 
              class="trow tabl" [ngStyle]="{'border-bottom-width':i === reqData.Final_Exam_With_Schedule.Final_Schedule-1 ? '0' : '1' }">
                <Label [text]="item.CRN" style="width: 20%;text-align: center;" textWrap="true"></Label>
                <Label [text]="item.CRSE_TITLE"   style="width: 25%;text-align: center;" textWrap="true"></Label>
                <Label [text]="item.CRSE_DAY" style="width: 30%;text-align: center;" textWrap="true"></Label>
                <Label [text]="item.CRSE_TIME_EN" style="width: 25%;text-align: center;" textWrap="true"></Label>
            </FlexboxLayout>
        </FlexboxLayout>
    </StackLayout>

    <StackLayout>
        <FlexboxLayout flexDirection="row-reverse" flexWrap="wrap" *ngIf="!isLoading" class="paragraph">
            <Label text="{{reqData.Final_Exam_With_Schedule.labels.txt8}}" textWrap="true"></Label>
            <Label text="{{reqData.Final_Exam_With_Schedule.labels.txt9}}" textWrap="true"></Label>
            <Label text="{{reqData.Final_Exam_With_Schedule.labels.txt10}}" textWrap="true"></Label>
            <Label text="{{reqData.Final_Exam_With_Schedule.labels.txt11}}" textWrap="true"></Label>
        </FlexboxLayout>
    </StackLayout>


     <StackLayout style="margin-top: 20;">
        <FlexboxLayout flexDirection="row-reverse" justifyContent="center">
            <Button text="{{'general.ar_print'|translate}}" class="print-btn"  (tap)="onPrint('finalschedule')" ></Button>
            <Button text="{{'general.en_print'|translate}}" class="print-btn"  (tap)="onPrint('finalscheduleEn')"></Button>
        </FlexboxLayout>
    </StackLayout>
</StackLayout>
</ScrollView>
</StackLayout>
    
    <StackLayout *tabItem='{title: forthTabTitle}'>

        <FlexboxLayout flexDirection="row-reverse" *ngIf="reqData.Final_Exam_Without_Schedule && reqData.Final_Exam_Without_Schedule.messages.length>0">
            <ListView [items]="reqData.Final_Exam_With_Schedule.messages">
                <ng-template let-item="item">
                    <Label verticalAlignment="center" [text]="item.body" class="ysMsg" textWrap="true"></Label>
                </ng-template>
            </ListView>
        </FlexboxLayout>
        <ScrollView height="100%" *ngIf="reqData.Final_Exam_Without_Schedule &&reqData.Final_Exam_Without_Schedule.labels && reqData.Final_Exam_Without_Schedule.messages.length==0">
        <StackLayout>
        <GridLayout  class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150">
            
            <Label row="0" colSpan="2"  class="ysHBox"  [text]="reqData.Final_Exam_Without_Schedule.labels.title"></Label>

             <Label row="1" column="1"  class="ysPBox" text="{{reqData.Final_Exam_Without_Schedule.labels.date}}:" textWrap="true"></Label>
             <Label row="1" column="0"  class="ysPBox2" text='{{reqData.Final_Exam_Without_Schedule.values.date}}' textWrap="true"
             ></Label>

             <Label row="2" column="1"  class="ysPBox" text="{{reqData.Final_Exam_Without_Schedule.labels.txt2}}" textWrap="true"></Label>
             <Label row="2" column="0"  class="ysPBox2" text="{{reqData.Final_Exam_Without_Schedule.values.std_id}}" textWrap="true"
             ></Label>

        <FlexboxLayout flexDirection="row-reverse" flexWrap="wrap" row="3" colSpan="2" class="paragraph">

            <Label  text="{{reqData.Final_Exam_Without_Schedule.labels.txt1}}" textWrap="true"></Label>
            <Label  text="{{reqData.Final_Exam_Without_Schedule.values.student_name}}" textWrap="true"></Label>

            <Label  text="{{reqData.Final_Exam_Without_Schedule.labels.txt3}}" textWrap="true"></Label>
            <Label  text="{{reqData.Final_Exam_Without_Schedule.values.coll}}" textWrap="true"></Label>

            <Label  text="{{reqData.Final_Exam_Without_Schedule.labels.txt4}}" textWrap="true"></Label>
            <Label  text="{{reqData.Final_Exam_Without_Schedule.values.term}}" textWrap="true"></Label>

            <Label  text=' {{"services.exam.uno" | translate}} :' textWrap="true"></Label>
            <Label  text='{{reqData.Final_Exam_Without_Schedule.values.std_id}}' textWrap="true"  style="text-align: right;" ></Label>

            <Label text=' {{reqData.Final_Exam_Without_Schedule.labels.txt5}}:' textWrap="true"></Label>
            <Label  text='{{reqData.Final_Exam_Without_Schedule.values.startDay}}' textWrap="true" style="text-align: right;" ></Label>

            <Label  text='{{reqData.Final_Exam_Without_Schedule.labels.txt6}}:' textWrap="true"></Label>
            <Label text='{{reqData.Final_Exam_Without_Schedule.values.endDay}}' textWrap="true" style="text-align: right;" ></Label>
           
            <Label text='{{reqData.Final_Exam_Without_Schedule.labels.txt7}}'></Label>

                <Label text="{{reqData.Term_Exam_Without_Schedule.labels.txt8}}" textWrap="true"></Label>
                <Label text="{{reqData.Term_Exam_Without_Schedule.labels.txt9}}" textWrap="true"></Label>
                <Label text="{{reqData.Term_Exam_Without_Schedule.labels.txt10}}" textWrap="true"></Label>
                <Label text="{{reqData.Term_Exam_Without_Schedule.labels.txt11}}" textWrap="true"></Label>
                <Label text="{{reqData.Term_Exam_Without_Schedule.labels.txt12}}" textWrap="true"></Label>

            </FlexboxLayout>
        </GridLayout>
      
        <FlexboxLayout flexDirection="row-reverse" justifyContent="center" style="margin-top: 20;" *ngIf="reqData.Final_Exam_Without_Schedule && reqData.Final_Exam_Without_Schedule.messages.length==0">
            <Button text="{{'general.ar_print'|translate}}" class="print-btn"  (tap)="onPrint('final')" ></Button>
            <Button text="{{'general.en_print'|translate}}" class="print-btn"  (tap)="onPrint('finalEn')"></Button>
        </FlexboxLayout>
    </StackLayout>
        </ScrollView>
	</StackLayout>
</TabView>
</GridLayout>
