<div class="main-content">
  <service-header [title]="'services.certificate_id.title' |translate"
  [desc]="'services.certificate_id.desc' |translate"></service-header>
  <seu-loader [isLoading]="isLoading"></seu-loader>

  <div *ngIf="isClosed">
    <seu-flash [msgs]="messagesList"  [isLoading]="isLoading"> </seu-flash>
   </div>
   <ng-container *ngIf="!isClosed">
  <div class="ser-state" *ngIf="!isLoading">
  </div>
  <div class="widget" *ngIf="!isLoading">

    <div class="hints">
      <p style="text-align: right;padding: 5px">
        {{reqData.labels.date}} {{reqData.values.date}}
        <br />
        {{reqData.labels.ssn}} {{reqData.values.ssn}}
        <br />
        {{reqData.labels.txt1}} {{reqData.values.std_name}}
        {{reqData.labels.txt2}} {{reqData.values.std_id}} {{reqData.labels.txt3}} {{reqData.values.coll}}

        {{reqData.labels.txt4}} {{reqData.values.major}}

        {{reqData.labels.txt5}} {{reqData.values.term}} {{reqData.labels.txt6}} {{reqData.labels.txt7}}
        <br />
      </p>
    </div>
  </div>

  <div class="widget" *ngIf="!isLoading">
    <!-- <div class="hints">
          <h6 class="display-6 text-center">
                {{reqData.labels.date}}   {{reqData.values.date}}  {{reqData.labels.ssn}}  {{reqData.values.ssn}}
      </h6>
    </div> -->
    <div class="widget-header">
      <h3 class="widget-title">{{"general.student_data" |translate}}</h3>
    </div>


    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>

          <tr>
            <th scope="col">CRN</th>

            <th scope="col">{{"general.request.req_cname" |translate}} </th>
            <th scope="col">{{"general.request.day" |translate}}</th>

            <th scope="col">{{"general.request.time" |translate}}</th>
            <th scope="col">{{"services.lecture_execuse.lecture_type" |translate}} </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let it of reqData.courses;let i=index;">
            <td>{{it.course_id}}</td>


            <td>{{it.course_name}}</td>

            <td>{{it.day}}</td>

            <td style="direction: ltr">({{(it.time)}})</td>

            <td>{{it.type}}</td>

            <!-- <td><a class="btn btn-primary" [href]="print(it.request_number)" ><span class="ik ik-printer"></span>
            {{"general.en_print" | translate}} </a></td> -->

          </tr>

        </tbody>
      </table>
    </div>


  </div>
  <div class="jumbotron jumbtron-fluid" *ngIf="!isLoading">

    <p class="card-text" style="text-align: right">
      {{reqData.labels.txt8}} <br /> {{reqData.labels.txt9}}
      <br />
      <br />
      <b>{{"general.note" |translate}}</b> {{reqData.labels.txt11}}
      <br />
      {{reqData.labels.txt12}}

    </p>
  </div>


  <div class="prin text-center" *ngIf="!isLoading">
    <a class="btn btn-primary" seu-auto-print href="{{arabicPrint}}"><span class="ik ik-printer"></span>
      {{"general.ar_print" | translate}} </a>
    <a class="btn btn-primary" seu-auto-print href="{{EngPrint}}"><span class="ik ik-printer"></span>
      {{"general.en_print" | translate}} </a>

  </div>
  <!-- <mat-spinner  *ngIf="isLoading" style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;"></mat-spinner> -->
</ng-container>
</div>
