<div class="main-content">

    <!-- <seu-loader [isLoading]="isLoading"></seu-loader> -->
  
    <div  class="modal-header">
        <h4 class="modal-title">{{"wafi.AddTask" | translate}}</h4>  
      <button type="button"  class="btn-close-brd" mat-dialog-close><i class="ik ik-x"></i> </button>
      </div>
  
      <section class="dashboard-wrap" style="margin-top: 30px;">
        <form role="form" [formGroup]="AddReqForm" (ngSubmit)="onFormSubmit(AddReqForm.value)">
    
          <div class="row ser-block">
            <div class=" col-md-6 col-sm-6">
              <div class="state">
                <h6>{{"wafi.title"|translate}} </h6>
                <input type="text"  formControlName="title" class="form-control"   [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
              </div>
            </div>
    
            <div class=" col-md-6 col-sm-6">
              <div class="state">
                <h6>{{"wafi.description"|translate}} </h6>
                <input type="text"  formControlName="description" class="form-control" />
              </div>
            </div>    
          </div>
          <div class="row ser-block">
    
            <div class=" col-md-6 col-sm-6">
              <div class="state">
                <h6>{{"wafi.assignedTo"|translate}} </h6>
                <select class="form-control" formControlName="assignedTo" [ngClass]="{ 'is-invalid': submitted && f.assignedTo.errors }" >
                    <option [ngValue]="undefined" selected>{{"wafi.assignedTo" | translate}}</option>
                    <option *ngFor="let assigto of assigntoData" [selected]="selectvactype == assigto.value"
                      value={{assigto.value}}>{{assigto.label}} </option>
                  </select>
                <!-- <input type="text"  formControlName="assignedTo" class="form-control" /> -->
    
              </div>
            </div>
    
            <div class=" col-md-6 col-sm-6">
              <div class="state">
                <h6>{{"wafi.status"|translate}} </h6>
                <select class="form-control" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" >
                    <option [ngValue]="undefined" selected>{{"wafi.status" | translate}}</option>
                    <option *ngFor="let statusdat of statusData" [selected]="selectvactype == statusdat.value"
                      value={{statusdat.value}}>{{statusdat.label}} </option>
                  </select>
              </div>
            </div>
          </div>

          <div class="row ser-block">
            <div class=" col-md-6 col-sm-6">
              <div class="state">
                <h6>{{"wafi.priority"|translate}} </h6>
                <select class="form-control" formControlName="priority" [ngClass]="{ 'is-invalid': submitted && f.priority.errors }" >
                    <option [ngValue]="undefined" selected>{{"wafi.priority" | translate}}</option>
                    <option *ngFor="let proty of priorityData" [selected]="selectvactype == proty.value"
                      value={{proty.value}}>{{proty.label}} </option>
                  </select>
              </div>
            </div>
    
            <div class=" col-md-6 col-sm-6">
              <div class="state">
                <h6>{{"wafi.type"|translate}} </h6>
                <select class="form-control" formControlName="type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }" >
                    <option [ngValue]="undefined" selected>{{"wafi.type" | translate}}</option>
                    <option *ngFor="let typs of typeData" [selected]="selectvactype == typs.value"
                      value={{typs.value}}>{{typs.label}} </option>
                  </select>
              </div>
            </div>
          </div>

          <div class="row ser-block">
            <div class=" col-md-6 col-sm-6">
                <div class="state">
                    <h6>{{"wafi.endDate"|translate}} </h6>
                    <input type="text"  formControlName="endDate" bsDatepicker class="form-control" />
                  </div>
           
            </div>
    
            <div class=" col-md-6 col-sm-6">
              <div class="state">
                <h6>{{"wafi.startDate"|translate}} </h6>
                <input type="text"  formControlName="startDate" bsDatepicker  class="form-control" />
              </div>
            </div>
          </div>

          <div class="row ser-block">
            <div class=" col-md-6 col-sm-6">
                <div class="state">
                    <h6>{{"wafi.notes"|translate}} </h6>
                    <textarea class="form-control" cols="2" rows="3" formControlName="notes" ></textarea> 
                  </div>
            </div>
    
            <div class=" col-md-6 col-sm-6">
            
              <div class="state">
                <h6>{{"wafi.requiredProcedures"|translate}} </h6>
                <input type="text"  formControlName="requiredProcedures" class="form-control" />
              </div>
            </div>
          </div>
        
          <div>
            <div class=" col-md-6 col-sm-6">
              <div class="form-group  prin" style="color: #fff;margin-top: 30px !important;">
                <button type="submit" class="btn" style="color: #fff;margin-top: 30px !important;"><i
                    class="fa fa-database"></i> {{"wafi.Submit" | translate}}</button>
              </div>
            </div>
    
          </div>
    
    
        </form>
      </section>
  
  
  </div>