<div class="main-content">

  <service-header title='{{"tasks.AddTask" | translate}}'></service-header>
  <seu-loader [isLoading]="isLoading"></seu-loader>



  <section class="dashboard-wrap" style="margin-top: 30px;">
    <form role="form" [formGroup]="AddReqForm">
      <div class="modal-body">

        <div class="row ser-block">
          <div class=" col-md-12 col-sm-12">
            <div class="state">
              <h6>{{"tasks.title"|translate}} <span class="reqstart">*</span></h6>
              <input type="text" formControlName="title" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && AddReqForm.controls.title.errors }" />
            </div>
          </div>

          <div class=" col-md-12 col-sm-12">
            <div class="state">
              <h6>{{"tasks.description"|translate}} <span class="reqstart">*</span></h6>
              <textarea formControlName="description" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="row ser-block">
          <div class=" col-md-6 col-sm-6">
            <div class="state">
              <h6>{{"tasks.assignedTo"|translate}} <span class="reqstart">*</span>
                <ng-container *ngIf="allowFav && showFav">
                  <span (click)="toggleFavList();"
                    style="cursor: pointer; color: black;">({{"tasks.showallemps" |translate }})</span>
                </ng-container>
                <ng-container *ngIf="allowFav && !showFav">
                  <span (click)="toggleFavList();"
                    style="cursor: pointer; color: black;">({{"tasks.showfavemps"|translate}})</span>
                </ng-container>

              </h6>
              <!--<select class="form-control" formControlName="assignedTo" [ngClass]="{ 'is-invalid': submitted && AddReqForm.controls.assignedTo.errors }" >
                    <option [ngValue]="undefined" selected>{{"tasks.assignedTo" | translate}}</option>
                    <option *ngFor="let assigto of ddlemplist" [selected]="selectvactype == assigto.empId"
                      value={{assigto.empId}}>{{assigto.empName}} </option>
                  </select>-->

              <ng-select [items]="ddlemplist" bindLabel="empNameEmail" autofocus bindValue="empId"
                formControlName="assignedTo">
              </ng-select>

            </div>
          </div>

          <div class=" col-md-6 col-sm-6">
            <div class="state">
              <h6>{{"tasks.priority"|translate}} </h6>
              <select class="form-control" formControlName="priority"
                [ngClass]="{ 'is-invalid': submitted && AddReqForm.controls.priority.errors }">
                <option [ngValue]="" selected>{{"tasks.priority" | translate}}</option>
                <option *ngFor="let proty of ddlpriority" [selected]="selectvactype == proty.priorityCode"
                  value={{proty.priorityCode}}>{{proty.priorityDesc}} </option>
              </select>
            </div>
          </div>
          <!-- <div class=" col-md-6 col-sm-6">
          <div class="state">
            <h6>{{"tasks.status"|translate}} </h6>
            <select class="form-control" formControlName="status"
              [ngClass]="{ 'is-invalid': submitted && AddReqForm.controls.status.errors }">
              <option [ngValue]="undefined" selected>{{"tasks.status" | translate}}</option>
              <option *ngFor="let statusdat of ddltaskstatus" [selected]="selectvactype == statusdat.statusCode"
                value={{statusdat.statusCode}}>{{statusdat.statusDesc}} </option>
            </select>
          </div>
        </div> -->

        </div>
        <div class="row ser-block">
          <div class=" col-md-12 col-sm-12">
            <div class="state">
              <h6>
                {{"tasks.viewers"|translate}}
                <ng-container *ngIf="allowFav && showFav">
                  <span (click)="toggleFavList();"
                    style="cursor: pointer; color: black;">({{"tasks.showallemps" |translate }})</span>
                </ng-container>
                <ng-container *ngIf="allowFav && !showFav">
                  <span (click)="toggleFavList();"
                    style="cursor: pointer; color: black;">({{"tasks.showfavemps"|translate}})</span>
                </ng-container>

              </h6>
              <ng-select [items]="ddlemplist" bindLabel="empNameEmail" autofocus bindValue="empId"
                formControlName="taskViewers" multiple="multiple">
              </ng-select>

            </div>
          </div>
        </div>
        <div class="row ser-block">

          <!-- <div class=" col-md-6 col-sm-6">
            <div class="state">
              <h6>{{"tasks.type"|translate}} </h6>
              <select class="form-control" formControlName="type"
                [ngClass]="{ 'is-invalid': submitted && AddReqForm.controls.type.errors }">
                <option [ngValue]="" selected>{{"tasks.type" | translate}}</option>
                <option *ngFor="let typs of ddltype" [selected]="selectvactype == typs.typeCode"
                  value={{typs.typeCode}}>
                  {{typs.typeDesc}} </option>
              </select>
            </div>
          </div> -->

          <div class=" col-md-12 col-sm-12">
            <div class="state">
              <h6>{{"tasks.requiredProcedures"|translate}} <span class="reqstart">*</span></h6>
              <input type="text" formControlName="requiredProcedures" class="form-control" />
            </div>
          </div>
        </div>

        <div class="row ser-block">
          <div class=" col-md-6 col-sm-6">
            <div class="state">
              <h6>{{"tasks.startDate"|translate}} <span class="reqstart">*</span></h6>
              <input type="text" formControlName="startDate" bsDatepicker class="form-control" />
            </div>
          </div>
          <div class=" col-md-6 col-sm-6">
            <div class="state">
              <h6>{{"tasks.endDate"|translate}} <span class="reqstart">*</span></h6>
              <input type="text" formControlName="endDate" bsDatepicker class="form-control" />
            </div>
          </div>
        </div>

        <div class="row ser-block">
          <div class=" col-md-12 col-sm-12">
            <div class="state">
              <h6>{{"wafi.attachment"|translate}} (word,excel, pdf, zip, rar, jpg, gif, bmp)</h6>
              <div class="custom-file">
                <input class="custom-file-input" name="attachment" id="file" type="file" accept="*/*"
                  (change)="handleFileInput($event)" />
                <label for="file" class="custom-file-label ">
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row ser-block">
          <div class=" col-md-12 col-sm-12">
            <div class="state">
              <h6>{{"tasks.notes"|translate}} </h6>
              <textarea class="form-control" cols="2" rows="3" formControlName="notes"></textarea>
            </div>
          </div>


        </div>

        <div>
          <div class=" col-md-6 col-sm-6">
            <div class="form-group  prin" style="color: #fff;margin-top: 30px !important;">
              <button (click)="onFormSubmit()" type="button" [disabled]="submitted || AddReqForm.invalid" class="btn"
                style="color: #fff;margin-top: 30px !important;"><i class="fa fa-database"></i>
                {{"tasks.Send" | translate}}</button>
            </div>
          </div>

        </div>

      </div>
    </form>
  </section>


</div>