<!-- Modal -->
<mat-dialog-content>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="text-align: center" class="modal-title " id="exampleModalLabel">
          {{"services.change_major.program_change"|translate}}</h5>
      </div>
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="modal-body">
          <section class="ser-state">
            <div class="container">
              <div class="row ser-block">
                <div class="col-md-12 col-sm-12">
                  <div class="state">
                    <h6>{{"services.change_major.required_major"|translate}}</h6>
                    <select name="major" #major="ngModel" [(ngModel)]="course.major" class="form-control"
                      [class.is-invalid]="course.major==''">
                      <option *ngFor="let item of reqData.majors" value="{{item.key}}">{{item.value}}</option>
                    </select>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="state">
                    <h6>{{"services.change_major.mobile"|translate}}</h6>
                    <input name="mobile" #mobile="ngModel" [(ngModel)]="course.mobile" class="form-control">
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="state">
                    <h6>{{"services.change_major.change_reason"|translate}}</h6>
                    <textarea name="reason" #reason="ngModel" [(ngModel)]="course.reason" class="form-control">
                                     </textarea>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-info"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="state">
                    <h6>{{"services.change_major.record"|translate}}</h6>
                    <div class="custom-file">
                      <input name="attachment" id="attachment" type="file" accept="*/*"
                        (change)="handleInputChange($event)" />
                      <label for="attachment" class="custom-file-label ">
                      </label>
                    </div>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>

                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="state">
                    <h6>{{"services.change_major.doc"|translate}}</h6>
                    <div class="custom-file">
                      <input name="attachment2" id="attachment2" type="file" accept="*/*"
                        (change)="handleInputChangeCopy($event)" />
                      <label for="attachment2" class="custom-file-label ">
                      </label>
                    </div>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>

                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="state">
                    <mat-checkbox (change)=changeOutside($event) #testcheck>
                      <h6> {{"services.change_major.out_kingdom"|translate}}</h6>

                    </mat-checkbox>

                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12" *ngIf="testcheck.checked">
                  <div class="state">
                    <h6>{{"services.change_major.equalize"|translate}} </h6>
                    <div class="custom-file">
                      <input name="attachment" id="attachment" type="file" accept="*/*"
                        (change)="handleInputChangeOut($event)" />
                      <label for="attachment" class="custom-file-label ">
                      </label>
                    </div>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>

                </div>



              </div>

            </div>

          </section>

        </div>
        <div class="modal-footer">
          <button type="button" (click)="closeDiag()" class="btn btn-outline-dark ml-1"><i class="ik ik-x"></i>
            {{"general.cancel"|translate}}</button>
          <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i>
            {{"general.save"|translate}}</button>
        </div>

      </form>
    </div>
  </div>

</mat-dialog-content>
