<div class="main-content">

  <section class="service-single">
    <div class="container">
      <h3> سداد الرسوم الدراسية</h3>
      <div class="row">
        <div class=" col-md-5">
          <p> سداد الرسوم الدراسية</p>
        </div>
        <!-- <div class=" col-md-6 descr">
                <span>مدة الإنجاز : <span class="badge">3 يوم</span> </span>
                  &nbsp; &nbsp; &nbsp; &nbsp;
  
              </div> -->
      </div>
    </div>
  </section>
  <div class="iframe-content">
    <br /><br /><br />
    <iframe width="100%" height="500px" frameBorder="0" [src]="urlSafe"></iframe>
  </div>
</div>