<div class="main-content">

  <seu-loader [isLoading]="isLoading"></seu-loader>
  <service-header [title]="'leadership.applications.myapplications' | translate"></service-header>

  <div class="widget" *ngIf="!isLoading">
    <div class="widget-header">
      <h3 class="widget-title">
        {{"leadership.applications.myapplications"|translate}}
      </h3>

    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>

          <tr>
            <th scope="col">#</th>
            <th scope="col">{{"leadership.job.title"|translate}}</th>
            <th scope="col">{{"leadership.applications.status"|translate}}</th>
            <th scope="col">{{"leadership.applications.submit_date"|translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of appsList;let i=index;">
            <td>{{i+1}}</td>
            <td>{{app.JOB_TITLE}}</td>
            <td [class.text-red]="app.APP_STATUS == 'NOT_COMPLETED' " >{{app.APP_STATUS_DESC}}

              <span *ngIf="app.APP_STATUS == 'NOT_COMPLETED'"><br />
                {{"leadership.applications.not_compeleted_notes"|translate}}
              </span>

            </td>
            <td>{{app.INSERT_DATE}}</td>
            <td>
              <button class="btn btn-sm btn-danger" style="color: white" (click)="details(app)">
                {{"leadership.applications.details" |translate}} <i class="fa fa-list"></i>
              </button>
              &nbsp;
              <button *ngIf="app.CAN_DELETE" class="btn btn-sm btn-danger" style="color: white" (click)="delete(app.APP_ID)">
                {{"leadership.applications.delete" |translate}} <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>