<div class="nav-item">
    <a href="#" routerLink="instructor/my-requests"><span>{{ "menu.my_requests" | translate }} </span>
        <i class="ik ik-grid"></i>
    </a>
</div>
<div class="nav-item">
    <a href="#" routerLink="instructor/new-request"><span>{{ "menu.new_resume_ar_request" | translate }} </span>
        <i class="ik ik-file"></i>
    </a>
</div>
<!-- <div class="nav-item">
    <a href="#" routerLink="instructor/new-request-en"><span>{{ "menu.new_resume_en_request" | translate }} </span>
        <i class="ik ik-file-plus"></i>
    </a>
</div> -->