// Import common styles
@import "app-common";

// Place any CSS rules you want to apply only on iOS here
.iosFont{
    text-align: right;
}

.iosFontCenter{
    text-align: center;

}
.ysHBox
{
    font-size:15px;
    font-weight: 800;
    text-align: center;
    background-color: #001628;
    color: rgb(230, 197, 197);
    border-radius: 70px 20px 0px 0px;
    padding: 15px 0;

}