@import "~@angular/material/prebuilt-themes/indigo-pink.css";



table.table-hover tbody tr:hover{
cursor: pointer;
}
@media print {
    .isPrinting > * { display: none; }
    .isPrinting app-print-layout { display: block; }
  }

  .isValid{
 font-size: xx-large !important;

  }