<div class="main-content">
    <app-service-header title="{{'univ' | translate}}" subtitle="{{'distancelearning.header' | translate}}">
    </app-service-header>
    <section class="ug-content">
        <div class="container" *ngIf="!isLoading">
            <seu-loader [isLoading]="isLoading"></seu-loader>
            <div *ngIf="!active">
                <div class="ser-state">
                    <div style="text-align: right" class="alert  alert-danger" role="alert">
                        <!-- <h1>{{"distancelearning.success_req_no" | translate }} #{{app_pk}} </h1> -->
                        <h5>{{"distancelearning.notopen" | translate }}</h5>
                    </div>
                </div>
            </div>

            <div *ngIf="app_pk">
                <div class="ser-state">
                    <div style="text-align: right" class="alert  alert-success" role="alert">
                        <!-- <h1>{{"distancelearning.success_req_no" | translate }} #{{app_pk}} </h1> -->
                        <h5 innerHtml='{{"distancelearning.success" | translate:appreq }}'></h5>
                    </div>
                </div>
            </div>
            <form *ngIf="active && !app_pk" role="form" [formGroup]="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"distancelearning.FIRST_NAME_AR"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="FIRST_NAME_AR" class="form-control" />
                            <control-validations-errors [control]="form.controls.FIRST_NAME_AR">
                            </control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"distancelearning.FIRST_NAME_EN"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="FIRST_NAME_EN" class="form-control" />
                            <control-validations-errors [control]="form.controls.FIRST_NAME_EN">
                            </control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"distancelearning.LAST_NAME_AR"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="LAST_NAME_AR" class="form-control" />
                            <control-validations-errors [control]="form.controls.LAST_NAME_AR">
                            </control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"distancelearning.LAST_NAME_EN"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="LAST_NAME_EN" class="form-control" />
                            <control-validations-errors [control]="form.controls.LAST_NAME_EN">
                            </control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"distancelearning.GENDER"|translate}} <span class="reqstart">*</span></h6>
                            <select class="form-control" formControlName="GENDER">
                                <option value="M">{{"lookups.male"|translate}}</option>
                                <option value="F">{{"lookups.female"|translate}}</option>
                            </select>
                            <control-validations-errors [control]="form.controls.GENDER"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"distancelearning.TITLE"|translate}} <span class="reqstart">*</span></h6>
                            <ng-select [items]="titles" bindLabel="NAME" bindValue="ID" formControlName="TITLE">
                            </ng-select>
                            <control-validations-errors [control]="form.controls.TITLE"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"distancelearning.EMAIL"|translate}} <span class="reqstart">*</span></h6>
                            <input type="email" formControlName="EMAIL" class="form-control" />
                            <control-validations-errors [control]="form.controls.EMAIL"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"distancelearning.PHONE"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" (keypress)="keypress($event)" formControlName="PHONE"
                                class="form-control" />
                            <control-validations-errors [control]="form.controls.PHONE"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"distancelearning.COURSE_ID"|translate}} <span class="reqstart">*</span></h6>
                            <ng-select [items]="courses" bindLabel="NAME" bindValue="ID" formControlName="COURSE_ID">
                            </ng-select>
                            <control-validations-errors [control]="form.controls.COURSE_ID">
                            </control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"distancelearning.EMPLOYER"|translate}}</h6>
                            <input type="text" formControlName="EMPLOYER" class="form-control" />
                            <control-validations-errors [control]="form.controls.EMPLOYER"></control-validations-errors>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"distancelearning.COUNTRY"|translate}} <span class="reqstart">*</span></h6>
                            <ng-select [items]="countries" bindLabel="NAME" bindValue="ID" formControlName="COUNTRY">
                            </ng-select>
                            <control-validations-errors [control]="form.controls.COUNTRY"></control-validations-errors>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="state">
                            <h6>{{"distancelearning.CITY"|translate}}</h6>
                            <input type="text" formControlName="CITY" class="form-control" />
                            <control-validations-errors [control]="form.controls.CITY"></control-validations-errors>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"projects.captcha"|translate}} <span class="reqstart">*</span></h6>
                            <re-captcha #recaptchaRef (resolved)="resolved($event)"
                                [siteKey]="environment.captchaSiteKey"></re-captcha>
                        </div>
                    </div>


                </div>
                <div class="row" style="margin-top: 100px; text-align: center;">
                    <div class="col-md-12">
                        <button style="width: 20%; min-width: 200px;" [disabled]="submitted || form.invalid"
                            (click)="onSubmit()" type="submit" class="btn btn-primary">{{ "save" | translate}}
                            <i class="fa fa-save"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>