<div class="main-content">

  <service-header title='{{tasksTitle | translate}}'></service-header>
  <seu-loader [isLoading]="isLoading"></seu-loader>
  <div class="widget">

    <div class="widget-header">
      <h3 class="widget-title">
        {{"tasks.TaskList" | translate}}
        <button *ngIf="addnewTask" type="button" class="btn btn-primary" (click)="addtask()">
          {{"tasks.AddTask"|translate}} <i class="ik ik-plus"></i>
        </button>
      </h3>
    </div>
    <div class="col-md-6 col-sm-6" >  
      <div class="state">
        <h6>{{"tasks.searchdata"|translate}} </h6>
      <input class="form-control" type="text"  [(ngModel)]="filter">   
      </div>     
  </div> 
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">{{"tasks.ID" | translate}}</th>
            <th scope="col">{{"tasks.title" | translate}}</th>
            <th scope="col">{{"tasks.startDate" | translate}}</th>
            <th scope="col">{{"tasks.endDate" | translate}}</th>
            <th scope="col">{{"tasks.priority" | translate}}</th>
            <th scope="col">{{"tasks.status" | translate}}</th>
            <th scope="col">{{"tasks.assignedTo" | translate}}</th>
            <th scope="col">{{"tasks.Details" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of gettasklist |filter:filter | paginate: { itemsPerPage: 25, currentPage: p };let i=index;">
            <td>{{task.tid}}</td>
            <td>{{task.title}}</td>
            <td>{{task.startDate}}</td>
            <td>{{task.endDate}}</td>
            <td>{{task.priorityDesc}}</td>
            <td>{{task.statusDesc}}</td>
            <td>{{task.assignedToName}}</td>
            <td class="prin" style="color: #fff;"><a [routerLink]="['/tasks/details', task.tid, {list:list}]"
                class="btn">{{"tasks.Details" | translate}}  </a></td>
          </tr>

        </tbody>
      </table>
      <ul class="pagination">  
        <pagination-controls (pageChange)="p = $event"
        directionLinks="true"
        autoHide="true"
        previousLabel="{{'tasks.Previous' | translate}}"
        nextLabel="{{'tasks.Next' | translate}}"
        ></pagination-controls>  
        </ul> 
    </div>
  </div>

</div>