<app-service-header title="{{'resume' | translate}}" subtitle="{{'menu.new_request_ar' | translate}}">
</app-service-header>
<seu-loader [isLoading]="isLoading"></seu-loader>
<section *ngIf="exist" class="dashboard-wrap" style="margin-top: 30px; padding: 0 30px;">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info text-center">
        <b>{{ "new_request_en_page.exist" | translate}}</b>
      </div>
    </div>
  </div>
</section>
<section *ngIf="!exist" class="dashboard-wrap" style="margin-top: 30px; padding: 0 30px;">
  <form [formGroup]="addRequestForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-2">
        <div class="profile">
          <img *ngIf="profile == 'notExist' && !imagePath" src="assets/images/profile.png">
          <img *ngIf="profile == 'notExist' && imagePath" [src]="imagePath">
          <img *ngIf="profile != 'notExist' && !imagePath" src="https://api.seu.edu.sa/newservices/api-test/profile.php?image={{profile}}">
          <img *ngIf="profile != 'notExist' && imagePath" [src]="imagePath">
        </div>
      </div>
      <div class="col-md-8" style="border: solid 1px #EDEDED; padding: 30px;">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">{{ "new_request_en_page.name" | translate}} <span class="text-danger">*</span></label>
              <input formControlName="NAME" class="form-control" type="text">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">{{ "new_request_en_page.email" | translate}} <span class="text-danger">*</span></label>
              <input formControlName="EMAIL" class="form-control" type="text">
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">{{ "new_request_en_page.dob" | translate}}</label>
              <input type="text" formControlName="DOB" bsDatepicker [bsConfig]="datePickerConfig" class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">{{ "new_request_en_page.job" | translate}} <span class="text-danger">*</span></label>
              <input formControlName="JOB_TITLE" class="form-control" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-form" >
      <div class="col-md-2">
        <div class="form-group">
          <input type="file" accept="*/*" (change)="handleInputChange($event)" id="photo" class="form-control-file form-control">
          <button id="fake-file" class="btn btn-primary">{{ "new_request_en_page.choose_file" | translate}}</button>
        </div>
      </div>
    </div>
    <!-- <hr> -->
    <div class="row row-form"> <!-- Education -->
      <div class="col-md-12" style="padding-top: 10px;">
        <div class="row row-form">
          <div class="col-md-10 title">
            <div class="form-group"> 
              <legend style="font-size: 1.2em;">{{educationTitle.text}} :</legend>
              <div class="row row-form" *ngFor="let item of educationTitle.items; let j = index;">
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.edu_general" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.year" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.edu_degree" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.degree" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-1">
                  <button (click)="removeItem(educationTitle, j)" class="btn remove-item" >-</button>
                </div>
              </div>
              <div class="row row-form">
                <div class="col-md-8">
                  <button (click)="addItem(educationTitle)" type="button" class="btn">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-form"> <!-- Experience -->
      <div class="col-md-12" style="padding-top: 10px;">
        <div class="row row-form">
          <div class="col-md-10 title">
            <div class="form-group"> 
              <legend style="font-size: 1.2em;">{{experienceTitle.text}} :</legend>
              <div class="row row-form" *ngFor="let item of experienceTitle.items; let j = index;">
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.edu_general" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.year" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.position" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.position" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-1">
                  <button (click)="removeItem(experienceTitle, j)" class="btn remove-item" >-</button>
                </div>
              </div>
              <div class="row row-form">
                <div class="col-md-8">
                  <button (click)="addItem(experienceTitle)" type="button" class="btn">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row row-form"> <!-- Committees -->
      <div class="col-md-12" style="padding-top: 10px;">
        <div class="row row-form">
          <div class="col-md-10 title">
            <div class="form-group"> 
              <legend style="font-size: 1.2em;">{{committesTitle.text}} :</legend>
              <div class="row row-form" *ngFor="let item of committesTitle.items; let j = index;">
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.edu_general" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.year" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.commit" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.commit" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-1">
                  <button (click)="removeItem(committesTitle, j)" class="btn remove-item" >-</button>
                </div>
              </div>
              <div class="row row-form">
                <div class="col-md-8">
                  <button (click)="addItem(committesTitle)" type="button" class="btn">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-form"> <!-- organizations -->
      <div class="col-md-12" style="padding-top: 10px;">
        <div class="row row-form">
          <div class="col-md-10 title">
            <div class="form-group"> 
              <legend style="font-size: 1.2em;">{{organizationsTitle.text}} :</legend>
              <div class="row row-form" *ngFor="let item of organizationsTitle.items; let j = index;">
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.edu_general" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.year" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.organization" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.org" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-1">
                  <button (click)="removeItem(organizationsTitle, j)" class="btn remove-item" >-</button>
                </div>
              </div>
              <div class="row row-form">
                <div class="col-md-8">
                  <button (click)="addItem(organizationsTitle)" type="button" class="btn">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-form"> <!-- publishing -->
      <div class="col-md-12" style="padding-top: 10px;">
        <div class="row row-form">
          <div class="col-md-10 title">
            <h5 style="text-align: center;">{{ "new_request_en_page.publishing" | translate}}</h5>
            <div class="form-group"> 
              <legend style="font-size: 1.2em;">{{booksTitle.text}} :</legend>
              <div class="row row-form" *ngFor="let item of booksTitle.items; let j = index;">
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.edu_general" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.year" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.book" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.book" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-1">
                  <button (click)="removeItem(booksTitle, j)" class="btn remove-item" >-</button>
                </div>
              </div>
              <div class="row row-form">
                <div class="col-md-8">
                  <button (click)="addItem(booksTitle)" type="button" class="btn">+</button>
                </div>
              </div>
            </div>

            <hr>
            <div class="form-group" style="margin-top: 20px;"> 
              <legend style="font-size: 1.2em;">{{researchTitle.text}} :</legend>
              <div class="row row-form" *ngFor="let item of researchTitle.items; let j = index;">
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.edu_general" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.year" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.research" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.research" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-1">
                  <button (click)="removeItem(researchTitle, j)" class="btn remove-item" >-</button>
                </div>
              </div>
              <div class="row row-form">
                <div class="col-md-8">
                  <button (click)="addItem(researchTitle)" type="button" class="btn">+</button>
                </div>
              </div>
            </div>

            <hr>
            <div class="form-group" style="margin-top: 20px;"> 
              <legend style="font-size: 1.2em;">{{workshopsTitle.text}} :</legend>
              <div class="row row-form" *ngFor="let item of workshopsTitle.items; let j = index;">
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.edu_general" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.year" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-5 item">
                  <div class="form-group">
                    <label> {{ "new_request_en_page.workshop" | translate}}</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.workshop" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-1">
                  <button (click)="removeItem(workshopsTitle, j)" class="btn remove-item" >-</button>
                </div>
              </div>
              <div class="row row-form">
                <div class="col-md-8">
                  <button (click)="addItem(workshopsTitle)" type="button" class="btn">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-form"> <!-- social -->
      <div class="col-md-12" style="padding-top: 10px;">
        <div class="row row-form">
          <div class="col-md-10 title">
            <div class="form-group"> 
              <legend style="font-size: 1.2em;">{{socialTitle.text}} :</legend>
              <div class="row row-form" *ngFor="let item of socialTitle.items; let j = index;">
                <div class="col-md-10 item">
                  <div class="form-group">
                    <label>{{j+1}}.</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.text" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-1">
                  <button (click)="removeItem(socialTitle, j)" class="btn remove-item" >-</button>
                </div>
              </div>
              <div class="row row-form">
                <div class="col-md-8">
                  <button (click)="addItem(socialTitle)" type="button" class="btn">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-form"> <!-- science interests -->
      <div class="col-md-12" style="padding-top: 10px;">
        <div class="row row-form">
          <div class="col-md-10 title">
            <div class="form-group"> 
              <legend style="font-size: 1.2em;">{{scienceInterestTitle.text}} :</legend>
              <div class="row row-form" *ngFor="let item of scienceInterestTitle.items; let j = index;">
                <div class="col-md-10 item">
                  <div class="form-group">
                    <label>{{j+1}}.</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.text" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-1">
                  <button (click)="removeItem(scienceInterestTitle, j)" class="btn remove-item" >-</button>
                </div>
              </div>
              <div class="row row-form">
                <div class="col-md-8">
                  <button (click)="addItem(scienceInterestTitle)" type="button" class="btn">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-form"> <!-- other interests -->
      <div class="col-md-12" style="padding-top: 10px;">
        <div class="row row-form">
          <div class="col-md-10 title">
            <div class="form-group"> 
              <legend style="font-size: 1.2em;">{{otherInterestTitle.text}} :</legend>
              <div class="row row-form" *ngFor="let item of otherInterestTitle.items; let j = index;">
                <div class="col-md-10 item">
                  <div class="form-group">
                    <label>{{j+1}}.</label>
                    <input name="item{{j}}" class="form-control" [(ngModel)]="item.text" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-1">
                  <button (click)="removeItem(otherInterestTitle, j)" class="btn remove-item" >-</button>
                </div>
              </div>
              <div class="row row-form">
                <div class="col-md-8">
                  <button (click)="addItem(otherInterestTitle)" type="button" class="btn">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-form sub-row">
      <div class="col-md-4 offset-md-3">
        <div style="padding-right: 20px;" class="form-check">
          <input (change)="agreeCond(agree)" type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">{{ "new_request_en_page.agree" | translate}}</label>
        </div>
        <button *ngIf="agree" style="margin-top: 20px; width: 100%;" (click)="onSubmit()" type="button" class="btn sub">{{ "new_request_en_page.save" | translate}}  <i class="fa fa-save"></i></button>
        <button *ngIf="!agree" disabled style="margin-top: 20px;width: 100%;" (click)="onSubmit()" type="button" class="btn sub">{{ "new_request_en_page.save" | translate}}  <i class="fa fa-save"></i></button>
      </div>
    </div>
  </form>
</section>