<div class="top-nav hidden-xs">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-2 right-s">

                                <ul>


                                        <li class="hidden-xs"> <a href="#" class="today"> <img src="https://seu.edu.sa/images/cal-w.png"
                                                                style="width:20px;margin-right:6px" alt="seu"
                                                                class="icon-collapse"> <span>12/04/2021</span></a> </li>
                                        <!--<li><a style="color:#f28d1e !important" href="https://old.seu.edu.sa/sites/en/Pages/main.aspx" target="_blank"> Old Portal </a> </li>-->

                                        <li>
                                                <!--  <img src="~https://seu.edu.sa/images/cor.png" style="width:20px;margin-right:4px;filter: invert(1);" alt="seu" class="icon-collapse">-->
                                                <a href="?lang=ar">عربي</a>

                                        </li>
                                </ul>

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-10 left-s">
                                <ul>

                                        <li class=""><a href="https://outlook.office365.com/owa/seu.edu.sa"
                                                        target="_blank"> <img src="https://seu.edu.sa/images/mail-w.png" alt=""
                                                                style="width: 20px;"></a></li>



                                        <li class=" dropdown">

                                                <a target="_blank" href="https://eservice.seu.edu.sa/?lang=en">



                                                        <img src="https://seu.edu.sa/images/login-w.png" alt=""
                                                                style="width: 20px; margin:0 7px 0 0px ">
                                                </a>

                                        </li>
                                        <li class="hidden-xs"><a href="https://eservice.seu.edu.sa/contactus/index.html"
                                                        target="_blank"> <img src="https://seu.edu.sa/images/help.png" alt=""
                                                                style="width: 20px;"> Contact Us</a> </li>





                                        <li class="searchBox">

                                                <form action="https://seu.edu.sa/en/search-results/" method="get"
                                                        id="searchForm" novalidate="">
                                                        <div class="ms-srch-sb ms-srch-sb-border">
                                                                <input type="search" placeholder="Search" name="saerchP"
                                                                        maxlength="2048">
                                                                <i class="fa fa-search"> <a href="#"
                                                                                onclick="document.getElementById('searchFormMob').submit();"
                                                                                title="Search"
                                                                                class="ms-srch-sb-searchLink"></a></i>

                                                        </div>
                                                </form>



                                        </li>


                                </ul>
                        </div>



                </div>

        </div>
</div>

<nav class="navbar navbar-default brand-center center-side navbar-sticky navbar-scrollspy bootsnav">



        <div class="container-fluid" style="padding-right:2px">
                <div class="attr-nav ">
                        <ul>

                                <li class=""><a href="https://outlook.office365.com/owa/seu.edu.sa" target="_blank"><img
                                                        src="https://seu.edu.sa/images/mail-w.png" alt="" style="width: 20px;"></a></li>
                                <li class="">
                                        <a target="_blank" href="https://eservice.seu.edu.sa/?lang=ar"><img
                                                        src="https://seu.edu.sa/images/login-w.png" alt="" style="width: 20px;"></a>

                                </li>




                        </ul>
                </div>
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                <img src="https://seu.edu.sa/images/menu.png" alt="" style="width: 20px;">
                        </button>
                        <!--<a class="navbar-brand" href="#brand"><img src="images/logo-ar.png" class="logo" alt=""></a>-->
                        <a class="navbar-brand" href="https://seu.edu.sa"><img src="https://seu.edu.sa/media/6634/logo-2.png" class="logo"
                                        alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                        <form action="https://seu.edu.sa/en/search-results/" method="get" id="searchFormMob"
                                novalidate="">

                                <div class="input-group" style="margin-top:15px">
                                        <div class="input-group-addon"> <a
                                                        onclick="document.getElementById('searchFormMob').submit();"><i
                                                                class="fa fa-search"></i></a></div>
                                        <input type="text" class="form-control" id="saerchP" placeholder="Search"
                                                name="saerchP">

                                </div>
                        </form>


                        <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">



                                <li class="nav-item dropdown">
                                        <a href="https://seu.edu.sa/en/about/" target="_self">
                                                <img src="https://seu.edu.sa/media/5395/home.png" alt="">
                                                About SEU
                                        </a>
                                </li>
                                <li class="nav-item dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown"> <img
                                                        src="https://seu.edu.sa/media/5400/managment.png" alt=""> Structure</a>
                                        <ul class="dropdown-menu">

                                                <li class="dropdown">



                                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                                                <img src="https://seu.edu.sa/media/5379/agency.png" alt=""> Vice
                                                                Rectorates </a>


                                                        <ul class="dropdown-menu " style="width:280px">



                                                                <li>
                                                                        <a href="https://seu.edu.sa/vr/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Vice Rectorate


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/vroaa/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Vice Rectorate of Academic Affairs


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/vrob/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Vice Rector for Branches


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/vrogsr/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Vice Rectorate of Graduate Studies and
                                                                                Research


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/vropdq/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Vice Rectorate of Planning, Development
                                                                                and Quality


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/vrofsa/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Vice Rectorate of Female Student Affairs


                                                                        </a>
                                                                </li>


                                                        </ul>

                                                </li>
                                                <li class="dropdown">



                                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                                                <img src="https://seu.edu.sa/media/5383/breif.png" alt=""> Deanships </a>


                                                        <ul class="dropdown-menu " style="width:280px">



                                                                <li>
                                                                        <a href="https://seu.edu.sa/aasa/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Deanship of Admission and Student
                                                                                Affairs


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/cfy/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Deanship of Common First Year


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/gs/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Deanship of Graduate Studies


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/sr/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Deanship of Scientific Research


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/it/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Deanship of Information Technology


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/en/institute-home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Institute for Research and Studies


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/hr/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Deanship of Human Resources


                                                                        </a>
                                                                </li>


                                                        </ul>

                                                </li>
                                                <li class="dropdown">



                                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                                                <img src="https://seu.edu.sa/media/5391/edarat.png" alt=""> Departments
                                                        </a>


                                                        <ul class="dropdown-menu usity" style="width:280px">



                                                                <li>
                                                                        <a href="https://seu.edu.sa/kr/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Department of Knowledge Resources


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/pram/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration of Public Relations and
                                                                                Media


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/aola/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration of Legal Affairs


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/dsr/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Scholarship and Recruiting


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/pab/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration of Planning and Budget


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/iad/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Internal Audit Department


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/af/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration of Administrative Affairs


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/aofd/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration of Finance Department


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/aocap/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration of Contracts and Purchase


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/aosas/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration of Safety And Security


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/aoss/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration of Student Support


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/aosaw/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration of Storage and Warehouses


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/aopam/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration of Projects and
                                                                                Maintenance


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/ac/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administrative Correspondence


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/aoms/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration Of Medical Services


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/pic/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Partnerships and International
                                                                                Cooperation


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/structuring/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration of Administrative
                                                                                Structuring


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/aop/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Administration of Projects


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/records/en/about/">
                                                                                <i class="fas fa-list"></i>
                                                                                Department of Records


                                                                        </a>
                                                                </li>


                                                        </ul>

                                                </li>
                                        </ul>
                                </li>
                                <li class="nav-item dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown"> <img
                                                        src="https://seu.edu.sa/media/5393/fac.png" alt=""> Colleges&amp;Branches</a>
                                        <ul class="dropdown-menu">

                                                <li class="dropdown">



                                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                                                <img src="https://seu.edu.sa/media/5385/coll.png" alt=""> Colleges </a>


                                                        <ul class="dropdown-menu " style="width:280px">



                                                                <li>
                                                                        <a href="https://seu.edu.sa/afsc/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                College of Administrative and Financial
                                                                                Sciences


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/caic/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                College of Computing and Informatics


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/hsc/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                College of Health Sciences


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/satsc/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                College Of Science and Theoretical
                                                                                Studies


                                                                        </a>
                                                                </li>


                                                        </ul>

                                                </li>
                                                <li class="dropdown">



                                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                                                <img src="https://seu.edu.sa/media/5382/bran.png" alt=""> Branches </a>


                                                        <ul class="dropdown-menu usity" style="width:280px">



                                                                <li>
                                                                        <a href="https://seu.edu.sa/dammam/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Dammam


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/jeddah/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Jeddah


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/madinah/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Madinah


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/qassim/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Qassim


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/abha/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Abha


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/tabuk/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Tabuk


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/jazan/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Jazan


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://seu.edu.sa/alahsa/en/home/">
                                                                                <i class="fas fa-list"></i>
                                                                                Alahsa


                                                                        </a>
                                                                </li>


                                                        </ul>

                                                </li>
                                        </ul>
                                </li>
                                <li class="nav-item dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown"> <img
                                                        src="https://seu.edu.sa/media/5401/media.png" alt=""> Media</a>
                                        <ul class="dropdown-menu">

                                                <li>
                                                        <a href="https://seu.edu.sa/en/news/" target="_self">



                                                                <img src="https://seu.edu.sa/media/5403/news.png" alt="">
                                                                News
                                                        </a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/en/advertisements/" target="_self">



                                                                <img src="https://seu.edu.sa/media/5401/media.png" alt="">
                                                                Advertisements
                                                        </a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/en/events/" target="_self">



                                                                <img src="https://seu.edu.sa/media/5392/eve.png" alt="">
                                                                Events
                                                        </a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/en/videos/" target="_self">



                                                                <img src="https://seu.edu.sa/media/5406/vids.png" alt="">
                                                                Videos
                                                        </a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/en/gallery/" target="_self">



                                                                <img src="https://seu.edu.sa/media/5396/imag.png" alt="">
                                                                Gallery
                                                        </a>
                                                </li>
                                                <li>
                                                        <a href="https://www.youtube.com/user/SaudiEUniversity/feed"
                                                                target="_blank">


                                                                <i>
                                                                        <img src="https://seu.edu.sa/media/5384/cha.png" alt="">
                                                                </i>

                                                                SEU channel
                                                        </a>


                                                </li>
                                        </ul>
                                </li>
                                <li class="nav-item dropdown">
                                        <a href="https://seu.edu.sa/en/academic-programs/" target="_self" class="dropdown-toggle"
                                                data-toggle="dropdown">
                                                <img src="https://seu.edu.sa/media/5405/prog.png" alt="">
                                                Academic Programs
                                        </a>
                                        <ul class="dropdown-menu">

                                                <li class="dropdown">



                                                        <a href="https://seu.edu.sa/en/academic-programs?p=1&amp;programType=Bachelor"
                                                                class="dropdown-toggle" data-toggle="dropdown"
                                                                target="_self">
                                                                <img src="https://seu.edu.sa/media/5381/baca.png" alt=""> Bachelor </a>


                                                        <ul class="dropdown-menu " style="width:280px">



                                                                <li>
                                                                        <a
                                                                                href="/en/academic-programs?p=1&amp;programType=Bachelor&amp;programName=College of Administrative and Financial Sciences Programs">
                                                                                <i class="fas fa-list"></i>
                                                                                College of Administrative and Financial
                                                                                Sciences Programs


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a
                                                                                href="/en/academic-programs?p=1&amp;programType=Bachelor&amp;programName=Computing and Informatics College programs">
                                                                                <i class="fas fa-list"></i>
                                                                                Computing and Informatics College
                                                                                programs


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a
                                                                                href="/en/academic-programs?p=1&amp;programType=Bachelor&amp;programName=College of Health Sciences programs">
                                                                                <i class="fas fa-list"></i>
                                                                                College of Health Sciences programs


                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a
                                                                                href="/en/academic-programs?p=1&amp;programType=Bachelor&amp;programName=Science and Theoretical Studies Programs">
                                                                                <i class="fas fa-list"></i>
                                                                                Science and Theoretical Studies Programs


                                                                        </a>
                                                                </li>


                                                        </ul>

                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/gs/en/admission/" target="_self">


                                                                <i>
                                                                        <img src="https://seu.edu.sa/media/5385/coll.png" alt="">
                                                                </i>

                                                                Graduate Studies​​
                                                        </a>


                                                </li>
                                        </ul>
                                </li>
                                <li class="nav-item dropdown">
                                        <a href="https://seu.edu.sa/en/arabic-online/" target="_self">
                                                <img src="https://seu.edu.sa/media/5380/arabic.png" alt="">
                                                Arabic Online
                                        </a>
                                </li>
                                <li class="nav-item dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown"> <img
                                                        src="https://seu.edu.sa/media/5390/commit.png" alt="">
                                                Initiatives&amp;Committees</a>
                                        <ul class="dropdown-menu">

                                                <li>
                                                        <a href="https://seu.edu.sa/en/business-centers/elic/" target="_self">



                                                                <img src="https://seu.edu.sa/media/5386/comi1.png" alt="">
                                                                Innovation in eLearning Hackathon and Accelerator
                                                        </a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/sr/en/e-learning-initiative/" target="_self">



                                                                <img src="https://seu.edu.sa/media/5387/comi2.png" alt="">
                                                                E-Learning Initiative
                                                        </a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/sr/en/institutional-funding-research-initiative/"
                                                                target="_self">



                                                                <img src="https://seu.edu.sa/media/5388/comi3.png" alt="">
                                                                Institutional Funding Research Initiative
                                                        </a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/mhc/en/about/" target="_self">



                                                                <img src="https://seu.edu.sa/media/5389/comi4.png" alt="">
                                                                Permanent Committee for Mental Health
                                                        </a>
                                                </li>
                                        </ul>
                                </li>
                                <li class="nav-item dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown"> <img
                                                        src="https://seu.edu.sa/media/5378/acc.png" alt=""> Admissions</a>
                                        <ul class="dropdown-menu">

                                                <li>
                                                        <a href="https://seu.edu.sa/en/bachelor/" target="_self">



                                                                <img src="https://seu.edu.sa/media/5381/baca.png" alt="">
                                                                Bachelor
                                                        </a>
                                                </li>
                                                <li>
                                                        <a href="https://seu.edu.sa/gs/en/admission/" target="_self">



                                                                <img src="https://seu.edu.sa/media/5385/coll.png" alt="">
                                                                Graduate Studies​​ ​
                                                        </a>
                                                </li>
                                        </ul>
                                </li>
                        </ul>
                        <a href="?lang=ar" class="langu"> <i class="fas fa-cog"></i> عربي</a>
                        <!--<a href="https://old.seu.edu.sa/sites/en/Pages/main.aspx" class="langu" target="_blank"> <i class="fas fa-book-open"></i> Old Portal  </a> -->




                </div><!-- /.navbar-collapse -->
        </div>

</nav>