<div class="top-nav hidden-xs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-2 right-s">

                <ul>


                        <li class="hidden-xs"> <a href="#" class="today"> <i class="fa fa-calendar"></i> <span id="date">21 جمادى الأولى 1442 هـ</span></a> </li>
                        <!--<li><a style="color:#f28d1e !important" href="https://old.seu.edu.sa/sites/ar/Pages/main.aspx" target="_blank"> البوابة القديمة</a> </li>-->
                    
                </ul>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-10 left-s">
                <ul>

                   <li class=""><a href="https://outlook.office365.com/owa/seu.edu.sa" target="_blank"><i class="fa fa-envelope-open"></i></a></li>

                        <li class="hidden-xs"><a href="http://outlet.199099.gov.sa/ar/" target="_blank"> <i class="fa fa-phone"></i> 199099</a> </li>


                    <li class="dropdown">

                        <a target="_blank" href="https://eservice.seu.edu.sa/?lang=ar">

                            
                             
                            <img src="/assets/images/login-bo1.png" alt="" style="width: 20px; height: 20px">
                        </a>

                    </li>
                    
                    <li>
                            <a href="/en/events/arday20/">English</a>

                    </li>


                    <li class="searchBox">

                            <form action="/ar/search-results/" method="get" id="searchForm" novalidate="">
                                <div class="ms-srch-sb ms-srch-sb-border">
                                    <input type="search" placeholder="بحث" name="saerchP" maxlength="2048" title="بحث" allowhtml="">
                                    <i class="fa fa-search"> <a href="#" title="بحث" class="ms-srch-sb-searchLink" onclick="SubmitSearchForm()"></a></i>

                                </div>
                            </form>
                       

                    </li>
                    

                </ul>
            </div>



        </div>

    </div>
</div>
<div class="wrap-sticky" style="height: 64px;">
    <nav class="navbar navbar-default brand-center center-side navbar-sticky navbar-scrollspy bootsnav on no-full">
        <span class="storage-name" style="display:none;"></span>
        <div class="container-fluid" style="padding-right:2px">
            <div class="attr-nav ">
                <ul>

                    <li class=""><a href="https://outlook.office365.com/owa/seu.edu.sa" target="_blank"><i
                                class="fa fa-envelope-open"></i></a></li>
                    <li class="">
                        <a target="_blank" href="https://eservice.seu.edu.sa/?lang=ar"><i
                                class="fa fa-user-check"></i></a>

                    </li>




                </ul>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/ar/home/"><img src="/assets/images/logo_3d_last.png" class="logo"
                        alt=""></a>
            </div>

            <div class="collapse navbar-collapse show" id="navbar-menu">
                <form action="/ar/search-results/" method="get" id="searchFormMob" novalidate="">

                    <div class="input-group" style="margin-top:15px">
                        <div class="input-group-addon"> <a onclick="SubmitSearchForm()"><i class="fa fa-search"></i></a>
                        </div>
                        <input type="text" class="form-control" id="saerchP" placeholder="بحث" name="saerchP">

                    </div>
                </form>


                <div class="col-half left">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/ar/about/" target="_self">
                                <i class="fa fas fa-university">


                                </i>
                                عن الجامعة
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="fa fas fa-chalkboard-teacher"></i> إدارة الجامعة</a>
                            <ul class="dropdown-menu animated">

                                <li class="dropdown">



                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fas fa-project-diagram"></i> وكالات الجامعة </a>


                                    <ul class="dropdown-menu animated" style="width:280px">



                                        <li>
                                            <a href="/vr/">
                                                <i class="fas fa-list"></i>
                                                وكالة الجامعة


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vroaa/">
                                                <i class="fas fa-list"></i>
                                                وكالة الجامعة للشؤون التعليمية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vrob/">
                                                <i class="fas fa-list"></i>
                                                وكالة الجامعة لشؤون الفروع


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vrogsr/">
                                                <i class="fas fa-list"></i>
                                                وكالة الجامعة للدراسات العليا و البحث العلمي


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vropdq/">
                                                <i class="fas fa-list"></i>
                                                وكالة الجامعة للتخطيط و التطوير و الجودة


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vrofsa/">
                                                <i class="fas fa-list"></i>
                                                وكالة الجامعة لشؤون الطالبات


                                            </a>
                                        </li>


                                    </ul>

                                </li>
                                <li class="dropdown">



                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fas fa-briefcase"></i> العمادات المساندة </a>


                                    <ul class="dropdown-menu animated" style="width:280px">



                                        <li>
                                            <a href="/aasa/">
                                                <i class="fas fa-list"></i>
                                                القبول وشؤون الطلاب


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/cfy/">
                                                <i class="fas fa-list"></i>
                                                السنة الأولى المشتركة


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/gs/">
                                                <i class="fas fa-list"></i>
                                                الدراسات العليا


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/sr/ar/home/">
                                                <i class="fas fa-list"></i>
                                                البحث العلمي


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/it/">
                                                <i class="fas fa-list"></i>
                                                تقنية المعلومات وتكنولوجيا التعليم


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ar/institute-home/">
                                                <i class="fas fa-list"></i>
                                                معهد البحوث والدراسات


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/hr/">
                                                <i class="fas fa-list"></i>
                                                الموارد البشرية


                                            </a>
                                        </li>


                                    </ul>

                                </li>
                                <li class="dropdown">



                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fas fa-landmark"></i> الإدارات </a>


                                    <ul class="dropdown-menu usity animated" style="width:280px">



                                        <li>
                                            <a href="/kr/">
                                                <i class="fas fa-list"></i>
                                                المصادر المعرفية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pram/">
                                                <i class="fas fa-list"></i>
                                                العلاقات العامة والإعلام


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/aola/">
                                                <i class="fas fa-list"></i>
                                                القانونية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/dsr/">
                                                <i class="fas fa-list"></i>
                                                الابتعاث والاستقطاب


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pab/">
                                                <i class="fas fa-list"></i>
                                                الميزانية والتخطيط


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/iad/">
                                                <i class="fas fa-list"></i>
                                                المراجعة الداخلية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/af/">
                                                <i class="fas fa-list"></i>
                                                الشؤون الإدارية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/aofd/">
                                                <i class="fas fa-list"></i>
                                                المالية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/aocap/">
                                                <i class="fas fa-list"></i>
                                                العقود والمشتريات


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/aosas/">
                                                <i class="fas fa-list"></i>
                                                الأمن والسلامة


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/aoss/">
                                                <i class="fas fa-list"></i>
                                                المساندة الطلابية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/aosaw/">
                                                <i class="fas fa-list"></i>
                                                المخزون


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/aopam/">
                                                <i class="fas fa-list"></i>
                                                المشاريع والصيانة


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ac/">
                                                <i class="fas fa-list"></i>
                                                الاتصالات الإدارية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/aoms/">
                                                <i class="fas fa-list"></i>
                                                الخدمات الطبية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pic/">
                                                <i class="fas fa-list"></i>
                                                الشراكات والتعاون الدولي


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/structuring/ar/about/">
                                                <i class="fas fa-list"></i>
                                                إدارة التشكيلات والمعلومات الوظيفية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/aop/">
                                                <i class="fas fa-list"></i>
                                                إدارة المشاريع


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/records/ar/about/">
                                                <i class="fas fa-list"></i>
                                                إدارة السجلات


                                            </a>
                                        </li>


                                    </ul>

                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fas fa-book-open"></i>
                                الكليات والفروع</a>
                            <ul class="dropdown-menu animated">

                                <li class="dropdown">



                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fas fa-briefcase"></i> الكليات </a>


                                    <ul class="dropdown-menu animated" style="width:280px">



                                        <li>
                                            <a href="/afsc/ar/home/">
                                                <i class="fas fa-list"></i>
                                                كلية العلوم الإدارية والمالية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/caic/">
                                                <i class="fas fa-list"></i>
                                                كلية الحوسبة و المعلوماتية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/hsc/">
                                                <i class="fas fa-list"></i>
                                                كلية العلوم الصحية


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/satsc/">
                                                <i class="fas fa-list"></i>
                                                كلية العلوم و الدراسات النظرية


                                            </a>
                                        </li>


                                    </ul>

                                </li>
                                <li class="dropdown">



                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fas fa-project-diagram"></i> الفروع </a>


                                    <ul class="dropdown-menu usity animated" style="width:280px">



                                        <li>
                                            <a href="/dammam/ar/home/">
                                                <i class="fas fa-list"></i>
                                                الدمام


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/jeddah/ar/home/">
                                                <i class="fas fa-list"></i>
                                                جدة


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/madinah/ar/home/">
                                                <i class="fas fa-list"></i>
                                                المدينة المنورة


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/qassim/ar/home/">
                                                <i class="fas fa-list"></i>
                                                القصيم


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/abha/ar/home/">
                                                <i class="fas fa-list"></i>
                                                أبها


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/tabuk/ar/home/">
                                                <i class="fas fa-list"></i>
                                                تبوك


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/jazan/ar/home/">
                                                <i class="fas fa-list"></i>
                                                جازان


                                            </a>
                                        </li>
                                        <li>
                                            <a href="/alahsa/ar/home/">
                                                <i class="fas fa-list"></i>
                                                الأحساء


                                            </a>
                                        </li>


                                    </ul>

                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fas fa-check-square"></i>
                                القبول </a>
                            <ul class="dropdown-menu animated">

                                <li>
                                    <a href="/ar/bachelor/" target="_self">



                                        <i class="fas fa-book-open"></i>
                                        بكالوريوس
                                    </a>
                                </li>
                                <li>
                                    <a href="/ar/graduate-studies/admission-requirements/" target="_self">



                                        <i class="fas fa-user-graduate"></i>
                                        دراسات عليا
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/ar/academic-programs/" target="_self" class="dropdown-toggle"
                                data-toggle="dropdown">
                                <i class="fa fas fa-award">


                                </i>
                                البرامج الأكاديمية
                            </a>
                            <ul class="dropdown-menu animated">

                                <li class="dropdown">



                                    <a href="/ar/academic-programs?p=1&amp;programType=البكالوريوس"
                                        class="dropdown-toggle" data-toggle="dropdown" target="_self">
                                        <i class="fas fa-book-open"></i> البكالوريوس </a>


                                    <ul class="dropdown-menu animated" style="width:280px">



                                        <li>
                                            <a
                                                href="/ar/academic-programs?p=1&amp;programType=البكالوريوس&amp;programName=برامج كلية العلوم الادارية والمالية">
                                                <i class="fas fa-list"></i>
                                                برامج كلية العلوم الإدارية والمالية


                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                href="/ar/academic-programs?p=1&amp;programType=البكالوريوس&amp;programName=برامج كلية الحوسبة والمعلوماتية">
                                                <i class="fas fa-list"></i>
                                                برامج كلية الحوسبة والمعلوماتية


                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                href="/ar/academic-programs?p=1&amp;programType=البكالوريوس&amp;programName=برامج كلية العلوم الصحية">
                                                <i class="fas fa-list"></i>
                                                برامج كلية العلوم الصحية


                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                href="/ar/academic-programs?p=1&amp;programType=البكالوريوس&amp;programName=برامج كلية العلوم والدراسات النظرية">
                                                <i class="fas fa-list"></i>
                                                برامج كلية العلوم والدراسات النظرية


                                            </a>
                                        </li>


                                    </ul>

                                </li>
                                <li class="dropdown">



                                    <a href="/ar/academic-programs?p=1&amp;programType=الدراسات العليا"
                                        class="dropdown-toggle" data-toggle="dropdown" target="_self">
                                        <i class="fas fa-user-graduate"></i> الدراسات العليا </a>


                                    <ul class="dropdown-menu animated" style="width:280px">



                                        <li>
                                            <a
                                                href="/ar/academic-programs?p=1&amp;programType=الدراسات العليا&amp;programName=برامج كلية إداراة أعمال">
                                                <i class="fas fa-list"></i>
                                                برامج كلية العلوم الإدارية والمالية


                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                href="/ar/academic-programs?p=1&amp;programType=الدراسات العليا&amp;programName=برامج كلية الحوسبة والمعلوماتية">
                                                <i class="fas fa-list"></i>
                                                برامج كلية الحوسبة والمعلوماتية


                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                href="/ar/academic-programs?p=1&amp;programType=الدراسات العليا&amp;programName=برامج كلية العلوم الصحية">
                                                <i class="fas fa-list"></i>
                                                برامج كلية العلوم الصحية


                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                href="/ar/academic-programs?p=1&amp;programType=الدراسات العليا&amp;programName=برامج كلية العلوم والدراسات النظرية">
                                                <i class="fas fa-list"></i>
                                                برامج كلية العلوم والدراسات النظرية


                                            </a>
                                        </li>


                                    </ul>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-half right">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/ar/arabic-online/home/" target="_self">
                                <i class="fa fas fa-language">


                                </i>
                                مركز اللغة العربية
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa fa-images"></i> المركز
                                الإعلامي</a>
                            <ul class="dropdown-menu animated">

                                <li>
                                    <a href="/ar/news/" target="_self">



                                        <i class="fa fa-newspaper"></i>
                                        الأخبار
                                    </a>
                                </li>
                                <li>
                                    <a href="/ar/events/arday20/" target="_self">



                                        <i class="fas fa-calendar-alt"></i>
                                        أحداث وفعاليات
                                    </a>
                                </li>
                                <li>
                                    <a href="/ar/videos/" target="_self">



                                        <i class="fa fa-video-camera"></i>
                                        مكتبة الفيديو
                                    </a>
                                </li>
                                <li>
                                    <a href="/ar/gallery/" target="_self">



                                        <i class="fas fa-image"></i>
                                        مكتبة الصور
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/user/SaudiEUniversity/feed" target="_blank">


                                        <i>
                                            <img src="/media/1426/icon-vi.png" alt="" style="width: 20px;height: 14px">
                                        </i>

                                        قناة الجامعة
                                    </a>


                                </li>
                                <li>
                                    <a href="/ar/greeting-welcome-page/" target="_self">


                                        <i class="fas fa-quran"></i>

                                        بطاقات التهنئة
                                    </a>


                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/ar/jisr/" target="_self">
                                <img src="/assets/images/jisr-logo1.jpeg" alt="" style="width: 20px; height: 20px">
                                صحيفة جسر
                            </a>
                        </li>
                        <li>
                            <a href="https://eservice.seu.edu.sa/?lang=ar" target="_blank">
                                <img src="/assets/images/login-bo.png" alt="" style="width: 20px; height: 20px">
                                تسجيل الدخول
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="/en/contact-us/" class="langu d-sm-none"> <i class="fas fa-cog"></i>English</a>



            </div>
        </div>

    </nav>
</div>

<div class="row main-header">

    <div class="img-title text-center">
        <div class="title">
            <h4>تواصل معنا</h4>
        </div>
    </div>
</div>
<!-- <div class="main-header">
    <div class="container-fluid">
        <a href="https://www.seu.edu.sa" class="logo text-center">
            <img src="https://eservice.seu.edu.sa/assets/images/logo_mobile.png" alt="logo">
        </a>
        <div class="row header">
            <div class="col-md-6">
                <span class="languge">
                    <a href="">English</a>
                </span>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="img-title text-center">
                <div class="title">
                    <h4>تواصل معنا</h4>
                </div>
            </div>
        </div>
    </div>
</div> -->