<div class="main-header">
    <div class="container-fluid">
        <a href="https://www.seu.edu.sa" class="logo text-center">
            <img src="https://eservice.seu.edu.sa/assets/images/logo_mobile.png" alt="logo">
        </a>
        <div class="row header">
            <div class="col-md-6">
                <span class="languge">
                    <a href="">English</a>
                </span>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="img-title text-center">
                <div class="title">
                    <h4>تواصل معنا</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- end header-->
</div>