<div class="main-content">

  <service-header title='{{"wafi.employeeevaluations" | translate}}'></service-header>
  <seu-loader [isLoading]="isLoading"></seu-loader>

  <div class="table-responsive no-print">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">{{"wafi.EMP_EVALUATIONS_YEAR" | translate}}</th>
          <th scope="col">{{"wafi.EMP_EVALUATIONS_EVALUATION" | translate}}</th>
          <th scope="col">{{"wafi.EMP_EVALUATIONS_WORK_DEPT" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empeval of emplistevaluations | paginate: { itemsPerPage: 12, currentPage: p };let i=index;">
          <td>{{empeval.year}}</td>
          <td>{{empeval.evaluation}}</td>
          <td>{{empeval.workDept}}</td>
          
        </tr>
      </tbody>
    </table>
    <ul class="pagination">  
      <pagination-controls (pageChange)="p = $event"  
      directionLinks="true"
      autoHide="true"
      previousLabel="{{'wafi.Previous' | translate}}"
      nextLabel="{{'wafi.Next' | translate}}"      
      ></pagination-controls>  
      </ul>  
  </div>


</div>