<mat-dialog-content dir="rtl" style="max-height: 85vh;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{"refund.reason"|translate}}</h5>
            </div>
            <div class="modal-body">
                <section class="ser-state">
                    <div class="container">
                        <div class="row ser-block">
                            <div class="col-md-12 alert alert-danger text-center">
                                <strong>{{ reason }}</strong>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</mat-dialog-content>