<ActionBar style="color: white;">
   
    <NavigationButton style="color: white;background-color: white;" (tap)="goBack()" text="Go Back"
        android.systemIcon="ic_menu_back">
    </NavigationButton>

    <ActionItem style="color: white;background-color: white;" ios.systemIcon="9" android.systemIcon="ic_menu_save"
        (tap)="addRequest()" ios.position="right">
    </ActionItem>
    <Label text="{{'general.request.add_request' | translate}} "></Label>

</ActionBar>
<ScrollView>
    <StackLayout margin="10">
        <StackLayout class="form ysBox" padding="15">
            <StackLayout class="input-field">
                <Label text="{{'services.finance.doyou' | translate}}" class="label font-weight-bold m-b-5"></Label>
                <DropDown class="input" style="font-weight: 700;" [items]="itemTypeSource"
                    hint="{{'services.finance.choose' | translate}}" itemsTextAlignment="center"
                    (selectedIndexChanged)="exceptionTypeChange($event)"></DropDown>
                <StackLayout class="hr"></StackLayout>
            </StackLayout>

            <StackLayout class="input-field">
                <Label text=" {{'services.finance.cat' | translate}}" class="label font-weight-bold m-b-5"></Label>
                <DropDown class="input" style="font-weight: 700;" [items]="itemassociationsSource"
                    hint="{{'services.finance.choose' | translate}}" itemsTextAlignment="center"
                    (selectedIndexChanged)="assChange($event)"></DropDown>
                <StackLayout class="hr"></StackLayout>
            </StackLayout>

        </StackLayout>


        <StackLayout *ngIf="feesException.association=='0'" class="form ysBox" padding="15">
            <StackLayout class="input-field">
                <Label text="{{'services.finance.sc' | translate}}" class="label font-weight-bold m-b-5"></Label>

                <Button [text]="scText" (tap)="openCustomFilesPicker('sc')" class="-primary"></Button>

                <StackLayout class="hr"></StackLayout>
            </StackLayout>

            <StackLayout class="input-field">
                <Label text=" {{'services.finance.gid' | translate}}" class="label font-weight-bold m-b-5"></Label>
                <Button [text]="gidText" (tap)="openCustomFilesPicker('gid')" class="-primary"></Button>
            </StackLayout>
            <StackLayout class="input-field">
                <Label text=" {{'services.finance.cid' | translate}}" class="label font-weight-bold m-b-5"></Label>
                <Button [text]="cidText" (tap)="openCustomFilesPicker('cid')" class="-primary"></Button>
                <StackLayout class="hr"></StackLayout>
            </StackLayout>
        </StackLayout>

        <StackLayout *ngIf="feesException.association=='1'" class="form ysBox" padding="15">
            <StackLayout class="input-field">
                <Label text="{{'services.finance.wletter' | translate}}" class="label font-weight-bold m-b-5"></Label>

                <Button [text]="scText" (tap)="openCustomFilesPicker('w')" class="-primary"></Button>

                <StackLayout class="hr"></StackLayout>
            </StackLayout>       
        </StackLayout>


        <StackLayout *ngIf="feesException.association=='2'" class="form ysBox" padding="15">
            <StackLayout class="input-field">
                <Label text="{{'services.finance.assletter' | translate}}" class="label font-weight-bold m-b-5"></Label>

                <Button [text]="scText" (tap)="openCustomFilesPicker('ass')" class="-primary"></Button>

                <StackLayout class="hr"></StackLayout>
            </StackLayout>
            <StackLayout class="input-field">
                <Label text="{{'services.finance.id' | translate}}" class="label font-weight-bold m-b-5"></Label>

                <Button [text]="scText" (tap)="openCustomFilesPicker('id')" class="-primary"></Button>

                <StackLayout class="hr"></StackLayout>
            </StackLayout>

            
        </StackLayout>



        <StackLayout class="form ysBox" padding="15">
            <StackLayout class="input-field">
            <CheckBox #chkCourse (checkedChange)="changeStatus($event)" checked="false"></CheckBox>
            </StackLayout>
        </StackLayout>



    </StackLayout>
</ScrollView>