<div id="side-menu" class="app-sidebar colored" style="padding-top: 45px!important;">
  <div class="sidebar-header d-none">
    <a id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></a>
    <a class="header-brand" href="#">
      <div class="logo-img">
        <img src="assets/images/logo-ar.png" class="header-brand-img" alt="lavalite">
      </div>
    </a>
  </div>
  <div class="sidebar-content">
    <div class="nav-container">
      <nav id="main-menu-navigation" class="navigation-main">
        <br />
        <app-skills-emp-menu *ngIf="menuType == 'emp' "></app-skills-emp-menu>
        <app-skills-staff-menu *ngIf="menuType == 'staff' "></app-skills-staff-menu>
        <app-skills-std-menu *ngIf="menuType == 'std' "></app-skills-std-menu>
      </nav>
    </div>
  </div>
</div>