<div class="nav-item">
    <a href="#" routerLink="client/my-requests"><span>{{ "menu.my_requests" | translate }} </span>
        <i class="ik ik-home"></i></a>
</div>
<div class="nav-item">
    <a href="#" routerLink="client/new-request"><span>{{ "menu.new_request" | translate }} </span>
        <i class="ik ik-home"></i></a>
</div>
<div class="nav-item">
    <a href="#" routerLink="client/translate-price"><span>{{ "menu.translate_price" | translate }} </span>
        <i class="ik ik-home"></i></a>
</div>