<div class="nav-item active">
  <a href="#" routerLink="emp"><span>{{ "menu.home" | translate }} </span>
    <i class="ik ik-home"></i></a>
</div>

<div class="nav-item has-sub">
  <a href="javascript:void(0)"><span>{{ "menu.users" | translate }} </span>
    <i class="ik ik-user"></i></a>
  <div class="submenu-content">
    <a href="#" class="menu-item" routerLink="emp/users-list">
      {{ "menu.users-list" | translate }}
    </a>

    <a href="#" class="menu-item" routerLink="emp/users-add">
      {{ "menu.add-user" | translate }}
    </a>
  </div>
</div>
