<div [ngClass]="{'active': activeRoute == 'emp'}" class="nav-item">
  <a href="#" routerLink="emp"><span>{{ "menu.home" | translate }} </span>
    <i class="ik ik-home"></i></a>
</div>

<div class="nav-item has-sub">
  <a href="javascript:void(0)"><span>{{ "menu.users" | translate }} </span>
    <i class="ik ik-user"></i></a>
  <div class="submenu-content">
    <a *ngIf="is_admin" [ngClass]="{'active': activeRoute == 'users-list'}" href="#" class="menu-item"
      routerLink="emp/users-list">
      {{ "menu.users-list" | translate }}
    </a>

    <a [ngClass]="{'active': activeRoute == 'instructors-list'}" href="#" class="menu-item"
      routerLink="emp/instructors-list">
      {{ "menu.instructors-list" | translate }}
    </a>
  </div>
</div>

<div class="nav-item has-sub">
  <a href="javascript:void(0)"><span>{{ "menu.courses" | translate }} </span>
    <i class="ik ik-user"></i></a>
  <div class="submenu-content">
    <a [ngClass]="{'active': activeRoute == 'courses-list'}" href="#" class="menu-item" routerLink="emp/courses-list">
      {{ "menu.courses-list" | translate }}
    </a>

    <a [ngClass]="{'active': activeRoute == 'courses-add'}" href="#" class="menu-item" routerLink="emp/courses-add">
      {{ "menu.add-course" | translate }}
    </a>
  </div>
</div>