<div class="app-sidebar colored">
  <div class="sidebar-header">
      <a id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></a>
       <a class="header-brand" href="#">
          <div class="logo-img">
             <img src="assets/images/logo-ar.png" class="header-brand-img" alt="lavalite"> 
          </div>
      </a>
  </div>
  
  <div class="sidebar-content">
      <div class="nav-container">
          <nav id="main-menu-navigation" class="navigation-main">
                   <div class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span>مصادر التعلم</span> <i class="ik ik-book-open"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item">خدمة 1</a>
                      <a href="#" class="menu-item">خدمة 2</a>
                       <a href="#" class="menu-item">خدمة 3 </a>
                  </div>
              </div>
                 <div class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span> الشئون الأكاديمية</span> <i class="ik ik-user"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item" routerLink="/academicaff/status">الحالة الاكاديمية</a>
                      <a href="#" class="menu-item"  routerLink="/academicaff/certificate">  شهادة تعريف</a>
                       <a href="#" class="menu-item"  routerLink="/graduates/statement">  شهادة تخرج</a>
                       <a href="#" class="menu-item"  routerLink="/academicaff/record"> السجل الطلابي</a> 
                       <a href="#" class="menu-item" routerLink="/lecabsence/medicalreport">  التقرير الطبي  </a>
                       <a href="#" class="menu-item"   routerLink="/lecabsence/lectabs">   تقرير الغياب  </a> 

                      

                  </div>
              </div>
                <div class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span> الإجراءات الأكاديمية</span> <i class="ik ik-layers"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item" routerLink="/procedures/changemajor"> تغيير التخصص </a> 
                      <a href="#" class="menu-item" routerLink="/procedures/changerequest"> تغيير فرع الدراسة </a>
                       <a href="#" class="menu-item" routerLink="/procedures/execuse"> الاعتذار عن فصل دراسي </a>
                       <a href="#" class="menu-item" routerLink="/procedures/reenrol"> طلب اعادة قيد </a>
                       <a href="#" class="menu-item" routerLink="/procedures/postpone"> تاجيل     </a>
                  </div>
              </div>
                 <div class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span>  التغيب عن المحاضرات </span> <i class="ik ik-info"></i></a>
                 <div class="submenu-content">
                      <a href="#" class="menu-item" routerLink="/procedures/lecexecuse">تغيب عن المحاضرة</a> 
                      
                  </div>
              </div>
                <div class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span> تسجيل المقررات </span> <i class="ik ik-server"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item" routerLink="/procedures/cancelcourse"> الغاء المقرر     </a>
                      <a href="#" class="menu-item" routerLink="/procedures/summer"> الاعتذار عن الفصل الصيفي     </a>
                  </div>
              </div>
                <div class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span>المعادلات </span> <i class="ik ik-sidebar"></i></a>
                 <div class="submenu-content">
                      <a href="#" class="menu-item" routerLink="/procedures/eequalize"> ادخال ما يعادل اللغة الانجليزية  </a>
                      <a href="#" class="menu-item" routerLink="/procedures/equalize"> معادلة منهج معين    </a> 
                  </div>
              </div>
                <div class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span>  الشئون المالية </span> <i class="ik ik-dollar-sign"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item" routerLink="/finance/fees"> دفع المصاريف  </a> 
                      
                  </div>
              </div>
                <div class="nav-item has-sub ">
                 <a href="javascript:void(0)"><span> شئون الإختبارات </span> <i class="ik ik-trending-down"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item" routerLink="/procedures/objectexam"> الاعتراض على الاختبارات </a> 
                      <a href="#" class="menu-item" routerLink="/exams/attend">  جداول الاختبارات   </a>
                       <a href="#" class="menu-item" routerLink="/exams/attendapp"> اثبات حضور الاختبارات    </a> 

                  </div>
              </div>
                <div class="nav-lavel">  </div>
               <div class="nav-item has-sub ">
                 <a href="javascript:void(0)"> <span class="badge badge-danger">11</span><span>خدمات عامة </span>
                     <i class="ik ik-align-right"></i> </a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item"> نظام BlackBoard  <i class="ik ik-bold"></i> </a>
                      <a href="#" class="menu-item"> البريد الإلكتروني      <i class="ik ik-mail"></i> </a>
                      <a href="#" class="menu-item"> إدارة المصادر المعرفية  <i class="ik ik-book-open"></i> </a>
                      <a href="#" class="menu-item"> المنتدي           <i class="ik ik-message-square"></i> </a>
                      <a href="#" class="menu-item"> التقويم الدراسي       <i class="ik ik-calendar"></i> </a>
                      <a href="#" class="menu-item">تعليمات الأنظمة التعليمية <i class="ik ik-clipboard"></i> </a>
                      <a href="#" class="menu-item">دعم الدخول الموحد     <i class="ik ik-users"></i> </a>
                      <a href="#" class="menu-item">نظام دعم           <i class="ik ik-settings"></i> </a>
                      <a href="#" class="menu-item"> تحديث بيانات        <i class="ik ik-link"></i> </a>
                      <a href="#" class="menu-item">الحقوق الطلابية        <i class="ik ik-command"></i> </a>
                      <a href="#" class="menu-item"> خدمات نظام معلومات الطلبة   <i class="ik ik-tablet"></i> </a>
                  </div>
              </div>
         
                  <div class="nav-lavel"> </div>
                    <div class="nav-item">
                    <a class="nav-link"  ><span>  إرشادات عامة  </span> <i class="ik ik-alert-circle"></i>
                   </a>
                   </div>
                  <div class="nav-item">
                    <a class="nav-link"><span>استفسارات  </span> <i class="ik ik-settings"></i>
                    </a>
                  </div>
           
          </nav>
      </div>
  </div>
</div>