<div class="app-sidebar colored">
  <div class="sidebar-header">
      <a id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></a>
       <a class="header-brand" href="#">
          <div class="logo-img">
             <img src="assets/images/logo-ar.png" class="header-brand-img" alt="lavalite"> 
          </div>
      </a>
  </div>
  <div class="sidebar-header">
      <select  name="menuType" [(ngModel)]="menuType" #t  class="form-control"  style="color: #1c2172;direction: rtl;" id="exampleFormControlSelect1">
          <option value="1">خدمات البكالوريوس</option>
          <option value="2">خدمات الماجستير</option>
         
        </select>      
  </div>
  
  <div class="sidebar-content">
      <div class="nav-container">
          <nav id="main-menu-navigation" class="navigation-main">
                   <div class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span>مصادر التعلم</span> <i class="ik ik-book-open"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item">خدمة 1</a>
                      <a href="#" class="menu-item">خدمة 2</a>
                       <a href="#" class="menu-item">خدمة 3 </a>
                  </div>
              </div>
              <div *ngIf="menuType==2" class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span>بيانات الطالب </span> <i class="ik ik-user"></i></a>
                  <div class="submenu-content">

                      <a href="#" class="menu-item" routerLink="/masterstddata/academicstatus">الحالة الأكاديمية</a>

                      <a href="#" class="menu-item" routerLink="/masterstddata/academicrecord">السجل الأكاديمي</a>
                  </div>
              </div>
              <div *ngIf="menuType==2" class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span> طباعة الشهادات  </span> <i class="ik ik-user"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item" routerLink="/masterstdcertificate/idcertificate">شهادة التعريف</a>
                      <a href="#" class="menu-item" routerLink="/masterstdcertificate/examattendacecertificate">شهادة حضور الإختبار</a>
                      <a href="#" class="menu-item" routerLink="/masterstdcertificate/examattendacecertificateapp"> شهادة إثبات حضور الإختبار </a>
                  </div>
              </div>
              <div *ngIf="menuType==2" class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span> الطلبات الأكاديمية   </span> <i class="ik ik-user"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item" routerLink="/academicrequests/withdrawal">طلب إنسحاب من الجامعة</a>
                      <a href="#" class="menu-item"   routerLink="/academicrequests/studypostpone">طلب تأجيل الدراسة</a>
                       <a href="#" class="menu-item" routerLink="/academicrequests/termexecuse"> طلب حذف المقررات (الإعتذار عن الفصل  ) </a>
                       <a href="#" class="menu-item" >الاعتراض على نتيجة الاختبار النهائي</a>
                       <a href="#" class="menu-item">حذف مقرر</a>
                       <a href="#" class="menu-item" routerLink="/academicrequests/reEnroll">طلب إعادة قيد</a>
                       <a href="#" class="menu-item">رفع الأعذار للاختبارات</a>
                 
                       <a href="#" class="menu-item">رفع الأعذار للمحاضرات</a>

                      </div>
              </div>
              <div *ngIf="menuType==2" class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span> الشؤون المالية   </span> <i class="ik ik-user"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item">سداد الرسوم</a>
                     
                  </div>
              </div>
              <div *ngIf="menuType==2" class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span> طلبات أخرى   </span> <i class="ik ik-user"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item" routerLink="/otherrequests/changebranch">تحويل إلى فرع آخر</a>
                      <a href="#" class="menu-item" routerLink="/otherrequests/changecourse">تحويل إلى برنامج آخر</a>
                       <a href="#" class="menu-item"> طلب البطاقة الجامعية  </a>
                      <a href="#" class="menu-item">تحويل إلى برنامج آخر</a>      
                      <a href="#" class="menu-item"routerLink="/otherrequests/changecourse" >تحويل إلى برنامج آخر</a>
                       <a href="#" class="menu-item"  routerLink="/otherrequests/personalid"> طلب البطاقة الجامعية  </a>
                       <a href="#" class="menu-item"  routerLink="/otherrequests/absencequery">الاستعلام عن الغيابات</a>
                       <a href="#" class="menu-item">معلومات الخريج</a>
                      
                  </div>
              </div>
                 <div *ngIf="menuType==1" class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span> الشئون الأكاديمية</span> <i class="ik ik-user"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item" routerLink="/academicaff/status">الحالة الاكاديمية</a>
                      <a href="#" class="menu-item"  routerLink="/academicaff/certificate">  شهادة تعريف</a>
                      <a href="#" class="menu-item"  routerLink="/academicaff/record"> السجل الاكاديمي</a> 
                       <a href="#" class="menu-item"  routerLink="/academicaff/graduationstatment">  إفادة خريج</a>
                  </div>
              </div>
                <div *ngIf="menuType==1" class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span> الإجراءات الأكاديمية</span> <i class="ik ik-layers"></i></a>
                  <div class="submenu-content">
                      <!--  <a href="#" class="menu-item" routerLink="/procedures/terminate">الانسحاب من الجامعة   </a>-->
                        <a href="#" class="menu-item" routerLink="/procedures/withdrawuniv">الانسحاب من الجامعة   </a>
                        
                       <a href="#" class="menu-item" routerLink="/procedures/postpone"> تأجيل الفصل الدراسي
                       </a>
                       <a href="#" class="menu-item" routerLink="/procedures/execuse"> الاعتذار عن الفصل دراسي </a>
                       <a href="#" class="menu-item" routerLink="/procedures/summer"> الاعتذار عن الفصل الصيفي     </a>

                       <a href="#" class="menu-item" routerLink="/procedures/reenrol">  اعادة قيد </a>
                       <a href="#" class="menu-item" routerLink="/procedures/cancelcourse"> الانسحاب من مقرر     </a>

                       <a href="#" class="menu-item" routerLink="/procedures/equalize"> معادلة المقررات    </a> 
                       <a href="#" class="menu-item" routerLink="/procedures/eequalize"> معادلة اللغة الانجليزية </a>

                       <a href="#" class="menu-item" routerLink="/procedures/changemajor"> تغيير التخصص </a> 
                       <a href="#" class="menu-item" routerLink="/procedures/changerequest">تغيير الفرع </a>

                       <a href="#" class="menu-item" routerLink="/procedures/lecexecuse">رفع الاعذار للمحاضرات</a> 
                       <a href="#" class="menu-item" routerLink="/procedures/objectexam"> الاعتراض على نتيجة الاختبار النهائي </a> 

                       <a href="#" class="menu-item"   routerLink="/procedures/lectabs">   الاستعلام عن الغيايات  </a> 
                       <a href="#" class="menu-item" routerLink="/procedures/visitorstudent"> طلب الدراسة كطالب زائر     </a>
                       <a href="#" class="menu-item" routerLink="/procedures/terminate"> طلب فصل استثنائي   </a>


                      
                       <!-- <a href="#" class="menu-item" routerLink="/procedures/examexcuse"> تقديم الأعذار للمتغيبين عن الاختبارات   </a> -->


                       

                  </div>
              </div>
              <div *ngIf="menuType==1" class="nav-item has-sub ">
                    <a href="javascript:void(0)"><span> تسجيل المقررات </span> <i class="ik ik-dollar-sign"></i></a>
                    <div class="submenu-content">
                            <a href="#" class="menu-item" routerLink="/registercourses/registerwishes"> رغبات التسجيل للمستجدين     </a>
                            <a href="#" class="menu-item" routerLink="/registercourses/reghelper"> مساعد التسجيل     </a>

                        </div>
              </div>
             
            
                <div *ngIf="menuType==1" class="nav-item has-sub ">
                  <a href="javascript:void(0)"><span>  الشؤون المالية </span> <i class="ik ik-dollar-sign"></i></a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item" routerLink="/finance/fees">  افادة بالرسوم الدراسية </a> 
                      <a href="#" class="menu-item" routerLink="/finance/feesexception"> الإعفاء من الرسوم الدراسية </a>

                  </div>
              </div>
                <div *ngIf="menuType==1" class="nav-item has-sub ">
                 <a href="javascript:void(0)"><span> شؤون الإختبارات </span> <i class="ik ik-trending-down"></i></a>
                  <div class="submenu-content">
                     <!-- <a href="#" class="menu-item" routerLink="/exams/attend">  جداول الاختبارات   </a> -->
                     <a href="#" class="menu-item" routerLink="/exams/"> شهادة  حضور الاختبارات    </a> 
                     <a href="#" class="menu-item" routerLink="/exams/attendapp"> شهادة اثبات حضور الاختبارات    </a> 
                      <a href="#" class="menu-item" routerLink="/exams/examexcuse"> رفع الاعذار للاختبارات  </a> 

                  </div>
                
           
                </div>
                <div *ngIf="menuType==1" class="nav-item has-sub ">
                        <a href="javascript:void(0)"><span> طلبات أخرى   </span> <i class="ik ik-user"></i></a>
                        <div class="submenu-content">
                                <a href="#" class="menu-item" routerLink="/other/medicalreport"> طلب تقرير طبي  </a>
                                <a href="#" class="menu-item" routerLink="/other/universitycard">  طلب البطاقة الجامعية     </a>
                             <!--   <a href="#" class="menu-item" routerLink="/other/missingcard">طلب بطاقة جامعية بدل فاقد </a>
                                <a href="#" class="menu-item" routerLink="/other/training"> طلب التدريب الميداني  </a>-->

                            </div>
                </div>
                <!-- <div class="nav-lavel">  </div> -->
               <div class="nav-item has-sub ">
                 <a href="javascript:void(0)"> <span class="badge badge-danger">11</span><span>خدمات عامة </span>
                     <i class="ik ik-align-right"></i> </a>
                  <div class="submenu-content">
                      <a href="#" class="menu-item"> نظام BlackBoard  <i class="ik ik-bold"></i> </a>
                      <a href="#" class="menu-item"> البريد الإلكتروني      <i class="ik ik-mail"></i> </a>
                      <a href="#" class="menu-item"> إدارة المصادر المعرفية  <i class="ik ik-book-open"></i> </a>
                      <a href="#" class="menu-item"> المنتدي           <i class="ik ik-message-square"></i> </a>
                      <a href="#" class="menu-item"> التقويم الدراسي       <i class="ik ik-calendar"></i> </a>
                      <a href="#" class="menu-item">تعليمات الأنظمة التعليمية <i class="ik ik-clipboard"></i> </a>
                      <a href="#" class="menu-item">دعم الدخول الموحد     <i class="ik ik-users"></i> </a>
                      <a href="#" class="menu-item">نظام دعم           <i class="ik ik-settings"></i> </a>
                      <a href="#" class="menu-item"> تحديث بيانات        <i class="ik ik-link"></i> </a>
                      <a href="#" class="menu-item">الحقوق الطلابية        <i class="ik ik-command"></i> </a>
                      <a href="#" class="menu-item"> خدمات نظام معلومات الطلبة   <i class="ik ik-tablet"></i> </a>
                  </div>
              </div>
         
                  <div class="nav-lavel"> </div>
                    <div class="nav-item">
                    <a class="nav-link"  ><span>  إرشادات عامة  </span> <i class="ik ik-alert-circle"></i>
                   </a>
                   </div>
                  <div class="nav-item">
                    <a class="nav-link"><span>استفسارات  </span> <i class="ik ik-settings"></i>
                    </a>
                  </div>
           
          </nav>
      </div>
  </div>
</div>