<app-service-header title="{{'skills' | translate}}" subtitle="{{'courses.courses-details' | translate}}">
</app-service-header>
<section class="dashboard-wrap" style="margin-top: 10px; padding: 0 30px;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " (click)="redirectTo('details')" [class.active]="current=='details'" href="#">{{"general.details" | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " (click)="redirectTo('students')" [class.active]="current=='students'" href="#">{{"general.registrations" | translate}}</a>
    </li>
  </ul>
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</section>