
<ActionBar style="background:#001628; ">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <Label text='{{"services.english-equalize.equalize_english_req"|translate}}' class="label-action"></Label>

    <NavigationButton  icon="font://&#xf104;"  class="fas icon-action" (tap)="goBack()" ios.position="left"></NavigationButton>
    <ActionItem icon="font://&#xf0c7;" class="fas icon-action" ios.position="right" (tap)="onSubmit()"></ActionItem>

</ActionBar>

<ScrollView>
<FlexboxLayout flexDirection="column">

    <StackLayout class="ysBox paragraph " style="margin-bottom: 20;margin-top: 20px;">
        <Label [text]='reqData.notes.txt1' style="font-weight: bold; color: #f08b1c;" textWrap="true"></Label>
        <Label [text]="reqData.notes.txt2" textWrap="true"></Label>
        <Label [text]="reqData.notes.txt3" textWrap="true"></Label>
        <Label [text]="reqData.notes.txt4" textWrap="true"></Label>
        <Label [text]="reqData.notes.txt5" textWrap="true"></Label>
        <Label [text]="reqData.notes.txt6" textWrap="true"></Label>
        <Label [text]="reqData.notes.txt11" textWrap="true"></Label>
        <FlexboxLayout flexDirection="column" alignItems="center">
            <FlexboxLayout  style="width: 50%;" flexDirection="row-reverse" *ngFor="let item of reqData.crse_transfer_grades" justifyContent="space-between">
                <Label [text]="item.crse"></Label>
                <Label [text]="item.grade"></Label>
            </FlexboxLayout>
        </FlexboxLayout>
        <Label [text]="reqData.notes.txt7" textWrap="true"></Label>
        <Label [text]="reqData.notes.txt8" textWrap="true"></Label>
        <Label [text]="reqData.notes.txt9" textWrap="true"></Label>
        <Label [text]="reqData.notes.txt10" textWrap="true"></Label>
    </StackLayout>

    <Label text='{{"services.english-equalize.choose_exam_degree"|translate}}' style="color: #f08b1c; font-weight: 800;margin-right: 20;"></Label>

    <FlexboxLayout flexDirection="column" justifyContent="space-between" class="ysBox">
        <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="throw"> 
            <label text='{{"services.english-equalize.exam_name"|translate}}'></label>
            <label text='{{"services.english-equalize.degree"|translate}}'></label>
            <label text="&#xf00c;" class="fas"></label>
        </FlexboxLayout>

        <FlexboxLayout alignItems="center" justifyContent="space-between" flexWrap="nowrap" *ngFor="let item of reqData.ENG_TESTS;let i=index;" flexDirection="row-reverse" 
        class="trow tabl" [ngStyle]="{'border-bottom-width':i === reqData.ENG_TESTS.length-1 ? '0' : '1' }"> 
            <Label [text]="item.TEST_TITLE" textWrap="true" class="title"></Label>
            <TextField keyboardType="number" name="score" [(ngModel)]="item.score" style="border-width: 1; width:15%; border-radius:20px; margin-top: 20;"></TextField>
            <CheckBox #chkCourse (checkedChange)="changeStatus(item,$event)" checked="false"></CheckBox>
        </FlexboxLayout>
    </FlexboxLayout>
    
    <Label text='{{"services.english-equalize.certificate_image"|translate}}' textWrap="true" style="color: #f08b1c; margin-top: 20;margin-right: 20;"></Label>
    <Button [text]="imageName" (tap)="openCustomFilesPicker('image')" class="print-btn"></Button>

</FlexboxLayout>
</ScrollView>