<div class="main-content">

  <service-header title='{{"verificationUg" | translate}}'></service-header>
  <!-- <seu-loader [isLoading]="isLoading"></seu-loader> -->

  <section class="dashboard-wrap" style="margin-top: 30px;">
    <form role="form" [formGroup]="AddReqForm">
      <div class="modal-body">
        <div class="row ser-block">
          <div class=" col-md-6 col-sm-6">
            <div class="state">
              <h6>{{"ssn"|translate}} <span class="reqstart">*</span></h6>
              <input type="text" formControlName="code" (keypress)="keyPress($event)" maxlength="4"
                class="form-control" />
            </div>
          </div>
        </div>


        <div>
          <div class=" col-md-6 col-sm-6">
            <div class="form-group  prin" style="color: #fff;margin-top: 30px !important;">

              <button type="button" (click)="redirectToLogin()" class="btn btn-outline">
                <i class="ik ik-x"></i>
                {{"back"|translate}}
              </button>

              <button (click)="onFormSubmit()" type="button" [disabled]="submitted || AddReqForm.invalid" class="btn"><i
                  class="fa fa-database"></i>
                {{"Send" | translate}}</button>
            </div>
          </div>

        </div>

      </div>
    </form>
  </section>

</div>