<div class="main-content">
    <app-service-header title="{{'univ' | translate}}" subtitle="{{'hackathon.hackathon' | translate}}"></app-service-header>
    <section class="ug-content">
        <div class="container">
            <seu-loader [isLoading]="isLoading"></seu-loader>
            <div *ngIf="app_pk">
                <div class="ser-state">
                    <div style="text-align: right" class="alert  alert-success" role="alert">
                        <!-- <h1>{{"hackathon.success_req_no" | translate }} #{{app_pk}} </h1> -->
                        <h5 innerHtml='{{"hackathon.success" | translate:appreq }}'></h5>
                    </div>
                </div>
            </div>
            <form *ngIf="!app_pk" role="form" [formGroup]="form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"hackathon.is_student"|translate}} <span class="reqstart">*</span></h6>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="study" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">{{"hackathon.yes"|translate}}</label>
                            </div>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="study" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">{{"hackathon.no"|translate}}</label>
                            </div>
                        </div> 
                        <!-- <control-validations-errors [control]="form.controls.name"></control-validations-errors> -->
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"hackathon.university"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="ssn" class="form-control" size="10" maxlength="10" pattern="[0-9]{10}" />
                            <!-- <control-validations-errors [control]="form.controls.ssn"></control-validations-errors> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"hackathon.name"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="name" class="form-control" />
                            <!-- <control-validations-errors [control]="form.controls.email"></control-validations-errors> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"hackathon.age"|translate}} <span class="reqstart">*</span></h6>
                            <input type="age" formControlName="age" class="form-control" size="10" maxlength="10" pattern="[0-9]{10}" />
                            <!-- <control-validations-errors [control]="form.controls.phone"></control-validations-errors> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"hackathon.id"|translate}} <span class="reqstart">*</span></h6>
                            <input type="number" formControlName="title" class="form-control" />
                            <!-- <control-validations-errors [control]="form.controls.title"></control-validations-errors> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"hackathon.email"|translate}} <span class="reqstart">*</span></h6>
                            <input type="email" formControlName="target" class="form-control" />
                            <!-- <control-validations-errors [control]="form.controls.email"></control-validations-errors> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"hackathon.phone"|translate}} <span class="reqstart">*</span></h6>
                            <input type="phone" formControlName="target" class="form-control" />
                            <!-- <control-validations-errors [control]="form.controls.target"></control-validations-errors> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"hackathon.city"|translate}} <span class="reqstart">*</span></h6>
                            <input type="text" formControlName="cost" class="form-control" />
                            <!-- <control-validations-errors [control]="form.controls.cost"></control-validations-errors> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"hackathon.levelstudy"|translate}} <span class="reqstart">*</span></h6>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="levelstudy" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">{{"hackathon.Diploma"|translate}}</label>
                            </div>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="levelstudy" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">{{"hackathon.Baccalaureus"|translate}}</label>
                            </div>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="levelstudy" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">{{"hackathon.Master"|translate}}</label>
                            </div>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="levelstudy" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">{{"hackathon.Doctorat"|translate}}</label>
                            </div>
                            <!-- <control-validations-errors [control]="form.controls.duration"></control-validations-errors> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"hackathon.subscribe"|translate}} <span class="reqstart">*</span></h6>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="subscribe" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">{{"hackathon.yes"|translate}}</label>
                            </div>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="subscribe" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">{{"hackathon.no"|translate}}</label>
                            </div>
                            <!-- <control-validations-errors [control]="form.controls.job"></control-validations-errors> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"hackathon.path"|translate}} <span class="reqstart">*</span></h6>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="path" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">{{"hackathon.experience"|translate}}</label>
                            </div>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="path" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">{{"hackathon.idea"|translate}}</label>
                            </div>
                            <!-- <control-validations-errors [control]="form.controls.strength"></control-validations-errors> -->
                        </div>
                    </div> 
                </div>
                <div class="row" style="margin-top: 100px; text-align: center;">
                    <div class="col-md-12">
                        <button style="width: 20%; min-width: 200px;" [disabled]="form.invalid" (click)="onSubmit()" type="submit" class="btn btn-primary">{{ "save" | translate}}  <i class="fa fa-save"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>