<div class="main-content">

  <service-header [title]="'academic_assistant.title' |translate"
    [desc]="'academic_assistant.reg_assistant.title' |translate"></service-header>
  <seu-loader [isLoading]="isLoading"></seu-loader>
  <div class="widget">
    <div class="widget-header">
      <h3 class="widget-title">
        &nbsp;
        <button type="button" class="btn btn-primary" (click)="openDialoge()">
          {{"academic_assistant.reg_assistant.add" | translate}} <i class="ik ik-plus"></i>
        </button>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">{{ "academic_assistant.reg_assistant.crse" | translate}}</th>
                <th scope="col">{{ "academic_assistant.reg_assistant.error_message" | translate}}</th>
                <th scope="col">{{ "academic_assistant.reg_assistant.created_at" | translate}}</th>
                <th scope="col">{{ "academic_assistant.reg_assistant.ticket_status" | translate}}</th>
                <th scope="col">{{ "academic_assistant.reg_assistant.actions" | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of tickets; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ ticket.crse }}</td>
                <td>{{ ticket.message }}</td>
                <td>{{ ticket.created_time.display_value }}</td>
                <td>{{ ticket.status }}</td>
                <td>
                  <button class="btn btn-primary">{{ "academic_assistant.reg_assistant.view" | translate}}</button>
                  &nbsp;
                  <button class="btn btn-primary">{{ "academic_assistant.reg_assistant.delete" | translate}}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>