<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text='{{"services.lecture_execuse.title"|translate}}'></Label>
</ActionBar>
<ScrollView >

<FlexboxLayout flexDirection="column" style="padding: 15;">

    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>

    <FlexboxLayout flexDirection="row-reverse" *ngIf="!isLoading && msgs.length>0">
        <ListView [items]="msgs">
            <ng-template let-item="item">
                <Label verticalAlignment="center" [text]="item.body" [ngClass]="item.type == 'info' ? 'alert alert-info' : (item.type == 'error' ? 'alert alert-danger' : (item.type == 'success' ? 'alert alert-success' : 'alert alert-warning'))"></Label>
            </ng-template>
        </ListView>
    </FlexboxLayout>

    <FlexboxLayout flexDirection="row-reverse" alignItems="center" *ngIf="!isLoading" class="h1" justifyContent="space-between">
        <Label text='{{"general.request.pre_requests"|translate}}'></Label>
        <Button text='{{"general.request.add_request"|translate}}' *ngIf="reqData.can_add_new_request" (tap)="onTap()" class="my-button"></Button>
    </FlexboxLayout>
    <ScrollView orientation="horizontal" *ngIf="!isLoading">
        <FlexboxLayout flexDirection="column" justifyContent="flex-start">
            <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="h1 table-row-dark"> 
                <label text='{{"general.request.req_no"|translate}}' class="tableColumn"></label>
                <label text='{{"general.course_name"|translate}}/{{"general.crn"|translate}}' class="tableColumn"></label>
                <label text='{{"services.lecture_execuse.absence_date"|translate}}' class="tableColumn"></label>
                <label text='{{"services.lecture_execuse.absence_week"|translate}}'></label>
                <label text='{{"services.lecture_execuse.lecture_type"|translate}}'></label>
                <label text='{{"general.request.date_and_status"|translate}}'></label>
                <label text='{{"services.lecture_execuse.execuse_file"|translate}}'></label>
            </FlexboxLayout>

            <FlexboxLayout alignItems="center" justifyContent="space-between" flexWrap="nowrap" *ngFor="let item of reqData.requests;let i=index;" flexDirection="row-reverse" class="h2 table-row">
                <Label [text]="item.request_number" class="tableColumn"></Label>
                <FlexboxLayout alignItems="center" justifyContent="space-between" flexWrap="nowrap" flexDirection="column" style="width: 25%;">
                    <Label [text]="item.courseId"></Label>
                    <Label [text]="item.course_title" textWrap="true" style="text-align: center;"></Label>
                </FlexboxLayout>
                <Label [text]="item.absance_date" class="tableColumn" style="text-align: center; width:15% ;"></Label>
                <Label [text]="item.week" class="tableColumn"></Label>
                <Label [text]="item.class_type" class="tableColumn"></Label>
                <FlexboxLayout alignItems="center" justifyContent="space-between" flexWrap="nowrap" flexDirection="column">
                    <Label [text]="item.status"  ></Label>
                    <Label [text]="item.insert_date" textWrap="true" ></Label>
                </FlexboxLayout>
                <Button (tap)="print(item.request_number)" class="orange-button fas -rounded-sm" text="&#xf02f;"></Button>
                   

            </FlexboxLayout>
        </FlexboxLayout>
    </ScrollView>

</FlexboxLayout>
</ScrollView>