<div class="nav-item">
    <a href="#" routerLink="admin/users"><span>{{ "menu.users" | translate }} </span>
        <i class="ik ik-home"></i></a>
</div>
<div class="nav-item">
    <a href="#" routerLink="admin/pendding-requests"><span>{{ "menu.new_requests" | translate }} </span>
        <i class="ik ik-home"></i></a>
</div>
<div class="nav-item">
    <a href="#" routerLink="admin/processing-requests"><span>{{ "menu.current_requests" | translate }} </span>
        <i class="ik ik-home"></i></a>
</div>
<div class="nav-item">
    <a href="#" routerLink="admin/completed-requests"><span>{{ "menu.log_requests" | translate }} </span>
        <i class="ik ik-home"></i></a>
</div>