<div class="top-nav hidden-xs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-2 right-s">

        <ul>
          <li class="top-menu"><a href="#"> <i class="fa fa-bars" style="font-size:20px"></i> </a> </li>


          <li class="hidden-xs"> <a href="#" class="today"> <i class="fa fa-calendar"></i> <span>07/01/2021</span></a>
          </li>
          <!--<li><a style="color:#f28d1e !important" href="https://old.seu.edu.sa/sites/en/Pages/main.aspx" target="_blank"> Old Portal </a> </li>-->

        </ul>

      </div>
      <div class="col-md-6 col-sm-6 col-xs-10 left-s">
        <ul>

          <li class=""><a href="https://outlook.office365.com/owa/seu.edu.sa" target="_blank"><i
                class="fa fa-envelope-open"></i></a></li>

          <li class="hidden-xs"><a href="http://outlet.199099.gov.sa/en/"> <i class="fa fa-phone"></i> 199099</a> </li>


          <li class="dropdown">

            <a target="_blank" href="https://eservice.seu.edu.sa/?lang=en">



              <img src="/images/login-top1.png" alt="" style="width: 20px; height: 20px">
            </a>

          </li>

          <li>
            <a href="/ar/home/">عربي</a>

          </li>


          <li class="searchBox">

            <form action="/en/search-results/" method="get" id="searchForm" novalidate="">
              <div class="ms-srch-sb ms-srch-sb-border">
                <input type="search" placeholder="Search" name="saerchP" maxlength="2048">
                <i class="fa fa-search"> <a href="#" title="Search" class="ms-srch-sb-searchLink"></a></i>

              </div>
            </form>


          </li>


        </ul>
      </div>



    </div>

  </div>
</div>
<div class="wrap-sticky" style="height: 0px;"><nav class="navbar navbar-default brand-center center-side navbar-sticky navbar-scrollspy bootsnav on no-full sticked"><span class="storage-name" style="display:none;"></span>



  <div class="container-fluid" style="padding-right:2px">
      <div class="attr-nav ">
          <ul>

<li class=""><a href="https://outlook.office365.com/owa/seu.edu.sa" target="_blank"><i class="fa fa-envelope-open"></i></a></li>
                  <li class="">
                      <a target="_blank" href="https://eservice.seu.edu.sa/?lang=ar"><i class="fa fa-user-check"></i></a>

                  </li>
              
              


          </ul>
      </div>
      <!-- Start Header Navigation -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
              <i class="fa fa-bars"></i>
          </button>
          <!--<a class="navbar-brand" href="#brand"><img src="images/logo-ar.png" class="logo" alt=""></a>-->
          <a class="navbar-brand" href="/en/home/"><img src="/media/1387/logo_3d_last.png" class="logo" alt=""></a>
      </div>
      <!-- End Header Navigation -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-menu">
          <form action="/en/search-results/" method="get" id="searchFormMob" novalidate="">

              <div class="input-group" style="margin-top:15px">
                      <div class="input-group-addon"> <a onclick="SubmitSearchForm()"><i class="fa fa-search"></i></a></div>
                      <input type="text" class="form-control" id="saerchP" placeholder="Search" name="saerchP">

              </div>
          </form>

              
          <div class="col-half left"><ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp"><li>
                  <a href="/en/about/" target="_self">
                          <i class="fa fas fa-university">


                          </i>
                      About SEU
                  </a>
                  </li><li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fas fa-chalkboard-teacher"></i> Structure</a>
                          <ul class="dropdown-menu animated fadeOutUp">

                              <li class="dropdown">



                                      <a class="dropdown-toggle" data-toggle="dropdown">
                                              <i class="fas fa-project-diagram"></i> Vice Rectorates                                        </a>


                                  <ul class="dropdown-menu animated" style="width:280px">



                                          <li>
                                                  <a href="/vr/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Vice Rectorate


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/vroaa/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Vice Rectorate of Academic Affairs


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/vrob/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Vice Rector for Branches


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/vrogsr/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Vice Rectorate of Graduate Studies and Research


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/vropdq/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Vice Rectorate of Planning, Development and Quality


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/vrofsa/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Vice Rectorate of Female Student Affairs


                                                  </a>
                                          </li>


                                  </ul>

                              </li>
                              <li class="dropdown">



                                      <a class="dropdown-toggle" data-toggle="dropdown">
                                              <i class="fas fa-briefcase"></i> Deanships                                        </a>


                                  <ul class="dropdown-menu animated" style="width:280px">



                                          <li>
                                                  <a href="/aasa/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Deanship of Admission and Student Affairs


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/cfy/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Deanship of Common First Year


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/gs/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Deanship of Graduate Studies


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/sr/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Deanship of Scientific Research


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/it/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Deanship of Information Technology


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/en/institute-home/">
                                                          <i class="fas fa-list"></i>
                                                      Institute for Research and Studies


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/hr/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Deanship of Human Resources


                                                  </a>
                                          </li>


                                  </ul>

                              </li>
                              <li class="dropdown">



                                      <a class="dropdown-toggle" data-toggle="dropdown">
                                              <i class="fas fa-landmark"></i> Departments                                        </a>


                                  <ul class="dropdown-menu usity animated" style="width:280px">



                                          <li>
                                                  <a href="/kr/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Department of Knowledge Resources


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/pram/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Administration of Public Relations and Media


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/aola/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Administration of Legal Affairs


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/dsr/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Scholarship and Recruiting


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/pab/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Administration of Planning and Budget


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/iad/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Internal Audit Department


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/af/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Administration of Administrative Affairs


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/aofd/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Administration of Finance Department


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/aocap/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Administration of Contracts and Purchase


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/aosas/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Administration of Safety And Security


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/aoss/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Administration of Student Support


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/aosaw/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Administration of Storage and Warehouses


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/aopam/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Administration of Projects and Maintenance


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/ac/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Administrative Correspondence


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/aoms/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Administration Of Medical Services


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/pic/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Partnerships and International Cooperation


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/structuring/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Administration of Administrative Structuring


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/aop/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Administration of Projects


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/records/en/about/">
                                                          <i class="fas fa-list"></i>
                                                      Department of Records


                                                  </a>
                                          </li>


                                  </ul>

                              </li>
              </ul>
      </li><li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fas fa-book-open"></i> Colleges and Branches</a>
                          <ul class="dropdown-menu animated fadeOutUp" style="display: none;">

                              <li class="dropdown">



                                      <a class="dropdown-toggle" data-toggle="dropdown">
                                              <i class="fas fa-briefcase"></i> Colleges                                        </a>


                                  <ul class="dropdown-menu animated fadeOutUp" style="width: 280px; display: none; opacity: 1;">



                                          <li>
                                                  <a href="/afsc/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      College of Administrative and Financial Sciences


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/caic/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      College of Computing and Informatics


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/hsc/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      College of Health Sciences


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/satsc/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      College Of Science and Theoretical Studies


                                                  </a>
                                          </li>


                                  </ul>

                              </li>
                              <li class="dropdown">



                                      <a class="dropdown-toggle" data-toggle="dropdown">
                                              <i class="fas fa-project-diagram"></i> Branches                                        </a>


                                  <ul class="dropdown-menu usity animated" style="width:280px">



                                          <li>
                                                  <a href="/dammam/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Dammam


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/jeddah/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Jeddah


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/madinah/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Madinah


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/qassim/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Qassim


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/abha/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Abha


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/tabuk/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Tabuk


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/jazan/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Jazan


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/alahsa/en/home/">
                                                          <i class="fas fa-list"></i>
                                                      Alahsa


                                                  </a>
                                          </li>


                                  </ul>

                              </li>
              </ul>
      </li><li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa fa-images"></i> Media</a>
                          <ul class="dropdown-menu animated">

                                  <li>
                                      <a href="/en/news/" target="_self">



                                              <i class="fa fa-newspaper"></i>
                                          News
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/en/advertisements/" target="_self">



                                              <i class="fas fa-bullhorn"></i>
                                          Advertisements
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/en/events/arday20/" target="_self">



                                              <i class=""></i>
                                          Events
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/en/videos/" target="_self">



                                              <i class="fa fa-video-camera"></i>
                                          Videos
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/en/gallery/" target="_self">



                                              <i class="fas fa-image"></i>
                                          Gallery
                                      </a>
                                  </li>
                                      <li>
                                          <a href="https://www.youtube.com/user/SaudiEUniversity/feed" target="_blank">


                                                  <i>
                                                      <img src="/media/1426/icon-vi.png" alt="" style="width: 20px;height: 14px">
                                                  </i>

                                              SEU channel
                                          </a>


                                      </li>
              </ul>
      </li></ul></div><div class="col-half right"><ul class="nav navbar-nav navbar-right"><li class="dropdown">
                  <a href="/en/academic-programs/" target="_self" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fas fa-award">


                          </i>
                      Academic Programs
                  </a>
                          <ul class="dropdown-menu animated">

                              <li class="dropdown">



                                          <a href="/en/academic-programs?p=1&amp;programType=Bachelor" class="dropdown-toggle" data-toggle="dropdown" target="_self">
                                                  <i class="fas fa-book-open"></i> Bachelor                                            </a>


                                  <ul class="dropdown-menu animated" style="width:280px">



                                          <li>
                                                  <a href="/en/academic-programs?p=1&amp;programType=Bachelor&amp;programName=College of Administrative and Financial Sciences Programs">
                                                          <i class="fas fa-list"></i>
                                                      College of Administrative and Financial Sciences Programs


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/en/academic-programs?p=1&amp;programType=Bachelor&amp;programName=Computing and Informatics College programs">
                                                          <i class="fas fa-list"></i>
                                                      Computing and Informatics College programs


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/en/academic-programs?p=1&amp;programType=Bachelor&amp;programName=College of Health Sciences programs">
                                                          <i class="fas fa-list"></i>
                                                      College of Health Sciences programs


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/en/academic-programs?p=1&amp;programType=Bachelor&amp;programName=Science and Theoretical Studies Programs">
                                                          <i class="fas fa-list"></i>
                                                      Science and Theoretical Studies Programs


                                                  </a>
                                          </li>


                                  </ul>

                              </li>
                              <li class="dropdown">



                                          <a href="/en/academic-programs?p=1&amp;programType=Graduate Studies&#8203;&#8203;" class="dropdown-toggle" data-toggle="dropdown" target="_self">
                                                  <i class="fas fa-user-graduate"></i> Graduate Studies&#8203;&#8203;                                            </a>


                                  <ul class="dropdown-menu animated" style="width:280px">



                                          <li>
                                                  <a href="/en/academic-programs?p=1&amp;programType=Graduate Studies&#8203;&#8203;&amp;programName=College of Administrative and Financial Sciences Programs">
                                                          <i class="fas fa-list"></i>
                                                      College of Administrative and Financial Sciences Programs


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/en/academic-programs?p=1&amp;programType=Graduate Studies&#8203;&#8203;&amp;programName=Computing and Informatics College programs">
                                                          <i class="fas fa-list"></i>
                                                      Computing and Informatics College programs


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/en/academic-programs?p=1&amp;programType=Graduate Studies&#8203;&#8203;&amp;programName=College of Health Sciences programs">
                                                          <i class="fas fa-list"></i>
                                                      College of Health Sciences programs


                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="/en/academic-programs?p=1&amp;programType=Graduate Studies&#8203;&#8203;&amp;programName=College of Science and Theoretical Studies">
                                                          <i class="fas fa-list"></i>
                                                      College of Science and Theoretical Studies


                                                  </a>
                                          </li>


                                  </ul>

                              </li>
              </ul>
      </li><li>
                  <a href="/en/arabic-online/" target="_self">
                          <i class="fa fas fa-language">


                          </i>
                      Arabic Online
                  </a>
                  </li><li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fas fa-check-square"></i> Admissions</a>
                          <ul class="dropdown-menu animated">

                                  <li>
                                      <a href="/en/bachelor/" target="_self">



                                              <i class="fas fa-book-open"></i>
                                           Bachelor
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/en/graduate-studies/admission-requirements/" target="_self">



                                              <i class="fas fa-user-graduate"></i>
                                           Graduate Studies&#8203;&#8203; &#8203;
                                      </a>
                                  </li>
              </ul>
      </li><li>
                  <a href="https://eservice.seu.edu.sa/?lang=en" target="_blank">
                          <i class="fa fa fa-user-check">


                          </i>
                      Log In
                  </a>
                  </li></ul></div>
              <a href="/ar/home/" class="langu"> <i class="fas fa-cog"></i> عربي</a>
              <!--<a href="https://old.seu.edu.sa/sites/en/Pages/main.aspx" class="langu" target="_blank"> <i class="fas fa-book-open"></i> Old Portal  </a> -->




      </div><!-- /.navbar-collapse -->
  </div>

</nav></div>