<div class="main-content">
  <app-service-header title="{{'univ' | translate}}" subtitle="{{'ug' | translate}}"></app-service-header>
  <!-- <section class="ug-home">
    <div class="container">
      <h3> </h3>
    </div>
  </section> -->

  <section class="ug-content">

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3> {{'ug' | translate}} </h3>
          <!-- <p> {{'desc' | translate}} </p> -->

          <div class="d-flex justify-content-between block">
            <a target="_blank" href="https://bannerssb.seu.edu.sa/PPRD_en/bwskalog.P_DispLoginNon">
              <div class="d-flex ">
                <div class="">
                    <h4><img src="../../assets/images/admit.png"></h4>
                </div>
                <div class="text"> <span>{{'newrequest' | translate}}</span></div>
              </div>
            </a>

            <a routerLink="/apps/admission-ug/admission-result">
              <div class="d-flex ">
                <div class="">
                  <h4><img src="../../assets/images/admit.png"></h4>
                </div>
                <div class="text"> <span>{{'admissionResult' | translate}}</span></div>
              </div>
            </a>

          </div>



          <div class="d-flex justify-content-between block">
            <a routerLink="/apps/admission-ug/match-documents">
              <div class="d-flex ">
                <div class="">
                  <h4><img src="../../assets/images/cop.png"></h4>
                </div>
                <div class="text"> <span>{{'matchdocuments' | translate}}</span></div>
              </div>
            </a>
            <a routerLink="/apps/admission-ug/upload-result">
              <div class="d-flex">
                <div class="">
                  <h4><img src="../../assets/images/up.png"></h4>
                </div>
                <div class="text"> <span>{{'UploadDocument' | translate}}</span></div>
              </div>
            </a>
          </div>
          <div class="d-flex justify-content-between">

            <a routerLink="/apps/admission-ug/pay-fee">
              <div class="d-flex">
                <div class="">
                  <h4><img src="../../assets/images/pay-card.png"></h4>
                </div>
                <div class="text"> <span>{{'PaytheFee' | translate}}</span></div>
              </div>
            </a>

            <a routerLink="/apps/admission-ug/payment-refund">
              <div class="d-flex ">
                <div class="">
                  <h4><img src="../../assets/images/cancel.png"></h4>
                </div>
                <div class="text"> <span>{{'paymentrefund' | translate}}</span></div>
              </div>
            </a>
          </div>
          <hr>
          <!-- <div class="d-flex justify-content-end">

            <div class="d-flex" routerLink="/apps" style="cursor: pointer;">
              <div class="">
                <h4><img src="../../assets/images/Home-menu.png"></h4>
              </div>
              <div class="text act"> <span>{{'homeapps' | translate}}</span></div>
            </div>

          </div> -->
        </div>
        <div class="col-md-6">
          <img src="../../assets/images/home-img.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
</div>