<div class="main-content">

  <!-- <mat-spinner *ngIf="isLoading"
  style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;">
</mat-spinner> -->

  <section class="service-single">
    <div class="container">
      <h3> الحالة الأكاديمية </h3>
      <div class="row">
        <div class=" col-md-5">
          <p> الحالة الأكاديمية </p>
        </div>
        <!-- <div class=" col-md-6 descr">
          <span>مدة الإنجاز : <span class="badge">3 يوم</span> </span>
          &nbsp; &nbsp; &nbsp; &nbsp;

        </div> -->
      </div>
    </div>
  </section>
  <div *ngIf="isLoading" class=" loading-indicator  ">
    <div class="state">


      <mat-spinner *ngIf="isLoading"
        style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;">
      </mat-spinner>

    </div>
  </div>
  <div class="ser-state" *ngIf="!isLoading">
    <div *ngFor="let msg of msgs"
      [ngClass]="msg.type == 'info' ? 'alert alert-info' : (msg.type == 'error' ? 'alert alert-danger' : (msg.type == 'success' ? 'alert alert-success' : 'alert alert-warning'))"
      role="alert">
      {{msg.body}}!
    </div>
  </div>

  <div class="widget" *ngIf="!isLoading">
    <div class="widget-header">
      <h3 class="widget-title">بيانات الطالب / الطالبة</h3>
    </div>


    <section class="ser-state">
      <div class="container">
        <div class="row ser-block">
          <div class=" col-md-6 col-sm-12">
            <div class="state">
              <h6>اسم الطالب / الطالبة </h6>
              <h5>{{reqData.name}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 15%;"></div>
            </div>
          </div>
          <div class=" col-md-6 col-sm-12">
            <div class="state">
              <h6>رقم الطالب / الطالبة </h6>
              <h5>{{reqData.std_id}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 15%;"></div>
            </div>
          </div>

        </div>

        <div class="row ser-block">
          <div class=" col-md-6 col-sm-12">
            <div class="state">
              <h6>الكلية </h6>
              <h5>{{reqData.colledge}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 15%;"></div>
            </div>
          </div>
          <div class=" col-md-6 col-sm-12">
            <div class="state">
              <h6>التخصص </h6>
              <h5>{{reqData.major}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 15%;"></div>
            </div>
          </div>

        </div>

        <div class="row  ser-block">

          <div class=" col-md-6 col-sm-12">
            <div class="state">
              <h6> الفرع </h6>
              <h5>{{reqData.branch}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 15%;"></div>
            </div>
          </div>

          <div class=" col-md-6 col-sm-12">
            <div class="state">
              <h6>الحالة الأكاديمية </h6>
              <h5>{{reqData.academic_status}} </h5>
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-info" style="width: 15%;"></div>
            </div>
          </div>
        </div>
      </div>
    </section>



  </div>








</div>