<div class="main-content">

  <seu-loader [isLoading]="isLoading"></seu-loader>
  <service-header [title]="'leadership.applications.newapp' | translate"></service-header>

  <div class="widget" *ngIf="!isLoading">
    <div class="widget-header">
      <h3 class="widget-title">
        &nbsp;
        {{ ad.JOB_TITLE}}
      </h3>
    </div>
    <form style="margin-top: 20px; padding-bottom: 20px;" role="form" [formGroup]="form">
      <div class="row">
        <div class="col-md-5">
          <div class="state">
            <h6>{{"leadership.applications.EMPLOYEE_ID"|translate}}</h6>
            <input type="text" formControlName="EMPLOYEE_ID" class="form-control" (input)="changeVal()" (keypress)="keyPress($event)" />
          </div>
          <div *ngIf="form.controls.EMPLOYEE_ID.invalid && (form.controls.EMPLOYEE_ID.dirty || form.controls.EMPLOYEE_ID.touched)">
            <div *ngIf="form.controls.EMPLOYEE_ID.errors.required">
              <b style="position: relative; left: -10px;" class="text-danger">{{"leadership.required"|translate}}</b>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="state">
            <h6>{{"leadership.applications.EMAIL"|translate}}</h6>
            <input type="text" formControlName="EMAIL" class="form-control" (input)="changeVal()"/>
          </div>
          <div *ngIf="form.controls.EMAIL.invalid && (form.controls.EMAIL.dirty || form.controls.EMAIL.touched)">
            <div *ngIf="form.controls.EMAIL.errors.required">
              <b style="position: relative; left: -10px;" class="text-danger">{{"leadership.required"|translate}}</b>
            </div>
          </div>
        </div>
        <div class="col-md-2" style="text-align: center;">
          <button style="width: 100%;margin-top: 30px;" [disabled]="submitted || form.invalid" (click)="save()"
            type="submit" class="btn btn-primary">
            <i *ngIf="submitted" class="fa fa-spinner fa-spin"></i>
            {{ "leadership.applications.search" | translate}} 
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="showMessage" class="row">
      <div class="col-md-12">
        <div class="alert alert-danger">
          {{ "leadership.applications.not_found" | translate}}
        </div>
      </div>
    </div>
    <div *ngIf="showResult" class="table-responsive" style="padding: 20px;">
      <form role="form" [formGroup]="recommendForm">
        <table class="table table-striped table-bordered">
          <tr>
            <th scope="col" width="35%">
              <h6>{{"leadership.applications.EMPLOYEE_ID"|translate}}</h6>
            </th>
            <td scope="col">{{recommendedInstructor.EMPLOYEE_ID}}</td>
          </tr>
          <tr>
            <th scope="col" width="35%">
              <h6>{{"leadership.applications.FULL_NAME"|translate}}</h6>
            </th>
            <td scope="col">{{recommendedInstructor.FULL_NAME_AR}}</td>
          </tr>
          <tr>
            <th scope="col" width="35%">
              <h6>{{"leadership.applications.COLLEGE"|translate}}</h6>
            </th>
            <td scope="col">{{recommendedInstructor.COLLEGE}}</td>
          </tr>
          <tr>
            <th scope="col" width="35%">
              <h6>{{"leadership.applications.DEPT"|translate}}</h6>
            </th>
            <td scope="col">{{recommendedInstructor.DEPT_NAME}}</td>
          </tr>
          <tr>
            <th scope="col" width="35%">
              <h6>{{"leadership.applications.BRANCH"|translate}}</h6>
            </th>
            <td scope="col">{{recommendedInstructor.BRANCH}}</td>
          </tr>
          <tr>
            <th scope="col" width="35%">
              <h6>{{"leadership.applications.SCALE"|translate}}</h6>
            </th>
            <td scope="col">{{recommendedInstructor.SCALE_DESC}}</td>
          </tr>
          <tr>
            <th scope="col" width="35%">
              <h6>{{"leadership.applications.SEU_EMAIL"|translate}}</h6>
            </th>
            <td scope="col">{{recommendedInstructor.WORK_EMAIL}}</td>
          </tr>
        </table>
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <label for="notes">{{"leadership.applications.notes"|translate}}</label>
            <textarea class="form-control" formControlName="NOTES" id="notes" rows="5"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <button style="width: 10%; margin-top: 30px;" [disabled]="rec_submitted || recommendForm.invalid" (click)="save_rec()"
              type="submit" class="btn btn-primary">
              {{ "leadership.applications.recommend" | translate}} 
              <i class="fa fa-add"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>