<!-- Modal -->
<mat-dialog-content>

  <div class="modal-dialog" role="document" style="direction: rtl;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="text-align: center" class="modal-title " id="exampleModalLabel"> الاعتذار عن المحاضرة
        </h5>
      </div>
      <div class="modal-body" style=" direction: rtl;">

        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
          <div class="modal-body">
            <div class="main-content" style="padding-top:0;">

              <P class="text-center">
                <span style="font-weight: bold; font-size: 15px;">{{reqData.text_list[0].text1}} </span>
                <br />
                {{reqData.text_list[1].text1}}

                <br />
                {{reqData.text_list[2].text1}}

                <br />
                {{reqData.text_list[3].text1}}

                <br />
                {{reqData.text_list[4].text1}}

              </P>

              <section class="ser-state">
                <div class="container">

                  <div class="row ser-block">
                    <div class="col-md-12 col-sm-12">
                      <div class="state">
                        <h6> حدد اسماء المقررات </h6>
                        <table style="text-align: center" class="table">
                          <thead>
                            <tr>
                              <th scope="col">crn </th>

                              <th scope="col">اسم المقرر </th>


                              <th scope="col"> </th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let it of reqData.schedules;let i=index;">
                              <td>{{it.CRN}}</td>
                              <td>{{it.CRSE_TITLE}}</td>
                              <td>
                                <input type="checkbox" name="chkCourse" (change)="changeStatus(it,$event,i)" #chkCourse
                                  id="defaultUnchecked">
                              </td>

                            </tr>

                          </tbody>
                        </table>
                      </div>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-info" style="width: 15%;"></div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <div class="state">
                        <h6> اختر نوع المحاضرة </h6>
                        <select name="type" #type="ngModel" [(ngModel)]="lectureExecuse.type" class="form-control"
                          [class.is-invalid]=" lectureExecuse.reason==''">
                          <option value="">نوع المحاضره </option>
                          <option *ngFor="let item of reqData.lectures_type" value="{{item.id}}">{{item.value}}</option>
                        </select>
                      </div>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-info" style="width: 15%;"></div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <div class="state">
                        <h6> اختر الاسبوع </h6>
                        <select name="week" #week="ngModel" [(ngModel)]="lectureExecuse.week" class="form-control"
                          [class.is-invalid]=" lectureExecuse.week==''">
                          <option value="">الاسبوع </option>
                          <option *ngFor="let item of reqData.weeks_list" value="{{item.id}}">{{item.value}}</option>
                        </select>
                      </div>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-info" style="width: 15%;"></div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <div class="state">
                        <h6>سبب التغيب </h6>
                        <select name="reason" #reason="ngModel" [(ngModel)]="lectureExecuse.reason" class="form-control"
                          [class.is-invalid]=" lectureExecuse.reason==''">
                          <option value="">العذر </option>
                          <option *ngFor="let item of reqData.text_list" value="{{item.text1}}">{{item.text1}}</option>
                        </select>
                      </div>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-info" style="width: 15%;"></div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <div class="state">
                        <h6> حدد التاريخ </h6>
                        <input style="direction: rtl;" class="form-control" name="date" #date="ngModel"
                          [(ngModel)]="lectureExecuse.date" type="date" style="direction: rtl;text-align:right">
                      </div>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-info" style="width: 15%;"></div>
                      </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                      <div class="state">
                        <h6> ملف </h6>
                        <div class="custom-file">
                          <input name="imageUrl" type="file" accept="*/*" (change)="handleInputChange($event)"
                            id="imageUrl" />
                          <label for="imageUrl" class="custom-file-label ">
                          </label>
                        </div>
                      </div>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-info" style="width: 15%;"></div>
                      </div>
                    </div>


                    <div style="margin-top: 15px;">
                      <div class="btn-group" style="direction: ltr" role="group" aria-label="Basic example">
                        <button type="button" (click)="closeDiag()" class="btn btn-outline"><i class="ik ik-x"></i>
                          الغاء</button>

                        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> حفظ</button>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="modal-body" style=" direction: rtl;">
    <P class="text-center">
      تنبيه: يسمح للطالب إلغاء أو تعديل الطلب خلال فترة 48 ساعة من تاريخ تقديم الطلب فقط.
      <br />
      الأعذار المقبولة للتقدم للاختبار البديل هي:
      <br />
      1. شهادة إقامة في المستشفى.
      <br />
      2. وفاة أحد الأقارب من الدرجة الأولى.
      <br />
      3. الاصابة بمرض معدٍ.
      <br />
      4. حالات قاهرة تقدرها الجامعة.
    </P>
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

      <div class="form-group">

        <select name="week" #week="ngModel" [(ngModel)]="lectureExecuse.week" class="form-control"
          [class.is-invalid]=" lectureExecuse.week==''">
          <option value="">الاسبوع </option>
          <option *ngFor="let item of reqData.weeks_list" value="{{item.id}}">{{item.value}}</option>
        </select>
      </div>
      <br />
      <div class="form-group">

        <select name="reason" #reason="ngModel" [(ngModel)]="lectureExecuse.reason" class="form-control"
          [class.is-invalid]=" lectureExecuse.reason==''">
          <option value="">العذر </option>
          <option *ngFor="let item of reqData.text_list" value="{{item.text1}}">{{item.text1}}</option>
        </select>
      </div>
      <br />
      <div class="form-group">
        <select name="type" #type="ngModel" [(ngModel)]="lectureExecuse.type" class="form-control"
          [class.is-invalid]=" lectureExecuse.reason==''">
          <option value="">نوع المحاضره </option>
          <option *ngFor="let item of reqData.lectures_type" value="{{item.id}}">{{item.value}}</option>
        </select>
      </div><br />
      <div class="form-group" dir="rtl"> التاريخ :
        <input style="direction: rtl;" class="form-control" name="date" #date="ngModel"
          [(ngModel)]="lectureExecuse.date" type="date" style="direction: rtl;text-align:right">
      </div>
      <br />
      <table style="text-align: center" class="table">
        <thead>
          <tr>
            <th scope="col">crn </th>

            <th scope="col">اسم المقرر </th>


            <th scope="col"> </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let it of reqData.schedules;let i=index;">
            <td>{{it.CRN}}</td>

            <td>{{it.CRSE_TITLE}}</td>






            <td>
              <input type="checkbox" name="chkCourse" (change)="changeStatus(it,$event,i)" #chkCourse
                id="defaultUnchecked">
            </td>

          </tr>

        </tbody>
      </table>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">ملف </div>
        </div>
        <input name="imageUrl" type="file" accept="*/*" (change)="handleInputChange($event)" />
      </div>

      <div class="btn-group" style="direction: ltr" role="group" aria-label="Basic example">
        <button type="button" (click)="closeDiag()" class="btn btn-outline"><i class="ik ik-x"></i>
          الغاء</button>

        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> حفظ</button>
      </div>
    </form>
  </div> -->
    </div>
  </div>

</mat-dialog-content>
