<div class="main-content">
  <section class="service-single ">
    <div class="container">
      <h3> {{"menu.project_forms" | translate}} </h3>
      <div class="row">
        <div class=" col-md-5">
          <p>{{"menu.project_forms" | translate}}</p>
        </div>
      </div>
    </div>
  </section>
  <div class="widget">
    <div class="widget-header">
      <!-- <h3 class="widget-title">
        {{"written_forms.guide" | translate}} <a target="_blank" style="color: #EDEDED;" href="https://seuapps.seu.edu.sa/newservices/api/docs/written_forms/with/guide.pdf">{{"written_forms.click_here" | translate}}</a> 
      </h3> -->
    </div>
    <section class="ser-state">
      <div class="container">
        <div class="row ser-block">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>{{"project_forms.form" | translate}}</th>
                <th>{{"project_forms.download_pdf" | translate}}</th>
                <th>{{"project_forms.download_word" | translate}}</th>
              </tr>
            </thead>
            <tr>
              <td>1</td>
              <td>{{"project_forms.file_1" | translate}}</td>
              <td>
                <a href="https://seuapps.seu.edu.sa/newservices/api/docs/project_forms/pdf/project_forms_1.pdf"
                  target="_blank">{{"project_forms.download" | translate}}</a>
              </td>
              <td>
                <a href="https://seuapps.seu.edu.sa/newservices/api/docs/project_forms/word/project_forms_1.docx"
                  target="_blank">{{"project_forms.download" | translate}}</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>