<main role="main"  >
  <div class="wrapper">
<header class="header-top" header-theme="" >
  <div class="container-fluid">
      <div class="d-flex justify-content-between">
                <div class="top-menu d-flex align-items-center">
              <a type="" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></a>
              <div class="d-none d-sm-block">
               <a href="#" class="social"><i class="ik ik-facebook"></i></a>
               <a href="#" class="social"><i class="ik ik-youtube"></i></a>
               <a href="#" class="social"><i class="ik ik-twitter"></i></a>
               <a href="#" class="social"><i class="ik ik-instagram"></i></a>
           </div>
              <div class="header-search d-none d-sm-block">
                  <div class="input-group ">
                      <span class="input-group-addon search-close"><i class="ik ik-x"></i></span>
                      <input type="text" class="form-control">
                      <span class="input-group-addon search-btn"><i class="ik ik-search"></i></span>
                  </div>
              </div>
                    
               <div class="d-none d-sm-block">   
              <a href="#" class="social" style="font-size: 20px; font-weight: 400"> E  </a>
               <a href="#" class="social"  style="font-size: 20px; margin-top: -6px; display: none"> ع</a>
                </div>


          </div>
        
       
          <div class="top-menu d-flex align-items-center">
               <div class="dropdown">
                  <a class="dropdown-toggle pub-ser" href="#" id="menuDropdown" data-toggle="dropdown">
                    <i class="ik ik-chevron-down"></i>  طلباتي </a>
                  <div class="dropdown-menu dropdown-menu-right menu-grid pub-ser2">
                  <p style="border-radius: 5px 5px 0 0"> <span class="badge bg-danger" style="padding: 3px 6px">  2</span> &nbsp; طلبات قيد التنفيذ </p>
                      <ul class="list-group" >
                        <li class="list-group-item active"> إخلاء طرف<span class="badge bg-danger">ينتهي بعد 1 يوم</span></li>
                        <li class="list-group-item "> خدمة سداد الرسوم الدراسية<span class="badge bg-danger">ينتهي بعد 3 ساعة</span></li>
                      </ul>
                      
                        <p>   <span class="badge bg-danger"style="padding: 3px 6px">  4</span> &nbsp; طلبات منتهية </p>
                      <ul class="list-group" >
                        <li class="list-group-item active">خدمة الإعفاء من الرسوم الدراسية </li>
                        <li class="list-group-item "> خدمة نظام إدارة الهوية </li>
                        <li class="list-group-item active"> شهادة التعريف</li>
                       <li class="list-group-item ">الحالة الأكاديمية</li>
                      </ul>
                  </div>
              </div>
              
              <div class="dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="notiDropdown"  data-toggle="dropdown">
                  <i class="ik ik-bell"></i><span class="badge bg-danger">3</span></a>
                  <div class="dropdown-menu dropdown-menu-right notification-dropdown">
                      <h4 class="header">الإشعارات</h4>
                      <div class="notifications-wrap">
                          <a href="#" class="media">
                           <span class="d-flex"><i class="ik ik-check"></i>  </span>
                              <span class="media-body">
                                  <span class="heading-font-family media-heading">تمت الموافقه ع طلبك</span> 
                              </span>
                          </a>
                          <a href="#" class="media">
                           <span class="d-flex"><i class="ik ik-check"></i>  </span>
                              <span class="media-body">
                                  <span class="heading-font-family media-heading">لديك خبر جديد</span> 
                              </span>
                          </a>
                           <a href="#" class="media">                                                                                   <span class="d-flex"><i class="ik ik-check"></i>  </span>
                              <span class="media-body">
                                  <span class="heading-font-family media-heading">لديك خبر جديد</span> 
                              </span>
                          </a>
                      </div>
                      <div class="footer"><a href="">كل الإشعارات</a></div>
                  </div>
              </div>
              
             
              <div class="dropdown">
                  <a class="dropdown-toggle pub-ser" href="#" id="userDropdown" data-toggle="dropdown">
                  <i class="ik ik-chevron-down"></i>
                 <img class="avatar" src="assets/images/avatar.png" alt=""> <span style="font-size: 11px"> مرحبا : محمد علي </span>   </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                      <a class="dropdown-item" href="">الملف الشخصي <i class="ik ik-user dropdown-icon"></i> </a>
                      <a class="dropdown-item" href="">تسجيل خروج <i class="ik ik-power dropdown-icon"></i> </a>
                  </div>
              </div>

          </div>
      </div>
  </div>
</header>
