<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">
                <h3 class="widget-title">
                    {{"auth.signin" | translate}}
                </h3>
            </div>
            <div class="widget-body">
                <form role="form" [formGroup]="form">
                    <div class="modal-body">
                        <div class="row ser-block">
                            <div class=" col-md-6 col-sm-6">
                                <div class="state">
                                    <h6>{{"auth.user_name"|translate}} <span class="reqstart">*</span></h6>
                                    <input style="direction: ltr;" type="text" formControlName="username"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row ser-block">
                            <div class=" col-md-6 col-sm-6">
                                <div class="state">
                                    <h6>{{"auth.password"|translate}} <span class="reqstart">*</span></h6>
                                    <input type="password" formControlName="password" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row ser-block">
                            <div class=" col-md-6 col-sm-6">
                                <div class="state">
                                    <h6>{{"auth.captcha"|translate}} <span class="reqstart">*</span></h6>
                                    <re-captcha #recaptchaRef (resolved)="resolved($event)"
                                        [siteKey]="environment.captchaSiteKey"></re-captcha>
                                </div>
                            </div>
                        </div>
                        <div class="row ser-block">
                            <div class=" col-md-6 col-sm-6">
                                <div class="form-group">
                                    <br />
                                    <a href="/">{{"auth.seustaff" | translate}}</a> | <a
                                        [routerLink]="['../register']">{{"auth.new_user" | translate}}</a> | <a
                                        [routerLink]="['../forgot']">{{"auth.forgot" | translate}}</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button (click)="onFormSubmit()" type="button"
                                        [disabled]="submitted || form.invalid" class="btn btn-hov">{{"auth.signin" |
                                        translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>