<form>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">رقم التذكرة</label>
    <div class="col-sm-10">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">رقم الجوال</label>
    <div class="col-sm-10">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="form-group row text-center">
    <div class="col-sm-12">
      <button class="btn btn-primary" type="submit">استعلام</button>
    </div>
  </div>
</form>

<div class="form-group row">
  <label class="col-sm-2 col-form-label">التصنيف</label>
  <div class="col-sm-10">
    <label class="col-form-label font-weight-normal">تصنيف 4</label>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">العنوان</label>
  <div class="col-sm-10">
    <label class="col-form-label font-weight-normal">عنوان التذكرة كما هو مكتوب</label>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">التفاصيل</label>
  <div class="col-sm-10">
    <label class="col-form-label font-weight-normal">لإنشاء شخصيات كلامية، نختار ونسجل المواهب الصوتية المحترفة. ويتم في قاعدة بيانات الكلام الناتج، تقسيم كل كلمة منطوقة إلى أجزاء فردية، مثل الأصوات والمقاطع اللفظية والكلمات. ثم نطبق تقنية تسمى توليف اختيار الوحدة (USS). تختار تقنية USS مقاطع (وحدات) من الكلام التي يمكن “لصقها” معا بطريقة تنتج الكلام الاصطناعي عال الجودة. وبمجرد اختيار الموهبة الصوتية، فإنه يعمل مع فريق تطوير الصوت الخاص بنا لعدة أسابيع. ويُستخدم برنامج نصي متنوع للتسجيلات، تم تصميمه لاحتواء جميع الأنماط الصوتية للغة الجاري تطويرها. يراقب الفريق عن كثب عمليه التسجيل للتحقق من التناسق في النطق والنبرة والأسلوب. في المرحلة الثانية من إنشاء صوت TTS، تتم إضافة ترميز زاخر إلى التسجيلات الصوتية. ويتم توضيح كل كلمة وصويت</label>
  </div>
</div>
<hr>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">الحل</label>
  <div class="col-sm-10">
    <label class="col-form-label font-weight-normal">من إنشاء صوت TTS، تتم إضافة ترميز زاخر إلى التسجيلات الصوتية. ويتم توضيح كل كلمة وصويت</label>
  </div>
</div>

