<div class="main-content">


  <section class="service-single">

    <div class="container">
      <h3> السجل الأكاديمي </h3>
      <div class="row">
        <div class=" col-md-5">
          <p> السجل الأكاديمي</p>
        </div>
        <!-- <div class=" col-md-6 descr">
                <span>مدة الإنجاز : <span class="badge">3 يوم</span> </span>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <a href="#"><i class="ik ik-download"></i> </a>
                  <a href="#"><i class="ik ik-film"></i></a>
              </div> -->
      </div>
    </div>
  </section>
  <div *ngIf="isLoading" class=" loading-indicator ">
    <div class="state">


      <mat-spinner *ngIf="isLoading"
        style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;">
      </mat-spinner>

    </div>
  </div>
  <div *ngIf="!isLoading">
    <div class="state">

      <h5> <span>اسم الطالب : </span>
        {{recoredData.student_name}} </h5>

    </div>
  </div>
  <section *ngIf="!isLoading" class="ser-state">

    <div class="container">
      <div class="row ser-block">
        <div class="col-md-4 col-sm-12">
          <div class="state">
            <h6>الكلية</h6>
            <h5> {{recoredData.coll}} </h5>
          </div>
          <div class="progress progress-sm">
            <div class="progress-bar bg-info"></div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12">
          <div class="state">
            <h6>التخصص </h6>
            <h5> {{recoredData.major}} </h5>
          </div>
          <div class="progress progress-sm">
            <div class="progress-bar bg-info"></div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12">
          <div class="state">
            <h6>الرقم الجامعي </h6>
            <h5>{{recoredData.std_id}} </h5>
          </div>
          <div class="progress progress-sm">
            <div class="progress-bar bg-info"></div>
          </div>
        </div>

      </div>

      <div class="row ser-block">
        <div class=" col-md-4 col-sm-12">
          <div class="state">
            <h6>رقم الهوية </h6>
            <h5>{{recoredData.ssn}} </h5>
          </div>
          <div class="progress progress-sm">
            <div class="progress-bar bg-info"></div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12">
          <div class="state">
            <h6>الدرجة </h6>
            <h5>{{recoredData.grade}} </h5>
          </div>
          <div class="progress progress-sm">
            <div class="progress-bar bg-info"></div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12">
          <div class="state">
            <h6>حالة الطالب</h6>
            <h5>{{recoredData.status}} </h5>
          </div>
          <div class="progress progress-sm">
            <div class="progress-bar bg-info"></div>
          </div>
        </div>

      </div>

    </div>
  </section>
  <div class="accordion" *ngIf="!isLoading" id="accordionExample">
    <div *ngFor="let item of recoredData.terms ; let i = index">
      <div class="card ">
        <div class="card-header" id="heading{{i}}">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
              [attr.data-target]="'#collapse'+i" aria-expanded="false" [attr.aria-controls]="'collapse'+i">
              <b> الفصل {{item.Term}} لسنة {{item.Year}} </b>
            </button>
          </h2>
        </div>

        <div id="collapse{{i}}" class="collapse" [attr.aria-labelledby]="'heading'+i" data-parent="#accordionExample">
          <div class="container">
            <div class="back">
              <div class="row ser-block">
                <div class="col-md-3 col-sm-12 ">
                  <div class="state">
                    <h6>الفصل</h6>
                    <h5> {{item.Term}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
                <div class=" col-md-3 col-sm-12 ">
                  <div class="state">
                    <h6>العام</h6>
                    <h5>{{item.Year}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
                <div class=" col-md-3 col-sm-12 ">
                  <div class="state">
                    <h6>التخصص</h6>
                    <h5> {{item.Major}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
                <div class=" col-md-3 col-sm-12 ">
                  <div class="state">
                    <h6>الحالة</h6>
                    <h5>{{item.Status}} </h5>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
              </div>


              <div class="table-responsive">


                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">رمز المقرر</th>
                      <th scope="col">اسم المقرر</th>
                      <th scope="col">التقدير</th>
                      <th scope="col">الساعات</th>
                      <th scope="col">النقاط</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let it of item.courses">
                      <td>{{it.ID}}</td>
                      <td>{{it.CRSE_TITLE}}</td>
                      <td>{{it.GRADE_TITLE}}</td>
                      <td>{{it.HRS}}</td>
                      <td>{{it.Points}}</td>

                    </tr>

                  </tbody>
                </table>
              </div>
              <div class="table-responsive">


                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">ساعات </th>
                      <th scope="col">مسجلة </th>
                      <th scope="col">نجاح</th>
                      <th scope="col">مكتسبة</th>
                      <th scope="col">النقاط</th>
                      <th scope="col">المعدل</th>

                    </tr>
                  </thead>
                  <tbody>
                    <th scope="row">فصلي</th>
                    <td>{{item.registredHours}}</td>
                    <td>{{item.gpa_hours}}</td>
                    <td>{{item.earned_hours}}</td>
                    <td>{{item.quality_points}}</td>
                    <td>{{item.gpa}}</td>
                    <tr>
                      <th scope="row">تراكمي</th>
                      <td>{{item.TotalregistredHours}}</td>
                      <td>{{item.total_gpa_hours}}</td>
                      <td>{{item.total_earned_hours}}</td>
                      <td>{{item.total_quality_points}}</td>
                      <td>{{item.total_gpa}}</td>
                    </tr>
                  </tbody>
                </table>





              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div style="text-align: center" class="prin" *ngIf="!isLoading">
      <a class="btn" href="{{arabicPrint}}">عربي <i class="ik ik-save"></i> </a>
      <a class="btn" href="{{EngPrint}}"> <i class="ik ik-save"></i> English </a>
    </div>

    <mat-spinner *ngIf="isLoading"
      style="position: absolute;z-index: 10000;; margin: auto; top: 0; right: 0;  bottom: 0;left: 0; width: 10px; height: 10px;">
    </mat-spinner>
