<div class="main-content">
  <service-header title='{{"wafi.AddNewRequest" | translate}}'></service-header>
  <seu-loader [isLoading]="isLoading"></seu-loader>


  <div class="modal-header">
    <h4 class="modal-title">
      {{"wafi.deductionregularleave27" | translate}}
    </h4>

  </div>

  <section class="dashboard-wrap mtb-40" style="margin-top: 30px;">
    <form role="form" [formGroup]="AddReqForm" (ngSubmit)="onFormSubmit(AddReqForm.value)">


      <div class="row ser-block">
        <div class=" col-md-12 col-sm-12">
          <div class="state">
            <h6>{{"wafi.date"|translate}} <span class="reqstart">*</span> </h6>
            <select formControlName="beginDay" [ngClass]="{ 'is-invalid': submitted && f.beginDay.errors }">
              <option *ngFor="let day of ddlday" value={{day.value}}>{{day.label}} </option>
            </select>
            <select formControlName="beginMonth" [ngClass]="{ 'is-invalid': submitted && f.beginMonth.errors }">
              <option *ngFor="let month of ddlmonth" value={{month.value}}>{{month.label}} </option>
            </select>
            <select formControlName="beginYear" [ngClass]="{ 'is-invalid': submitted && f.beginYear.errors }">
              <option *ngFor="let year of ddlyear" [selected]="selectvactype == year.value" value={{year.value}}>
                {{year.label}} </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row ser-block">

        <div class=" col-md-6 col-sm-6">
          <div class="state">
            <h6>{{"wafi.leaveDeductionPeriod"|translate}} <span class="reqstart">*</span></h6>
            <input type="text" class="form-control select" formControlName="leaveDeductionPeriod" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.leaveDeductionPeriod.errors }" />

          </div>

        </div>

      </div>

      <div class="row ser-block">
        <div class=" col-md-8 col-sm-8">
          <div class="state">
            <h6>{{"wafi.notes"|translate}} </h6>
            <textarea class="form-control" cols="2" rows="3" formControlName="notes"></textarea>

          </div>
        </div>
      </div>
      <div class="row ser-block">

        <div class=" col-md-8 col-sm-8">
          <div class="state">
            <h6>{{"wafi.attachment"|translate}} </h6>
            <!-- <label for="file">Choose File</label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event)">       -->


            <div class="custom-file">
              <input class="custom-file-input" name="attachment" id="file" type="file" accept="*/*"
                (change)="handleFileInput($event)" />
              <label for="file" class="custom-file-label ">
              </label>
            </div>

          </div>

        </div>

      </div>

      <div class="row ser-block">
        <div class=" col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
          <div class="state">

            <div class="form-group  prin" style="color: #fff;margin-top: 30px;">
              <button type="submit" [disabled]="submitted || !AddReqForm.valid" class="btn"><i class="fa fa-database"></i> {{"wafi.Submit" | translate}}</button>
              <button type="button" (click)="back()" class="btn"><i class="fa fa-back"></i>
                {{"wafi.back" | translate}}</button>
  
            </div>

          </div>
        </div>

      </div>

    </form>
  </section>


</div>