<mat-dialog-content dir="rtl">

    <div class="modal-content">
        <div class="modal-header">
            <h5 style="text-align: center" class="modal-title ">
                {{ "reg_assistant.reg_problems" | translate}}
            </h5>
        </div>
        <div class="modal-body">
            <form role="form" [formGroup]="form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"reg_assistant.crse"|translate}} <span class="reqstart">*</span></h6>
                            <ng-select [items]="courses" bindLabel="text" bindValue="value" formControlName="crse" (change)="crseCange($event)">
                            </ng-select>
                        </div>
                        <control-validations-errors [control]="form.controls.crse"></control-validations-errors>
                    </div>
                </div>
                <div class="row" *ngIf="!can_add_new">
                    <div class="col-md-12 alert alert-danger text-center">
                        <strong>{{"reg_assistant.can_add_new_ticket"|translate}}</strong>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"reg_assistant.error_message"|translate}} <span class="reqstart">*</span></h6>
                            <ng-select [items]="messages" bindLabel="text" bindValue="value" formControlName="message">
                            </ng-select>
                        </div>
                        <control-validations-errors [control]="form.controls.message"></control-validations-errors>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <div class="state">
                            <h6>{{"reg_assistant.comments"|translate}} <span class="reqstart">*</span><span style="font-weight: normal;color: red;"> ({{"reg_assistant.crsecomments"|translate}})</span></h6>
                            <textarea maxlength="500" class="form-control" formControlName="comments"></textarea>
                        </div>
                        <control-validations-errors [control]="form.controls.comments"></control-validations-errors>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12" style="text-align: center;">
                        <button style="width: 30%;" [disabled]="submitted || form.invalid || !can_add_new" (click)="onSubmit()"
                            type="submit" class="btn btn-primary">{{ "general.send" |
                            translate}}
                            <i class="fa fa-save"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>