<ActionBar >
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

-->
    

   
<ActionItem icon="res://menu"  (tap)="onDrawerButtonTap()"
        ios.position="left" >
    </ActionItem>    
    <Label text='{{"services.exam.caa" | translate}}'></Label>
</ActionBar>

<StackLayout>

    <FlexboxLayout flexDirection="row-reverse" *ngIf="!isLoading && msgs.length>0">
        <ListView [items]="msgs">
            <ng-template let-item="item">
                <Label verticalAlignment="center" [text]="item.body" class="ysMsg" textWrap="true"></Label>
            </ng-template>
        </ListView>
    </FlexboxLayout>

<TabView selectedIndex="3" *ngIf="!isLoading">
	<StackLayout *tabItem='{title: firstTabTitle }'>

   

        <GridLayout  class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150">
            
            <Label row="0" colSpan="2"  class="ysHBox"  [text]="reqData.Term_Exam_With_Schedule.labels.title"></Label>

             <Label row="1" column="1" text="{{reqData.Term_Exam_With_Schedule.labels.date}}:" textWrap="true"></Label>
             <Label row="1" column="0" text='{{reqData.Term_Exam_With_Schedule.values.date}}' textWrap="true"
             style="text-align: right;"
             ></Label>

            <Label row="2" column="1" text="{{reqData.Term_Exam_With_Schedule.labels.txt1}}" textWrap="true"></Label>
            <Label row="2" column="0" text="{{reqData.Term_Exam_With_Schedule.values.student_name}}" textWrap="true"></Label>

            <Label row="3" column="1" text="{{reqData.Term_Exam_With_Schedule.labels.txt2}}" textWrap="true"></Label>
            <Label row="3" column="0" text="{{reqData.Term_Exam_With_Schedule.values.std_id}}" textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label row="4" column="1" text="{{reqData.Term_Exam_With_Schedule.labels.txt3}}" textWrap="true"></Label>
            <Label row="4" column="0" text="{{reqData.Term_Exam_With_Schedule.values.coll}}" textWrap="true"></Label>

            <Label row="5" column="1" text="{{reqData.Term_Exam_With_Schedule.labels.txt4}}" textWrap="true"></Label>
            <Label row="5" column="0" text="{{reqData.Term_Exam_With_Schedule.values.term}}" textWrap="true"></Label>

            <Label row="6" column="1" text=' {{"services.exam.uno" | translate}} :' textWrap="true"></Label>
            <Label row="6" column="0" text='{{reqData.Term_Exam_With_Schedule.values.std_id}}' textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label row="7" column="1" text=' {{reqData.Term_Exam_With_Schedule.labels.txt5}}:' textWrap="true"></Label>
            <Label row="7" column="0" text='{{reqData.Term_Exam_With_Schedule.values.startDay}}' textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label row="8" column="1" text='{{reqData.Term_Exam_With_Schedule.labels.txt6}}:' textWrap="true"></Label>
            <Label row="8" column="0" text='{{reqData.Term_Exam_With_Schedule.values.endDay}}' textWrap="true"
            style="text-align: right;"
            ></Label>
            <Label row="9" text='{{reqData.Term_Exam_With_Schedule.labels.txt7}}'></Label>

        </GridLayout>

        <FlexboxLayout flexDirection="column" justifyContent="flex-start" >
            <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="throw"> 
                <label text='{{"general.crn" | translate}}'></label>
                <label text='{{"general.request.req_cname" | translate}}'></label>
                <label text='{{"general.request.day" | translate}}'></label>
                <label text='{{"general.request.time" | translate}}'></label>
            </FlexboxLayout>

            <FlexboxLayout alignItems="center" justifyContent="space-between" flexWrap="nowrap" *ngFor="let item of reqData.Term_Exam_With_Schedule.Term_Schedule" flexDirection="row-reverse" 
              class="trow" [ngStyle]="{'border-bottom-width':i === reqData.Term_Exam_With_Schedule.Term_Schedule-1 ? '0' : '1' }">
               
                <Label [text]="item.CRN"></Label>
                <Label [text]="item.CRSE_TITLE"  ></Label>
                <Label [text]="item.CRSE_DAY" ></Label>
                <Label [text]="item.CRSE_TIME" ></Label>
            </FlexboxLayout>
        </FlexboxLayout>

        <FlexboxLayout flexDirection="row-reverse" flexWrap="wrap" *ngIf="!isLoading">
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt8}}" textWrap="true"></Label>
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt9}}" textWrap="true"></Label>
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt10}}" textWrap="true"></Label>
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt11}}" textWrap="true"></Label>
        </FlexboxLayout>
      
        <FlexboxLayout flexDirection="row-reverse" justifyContent="center" >
            <Button text="{{'general.ar_print'|translate}}" class="-primary -rounded-sm"  (tap)="onArabicPrint()" ></Button>
            <Button text="{{'general.en_print'|translate}}" class="-primary -rounded-sm"  (tap)="onEnglishPrint()"></Button>
        </FlexboxLayout>

    </StackLayout>
    
	<StackLayout *tabItem='{title: secondTabTitle}'>

        

        <GridLayout  class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150">
            
            <Label row="0" colSpan="2"  class="ysHBox"  text='{{"reqData.Term_Exam_Without_Schedule.labels.title"}}'></Label>

             <Label row="1" column="1" text="{{reqData.Term_Exam_Without_Schedule.labels.date}}:" textWrap="true"></Label>
             <Label row="1" column="0" text='{{reqData.Term_Exam_Without_Schedule.values.date}}' textWrap="true"
             style="text-align: right;"
             ></Label>

            <Label row="2" column="1" text="{{reqData.Term_Exam_Without_Schedule.labels.txt1}}" textWrap="true"></Label>
            <Label row="2" column="0" text="{{reqData.Term_Exam_Without_Schedule.values.student_name}}" textWrap="true"></Label>

            <Label row="3" column="1" text="{{reqData.Term_Exam_Without_Schedule.labels.txt2}}" textWrap="true"></Label>
            <Label row="3" column="0" text="{{reqData.Term_Exam_Without_Schedule.values.std_id}}" textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label row="4" column="1" text="{{reqData.Term_Exam_Without_Schedule.labels.txt3}}" textWrap="true"></Label>
            <Label row="4" column="0" text="{{reqData.Term_Exam_Without_Schedule.values.coll}}" textWrap="true"></Label>

            <Label row="5" column="1" text="{{reqData.Term_Exam_Without_Schedule.labels.txt4}}" textWrap="true"></Label>
            <Label row="5" column="0" text="{{reqData.Term_Exam_Without_Schedule.values.term}}" textWrap="true"></Label>

            <Label row="6" column="1" text=' {{"services.exam.uno" | translate}} :' textWrap="true"></Label>
            <Label row="6" column="0" text='{{reqData.Term_Exam_Without_Schedule.values.std_id}}' textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label row="7" column="1" text=' {{reqData.Term_Exam_Without_Schedule.labels.txt5}}:' textWrap="true"></Label>
            <Label row="7" column="0" text='{{reqData.Term_Exam_Without_Schedule.values.startDay}}' textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label row="8" column="1" text='{{reqData.Term_Exam_Without_Schedule.labels.txt6}}:' textWrap="true"></Label>
            <Label row="8" column="0" text='{{reqData.Term_Exam_Without_Schedule.values.endDay}}' textWrap="true"
            style="text-align: right;"
            ></Label>
            <FlexboxLayout row="9" textWrap="wrap" flex-direction="row-reverse">
                <Label  text='{{reqData.Term_Exam_Without_Schedule.labels.txt7}}'></Label>
                <Label  text='{{reqData.Term_Exam_Without_Schedule.labels.txt8}}'></Label>
                <Label  text='{{reqData.Term_Exam_Without_Schedule.labels.txt9}}'></Label>
                <Label  text='{{reqData.Term_Exam_Without_Schedule.labels.txt10}}'></Label>
                <Label  text='{{reqData.Term_Exam_Without_Schedule.labels.txt11}}'></Label>
            </FlexboxLayout>

        </GridLayout>

        <FlexboxLayout flexDirection="row-reverse" justifyContent="center">
            <Button text="{{'general.ar_print'|translate}}" class="-primary -rounded-sm"  (tap)="onArabicPrintTerm()" ></Button>
            <Button text="{{'general.en_print'|translate}}" class="-primary -rounded-sm"  (tap)="onEnglishPrintTerm()"></Button>
        </FlexboxLayout>

    </StackLayout>
    
	<StackLayout *tabItem='{title: thirdTabTitle}'>

        

        <GridLayout  class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150">
            
            <Label row="0" colSpan="2"  class="ysHBox"  [text]="reqData.Final_Exam_With_Schedule.labels.title"></Label>

             <Label row="1" column="1" text="{{reqData.Final_Exam_With_Schedule.labels.date}}:" textWrap="true"></Label>
             <Label row="1" column="0" text='{{reqData.Final_Exam_With_Schedule.values.date}}' textWrap="true"
             style="text-align: right;"
             ></Label>

            <Label row="2" column="1" text="{{reqData.Final_Exam_With_Schedule.labels.txt1}}" textWrap="true"></Label>
            <Label row="2" column="0" text="{{reqData.Final_Exam_With_Schedule.values.student_name}}" textWrap="true"></Label>

            <Label row="3" column="1" text="{{reqData.Final_Exam_With_Schedule.labels.txt2}}" textWrap="true"></Label>
            <Label row="3" column="0" text="{{reqData.Final_Exam_With_Schedule.values.std_id}}" textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label row="4" column="1" text="{{reqData.Final_Exam_With_Schedule.labels.txt3}}" textWrap="true"></Label>
            <Label row="4" column="0" text="{{reqData.Final_Exam_With_Schedule.values.coll}}" textWrap="true"></Label>

            <Label row="5" column="1" text="{{reqData.Final_Exam_With_Schedule.labels.txt4}}" textWrap="true"></Label>
            <Label row="5" column="0" text="{{reqData.Final_Exam_With_Schedule.values.term}}" textWrap="true"></Label>

            <Label row="6" column="1" text=' {{"services.exam.uno" | translate}} :' textWrap="true"></Label>
            <Label row="6" column="0" text='{{reqData.Final_Exam_With_Schedule.values.std_id}}' textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label row="7" column="1" text=' {{reqData.Final_Exam_With_Schedule.labels.txt5}}:' textWrap="true"></Label>
            <Label row="7" column="0" text='{{reqData.Final_Exam_With_Schedule.values.startDay}}' textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label row="8" column="1" text='{{reqData.Final_Exam_With_Schedule.labels.txt6}}:' textWrap="true"></Label>
            <Label row="8" column="0" text='{{reqData.Final_Exam_With_Schedule.values.endDay}}' textWrap="true"
            style="text-align: right;"
            ></Label>
            <Label row="9" text='{{reqData.Final_Exam_With_Schedule.labels.txt7}}'></Label>

        </GridLayout>

        <FlexboxLayout flexDirection="column" justifyContent="flex-start">
            <FlexboxLayout flexDirection="row-reverse" justifyContent="space-between" class="throw"> 
                <label text='{{"general.crn" | translate}}'></label>
                <label text='{{"general.request.req_cname" | translate}}'></label>
                <label text='{{"general.request.day" | translate}}'></label>
                <label text='{{"general.request.time" | translate}}'></label>
            </FlexboxLayout>

            <FlexboxLayout alignItems="center" justifyContent="space-between" flexWrap="nowrap" *ngFor="let item of reqData.Final_Exam_With_Schedule.Final_Schedule" flexDirection="row-reverse" 
              class="trow" [ngStyle]="{'border-bottom-width':i === reqData.Final_Exam_With_Schedule.Final_Schedule-1 ? '0' : '1' }">
               
                <Label [text]="item.CRN"></Label>
                <Label [text]="item.CRSE_TITLE"  ></Label>
                <Label [text]="item.CRSE_DAY" ></Label>
                <Label [text]="item.CRSE_TIME" ></Label>
            </FlexboxLayout>
        </FlexboxLayout>

        <FlexboxLayout flexDirection="row-reverse" flexWrap="wrap" *ngIf="!isLoading && finalScheduleMsgs == 0">
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt8}}" textWrap="true"></Label>
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt9}}" textWrap="true"></Label>
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt10}}" textWrap="true"></Label>
            <Label text="{{reqData.Term_Exam_With_Schedule.labels.txt11}}" textWrap="true"></Label>
        </FlexboxLayout>
      
        <FlexboxLayout flexDirection="row-reverse" justifyContent="center">
            <Button text="{{'general.ar_print'|translate}}" class="-primary -rounded-sm"  (tap)="onArabicPrintFinalSced()" ></Button>
            <Button text="{{'general.en_print'|translate}}" class="-primary -rounded-sm"  (tap)="onEnglishPrintFinalSced()"></Button>
        </FlexboxLayout>
    </StackLayout>
    
    <StackLayout *tabItem='{title: forthTabTitle}'>

       

        <GridLayout  class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*,150">
            
            <Label row="0" colSpan="2"  class="ysHBox"  [text]="reqData.Final_Exam_With_Schedule.labels.title"></Label>

             <Label row="1" column="1" text="{{reqData.Final_Exam_Without_Schedule.labels.date}}:" textWrap="true"></Label>
             <Label row="1" column="0" text='{{reqData.Final_Exam_Without_Schedule.values.date}}' textWrap="true"
             style="text-align: right;"
             ></Label>

            <Label row="2" column="1" text="{{reqData.Final_Exam_Without_Schedule.labels.txt1}}" textWrap="true"></Label>
            <Label row="2" column="0" text="{{reqData.Final_Exam_Without_Schedule.values.student_name}}" textWrap="true"></Label>

            <Label row="3" column="1" text="{{reqData.Final_Exam_Without_Schedule.labels.txt2}}" textWrap="true"></Label>
            <Label row="3" column="0" text="{{reqData.Final_Exam_Without_Schedule.values.std_id}}" textWrap="true"
            style="text-align: right;"
            ></Label>

            <Label row="4" column="1" text="{{reqData.Final_Exam_Without_Schedule.labels.txt3}}" textWrap="true"></Label>
            <Label row="4" column="0" text="{{reqData.Final_Exam_Without_Schedule.values.coll}}" textWrap="true"></Label>

            <Label row="5" column="1" text="{{reqData.Final_Exam_Without_Schedule.labels.txt4}}" textWrap="true"></Label>
            <Label row="5" column="0" text="{{reqData.Final_Exam_Without_Schedule.values.term}}" textWrap="true"></Label>

            <Label row="6" column="1" text=' {{"services.exam.uno" | translate}} :' textWrap="true"></Label>
            <Label row="6" column="0" text='{{reqData.Final_Exam_Without_Schedule.values.std_id}}' textWrap="true"  style="text-align: right;" ></Label>

            <Label row="7" column="1" text=' {{reqData.Final_Exam_Without_Schedule.labels.txt5}}:' textWrap="true"></Label>
            <Label row="7" column="0" text='{{reqData.Final_Exam_Without_Schedule.values.startDay}}' textWrap="true" style="text-align: right;" ></Label>

            <Label row="8" column="1" text='{{reqData.Final_Exam_Without_Schedule.labels.txt6}}:' textWrap="true"></Label>
            <Label row="8" column="0" text='{{reqData.Final_Exam_Without_Schedule.values.endDay}}' textWrap="true" style="text-align: right;" ></Label>
           
            <Label row="9" colSpan="2" text='{{reqData.Final_Exam_Without_Schedule.labels.txt7}}'></Label>

            <FlexboxLayout row="10" textWrap="wrap" flex-direction="row-reverse" >
                <Label text="{{reqData.Term_Exam_Without_Schedule.labels.txt8}}" textWrap="true"></Label>
                <Label text="{{reqData.Term_Exam_Without_Schedule.labels.txt9}}" textWrap="true"></Label>
                <Label text="{{reqData.Term_Exam_Without_Schedule.labels.txt10}}" textWrap="true"></Label>
                <Label text="{{reqData.Term_Exam_Without_Schedule.labels.txt11}}" textWrap="true"></Label>
                <Label text="{{reqData.Term_Exam_Without_Schedule.labels.txt12}}" textWrap="true"></Label>

            </FlexboxLayout>
        </GridLayout>
      
        <FlexboxLayout flexDirection="row-reverse" justifyContent="center" >
            <Button text="{{'general.ar_print'|translate}}" class="-primary -rounded-sm"  (tap)="onArabicPrintFinal()" ></Button>
            <Button text="{{'general.en_print'|translate}}" class="-primary -rounded-sm"  (tap)="onEnglishPrintFinal()"></Button>
        </FlexboxLayout>
	</StackLayout>
</TabView>

</StackLayout>
