<mat-dialog-content>

  <div class="modal-dialog" role="document" style="direction: rtl;">
    <div class="modal-content">
  <div class="modal-header">
    <h5 style="text-align: center" class="modal-title " id="exampleModalLabel">    طلب رفع اللأعذار للإختبارات
      </h5>

  </div>
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">


  <div class="modal-body">
      <div  class="main-content">
        <div>
            <h6>{{reqData.notes[0].text1}} </h6>
        </div>

          <section  class="ser-state">
              <div class="container">

                   <div class="row ser-block">
                      <div class="col-md-12 col-sm-12">
                          <div class="state">
                              <h6> اختر المقرر </h6>
                              <table style="text-align: center" class="table">
                                  <thead  style="font-size: 15px;">
                                    <tr>
                                      <th scope="col">اسم المقرر </th>

                                      <th scope="col"> رقم المقرر  </th>
                                      <th scope="col">   </th>
                                      <th scope="col"> #  </th>


                                    </tr>
                                  </thead>
                                  <tbody style="font-size: 14px;">
                                    <tr *ngFor="let it of reqData.schedules;let i=index;">
                                      <td>{{it.CRSE_TITLE}}</td>
                                      <td>{{it.CRN}}</td>

                                      <td>
                                          <input type="checkbox" name="courses" (change)="changeStatus(it,$event)" #courses>
                                    </td>
                                    <td>{{i+1}}</td>

                                    </tr>

                                  </tbody>
                                </table>
                          </div>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-info" ></div>
                            </div>
                      </div>

                      <div class="col-md-12 col-sm-12">
                            <div class="state">
                              <h6> اختر نوع الاختبار </h6>
                              <select name="type" #time="ngModel" [(ngModel)]="examExcuse.type" class="form-control"
                              [class.is-invalid]="examExcuse.type==''">
                                <option value="">نوع الاختبار</option>
                                <option *ngFor="let item of reqData.exams_type" value="{{item.id}}">{{item.value}}</option>
                              </select>
                            </div>
                              <div class="progress progress-sm">
                                  <div class="progress-bar bg-info"></div>
                              </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <div class="state">
                          <h6> سبب التغيب عن الاختبار  </h6>
                          <textarea name="reason" class="form-control"  #reason="ngModel" [(ngModel)]="examExcuse.reason"></textarea>
                        </div>
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-info" ></div>
                          </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <div class="state">
                          <h6> رفع الوثائق التي تثبت سبب تغيبك عن الاختبار </h6>
                          <div class="custom-file">
                              <input name="attachment"  id="attachment" type="file" accept="*/*" (change)="handleInputChange($event)" />
                              <label  for="attachment"  class="custom-file-label ">
                              </label>
                            </div>
                          </div>
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-info"></div>
                          </div>

                     </div>
                     <div style="margin-top: 15px;">
                        <div class="btn-group" style="direction: ltr" role="group" aria-label="Basic example">
                                    <button type="button" (click)="closeDiag()"  class="btn btn-outline-dark ml-1" ><i class="fa fa-close"></i> الغاء</button>
                                     <button  type="submit" class="btn btn-dark"><i class="fa fa-database"></i> حفظ</button>
                        </div>
                      </div>

                    </div>
                </div>
           </section>
      </div>
      </div>

    </form>
    </div>
    </div>




</mat-dialog-content>
