<mat-dialog-content>
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{"menu.resetpassword"|translate}}</h5>
      </div>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" autocomplete="off" class="mt-20"
        [mustMatch]="['npassword', 'cpassword']" novalidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="ser-block">

                <div class="col-md-12 col-sm-12">
                  <div class="state">
                    <h6>{{"services.reset.oldpassword"|translate}}</h6>
                    <input name="opassword" #opassword="ngModel" [class.is-invalid]="!opassword.pristine && opassword.errors"
                      [(ngModel)]="reset.opassword" class="form-control" required>
                    <div *ngIf="!opassword.pristine && opassword.errors" class="invalid-feedback">
                      <div *ngIf="opassword.errors.required">{{"general.required"|translate}}</div>
                    </div>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="state">
                    <h6>{{"services.reset.newpassword"|translate}}</h6>
                    <input name="npassword" #npassword="ngModel" [class.is-invalid]="!npassword.pristine && npassword.errors"
                      [(ngModel)]="reset.npassword" class="form-control" required minlength="8" maxlength="20">
                    <div *ngIf="!npassword.pristine && npassword.errors" class="invalid-feedback">
                      <div *ngIf="npassword.errors.required">{{"general.required"|translate}}</div>
                    </div>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="state">
                    <h6>{{"services.reset.cnewpassword"|translate}}</h6>
                    <input name="cpassword" #cpassword="ngModel"
                      [class.is-invalid]="!cpassword.pristine && cpassword.errors "
                      [(ngModel)]="reset.cpassword" class="form-control" required minlength="8" maxlength="20">
                    <div *ngIf="!cpassword.pristine && cpassword.errors" class="invalid-feedback">
                      <div *ngIf="cpassword.errors.required">{{"general.required"|translate}}</div>
                      <div *ngIf="cpassword.errors.mustMatch">{{"general.mismatch" |translate}}</div>
                    </div>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6 col-sm-12">
              <ul>
                <li>{{"services.reset.note1"|translate}}</li>
                <li>{{"services.reset.note2"|translate}}</li>
                <li>{{"services.reset.note3"|translate}}</li>
                <li>{{"services.reset.note4"|translate}}</li>
                <li>{{"services.reset.note5"|translate}}</li>
                <li>{{"services.reset.note6"|translate}}</li>
                <li>{{"services.reset.note7"|translate}}</li>
                <li>{{"services.reset.note8"|translate}}</li>
                <li>{{"services.reset.note9"|translate}}</li>
              </ul>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="closeDiag()" class="btn btn-outline"><i class="ik ik-x"></i>
            {{"general.cancel"|translate}}</button>
          <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i>
            {{"general.save"|translate}}</button>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>