<!-- Modal -->
<seu-loader [isLoading]="isLoading"></seu-loader>
<mat-dialog-content>
  <div class="modal-dialog" role="document" style="direction: rtl;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="text-align: center" class="modal-title " id="exampleModalLabel">
          {{"settings.edit"|translate}}
        </h5>
      </div>
      <div class="modal-body" style=" direction: rtl;">
        <form role="form" [formGroup]="UpdateSettingForm">
          <div class="row" style="margin-top: 30px;">
            <div class="col-md-12">
              <div class="state cke_rtl">
                <h6>{{"settings.details_ar"|translate}} <span class="reqstart">*</span></h6>
                <ckeditor [(ngModel)]="SET_VALUE_AR" style="height: 100px; margin-top: 20px;" [config]="toolbarConfig" formControlName="SET_VALUE_AR" [editor]="EditorAR">
                </ckeditor>
              </div>
              <div *ngIf="UpdateSettingForm.controls.SET_VALUE_AR.invalid && (UpdateSettingForm.controls.SET_VALUE_AR.dirty || UpdateSettingForm.controls.SET_VALUE_AR.touched)">
                <div *ngIf="UpdateSettingForm.controls.SET_VALUE_AR.errors.required">
                  <b style="position: relative; left: -10px;" class="text-danger">{{"settings.required"|translate}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 30px;">
            <div class="col-md-12">
              <div class="state cke_rtl">
                <h6>{{"settings.details_en"|translate}} <span class="reqstart">*</span></h6>
                <ckeditor [(ngModel)]="SET_VALUE_EN" style="height: 100px; margin-top: 20px;" [config]="toolbarConfig" formControlName="SET_VALUE_EN" [editor]="EditorEN">
                </ckeditor>
              </div>
              <div *ngIf="UpdateSettingForm.controls.SET_VALUE_EN.invalid && (UpdateSettingForm.controls.SET_VALUE_EN.dirty || UpdateSettingForm.controls.SET_VALUE_EN.touched)">
                <div *ngIf="UpdateSettingForm.controls.SET_VALUE_EN.errors.required">
                  <b style="position: relative; left: -10px;" class="text-danger">{{"settings.required"|translate}}</b>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 30px;" class="form-group">
            <button style="width: 100%;" [disabled]="submitted || UpdateSettingForm.invalid" (click)="onSubmit()" type="submit" class="btn btn-primary">{{ "general.save" | translate}} <i class="fa fa-save"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>

</mat-dialog-content>