.table-row{
    padding: 10;
    border-width: 1;
    border-color: gray;
    border-radius: 8;
}

.table-row-dark{
    background-color: lightgray;
    padding: 10;
    border-width: 1;
    border-color: gray;
    border-radius: 8;
}

.header{
    color: navy;
    font-weight: bold;
}

.fas{
    font-size: 12;
    font-weight: 200;
}