<mat-dialog-content dir="rtl">
  <div class="modal-content">
    <div class="modal-header">

      <h5 style="text-align: center" class="modal-title " id="exampleModalLabel">{{"services.cancel_course.course_cancellation"|translate}}</h5>

    </div>
    <div class="modal-body">
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="main-content">
          <P class="text-center">
            <span style="font-weight: bold; font-size: 15px;color: red;"> {{reqData.notes.txt1}} </span>
            <br />
            {{reqData.notes.txt2}}

            <br />
            {{reqData.notes.txt3}}

            <br />
            {{reqData.notes.txt4}}


          </P>
          <section class="ser-state">
            <div class="row ser-block">
              <div class="col-md-12 col-sm-12">
                <div class="state">
                  <h6>{{"services.cancel_course.course_define"|translate}}</h6>
                  <table dir="rtl" style="text-align: center" class="table">
                    <thead>
                      <tr>
                        <th scope="col">{{"general.course_name"|translate}}</th>
                        <th scope="col">{{"general.course_code"|translate}}</th>
                        <th scope="col">{{"general.course_hours"|translate}}</th>
                        <th scope="col"> </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let it of reqData.RegisteredCourses;let i=index;">
                        <td>{{it.CRSE_TITLE}}</td>


                        <td>{{it.CRES_CODE}}</td>
                        <td>{{it.CREDIT_HR}}</td>


                        <td>

                          <input type="checkbox" name="chkCourse" (change)="changeStatus(it.CRN,$event,i)" #chkCourse
                            id="defaultUnchecked">
                        </td>

                      </tr>

                    </tbody>
                  </table>
                </div>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-info"></div>
                </div>
              </div>


            </div>


          </section>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="closeDiag()" class="btn btn-outline"><i class="ik ik-x"></i>
            {{"general.cancel"|translate}}</button>


          <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> {{"general.save"|translate}}</button>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
