<app-header></app-header>

<ScrollView >

    <ActivityIndicator [busy]="isLoading" color="#6189f4" horizontalAlignment="center"></ActivityIndicator>

    <FlexboxLayout flexDirection="column" *ngIf="!isLoading">

        <GridLayout  columns="auto, *" class="serv-title">
            <Label col="1"  text="&#xf0d9;" class="fas serv-ico-r"></Label>
            <Label col="1"   text='{{"services.visitor_student.title"|translate}}' class="serv-name" ></Label>
            <Label col="1"  text="&#xf0da;" class="fas serv-ico "></Label>
        
        </GridLayout>

    <FlexboxLayout flexDirection="row-reverse" *ngIf="!isLoading && msgs.length>0">
        <ListView [items]="msgs">
            <ng-template let-item="item">
                <Label verticalAlignment="center" [text]="item.body" class="ysMsg"></Label>
            </ng-template>
        </ListView>
    </FlexboxLayout>

    <FlexboxLayout flexDirection="row-reverse" alignItems="center" *ngIf="!isLoading" justifyContent="center">
        <Button text='{{"general.request.add_request"|translate}}' *ngIf="reqData.can_add_new_request" (tap)="onTap()" class="print-btn"></Button>
    </FlexboxLayout>

    <RadListView *ngIf="!isLoading&& reqData.requests &&reqData.requests.length>0" [items]="reqData.requests" [itemTemplateSelector]="templateSelector" (itemTap)="onItemTap($event)">
        <ng-template let-item="item">
            <FlexboxLayout flexDirection="row" justifyContent="space-between" class="ysHdrop2" 
            [ngStyle]="{'border-bottom-width':item ===reqData.requests[reqData.requests.length-1] ? '0' : '1' }">
            <Label  text="&#xf107;"  class="fas arr-drop"></Label>
                <FlexboxLayout flexDirection="row-reverse">
                    <Label text='{{item.request_number}}'></Label>
                    <Label text="{{item.status}}"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </ng-template>

        <ng-template tkTemplateKey="expanded" let-item="item">
            <FlexboxLayout flexDirection="column">
                <FlexboxLayout flexDirection="row" justifyContent="space-between" class="ysHdrop">
                    <Label  text="&#xf106;"  class="fas arr-drop"></Label>
                    <FlexboxLayout flexDirection="row-reverse">
                        <Label [text]='item.request_number'></Label>
                        <Label [text]="item.status"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>

                <GridLayout class="ysBox" rows="auto,auto,auto,auto,auto,auto,auto" columns="*,150">
                          
                    <Label row="0"  column="1" class="ysPBox" textWrap="true" style="font-weight: 800;" text='{{"general.request.req_no"|translate}} :'></Label>
                    <Label row="0"  column="0" class="ysPBox2" textWrap="true" text="{{item.request_number}}"></Label>
                
                    <Label row="1" column="1" class="ysPBox" textWrap="true" style="font-weight: 800;" text='{{"general.course_name"|translate}} :'></Label>
                    <Label row="1"  column="0" class="ysPBox2" textWrap="true" text="{{item.course_equal}}"></Label>
                
                    <Label row="2" column="1" class="ysPBox" textWrap="true" style="font-weight: 800;" text='{{"general.ar_print"|translate}} :'></Label>
                    <Button row="2" column="0" (tap)="print(item.request_number)" class="blue-button fas " text="&#xf02f;"></Button>
      
                    <Label row="3" column="1" class="ysPBox" style="font-weight: 800;" textWrap="true" text='{{"general.request.req_status"|translate}} :'></Label>
                    <Label row="3"  column="0" class="ysPBox2" textWrap="true" text="{{item.status}}"></Label>
      
                    <Label row="4" column="1" class="ysPBox" textWrap="true" style="font-weight: 800;" text='{{"general.request.req_date"|translate}} :'></Label>
                    <Label row="4"  column="0" class="ysPBox2" textWrap="true" text="{{item.insert_date}}"></Label>
      
                    <Label row="5" column="1" class="ysPBox" textWrap="true" style="font-weight: 800;" text='{{"services.visitor_student.procedure"|translate}} :'></Label>
                    
                    <Button row="5"  column="0" *ngIf='item.deletable' [disabled]='deleting' text="&#xf1f8;" (tap)="delete(item.request_number,i)" class="blue-button fas "></Button>
                    <Label row="5"  column="0" textWrap="true" class="ysPBox2" *ngIf='!item.deletable' text='{{"general.request.non_cancelable_request"|translate}}' textWrap="true"></Label>
                  </GridLayout>
            </FlexboxLayout>
        </ng-template>
    </RadListView>
        
</FlexboxLayout>
</ScrollView>
