/* Add mobile styles for the component here.  */
.tableColumn{
    margin-left: 20;
    text-align: center;
    //width: 10%;
}
.blue-button{
    border-color:#6189f4 ;
    background-color: #6189f4;
    color: white;
    border-radius: 100%;
    border-width: 1;
    font-size: 14;
    font-weight: bold;
    width: 20;
}